%section
    .page-header
        %h1
            Reëls
            %small Laas opgedateer, 11 Mei 2016
            = render "select"
    .row
        .col-md-12
            %span.label.label-warning Noot
            %span
            Hierdie reëls geld vir
            %b alle
            Overcast Network Dienste.

    .page-header
        %h2 A. Algemene Kalmte
    .row
        .col-md-12
            %ol
                %li Handhaaf 'n aangename, gemaklik atmosfeer. Respekteer en gebruik gesonde verstand. Oormatige vloek. Onbeskoftheid en teistering nie geduld word nie.
                %li Probeer om korrekte spelling en grammatika te handhaaf.
                %li Moenie spam.
                %li Skakel nie na enige van die volgende:
                %ol{:type => "a"}
                    %li Aanstootlike materiaal, wat insluit, maar is nie beperk tot pornografie, "skok sites", virusse, phishing terreine en haat groepe.
                    %li Ander webwerwe of bedieners op 'n wyse dat die advertensies uitmaak.
                    %li Persoonlike inligting van ander gebruikers.
                %li Moenie te moedig of deelneem in reël breek op Overcast Network services.
                %li Moenie verpersoonlik enige lid van die Overcast Network personeel, of aanspraak maak dat 'n personeellid lid.
                %li Rapporteer kwessies of foute van die Overcast Network dienste aan óf die forums of support@oc.tc; uitbuiting van foute vir enige ander doel as op versoek van 'n personeellid sal lei tot 'n straf om te demonstreer rede.
                %li Volg enige aanwysings gegee word deur 'n Overcast Network personeellid. As jy glo dat 'n personeellid wat jy gerig verkeerdelik, stuur 'n epos support@oc.tc.
                %span.label.label-warning Noot
                %small As jy bekommerd is oor die skakels wat advertensies kan uitmaak, moet asseblief duidelik met 'n personeellid voordat jy plaas.

    .page-header
        %h2 B. Webwerf Gedrag
    .row
        .col-md-12
            %ol
                %li Moenie onderwerpe of pos gerig is beledig of lok ander mense of groepe. En nie bevorder of ander aanmoedig om sulke poste te maak.
                %li Moenie poste wat spot of "voorspel" opruiende opmerkings, soos hulle aan te moedig gebruikers om sodanige kommentaar te lewer.
                %li Moenie antwoord op onderwerpe met irrelevant, betekenisloos of spammy teks/beelde.
                %li "Bump" geen topics met iets wat nie struktureel aan die topic bydra.
                %li Alle persoonlike kwessie hanteer moet word privaat. Openbare forums is nie die plek vir persoonlike konflikte.
                %li Kritiek van die werk van ander, beide personeel en die community, moet gelewer met hoflikheid en persoonlik respek.
                %li Maak geen topics sommer verlaat om aan te kondig dat die spel of die bediener. Hulle mag uitsonderings te maak as jy vertrek vir 'n baie interessante rede, asof jy sterf, of seil rondom die wêreld.
                %li Aankondigings oor dramatiese gebeure befalling jouself of ander moet insluit bron vir die inligting. As ons die storie kan nie maklik verifieer, kan die onderwerp verwyder word. Doelbewuste hoaxes van hierdie aard word beskou as baie ernstige oortredings.
                %li Moenie antwoord op 'n topic wat jy voel is die oortreding van die reëls, Indien dien in van 'n verslag. Doelbewus lê in 'n verslag word beskou as 'oortreding.
                %li Moenie HTML nie misbruik in die forums of persoonlike profiele in 'n manier dat navigasie moeilik maak, leser lag of oorskry die voorafbepaalde grense.
                %span.label.label-warning Noot
                %small Jou profiel of kontak inligting kan uitgewis word sonder enige kennisgewing.

    .page-header
        %h2 C. Mumble
    .row
        .col-md-12
            %ol
                %li Moenie ander spelers nie verpersoonlik op Mumble.
                %li Jou naam op Mumble moet wees in die spel se naam of 'n maklik geïdentifiseer variasie wees.
                %li Moenie spam aksies wat boodskappe stuur aan ander (soos bestoking stom, doof of afsluiting en heraansluiting herhaaldelik)

    .page-header
        %h2 D. Bediener Gedrag
    .row
        .col-md-12
            %ol
                %li Moenie stuur boodskappe wat moedig ander spelers in die verlaat 'n span of afsluiting van die bediener.
                %li Tensy jy is die verduideliking van die verslag proses, kan jy nie ander aan te moedig om 'n spesifieke speler rapporteer.
                %li Moet asseblief nie openbaar beskuldig enige spelers van die Hacking. As jy glo 'n speler is hacking of breek enige reëls rapporteer dit die gebruik van die /report opdrag.
                %li Jy mag nie die gebruik van enige vorm van in 'n spel chat te werf. Enige rekening wat dit is vasbeslote om wees vir die uitsluitlike gebruik van uitlokking sal permanent verban sonder waarskuwing.
                %li Jy mag nie verwys na, of werf spelers om aan te sluit, sal enige bediener openbare of private dit is nie deel van die Overcast Network in openbare chat. (Jy mag gebruik die /msg opdrag om spelers daardie versoek dit).
                %li Jou gebruikersnaam moet gepas wees, en jy kan gevra word om 'n ander rekening te gebruik as jou gebruikersnaam gevind onvanpas. (Dit beteken nie tel as verbod ontduiking.)
                %li As jy toegang tot die opdrag /nick, moet enige gekose bynaam ontwerp word om anonimiteit. Jy mag nie gebruik /nick om ander verpersoonlik te, en jy mag nie 'n onvanpaste bynaam gebruik.
                %span.label.label-warning Noot
                %small Alle chat boodskappe en opdragte is geregistreer.
                %br
                %span.label.label-warning Noot
                %small Jy kan skakel na jou Overcast Network verwante Livestream, so lank as jy nie spam nie.

    .page-header
        %h2 E. Algemene Gameplay
    .row
        .col-md-12
            %ol
                %li Spelers mag nie glitches misbruik. Dit sluit in, maar is nie beperk tot, die plaas blokke in gebiede beperk deur die prop om te loop, die skep van 'n "x-ray" effek, en veroorsaak jouself onoorwinlike wees.
                %li In 'n Blitz of Ghost Squadron wedstryd, kan spelers nie 'n wedstryd te verleng deur die vermyding van die geveg en/of wegkruip in plekke wat ontoeganklik of moeilik om te kry is.
                %li Waarnemers mag nooit taktiese inligting te gee om spelers of opsetlik ontwrig spel. Taktiese inligting sluit in, maar is nie beperk tot:
                %ol{:type => "a"}
                    %li Onthulling van die plekke van spelers
                    %li Onthulling die eienaarskap van wol in 'n Capture the Wool kaart
                %li Gebruik asseblief 'n gepaste vel - jy kan gestraf word vir 'n onvanpaste skin.

    .page-header
        %h2 F. Kliënt Wysigings
    .row
        .col-md-12
            %ol
                %li Enige kliënt veranderinge wat 'n onregverdige voordeel te gee oor vanielje Minecraft-gebruikers is onwettig terwyl speel.
                %li Enige eksterne hulpmiddels wat die spel te verander om 'n onregverdige voordeel te gee oor die gebruikers nie gebruik van die instrument is onwettig terwyl speel.
                %li Die volgende veranderinge is uitdruklik toegelaat tydens die gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD / StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 en hoër)
                    %li
                        %i.fa.fa-check
                        Toggle Sneak / Sprint (LabyMod / HCF version)
                    %li
                        %i.fa.fa-check
                        Toggle-crouch wat nie toelaat dat hurk terwyl tik, kyk deur inventaris, of in enige spyskaarte
                    %li
                        %i.fa.fa-check
                        Hulpbron pakke wat nie onder die "uitdruklik verbied" kategorie
                    %li
                        %i.fa.fa-check
                        Minimaps behalwe soos hieronder gespesifiseer
                %li Die volgende veranderinge is uitdruklik verbied tydens die gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventaris Klassifiseerders
                    %li
                        %i.fa.fa-times
                        Mods wat blootstel of vergroot die naam-tags van spelers
                    %li
                        %i.fa.fa-times
                        Outomatiese hulpmiddel selector
                    %li
                        %i.fa.fa-times
                        Minimaps daardie entiteit posisies of show grotte/ondergrondse wys.
                    %li
                        %i.fa.fa-times
                        X-ray mods
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods
                    %li
                        %i.fa.fa-times
                        Aanwysers van die lewe/besering
                    %li
                        %i.fa.fa-times
                        SmartMoving aanpassing
                    %li
                        %i.fa.fa-times
                        Better Sprinting aanpassing
                %li Vir enige ander mods, e-pos support@oc.tc vir bevestiging voordat dit gebruik word.
                %span.label.label-warning Noot
                %small Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.
                %br
                %span.label.label-warning Noot
                %small Waarnemers is nie gebonde aan hierdie beperkings.
                %br
                %span.label.label-warning Noot
                %small Spelers in die voorportaal word nie toegelaat om te vlieg.

    .page-header
        %h2 G. Teamgrief
    .row
        .col-md-12
            %ol
                %li Team griefing is verbode en word gedefinieer as enige opsetlike of nalatige optrede wat jou span.
                %li Die volgende is uitdruklik teamgriefing:
                %ol{:type => "a"}
                    %li Plasing en/of verrekening TNT naby spanmaats of naby belangrike span infrastruktuur (byvoorbeeld. Bors, verdediging of erts) binne eie base
                    %li Vernietig een is eie span se kiste of kasten
                    %li Teamkilling (hetsy deur die verwydering van blokke van onder 'n persoon te laat om hulle te val, of stoot spanmaats van die wêreld)
                    %li Die gebruik/wysiging van 'n TNT kanon gebou deur 'n ander speler sonder toestemming
                    %li Ondersteuning of saam met 'n lid van die ander span
                %li Die volgende woord beskou as roekelose en sterk ontmoedig (Jy kan wees gewaarsku for the oortreding van wat volgende reëls):
                %ol{:type => "a"}
                    %li Plasing TNT in 'n mens se eie base, veral die bou van TNT torings in 'n mens se eie base
                    %li Gebou onbeskermde TNT naby spanmaats of doelwitte
                    %li Neem al of byna al die wol in 'n Capture the Wool kaart uit 'n wol kamer, tensy daar is net een wol gelaat in daardie wol kamer
                %li Enige optrede wat nie hier gelys is dat die vordering van jou span wen die wedstryd in die rigting verhinder, doelbewuste of nie, val steeds onder "span griefing" en kan as sodanig behandel.
                %span.label.label-warning Noot
                %small
                    Spelers is nie
                    %b NOOIT
                    toegelaat word om team grief, selfs in weerwraak na 'n ander team griefer.

    .page-header
        %h2 H. Spesifieke Kaart Reëls
    .row
        .col-md-12
            %ol
                %li Alle spelers is verantwoordelik vir die behoud van up to date met al die kaar reëls. Kaar reëls gevind op kaart reël planke by daardie kaart kuit en via die /kaart opdrag.
                %li Die reëls in /map voorrang geniet bo die reëls raad in gevalle oor dieselfde onderwerp.

    .page-header
        %h2 I. Gevolge
    .row
        .col-md-12
            %ol
                %li Spelers kan kry waarskuwing of 'n misdryf te ontvang in die spel is om enige van die reëls hierbo breek. Afhangende van die erns van die oortreding.
                %li Die erns van die oortreding word gewoonlik gebaseer op vorige oortredings van die speler.
                %li In besonder ernstige of ooglopende gevalle van skending van die reëls, insluitend maar nie beperk tot die gebruik van 'n kliënt hacks op bedieners, of consequent teamgrief span ignoreer moderator ingryping, sal lei tot 'n permanent verbod onmiddellik, sonder enige kennisgewing.
                %li Spelers met baie waarskuwings volgens dieselfde reël sal wees kan tydelik verban sonder kennisgewing.
                %li Ban evading is nie toegelaat nie en sal lei tot 'n permanent verbod vir alle alternatiewe rekeninge wat verband hou met die ontduik speler. Die alternatiewe rekeninge sal nie ontban keer die oorspronklike verbod verstryk het, en die oorspronklike verbod kan verleng word tot drie maal die lengte van die oorspronklike verbod. (voorbeeld. 1 week verbod word tot 'n 3 week verbod).
                %li Aanhoudende verbod ontduiking sal lei tot 'n permanent verbod vir alle rekeninge.
                %li As 'n speler skend enige forum reëls kan verbied die oorboeking na die forums.
                %li As 'n speler skend enige Mumble reëls kan wees kan geskop of verban uit die gemompel bediener.
                %li Spelers die oortreding van die reëls oor enige Overcast Network diens, insluitend die game servers, die forums, en mompel, kan word verbied van enige van of al die dienste.
                %li Alle oortredings geappelleer kan word deur die indiening van 'n appel.
                %li
                    %b Enige speler dat wat willens gee en vals inligting in sy of haar appèl mag permanent verban.
                %span.label.label-warning Noot
                %small Alle oortredings is onderhewig aan diskresie die personeel.

    .page-header
        %h2 J. Varia
    .row
        .col-md-12
            %ol
                %li Hierdie reëls is onderworpe aan verandering met kennisgewing.
                %li Spelers is self verantwoordelik vir die behoud van up met reël met veranderinge.
                %li Daar is 'n een week grasietydperk vir reël veranderinge.
                %li Die Overcast Network Administrasie behou die reg om te verbied of te hef enige speler van Overcast Network dienste vir enige rede sonder kennisgewing.
