%section{:dir => "rtl"}
    .page-header
        %h1
            القوانين
            %small آخر تحديث في 7 يناير 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning ملاحظة
            %span
            هذا القوانين تنطبق على
            %b جميع
            خدمات الشبكة.

    .page-header
        %h2 أ. لمحة عامة
    .row
        .span12
            %ol
                %li حافظ على جو هادىْ و لطيف. كن مهذبا و اسنخدم الحس السليم. الكلمات البذيئة و الوقاحة لا يسمح بها.
                %li الرجاء محاولة الحفاظ على التدقيف الأملائي و النحوي.
                %li لا ترسل رسالة اكثر من مرة.
                %li لا تعطي الروابط لأي من الأتي:
                %ol{:type => "a"}
                    %li المواد غير اللائقة، التي تشمل ولكن لا تقتصر على المواد الإباحية، "مواقع الصدمة"، فيروسات، ومواقع التصيد و مجموعات الكره.
                    %li مواقع او شبكات اخرى تهدف الى نشر الدعاية.
                    %li معلومات شخصية عن مستخدمين اخرين.
                %li لا تحث على خرق القوانين او المشاركة في ذلك.
                %li لا تنتحل شخصية اي من موظفين الشبكة او تدعي انك موظف.
                %li بلغ عن اية اعطال او مشاكل في الشبكة على اي من المنتديات او ارسل رسالة الى support@oc.tc استغلال هذه المشاكل لأي سبب غير توضيح المشكلة لموظف بناء على طلبه ستؤدي الى عقوبة.
                %li تقيد بالتعليمات التي يعطيك ياها الموظفين. اذا تعتقد ان الموظف يعطي تعليمات خاطئة فالرجلء بعث رسالة الى Support@oc.tc
                %span.label.label-warning ملاحظة
                %small إذا كنت تشعر بالقلق إزاء الروابط التي يمكن أن تشكل اعلان، يرجى توضيح الأمر مع موظف قبل النشر.

    .page-header
        %h2 ب. السلوك على الموقع
    .row
        .span12
            %ol
                %li لا تجعل المواضيع أو المشاركات التي تهدف إلى إهانة أو استفزاز أشخاص آخرين أو مجموعات أخرى ، ولا على تعزز أو تشجع الآخرين على تقديم مثل هذه المنشورات.
                %li لا تعمل منشورات وهمية أو "تتنبئ" تعليقات تحريضية،  لأنها تشجع المستخدمين على نشر مثل هذه التعليقات.
                %li لا تقم بالرد على مواضيع بتعليقات\صور ليس لها صلة او لا معنى لها.
                %li لا تعيد المواضيع الى رأس الصفحة عن طريق نشر شيء لا يساهم بشكل بناء في هذا الموضوع.
                %li يجب أن تتناول جميع المسائل الشخصية بشكل خاص. المنتديات ليست المكان المناسب للصراعات الشخصية.
                %li يجب أن يتم تسليم نقد أعمال الآخرين، والموظفين والمجتمع الأكبر، بشكل مهذب و محترم.
                %li لا تعمل مواضيع فقط لتعلن انك ستترك اللاعبة. الا اذا كان لديك سبب مثير للأهتمام, مثل الموت او الأبحار حول العالم.
                %li يجب أن تتضمن الأعلانات عن الأحداث المهمة التي تصيب اللاعبين الآخرين مصدر يمكن التحقق منه للحصول على المعلومات. إذا لا يمكننا التحقق بسهولة من القصة، قد تتم إزالة هذا الموضوع. الخدع متعمدة من هذا القبيل تعتبر مخالفات خطيرة للغاية.
                %li تجنب الرد على موضوع اذا كنت تعتقد ان هذا الموضوع يخالف القوانين ابلغ عنه بدلا عن ذلك. الكذب بشكل مقصود في النقرير يعتبر مخالفة.
                %li لا تسيء استخدام ال HTML في المنتديات او في الصفحة الشخصية في طريقة التي تؤدي الى مشاكل في متصفحي الأخرين.
                %span.label.label-warning ملاحظة
                %small يمكن محي المعلومات الشخصية بدون سشابق انذار.

    .page-header
        %h2 ج. ممبل
    .row
        .span12
            %ol
                %li عدم انتحال شخصية اللاعبين الآخرين في الممبل.
                %li اسمك في الممبل يجب ان يكون اسمك في اللعبة او شيء قريب الذي يمكن تميزه.
                %li لاتزعج الأخرين بعمل التصرفات التي تصدر اصوات (مثل كتم الصوت او قطع الاتصال و اعادة الاتصال مرارا و تكرارا)

    .page-header
        %h2 د. سلوك داخل الشبكة
    .row
        .span12
            %ol
                %li لا تقم بإرسال رسائل تشجع الاعبين آخرين على مغادرة الفريق أو قطع الاتصال من الشبكة.
                %li إلا إذا كنت تشرح عملية التقرير، قد لا تشجع الآخرين على الأبلاغ عن لاعب معين.
                %li الرجاء عدم اتهام الاعبين الأخرين علنا. اذا كنت تعتقد ان هذا اللاعب يغش او يكسر اي قانون ابلغ عنهم باستخدام report/.
                %li لا يجوز لك استخدام أي شكل من أشكال دردشة اللعبة إلى للتسويق. سيتم حظر أي حساب يستخدم للتسويق بشكل دائم دون سابق إنذار.
                %li لا تستطيع ان تعطي الروابط او تسوق لشبكات اخرى اخرى عامة او خاصة اذا كانت لا تخص الشبكة في الدردشة. (لكن تستطيع ان تستخدم الأمر msg/ لأبلاغ لاعبين اخرين بناء على طلبهم).
                %li اسم المستخدم الخاص بك يجب أن يكون مناسباً، وقد تتم مطالبتك باستخدام حساب مختلف إذا كان اسم المستخدم الخاص بك غير ملائم. (وهذا لا يعتبر التهرب من الحظر.)
                %li اذا كان لديك الصلاحية لأستخدام أمر nick/ أي اسم مستعار مختار من قبلك يجب ان يكون مصمم لأبعاد الأهتمام, ليس لجذبه. و لا يجوز لك ان تستخدم nick/ ل أنتحال شخصيات الاخرين, و لا يجوز ان يكون الاسم المستعار الخاص بك غير ملأئم.
                %span.label.label-warning ملاحظة
                %small يتم تسجيل كافة رسائل المحادثة والأوامر.
                %br
                %span.label.label-warning ملاحظة
                %small تستطيع ان تعطي رابط لستريم اذا كان متصل بالشبكة, فقط لا تزعج الاعببين.

    .page-header
        %h2 ياء. اللعب بشكل عام
    .row
        .span12
            %ol
                %li لا يسمح للاعبين ان يستغلوا الأخطاء في اللعبة هذا يتضمن و لكن لا يشمل, وضع طوب في مناطق لا تسمح اللعبة الوضع فيها, عمل تأثير "الأشعة السينية", عمل نفسك لا تقهر.
                %li في مباراة Blitz او Ghost Squadron لا يستطيع اللاعبيين اطالة المباراة بتجنب القتال و\أو التخبء ي اماكن يستحال أو يصعب الولصول لها.
                %li لا يسمح للمراقبين اعطاء معلومات تكتيكية او تعمد تعطيل اللعبة. ويشمل المعلومات التكتيكية لكن لا يقتصر على:
                %ol{:type => "a"}
                    %li الكشف عن مواقع اللاعبين
                    %li الكشف عن ملكية الصوف في خريطة التقاط الصوف
                %li الرجاء استخدام شكل مناسب داخل اللعبة - قد تعاقب اذا كان الشكل غير مناسب.

    .page-header
        %h2 ف. تعديلات العميل
    .row
        .span12
            %ol
                %li أية تعديلات التي تعطي ميزة غير عادلة على مستخدمين الفانيليا Minecraft غير قانونية أثناء اللعب.
                %li أي أدوات خارجية التي تعدل اللعب و تعطي ميزة غير عادلة على المستخدمين الذين لاسيتخدمون الأداة غير قانونية أثناء اللعب.
                %li التعديلات التالية محظورة اثناء اللعب:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 and above)
                    %li
                        %i.fa.fa-check
                        اضافة toggle-crouch التي لا تسمح للاعبيين باكتابة اثناء الربض او في اي قوائم
                    %li
                        %i.fa.fa-check
                        حزم النسيج التي لا تندرج تحت فئة "الحظر الصريح"
                    %li
                        %i.fa.fa-check
                        الخرائط الصغيرة كما موضح في الأسفل
                %li التعديلات التالية محظورة اثناء اللعب:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        وفارزات المخزون
                    %li
                        %i.fa.fa-times
                        التعديلات التي تضخم اسماء الاعبيين
                    %li
                        %i.fa.fa-times
                        محددات ادوات تلقائية
                    %li
                        %i.fa.fa-times
                        الخرائط الصغيرة التي تكسف مواقع الاعبين او الكهوف\تحت الأرض.
                    %li
                        %i.fa.fa-times
                        الأشعة السينية
                    %li
                        %i.fa.fa-times
                        الضارب-الأوتوماتيكي
                    %li
                        %i.fa.fa-times
                        أيمبوتس
                    %li
                        %i.fa.fa-times
                        أضافات الطيران
                    %li
                        %i.fa.fa-times
                        مؤشر الضرر\الصحة
                    %li
                        %i.fa.fa-times
                        التحرك الذكي
                    %li
                        %i.fa.fa-times
                        الركض بشكل أفضل
                %li لأي تعديلات اخرى, الرجاء ارسال رسالة الى support@oc.tc قبل استخدامها.
                %span.label.label-warning ملاحظة
                %small لا يرتبط المرافبون بهذه القيود.
                %br
                %span.label.label-warning ملاحظة
                %small لا يسمح للاعبيين في البهو بأستخدام تعديلات للطيران.

    .page-header
        %h2 غ. التخريب على الفريق
    .row
        .span12
            %ol
                %li التخريب على الفريق محظور و يعرف بأنه اي عمل متهور او متعمد يضر فريقك.
                %li الأتي يعتبر اعمال تخريب على الفريق بشكل صريح:
                %ol{:type => "a"}
                    %li وضع و\أو انارة TNT بالقرب من زملاء الفريق او موقع مهم للفريق (مثل. الصناديق, دفاعات أو مواد, الحديد, الذهب الخ..) في داخل مقر الفريق
                    %li تدمير طاولات عمل الفريق
                    %li قتل الزملاء (اما بأزالة الطوب من تحن الاعب فيسقط, او بدفع الاعبيين عن حافة العالم)
                    %li استخدام \تعديل مدفع TNT يخص لاعب اخر من دون اذن صريح
                    %li مساعدة أو العمل جانبا الى جنب مع عضو من الفريق الأخر
                %li الأتي يعتبر عمل متهور و ينصح تجنبه (يمكن ان تحذر لخرق القوانين الأتية):
                %ol{:type => "a"}
                    %li وضع TNT في مقر الفريق, خصيصا بناء أبراج TNT في مقر الفريق
                    %li بناء TNT غير محمي بالقرب من الزملاء او الأهداف
                    %li أخذ كل او تقريبا كل الصوف في خارطة وضع الصوف من غرفة الصوف, الا اذا كان هناك صوف واحد فقط متبقي في تلك االغرفة
                %li اي افعال لم يتم سردها هنا التي تعوق فريقك من احراز الفوز, متعمدة ام لا, تدرج تحت قائمة "التخريب على الفريق و سيتعامل معها بناء على ذلك.
                %span.label.label-warning ملاحظة
                %small
                    لا يسمح للاعبيين
                    %b أبدا
                    ان يخربوا لى الفريق, حتى ردا على مخرب اخر.

    .page-header
        %h2 ح. قواعد خاصة بلخرائط
    .row
        .span12
            %ol
                %li جميع اللاعبيين مسسؤلين عن المواكبة مع قوانين الخرائط. يمكن ايجاد قوانين الخرائط على لوحات القوانين في قاعدة الخريطة, و بأستخدام امر map/.
                %li القواعد في map/ تأخذ و تتطبق بدل من القواعد على الألواح في الخريطة في الحالات المتعلقة بنفي الموضوع.

    .page-header
        %h2 ت. العواقب
    .row
        .span12
            %ol
                %li قد يتلقى الاعبيين انذارا داخل العبة او مخالفة اذا خرق اي قاعدة من اعلاه, اعتمادا على شدة الأنتهاك.
                %li شدة المخالفة عادة تعتمد على مخالفات الاعب السابقة.
                %li بالتحديد الحالات الخطيرة او الصارخة التي تتعلق بكسر القوانيين, بما في ذلك لكن ليس محدودا على, أستخدام الغش داخل الشبكة, او التخريب على الفريق مرارا على الرغم من تدخل الموظفين, سيؤدي الى حظر كامل من الشبكة, دون تحذير.
                %li الاعبيين مع العديد من النحذيرات لخرق نفس القاعدة اكثر من مرة يمكن ان يحظروا بشكل مؤقت دون انذار.
                %li التهرب من الحظر غير مسموح, و سوف يؤدي الى حظر دائم لجميع الحسابات البديلة المرتبطة مع الاعب المتهرب من الحظر. لم يتم فك الحظر عن الحسابات البديلة عند انتهاء صلاحية الحظر الرئيسي, و يمكن ان تمتد مدة الحظر الى ثلاثة اضعاف مدة الحظر الأصلي. (مثلا, حظر لأسبوع واحد يمكن ان يمتد الى ثلاثة اسابيع).
                %li التهرب من الحظر بأستمرار سوف يؤدي الى حظر دائم لجميع الحسابات.
                %li الاعبين الذين ينتهكون قوانين المنتديات يمنعون من النشر عليها.
                %li يمكن ركل او حظر اي لاعب يكسر قوانين خدمة الممبل من شبكة الممبل.
                %li يمكن حظر اي لاعب ينتهك قوانين الشبكة, بما في ذلك, سيرفرات اللعبة, المنتديات, و خدمة الممبل من الشبكة.
                %li يمكن استئناف جميع المخالفات عن طريق تعبئة طلب استئناف.
                %li
                    %b أي لاعب يعطي معلومات خاطئة على الأستأناف يمكن ان يحظر بشكل دائم.
                %span.label.label-warning ملاحظة
                %small تخضع جميع المخالفات وفقا لتقدير الموظفين.

    .page-header
        %h2 ج. المنوعات
    .row
        .span12
            %ol
                %li هذه القواعد قابلة للتغيير مع إشعار.
                %li الاعبين مسؤولين عن مواكبة التغييرات في القواعد.
                %li هناك مهلة أسبوع واحد للتغييرات في القواعد.
                %li ادرة شبكة ال Overcast تحتفظ بالحق لحظر او رفع الحظر عن اي لاعب من الشبكة لأي سبب و من دون اشعار مسبق.
