%section
    .page-header
        %h1
            Normes
            %small Última actualització: 7 de gener del 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Aquestes normes s'apliquen a
            %b tots
            els serveis d'Overcast Network.

    .page-header
        %h2 A. Comportament general
    .row
        .span12
            %ol
                %li Intenta mantenir un ambient agradable i relaxat. Sigues respectuós i usa el sentit comú. L'excés d'insults, la violència, l'agressivitat i l'assetjament no seran tolerats.
                %li Intenta mantenir una ortografia i gramàtica adequades.
                %li No facis spam.
                %li No enviïs cap link del següent:
                %ol{:type => "a"}
                    %li Material qüestionable i impugnable, el qual inclou però no es limita a pornografia, "llocs webs xocants", virus, estafes i grups d'odi.
                    %li Altres servidors o pàgines web d'una manera que pugui ser considerat publicitat.
                    %li Identificació i informació personal d'altres usuaris.
                %li No promoguis o participis en el trencament de les normes dels serveis d'Overcast Network.
                %li No et facis passar per un membre del staff d'Overcast Network ni reclamis ser un membre d'aquesta mateixa organització.
                %li Reporta problemes o bugs dels serveis d'Overcast Network als fòrums o a support@oc.tc . Explotar bugs per qualsevol altre motiu que no sigui per demostrar-ho a petició d'un membre del staff, conduirà a una infracció.
                %li Segueix totes i cada una de les directrius donades per un membre del staff d'Overcast Network. Si creus que un membre del staff se t'ha dirigit indegudament, si us plau envia un correu electrònic a support@oc.tc.
                %span.label.label-warning Nota
                %small Si tens dubtes sobre links que poden comportar publicitat, si us plau consulta-ho amb un membre del staff abans de penjar-ho.

    .page-header
        %h2 B. Comportament a la web
    .row
        .span12
            %ol
                %li No creïs tòpics o posts amb l'objectiu d'insultar o provocar altres persones o grups. Tampoc no promoguis ni encoratgis altres persones a fer aquests posts.
                %li No creïs posts en cas que l'objectiu sigui de mofa o en cas que prevegis comentaris inflamatoris, ja que això pot encoratjar altres jugadors a fer el mateix.
                %li No contestis a tòpics amb imatges/textos que continguin spam, siguin irrellevants o sense sentit.
                %li No "assaltis" cap tòpic contribuint amb informació no constructiva.
                %li Tots els problemes personals s'han de discutir en privat. Els fòrums públics no són lloc per a conflictes personals.
                %li Les crítiques cap al treball dels altres, tan dels membres del staff com de la comunitat, s'han de comunicar amb educació i respecte personal.
                %li No creïs tòpics anunciant que deixes el joc o el servidor. Pot haver-hi excepcions en cas que tinguis una raó molt interessant, t'estiguis morint o decideixis anar a pescar per tot el món.
                %li Qualsevol comunicat que contingui informació teva o d'algun altre jugador ha d'incloure una font verificable d'informació. Si no podem verificar fàcilment la teva història, el tòpic podria ser eliminat. Totes les bromes deliberades i de mal gust d'aquesta naturalesa són considerades infraccions greus.
                %li Emplena un informe (report) quan creguis que un tòpic està violant les normes. Mai responguis. Mentir intencionadament en un informe és considerat una infracció.
                %li No abusis del HTML, ni als fòrums ni als perfils personals, fins al punt que sigui impossible o complicada la navegació, el navegador pateixi lag o es sobrepassin els límits preestablerts.
                %span.label.label-warning Nota
                %small El teu perfil o la teva informació de contacte poden ser esborrades sense avís previ.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li No et facis passar per altres jugadors a Mumble.
                %li El teu nom de Mumble hauria de ser el teu nom de joc o una variació fàcil d'identificar.
                %li No facis spam de les accions que enviïn missatges als altres (com per exemple apretar repetidament el botó mute, ensordir o desconnectar-se i reconnectar-se repetidament)

    .page-header
        %h2 D. Comportament al servidor
    .row
        .span12
            %ol
                %li No enviïs missatges que encoratgin altres jugadors a abandonar l'equip o a desconnectar-se del servidor.
                %li A no ser que estiguis explicant el procés per reportar, no encoratgis altres jugadors a reportar un jugador específic.
                %li Si us plau, no acusis cap jugador de hacks. Si creus que un jugador està usant hacks o està trencant alguna norma, reporta'l usant el comandament /report.
                %li No usis cap forma de xat del joc per sol·licitar diners, serveis, productes o qualsevol altre aspecte. Tots els comptes que siguin determinats pel sol ús de sol·licitar seran permanentment banejats sense avís previ.
                %li No pots ni enviar links ni demanar als jugadors que s'uneixin a cap server públic o privat que no formi part d'Overcast Network pel xat públic. (Pots fer servir el comandament /msg per informar els jugadors que ho demanin).
                %li El teu nom d'usuari ha de ser apropiat. Et podríem demanar d'utilitzar un altre compte si no ho és. (Això no compta com a evasió de ban.)
                %li El comandament /nick està dissenyat per restar en l'anonimat, i no per cridar l'atenció. En cas que tinguis accés a aquest comandament, tingues al cap que està totalment prohibit fer servir un nom d'usuari inapropiat o fer servir /nick per fer-te passar per altres jugadors.
                %span.label.label-warning Nota
                %small Tots els missatges del xat i els comandaments queden enregistrats.
                %br
                %span.label.label-warning Nota
                %small Pots compartir el link del teu stream en directe relacionat amb Overcast Network, mentre no facis spam.

    .page-header
        %h2 E. Jugabilitat general
    .row
        .span12
            %ol
                %li Els jugadors no poden abusar de glitches. Això inclou però no es limita a: col·locació de blocs en zones on no es pot caminar i restringides pel plugin, creació d'un efecte de "x-ray" i ser invencible.
                %li Durant una partida de Blitz o Ghost Squadron, els jugadors no poden prolongar una partida evitant el combat i/o amagant-se en llocs que són inaccesibles o de difícil accés.
                %li Els observadors no poden donar informació tàctica a altres jugadors o irrompre expressament la jugabilitat. Informació tàctica inclou, però no es limita a:
                %ol{:type => "a"}
                    %li Revelar la localització de jugadors
                    %li Revelar el nom del jugador que porta la llana en un mapa de Capture the Wool
                %li Si us plau procura utilitzar una skin apropiada - pots rebre una infracció per una skin inapropiada.

    .page-header
        %h2 F. Modificacions del client
    .row
        .span12
            %ol
                %li Qualsevol modificació del client que doni un avantatge injust sobre els jugadors de Minecraft Vanilla són il·legals durant el joc.
                %li Qualsevol eina externa que modifiqui el joc per donar un avantatge injust sobre els altres usuaris que no ho utilitzen és il·legal durant el joc.
                %li Les següents modificacions estan explícitament permeses durant el joc:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch que no permeti el "crouching" (shift - ajupir-se) mentre s'escriu, es mira l'inventari o qualsevol altre menú
                    %li
                        %i.fa.fa-check
                        Els resource packs que no pertanyin a cap categoria "explícitament prohibida"
                    %li
                        %i.fa.fa-check
                        Minimapes, amb l'excepció dels especificats a sota
                %li Les següents modificacions estan explícitament prohibides durant el joc:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Classificadors d'inventari
                    %li
                        %i.fa.fa-times
                        Modificacions que exposin o ampliïn els "name-tags" dels jugadors
                    %li
                        %i.fa.fa-times
                        Selectors d'eina automàtica
                    %li
                        %i.fa.fa-times
                        Minimapes que ensenyin la posició de determinades entitats o que ensenyin coves sota terra.
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Modificació que et permet volar (fly mod)
                    %li
                        %i.fa.fa-times
                        Indicador de vida/dany
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting (per esprintar millor)
                %li Per altres modificacions, envia un correu electrònic a support@oc.tc perquè t'ho confirmin abans de fer-ho servir.
                %span.label.label-warning Nota
                %small Els observadors no estan lligats a aquestes restriccions.
                %br
                %span.label.label-warning Nota
                %small Els jugadors no poden utilitzar cap modificació de vol (fly) al lobby.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li El team griefing està prohibit i es defineix com a qualsevol acció imprudent o intencionada que perjudiqui el teu propi equip.
                %li Els següents són explícitament team griefing:
                %ol{:type => "a"}
                    %li Col·locar i/o encendre TNT a prop dels teus companys d'equip o a prop d'infraestructures d'equip clau (per exemple: cofres, defenses o minerals) a la teva pròpia base
                    %li Destruir els cofres o les taules d'elaboració del propi equip
                    %li Matar al teu propi equip (ja sigui eliminant el bloc de sota d'un jugador provocant la caiguda del mateix o empenyent els jugadors de l'equip fora del món)
                    %li Usar/modificar un canó de TNT construït per un altre jugador sense permís explícit
                    %li Ajudar o treballar junts amb un membre de l'equip contrari
                %li Es consideren actes imprudents i fortament desaconsellables (podries rebre un avís per trencar les següents normes):
                %ol{:type => "a"}
                    %li Posar TNT a la pròpia base, especialment construir torres de TNT a la pròpia base
                    %li Construir TNT desprotegida a prop dels companys d'equip o dels objectius
                    %li Agafar tota o gairebé tota la llana de la sala de llana (Wool room) en un mapa de "Capture the Wool", a no ser que només quedi una llana a la sala
                %li Qualsevol acció no enumerada aquí que obstaculitzi el progrés del teu equip a guanyar la partida, premeditadament o no, cau sota el terme de "team griefing" i se la tractarà com a tal.
                %span.label.label-warning Nota
                %small
                    Els jugadors
                    %b MAI
                    poden fer "team grief" i encara menys en represàlia per un altre "team griefer".

    .page-header
        %h2 H. Normes específiques dels mapes
    .row
        .span12
            %ol
                %li Tots els jugadors tenen la responsabilitat d'estar al dia amb les normes dels mapa. Les normes dels mapa es troben al taulell de normes del mapa al spawn del mapa i també mitjançant el comandament /map.
                %li Les normes específiques definides per /map tenen prioritat sobre el taulell de normes en casos del mateix tema.

    .page-header
        %h2 I. Conseqüències
    .row
        .span12
            %ol
                %li Els jugadors poden rebre un avís durant la partida o una infracció per trencar qualsevol de les normes mencionades anteriorment, depenent de la gravetat de la transgressió.
                %li La gravetat de la infracció es basa normalment en infraccions anteriors del jugador.
                %li En els casos especialment greus o evidents de la transgressió de les normes, incloent però no limitat a utilitzar un client amb hacks als servidors o el constant team griefing ignorant la intervenció del moderador, resultarà en un ban permanent sense avís previ.
                %li Tots els jugadors amb diversos avisos sobre la mateixa norma poden ser temporalment banejats sense avís previ.
                %li L'evasió de ban no està permesa i resultarà en un ban permanent per tots els comptes alternatius associats amb el jugador. Els comptes alternatius no seran desbanejats un cop el ban original expiri. A més, el ban original podria ser allargat tres vegades més la seva duració original (per exemple: una setmana de ban podria esdevenir tres setmanes de ban).
                %li En cas de persistència en l'evasió d'un ban, es banejaran tots els comptes.
                %li Els jugadors que violin qualsevol norma del fòrum podrien ser banejats de participar-hi.
                %li Els jugadors que violin qualsevol norma de mumble poden ser expulsats o banejats del servidor de mumble.
                %li Els jugadors que violin qualsevol norma dels serveis d'Overcast Network, incloent els servidors de joc, el fòrum i mumble, poden ser banejats d'un o tots els serveis.
                %li Totes les infracions han de ser apel·lades mitjançant una appeal.
                %li
                    %b Qualsevol jugador que, tot i sabent-ho, proporcioni informació falsa a la seva appeal podria ser banejat permanentment.
                %span.label.label-warning Nota
                %small Totes les infraccions estan lligades al criteri del staff.

    .page-header
        %h2 J. Miscel·lània
    .row
        .span12
            %ol
                %li Aquestes normes estan subjectes a canviar amb avís.
                %li Els jugadors tenen la responsabilitat d'estar al dia amb el canvi de normes.
                %li Hi ha una setmana de període de gràcia pels canvis de normes.
                %li L'Administració d'Overcast Network es reserva el dret a banejar o desbanejar qualsevol jugador de qualsevol servei d'Overcast Network per qualsevol raó sense avís previ.
