%section
    .page-header
        %h1
            Regler
            %small Sidst opdateret den 11. November 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            Disse regler gælder for
            %b alle
            Overcast Networks tjenester.

    .page-header
        %h2
            A. Generelt
    .row
        .span12
            %ol
                %li Oprethold en behagelig og afslappende atmosfære. Vær respektfuld og anvend sund fornuft. Overdrevet banderi, uhøflighed og chikane er ikke tolereret.
                %li Prøv at anvende ordentlig stavning og grammatik.
                %li Du må ikke "spamme", som defineres ved at sende (måske mange) unødvendige beskeder.
                %li Du må ikke linke noget af følgende:
                %ol{:type => "a"}
                    %li Stødende materiale, som er inklusiv men ikke begrænset til pornografi, "shock-sider", virusser, snyde/lokke sider og hadegrupper.
                    %li Andre hjemmesider eller servers som kan betragtes som reklamering.
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Personal identifying information of other users.
                %li Du må ikke opfordre eller deltage i regelbrud på nogle af Overcast Networks tjenester.
                %li Du må ikke efterligne nogle af Overcast Networks personale eller påstå at være personale selv.
                %li Reporter problemer eller fejl af Overcast Networks tjenester på forummet (http://oc.tc/forums) eller til email support@oc.tc; udnyttelse af fejl for en anden grund end at demonstrer ved anmodning af personale vil resultere i en straf.
                %li Følg alle anvisninger som gives af personalet på Overcast Network. Hvis du mener at en fra personalet har vildledt dig, kontakt venligst email support@oc.tc.
                %span.label.label-warning Note
                %small Hvis du er bekymret over links der kan klassificeres som reklamering, venligst kontakt en fra personalet før du sender det.

    .page-header
        %h2 B. Website Behavior
    .row
        .span12
            %ol
                %li
                    Do not make topics or posts aiming to insult or provoke other people or groups,
                    and do not promote or encourage others to make such posts.
                %li Do not reply to topics with irrelevant, meaningless, or spammy text/images.
                %li Do not "bump" topics by posting something that does not contribute constructively to the topic.
                %li All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
                %li Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.
                %li
                    Do not make topics just to announce that you are quitting the game or the server.
                    Exeptions may be made if you are quitting for a <em>very</em> interesting reason, like you are dying, or sailing around the world.
                %li
                    Announcements about dramatic events befalling other players must include a verifiable source for the information.
                    If we cannot easily verify the story, the topic may be removed.
                    Deliberate hoaxes of this nature are considered very serious infractions.
                %li
                    Do not reply to a topic that you feel is violating the rules,
                    %a{:href => "/report"}submit a report
                    instead. Intentionally lying in a report is considered an infraction.
                %li Do not abuse HTML in the forums or personal profiles in a way that makes navigation difficult, causes extreme browser lag, or exceeds the preset boundaries.
                %small.label.label-warning Note
                %small Your profile or contact information may be wiped without notice.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Du må ikke stjæle eller efterligne andre spilleres identitet på Mumble.
                %li Dit Mumble navn skal være dit navn i Minecraft eller en let genkendelig variation.
                %li Du må ikke “spamme” funktioner der sender beskeder til andre, som at klikke konstant på “mute”, “deafen” eller ved at logge ind og ud hele tiden.

    .page-header
        %h2 D. Server Behavior
    .row
        .span12
            %ol
                %li Du må ikke sende beskeder der opfordrer andre spillere i at efterlade holdet eller forlade serveren.
                %li Med mindre du forklarer vores rapport-system, må du ikke opfordre andre til at anmelde en bestemt spiller
                %li Please do not publicly accuse any players of hacking. If you believe a player is hacking or breaking any rules report them using the /report command.
                %li Du må ikke bruge nogen som helst form for chat til at tilbyde/lokke. Alle brugere hvis eneste brug betragtes som at lokke/tilbyde andre tjenester vil blive bandlyst permanent uden advarsel.
                %li You may not link to, or solicit players to join, any server public or private that is not part of the Overcast Network in public chat. (You may use /msg command to inform players that request it).
                %li Your username must be appropriate, and you may be asked to use a different account if your username is found to be inappropriate. (This does not count as ban evasion.)
                %span.label.label-warning Note
                %small Alle chat beskeder og kommandoer bliver gemt.
                %br
                %span.label.label-warning Note
                %small Du må gerne linke til Overcast Network livestreams, så længe du ikke "spammer" det.

    .page-header
        %h2 E. Generalt I Spillet
    .row
        .span12
            %ol
                %li Spillere må ikke misbrug af Minecraft fejl for at opnå en fordel over andre eller på en sådan måde at det skaber "lag" og gør andre spilleres computer langsom. Dette inkluderer men er ikke begrænset til; at placere blokke i områder som spillet nægter dig at gå i, at skabe en "røntgen-syn" effekt, eller gøre dig selv udødelig.
                %li I en Blitz eller Ghost Squadron bane må du ikke forlænge kampen ved at undgå al form for kamp og/eller at gemme sig i steder som er meget svært tilgængelig.
                %li Tilskuere må ikke give taktiske informationer til spillere eller med vilje have indflydelse på kampen. Taktiske informationer inkluderer men er ikke begrænset til:
                %ol{:type => "a"}
                    %li At afsløre en spillers position.
                    %li At afsløre hvem der har flaget/uldet i en Capture the Wool bane.
                %li Brug venligst et passende skin til din karakter - du kan blive straffet for et upassende skin
                %li Do not spawn camp.
                %ol{:type => "a"}
                    %li Do not "camp" a spawn by waiting next to or in a spawn for newly spawned players.
                    %li Do not directly attack any spawn (e.g. run towards a spawn and start hitting people in that spawn, stick around, and kill everyone that spawns).
                    %li Do not aim TNT cannons at a spawn or repeatedly drop TNT on a spawn.
                %span.label.label-warning Note
                %small Regler om at dræbe i start-området gælder ikke på Team Deathmatch eller Blitz baner; du forventes at kunne forsvare dig selv

    .page-header
        %h2 F. Klient modifikationer
    .row
        .span12
            %ol
                %li Alle klient modifikationer der giver en unfair fordel over for standard Minecraft brugere er ulovlige at bruge mens man spiller.
                %li De følgende modifikationer er tydeligt lovligt at bruge:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch that does not allow crouching while typing, looking through inventory, or in any menus
                    %li
                        %i.fa.fa-check
                        Texture-packs der ikke falder under nogen "tydeligt ulovlige" kategorier
                    %li
                        %i.fa.fa-check
                        Minimap/kort på skærmen, undtagen hvis den viser spillere og/elle undergrunden
                %li De følgende modifikationer er tydeligt forbudte under spillet:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory Sorters, modifikationer der sorterer dit inventar
                    %li
                        %i.fa.fa-times
                        Modifikationer der afslører eller forstørrer navnene på spillere
                    %li
                        %i.fa.fa-times
                        Automatiske våben/værktøjs-vælgere
                    %li
                        %i.fa.fa-times
                        Minimap/kort der viser spiller positioner og/eller undergrunden
                        Automatic tool selectors
                    %li
                        %i.fa.fa-times
                        X-rays, røntgen-syn
                    %li
                        %i.fa.fa-times
                        Auto-hitter, som selv slår for dig
                    %li
                        %i.fa.fa-times
                        Aimbot, som selv sigter for dig
                    %li
                        %i.fa.fa-times
                        Flyve modifikationer, som gør at du kan flyve
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li For any other mods, email support@oc.tc for confirmation before using it.
                %li Tilskuere er ikke bundet af disse restriktioner
                %span.label.label-warning Note
                %small Players in creative mode are not bound to these restrictions.
                %br
                %span.label.label-warning Note
                %small Players in the lobby are not allowed to use fly modifications.

    .page-header
        %h2 G. Team Griefing/hold sabotage
    .row
        .span12
            %ol
                %li Hold sabotage er forbudt, og er defineret som alle hensynsløse handlinger der skader dit eget hold eller handlinger der med vilje skader dit eget hold.
                %li Det følgende er tydeligt hold sabotage:
                %ol{:type => "a"}
                    %li At placere og/eller sætte af TNT nær holdkammerater og nær vigtigt infrastruktur (kister, forsvar, udstyr, og så videre) i ens egen base
                    %li At ødelægge sit eget holds kister og arbejdsbænke
                    %li At dræbe holdkammerater (enten ved at fjerne blokke under dem og få dem til at falde eller skubbe dem ud af verden, og så videre)
                    %li At bruge/ændre en TNT kanon lavet af en anden spiller fra eget hold uden tilladelse
                    %li At hjælpe eller arbejde sammen med en spiller af det andet hold
                %li Det følgende er set som hensynsløst og stærkt frarådet (du kan blive advaret):
                %ol{:type => "a"}
                    %li At placere TNT i ens egen base, især ved at bygge TNT-tårne under sig
                    %li At sætte ubeskyttet TNT nær holdkammerater og mål
                    %li At tage alle eller næsten alle af flagene/uldene i en Capture the Wool bane, med mindre der kun er et flag/uld tilbage
                %li Alle handlinger der ikke er er listet her der forhindrer dit holds fremskridt mod at vinde banen, med vilje eller ikke, falder stadig under "team griefing/hold sabotage" og kan blive straffet for.
                %span.label.label-warning Note
                %small
                    Spillere har
                    %b ALDRIG
                    lov til at sabotere en holdkammerat, selv imod en anden teamgriefer/hold sabotør.

    .page-header
        %h2 H. Bane specifikke regler
    .row
        .span12
            %ol
                %li Alle spillere er ansvarlig for at holde sig opdateret med banernes specifikke regler. De kan findes i starten af banen eller via /map kommandoen.
                %li Reglerne under /map står over reglerne på www.oc.tc/rules

    .page-header
        %h2 I. Consequences
    .row
        .span12
            %ol
                %li Spillere kan modtage en advarsel eller en infraktion for at overtrædelse af reglerne over, alt efter overtrædelsens alvor.
                %li The severity of the infraction is usually based on the player’s previous infractions.
                %li I virkelig seriøse eller åbenlyse sager med regelbrud, inkluderet men ikke begrænset til at bruge en hacked klient på vores servers, eller konstant hold sabotage på trods af indgriben fra en moderator, vil resultere i en øjeblikkelig permanent bandlysning, uden advarsel.
                %li Spillere med mange advarsler for samme regel kan blive midlertidig bandlyst uden advarsel.
                %li At undgå bandlysning er ikke tilladt og kan resultere i en permanent bandlysning for alle alternative brugere associeret til den undgående spiller. De alternative brugere vil blive bandlyst indtil den originale bandlysning udløber og den originale bandlysning kan blive forlænget op til tre gange længden af den originale (fx. 1 uge til 3 uger)
                %li Konstant undgåelse af bandlysning vil resultere i en permanent bandlysning for alle brugere.
                %li
                    Spillere der overtræder en hvilken som helst forum regel kan blive bandlyst fra at skrive på forummet. Hvis din bandlysning bliver for mere end 7 dage, kontakt venligst
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    for den nøjagtige længde af din bandlysning.
                %li Spillere der overtræder en hvilken som helst Mumble regel kan blive smidt ud eller bandlyst fra Mumble serveren.
                %li Spillere der overtræder en hvilken som helst regel på en af Overcast Networks tjenester, inkluderet spille servers, forummet og Mumble, kan blive bandlyst fra en eller alle af ovenstående tjenester.
                %li
                    Bandlysninger fra spillet kan blive appelleret ved at udfylde en appel ved
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Forum og Mumble bandlysninger skal appelleres via email hos
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b En hvilken som helst spiller der bevidst giver falsk informationer på hans eller hendes appel kan blive permanent bandlyst
                %span.label.label-warning Note
                %small All infractions are subject to staff discretion.
    .page-header
        %h2 J. Diverse
    .row
        .span12
            %ol
                %li Disse regler vil ændres ved varsel.
                %li Spillere er selv ansvarlige for at holde sig opdaret om regel ændringer.
                %li Der er en en uges vente periode for regel ændringer.
                %li Overcast Networks adminstration forbeholder sig retten til at bandlyse eller fjerne bandlysning fra hvilken som helst spiller fra Overcast Networks tjenester for hvilken som helst grund uden varsel.
