%section
    .page-header
        %h1
            Regler
            %small Sidst opdateret den 7. januar, 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning Bemærk
            %span
            Disse regler gælder
            %b alle
            Overcast Networks netværkstjenester.

    .page-header
        %h2 A. Generel Fatning
    .row
        .span12
            %ol
                %li Vedligehold en behagelig og rolig atmosfære. Vær respektfuld og brug din sunde fornuft. Overdreven banderi, uhøflighed og chikane tolereres ikke.
                %li Forsøg at opretholde korrekt stavning og grammatik.
                %li Du må ikke spamme.
                %li Link ikke til nogen af følgende:
                %ol{:type => "a"}
                    %li Stødende materiale, som omfatter, men er ikke begrænset til, pornografi, "chok-websider", virus, phishing-websteder og hadegrupper.
                    %li Andre hjemmesider eller servere på en måde, der udgør en reklame.
                    %li Personlige oplysninger af andre brugere.
                %li Du må ikke opfordre eller deltage i regelbrud på Overcast Networks tjenester.
                %li Du må ikke efterligne nogle af Overcast Networks medarbejdere eller påstå selv at være personale.
                %li Rapporter problemer eller fejl af Overcast Networks tjenester på forummet (http://oc.tc/forums) eller til email support@oc.tc; udnyttelse af fejl for en anden grund end at demonstrer ved anmodning af personale, vil resultere i en straf.
                %li Følg alle anvisninger, som gives af Overcast Networks personale. Hvis du mener, at en fra personalet har vildledt dig, kontakt venligst email support@oc.tc.
                %span.label.label-warning Bemærk
                %small Hvis du er bekymret over links, der kan udgøre reklame, venligst kontakt en medarbejder, før du sender det.

    .page-header
        %h2 B. Hjemmesideadfærd
    .row
        .span12
            %ol
                %li Du må ikke lave emner eller indlæg, der har til formål at fornærme eller provokere andre personer eller grupper, og du må ikke opfordre andre til at lave sådanne indlæg.
                %li Lav ikke indlæg, der håner eller "forudsiger" provokerende bemærkninger, da de opmuntrer andre til også at lave sådanne indlæg.
                %li Du må ikke svare på indlæg med irrelevante, meningsløse eller "spammende" tekster/billeder.
                %li Du må ikke "bumpe" indlæg, der ikke har noget med emnet at køre.
                %li Alle personlige problemer skal behandles privat. Det offentlige forum er ikke det rigtige sted for personlige konflikter.
                %li Kritik af andres værk, både personale og det større samfund skal gives med høflighed og personlig respekt.
                %li Du må ikke lave indlæg, der fortaller, at du forlader spillet eller serveren. Undtagelser kan finde sted, hvis du forlader af en meget interessant grund. For eksempel hvis du er ved at dø, eller sejler verden rundt.
                %li Annonceringer om dramatiske begivenheder omkring dig selv eller andre skal inkludere en verificerbar kilde til oplysningerne. Hvis ikke ikke nemt kan bekræfte det, kan emnet blive fjernet. Bevidste svindelnumre af denne type betragtes som meget alvorlige overtrædelser.
                %li Du må ikke svare på et indlæg, du føler overtræder reglerne. Lav en rapport i stedet. Bevidst løgn i en rapport anses for en overtrædelse.
                %li Du må ikke misbruge HTML i forumet eller personlig profil på en måde, der gør navigation svært, forårsager ekstrem browser-forsinkelse eller overskridelse af de forudindstillede grænser.
                %span.label.label-warning Bemærk
                %small Din profil eller dine oplysninger kan blive slettet uden advarsel.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Du må ikke udgive dig for at være en anden spiller på Mumble.
                %li Dit Mumble navn bør være dit in-game navn, eller noget let genkendeligt.
                %li Du må ikke “spamme” funktioner der sender beskeder til andre, som at klikke konstant på “mute”, “deafen” eller ved at logge ind og ud hele tiden.

    .page-header
        %h2 D. Serveradfærd
    .row
        .span12
            %ol
                %li Send ikke meddelelser, der opfordrer andre spillere til at forlader et hold eller forlade serveren.
                %li Medmindre du forklare rapportens proces, må du ikke opfordre andre til at rapportere en bestemt spiller.
                %li Venligst ikke beskylde nogen spillere for at hacke. Hvis du tror, en spiller hacker eller bryder nogle regler, rapporter dem ved at bruge kommandoen /report.
                %li Du må ikke bruge nogen form for chat i spillet til at hverve. Enhver konto, der er kun bruges til dette formål, vil bliver permanent banlyst uden advarsel.
                %li Du mål ikke linke til eller tilbyde andre spillere til at deltage nogen offentlig eller privat server, der ikke er del af Overcast Network i offentlig chat. (Du må gerne bruge /msg kommandoen til at informere spillere, der spørger efter det).
                %li Dit brugernavn skal være passende, og du kan blive spurgt om at bruge en anden bruger, hvis dit brugernavn er fundet upassende. (Det tæller ikke som en undvigelse af banlysning.)
                %li Hvis du har adgang til /nick kommandoen, bør ethvert valgt brugernavn udformes efter anonymitet, ikke opmærksomhed. Du må ikke bruge /nick til at efterligne andre, og du må bruge upassende brugernavne.
                %span.label.label-warning Bemærk
                %small Alle chat-meddelelser og kommandoer bliver bogført.
                %br
                %span.label.label-warning Bemærk
                %small Du må gerne linke til din Overcast Network relaterede livestream, så længe du ikke spammer det.

    .page-header
        %h2 E. Generelt i spillet
    .row
        .span12
            %ol
                %li Spillere må ikke misbruge "glitches". Dette omfatter, men er ikke begrænset til, at placere blokke på områder til at gå på, som er blokeret af "plugin" , at skabe en "x-ray" effekt, og forårsager dig selv at være uovervindelig.
                %li I en Blitz eller Ghost Squadron kamp må spillere ikke forlænge en kamp ved at undgå kamp og/eller at gemme sig på steder, som er utilgængelig eller svært at komme til.
                %li Observatører må aldrig give taktiske oplysninger til spillere eller bevidst at forstyre spillet. Taktiske oplysninger omfatter, men er ikke begrænset til:
                %ol{:type => "a"}
                    %li At afsløre locationen af spillere
                    %li Visning af ejerskabet af uldet i en Capture the Wool bane
                %li Venligst brug et passende skin - du kan blive straffet for et upassende skin.

    .page-header
        %h2 F. Klientmodifikationer
    .row
        .span12
            %ol
                %li Enhver klientmodifikation der giver en urimelig fordel i forhold til brugere uden modifikationer, er forbudt mens du spiller.
                %li Eventuelle værktøjer der giver en urimelig fordel i forhold til brugere uden disse værktøjer, er forbudt mens du spiller.
                %li De følgende modifikationer udtrykkeligt tilladt under spillet:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch der ikke tillader at bukke sig mens man skriver, kigger sine ting igennem eller i nogen menuer
                    %li
                        %i.fa.fa-check
                        Ressourcepakker, der ikke hører under nogen "udtrykkeligt forbudt" kategori
                    %li
                        %i.fa.fa-check
                        Minimaps undtagen som angivet nedenfor
                %li De følgende modifikationer er specielt forbudt mens man spiller:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Automatiske Inventar Sortering
                    %li
                        %i.fa.fa-times
                        Modifikationer som gør spilleres name-tag tydeligere
                    %li
                        %i.fa.fa-times
                        Automatiske værktøjs selektorer
                    %li
                        %i.fa.fa-times
                        Minimaps som viser entititys (som fx andre spillere) positioner, eller som viser ting under jorden.
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Modifikationer, der gør, at du kan flyve
                    %li
                        %i.fa.fa-times
                        Skade/Liv indikatorer
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li For alle andre modifikationer, send en mail til support@oc.tc for bekræftelse før du bruger den.
                %span.label.label-warning Bemærk
                %small Tilskuere er ikke bundet til disse begrænsninger.
                %br
                %span.label.label-warning Bemærk
                %small Det er ikke tilladt for spillere i lobbyen at bruge modifikationer, som gør, at du kan flyve.

    .page-header
        %h2 G. Team Grief
    .row
        .span12
            %ol
                %li Team grief defineres som en hensynsløs eller forsætlig handling, der skader dit eget hold.
                %li Det følgende er klassificeret som team grief:
                %ol{:type => "a"}
                    %li At placere og/eller detonere TNT tæt på dine holdkammerater eller tæt på vigtige objekter (fx kister, jern og diamant) inden for ens egen base
                    %li At destruere ens eget holds kister eller arbejdsborde
                    %li Teamkill (enten ved at fjerne blokke under en person, så de falder til deres død, eller ved at skubbe holdkammerater ud af verden)
                    %li At bruge en TNT kanon, som er bygget af en anden spiller, uden at have klar tilladelse
                    %li At hjælpe eller arbejde sammen med et medlem af det andet hold
                %li Det følgende betragtes som hensynsløs og frarådes stærkt (du kan blive advaret for at bryde de følgende regler):
                %ol{:type => "a"}
                    %li At placere TNT i ens egen base, især at bygge TNT tårne i ens egen base
                    %li At bygge ubeskyttet TNT tæt på holdkammerater eller objektiver
                    %li At tage alle eller næsten alle uld i en Capture the Wool bane, medmindre af, at der kun er et stykke uld tilbage i det uld rum
                %li Eventuellle handlinger som ikke er skrevet her, der hindrer dit hold fra at vinde kampen, med vilje eller ej, falder stadig under "team grief" og kan blive udført sådan.
                %span.label.label-warning Bemærk
                %small
                    Det er
                    %b ALDRIG
                    tilladt for spillere at team griefe, selv hvis det er gjort for at gengælde en anden team griefer.

    .page-header
        %h2 H. Bane Specifikke Regler
    .row
        .span12
            %ol
                %li Alle spillere er ansvarlige for at holde sig ajour med alle baneregler. Baneregler kan blive fundet på skilte i banens spawn, eller via /map kommandoen.
                %li Reglerne i /map har prioritet over reglerne på skiltene i situationer vedrørende det samme emne.

    .page-header
        %h2 I. Konsekvenser
    .row
        .span12
            %ol
                %li Spillere kan modtage en advarsel eller en straf for at bryde nogen af reglerne ovenfor, afhængigt af alvorligheden af overtrædelsen.
                %li Alvorligheden af overtrædelsen er for det meste baseret på spillerens tidligere overtrædelser.
                %li I særligt alvorlige eller indlysende tilfælde af regelovertrædelse, inklusive, men ikke begrænset til at bruge en hacking klient på serverene, eller at konstant team griefe, på trods af moderator indgriben, vil resultere i en øjeblikkelig permanent banlysning.
                %li Spillere med mange advarsler for samme regelbrud kan blive midlertidigt banlyst uden varsel.
                %li Undvigelse af banlysning er ikke tilladt, og vil resultere i en permanent banlysning for alle alternativ konti tilknyttet med den undvigende spiller. De alternative konti vil ikke få deres bandlysning løftet når den første banlysning udløber, og den første banlysning kan blive forlænget op til tre gange længden af det den var før. (fx at en banlysning på en uge bliver til en banlysning på 3 uger).
                %li Vedvarende undvigelse af banlysning vil resultere i en permanent banlysning for alle konti.
                %li Spillere, som overtræder forumregler, kan forbydes fra at lave indlæg til forummet.
                %li Spillere, der overtræder Mumble-regler kan blive udvist eller bandlyst fra Mumble serveren.
                %li Spillere, der overtræder reglerne på nogen af Overcast Networks tjenester, inklusiv Minecraft serverne, forummet og Mumble, kan blive banlyst fra nogen eller alle af tjenesterne.
                %li Alle overtrædelser har mulighed for at blive appelleret ved at udfylde en appel.
                %li
                    %b Enhver spiller, der med vilje giver falsk information i sin appel, kan blive permanent bandlyst.
                %span.label.label-warning Bemærk
                %small Alle straffe er i sidste ende op til personalet.

    .page-header
        %h2 J. Diverse
    .row
        .span12
            %ol
                %li Disse regler kan ændres ved besked.
                %li Spillerne er selv ansvarlige for at holde sig opdateret i regelændringerne.
                %li Der er en uges afdragsfri periode for regelændringer.
                %li Overcast Networks administratorer forbeholder sig ret til at banlyse eller ophæve banlysning af enhver spiller uanset årsag uden varsel.
