%section
    .page-header
        %h1
            Regler
            %small Sidst opdateret den 19. Juni 2013
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            Disse regler gælder for
            %b alle
            Overcast Networks tjenester

    .page-header
        %h2
            A. Generelt
    .row
        .span12
            %ol
                %li Oprethold en behagelig og afslappende atmosfære. Vær respektfuld og anvend sund fornuft. Overdrevet banderi, uhøflighed og chikane er ikke tolereret.
                %li Prøv at anvende ordentlig stavning og grammatik.
                %li Du må ikke “spamme”, som defineres ved at sende (måske mange) unødvendige beskeder.
                %li Du må ikke linke noget af følgende.
                %ul
                    %li Stødende materiale, som er inklusiv men ikke begrænset til pornografi, "shock-sider", virusser, snyde/lokke sider og hadegrupper.
                    %li Andre hjemmesider eller servers som kan betragtes som reklamering.
                %li Du må ikke opfordre eller deltage i regelbrud på nogle af Overcast Networks tjenester.
                %li Du må ikke efterligne nogle af Overcast Networks personale eller påstå at være personale selv.
                %li Reporter problemer eller fejl af Overcast Networks tjenester på forummet (http://oc.tc/forums) eller til email support@oc.tc; udnyttelse af fejl for en anden grund end at demonstrer ved anmodning af personale vil resultere i en straf.
                %li Følg alle anvisninger som gives af personalet på Overcast Network. Hvis du mener at en fra personalet har vildledt dig, kontakt venligst email support@oc.tc.
                %span.label.label-warning Note
                %small Hvis du er bekymret over links der kan klassificeres som reklamering, venligst kontakt en fra personalet før du sender det.

    .page-header
        %h2 B. Forum Opførsel
    .row
        .span12
            %ol
                %li Du må ikke skrive provokerende beskeder.. Dette inkluderer beskeder der prøver at fornærme eller provokere en anden person til at selv lave provokerende beskeder, hadetaler og noget der ligner “inb4 flame war”(dvs at kalde skænderier ud inden de starter).
                %li Beskeder skal være relevant for emnet; irrelevante beskeder vil blive slettet.
                %li Hvis du mener at en tråd burde låses/slettes, indsend venligst en rapport via https://oc.tc/report i stedet for at kommenterer det på tråden.
                %li Alle billeder eller beskeder der ikke vedrører emnet er forbeholdt retten til at fjernes. Irrelevante billed-spam vil blive fjernet.
                %li Du må ikke “bumpe” tråde ved at skrive noget der ikke bidrager konstruktivt til tråden. “Bump” defineres ved at tråden bliver øverst på listen af nyt, fordi man har skrevet noget nyt i den.
                %li Alle personlige problemer skal ordnes privat. De offentlige forums er ikke stedet for personlige konflikter.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Du må ikke stjæle eller efterligne andre spilleres identitet på Mumble.
                %li Dit Mumble navn skal være dit navn i Minecraft eller en let genkendelig variation.
                %li Du må ikke “spamme” funktioner der sender beskeder til andre, som at klikke vildt meget på “mute”, “deafen” eller ved at logge ind og ud hele tiden.

    .page-header
        %h2 D. Inde I Spillet
    .row
        .span12
            %ol
                %li Du må ikke sende beskeder der opfordrer andre spillere i at efterlade holdet eller forlade serveren.
                %li Med mindre du forklarer vores rapport-system, må du ikke opfordre andre til at anmelde en bestemt spiller
                %li Lad venligst vær med at offentlig anklage nogle spillere for at hacke/snyde. Hvis du tror at en spiller snyder eller bryder reglerne, anmeld dem ved at bruge /report “navn” “hvorfor” kommandoen.
                %li Du må ikke bruge nogen som helst form for chat til at tilbyde/lokke. Alle brugere hvis eneste brug betragtes som at lokke/tilbyde andre tjenester vil blive bandlyst permanent uden advarsel.
                %li Du må ikke linke til eller lokke folk til at deltage i andre servers, offentlig og privat, som ikke er en del af Overcast Networks tjenester. (Du må bruge /msg “navn” “besked indhold” til at informere spillere som spørger om det.
                %li Dit brugernavn skal være passende og du kan blive sprugt til at skifte til en anden bruger hvis dit navn ses som upassende (racistiske antydning eller lignende)
                %span.label.label-warning Note
                %small Alle chat beskeder og kommandoer bliver gemt.
                %br
                %span.label.label-warning Note
                %small Du må gerne linke til Overcast Network livestreams, så længe du ikke “spammer” det.

    .page-header
        %h2 E. Generalt I Spillet
    .row
        .span12
            %ol
                %li Spillere må ikke:
                %ul
                    %li “combat log”, kamplogge, hvilket er defineret som at gå ud af dit hold eller serveren for at undgå at dø til en spiller af modsatte hold. (Du må gerne kamplogge for at undgå at blive dræbt af holdkammerater ved “teamgrief/hold sabotage”(se afsnit G.)
                    %li Misbrug af Minecraft fejl for at opnå en fordel over andre eller på en sådan måde at det skaber “lag” og gør andre spilleres computer langsom. Dette inkluderer men er ikke begrænset til; at placere blokke i områder som spillet nægter dig at gå i, at skabe en “røntgen-syn” effekt, eller gøre dig selv udødelig.
                %li I en Blitz eller Ghost Squadron bane må du ikke:
                %ul
                    %li Forlænge kampen ved at undgå al form for kamp og/eller at gemme sig i steder som er meget svært tilgængelig.
                %li Tilskuere må ikke give taktiske informationer til spillere eller med vilje have indflydelse på kampen. Taktiske informationer inkluderer men er ikke begrænset til:
                %ul
                    %li At afsløre en spillers position.
                    %li At afsløre hvem der har flaget/uldet i en Capture the Wool bane.
                %li Brug venligst et passende skin til din karakter - du kan blive straffet for et upassende skin
                %li Du må ikke direkte angribe noget start-område som ikke er ved siden af et mål(start-området defineres som område af hvor spillere kommer ind i banen på)
                %ul
                    %li Handlinger der er forbudte af denne regel inkluderer men er ikke begrænset til:
                    %ul
                        %li At starte direkte kamp eller buekamp inde i eller direkte ved det modstanderens start-område.
                        %li At sigte TNT kanoner ved eller ved siden af et holds start-område for at dræbe spillere. (Du skal ændre din kanon eller flytte den hvis den rammer et start område)
                        %li Handlinger der gør start-området umuligt at komme videre fra.
                        %li At droppe TNT oppe fra ind i start-området.
                        %li At “campe” et start-område ved at stå stille/vente udenfor start-området for at dræbe dem når de kommer ud.
                    %li Eksempler på handlinger som ikke er strafbare under denne regel inkluderer men er ikke begrænest til:
                    %ul
                        %li Fejlsigtet kanon skydning (hvis de bliver ordnet efter at spilleren bliver gjort bevidst om dette).
                        %li At kæmpe mod spillere der stormer mod en angriber uden at få udstyr på (tommelfingerregel: - inden for et stykke af målet).
                        %li At kæmpe mod spillere i/fra et start-område der er tæt på målet.
                %span.label.label-warning Note
                %small Regler om at dræbe i start-området gælder ikke på Team Deathmatch(TDM) eller Blitz baner; du forventes at kunne forsvare dig selv

    .page-header
        %h2 F. Klient modifikationer
    .row
        .span12
            %ol
                %li Alle klient modifikationer der giver en unfair fordel over for standard Minecraft brugere er ulovlige at bruge mens man spiller.
                %li
                    %i De følgende modifikationer er tydeligt lovligt at bruge:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch, Toggle-crouch, hvis den ikke lader dig snige dig mens du skriver eller kigger i menuer
                    %li
                        %i.icon-ok
                        Texture-packs der ikke falder under nogen “tydeligt ulovlige” kategorier
                    %li
                        %i.icon-ok
                        Minimap/kort på skærmen, undtagen hvis den viser spillere og/elle undergrunden
                %li
                    %i De følgende modifikationer er tydeligt forbudte under spillet:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Inventory Sorters, modifikationer der sorterer dit inventar
                    %li
                        %i.icon-remove
                        Auto-sprint, inkluderer en sprint-tast der gør at man kun behøver at trykke en gang i stedet for to gange
                    %li
                        %i.icon-remove
                        Modifikationer der afslører eller forstørrer navnene på spillere
                    %li
                        %i.icon-remove
                        Minimap/kort der viser spiller positioner og/eller undergrunden
                        Automatic tool selectors
                    %li
                        %i.icon-remove
                        Automatiske våben/værktøjs-vælgere
                    %li
                        %i.icon-remove
                        X-rays, røntgen-syn
                    %li
                        %i.icon-remove
                        Auto-hitter, som selv slår for dig
                    %li
                        %i.icon-remove
                        Aimbot, som selv sigter for dig
                    %li
                        %i.icon-remove
                        Flyve modifikationer, som gør at du kan flyve
                %li
                    %i For andre modifikationer, kontakt en fra personalet for at være sikker før du bruger det
                %li Tilskuere er ikke bundet af disse restriktioner
                %span.label.label-warning Note
                %small Denne sektion vil blive opdateret periodisk, vær venlig at holde dit opdateret.

    .page-header
        %h2 G. Team Griefing/hold sabotage
    .row
        .span12
            %ol
                %li Hold sabotage er forbudt, og er defineret som alle hensynsløse handlinger der skader dit eget hold eller handlinger der med vilje skader dit eget hold.
                %li
                    %i Det følgende er tydeligt hold sabotage:
                %ol{:type => "a"}
                    %li At placere og/eller sætte af TNT nær holdkammerater og nær vigtigt infrastruktur (kister, forsvar, udstyr, og så videre) i ens egen base
                    %li At ødelægge sit eget holds kister og arbejdsbænke
                    %li At dræbe holdkammerater (enten ved at fjerne blokke under dem og få dem til at falde eller skubbe dem ud af verden, og så videre)
                    %li At bruge/ændre en TNT kanon lavet af en anden spiller fra eget hold uden tilladelse
                    %li At hjælpe eller arbejde sammen med en spiller af det andet hold
                %li
                    %i Det følgende er set som hensynsløst og stærkt frarådet (du kan blive advaret):
                %ol{:type => "a"}
                    %li At placere TNT i ens egen base, især ved at bygge TNT-tårne under sig
                    %li At sætte ubeskyttet TNT nær holdkammerater og mål
                    %li At tage alle eller næsten alle af flagene/uldene i en Capture the Wool bane, med mindre der kun er et flag/uld tilbage
                %li Alle handlinger der ikke er er listet her der forhindrer dit holds fremskridt mod at vinde banen, med vilje eller ikke, falder stadig under “team griefing/hold sabotage” og kan blive straffet for.
                %span.label.label-warning Note
                %small
                    Spillere har
                    %b ALDRIG
                    lov til at sabotere en holdkammerat, selv imod en anden teamgriefer/hold sabotør.

    .page-header
        %h2 H. Bane specifikke regler
    .row
        .span12
            %ol
                %li Alle spillere er ansvarlig for at holde sig opdateret med banernes specifikke regler. De kan findes i starten af banen eller via /map kommandoen.
                %li Reglerne under /map står over reglerne på www.oc.tc/rules

    .page-header
        %h2 I. Overtrædelser
    .row
        .span12
            %ol
                %li Spillere kan modtage en advarsel eller en infraktion for at overtrædelse af reglerne over, alt efter overtrædelsens alvor.
                %li Efter at have modtaget en infraktion vil spilleren enten blive smidt ud, midlertidig bandlyst eller permanent bandlyst, varierende efter tidligere infraktioner uden beregning for advarsler.
                %li I virkelig seriøse eller åbenlyse sager med regelbrud, inkluderet men ikke begrænset til at bruge en hacked klient på vores servers, eller konstant hold sabotage på trods af indgriben fra en moderator, vil resultere i en øjeblikkelig permanent bandlysning, uden advarsel.
                %li Spillere med mange advarsler for samme regel kan blive midlertidig bandlyst uden advarsel.
                %li At undgå bandlysning er ikke tilladt og kan resultere i en permanent bandlysning for alle alternative brugere associeret til den undgående spiller. De alternative brugere vil blive bandlyst indtil den originale bandlysning udløber og den originale bandlysning kan blive forlænget op til tre gange længden af den originale (fx. 1 uge til 3 uger)
                %li Konstant undgåelse af bandlysning vil resultere i en permanent bandlysning for alle brugere.
                %li
                    Spillere der overtræder en hvilken som helst forum regel kan blive bandlyst fra at skrive på forummet. Hvis din bandlysning bliver for mere end 7 dage, kontakt venligst
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    for den nøjagtige længde af din bandlysning.
                %li Spillere der overtræder en hvilken som helst Mumble regel kan blive smidt ud eller bandlyst fra Mumble serveren.
                %li Spillere der overtræder en hvilken som helst regel på en af Overcast Networks tjenester, inkluderet spille servers, forummet og Mumble, kan blive bandlyst fra en eller alle af ovenstående tjenester.
                %li
                    Bandlysninger fra spillet kan blive appelleret ved at udfylde en appel ved
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Forum og Mumble bandlysninger skal appelleres via email hos
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b En hvilken som helst spiller der bevidst giver falsk informationer på hans eller hendes appel kan blive permanent bandlyst
                %li Alle infraktioner er subjektive til en moderators vurdering.
    .page-header
        %h2 J. Diverse
    .row
        .span12
            %ol
                %li Disse regler vil ændres ved varsel.
                %li Spillere er selv ansvarlige for at holde sig opdaret om regel ændringer.
                %li Der er en en uges vente periode for regel ændringer.
                %li Overcast Networks adminstration forbeholder sig retten til at bandlyse eller fjerne bandlysning fra hvilken som helst spiller fra Overcast Networks tjenester for hvilken som helst grund uden varsel.
