%section
    .page-header
        %h1
            Regeln
            %small Letztes Update am 19. Juni 2013
    .row
        .span12
            %span.label.label-warning Note
            %span
            Diese Regeln gelten für
            %b alle
            Overcast Network Dienste

    .page-header
        %h2
            A. Allgemeine Haltung
    .row
        .span12
            %ol
                %li Versuche eine angenehme Stimmung beizubehalten. Sei respektvoll und gebrauche gesunden Menschenverstand. Masslose Beschimpfungen, Unhöflichkeit und Belästigungen werden nicht toleriert
                %li Bemühe dich um eine verständliche Rechtschreibung und Grammatik.
                %li Spamme nicht.
                %li Verlinke keine der folgenden Dinge:
                %ul
                    %li Störendes Material, darunter fällt unter Anderem Pornographie, "Schockseiten", Virenprogramme, Phishing Websites, sowie Hate Groups.
                    %li Andere Websites oder Server in einem werbenden Kontext. 
                %li Stifte niemanden an, Regeln zu brechen und brich auch selber keine im Umfeld der Overcast Network Dienste.
                %li Gib dich nicht als Mitglied der Overcast Network Moderatoren aus.
                Melde Probleme oder Bugs der Overcast Network Dienste entweder in den Foren (http://oc.tc/forums) oder maile an support@oc.tc; Der Missbrauch von Bugs aus jedem Grund ausser zu Demonstrationszwecken auf Aufforderung eines Mitarbeiters wird bestraft.
                %li Follow any directions given by a Overcast Network staff member. If you believe a staff member has directed you wrongly, please email support@oc.tc Führe Anweisungen der Mitarbeiter aus. Wenn du dich von Mitarbeitern falsch angewiesen fühlst, maile bitte support@oc.tc an.
                %span.label.label-warning Note
                %small Wenn du dir nicht sicher bist, ob Links, die du posten willst unten Werbung fallen, sprich bitte mit einem Mitarbeiter.

    .page-header
        %h2 B. Verhalten in den Foren
    .row
        .span12
            %ol
                %li Poste kein hetzerisches Material. Dies bezieht sich auf Beleidigungen gegenüber Anderen, Provokation zu hetzerischem Verhalten, Hassreden, sowie allem, was "inb4 flame war" ähnelt. 
                %li Posts sollten sich auf das Thema beziehen; irrelevante Posts werden gelöscht.
                %li Wenn du der Meinung bist eine Diskussion sollte gesperrt werden, melde es über https://oc.tc/report anstatt es in der Diskussion zu sagen.
                %li Bilder oder Kommentare, die nichts mit dem Thema zu tun haben werden entfernt. Irrelevanter Bilderspam wird entfernt.
                %li Stoße keine Diskussionen nach oben, indem du nichts Konstruktives dazu beiträgst.
                %li Persönliche Konflikte müssen privat geregelt werden, die Foren sind kein Platz für persönliche Auseinandersetzungen.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Gib dich in Mumble nicht als andere Spieler aus.
                %li Dein Mumblename sollte dein Benutzername oder ein leicht abgewandelte Form sein.
                %li Spamme keine Aktion, die Mitteilungen and andere Spieler sendet (Wiederholt stumm/taub stellen, oder ein- bzw. ausloggen).

    .page-header
        %h2 D. Im Spiel
    .row
        .span12
            %ol
                %li Sende keine Nachrichten, die Spieler auffordern ein Team oder den Server zu verlassen.
                %li Unless you are explaining the report process, you may not encourage others to report a specific player.Sifte keine anderen Spieler an jemanden zu melden,es sei denn du führst andere Spieler in den Meldeprozess ein.             
                %li Please do not publicly accuse any players of hacking. If you believe a player is hacking or breaking any rules report them using the /report command (/report <player> <message>)Beschuldige andere Spieler nicht öffentlich zu hacken, wenn du glaubst, dass sie es tun, benutze den /report Befehl (/report <spieler> <grund>).
                %li Gebrauche keine Art von ingame chat um zu werben. Jeder Account der nur zu Werbezwecken erstellt ist, wird ohne Vorwarnung permanent der Server verwiesen.
                %li Verlinke oder werbe andere Spieler nicht global an anderen Servern, öffentlich oder privat, beizutreten, die kein Teil des Overcast Netzwerkes sind. (Du kannst /msg <spieler> <nachricht> gebrauchen um interessierte Spieler zu informieren.
                %li Dein Nutzername muss angemessen sein, falls er es nicht ist kannst du aufgefordert werden einen anderen Account zu gebrauchen.
                %span.label.label-warning Note
                %small Alle Chatnachrichten und Befehle werden aufgezeichnet.
                %br
                %span.label.label-warning Note
                %small Du darfst zu deinem Overcast Network bezogenem Stream verlinken, solange du den Link nicht spammst.

    .page-header
        %h2 E. Allgemeine Spielmechanik
    .row
        .span12
            %ol
                %li Spieler dürfen nicht:
                %ul
                    %li Combat loggen, d.h. das Team oder den Server zu verlassen, um den Tod durch ein Mitglied des Anderen Teams zu entgehen (Es ist erlaubt um dem Tod durch Teamgrief zu entgehen).
                    %li Minecraft glitches missbrauchen, um einem Vorteil für sich oder das Team zu erlangen, oder auf eine Art und Weise, die Lag bei anderen Spielern auslöst. Dies beinhaltet das Platzieren von Blöcken in einer vom Plug-in gesperrten Zone, einen "Röntgen-effekt" zu verursachen oder sich selbst unverletzbar zu machen.
                %li In einem Blitz- oder Ghostsquadronspiel dürfen Spieler nicht:
                %ul
                    %li Ein Spiel verlängern, indem sie den Kampf vermeiden und/oder sich in schwer erreichbaren Orten verstecken.
                %li Zuschauer dürfen nie taktische Informationen an Spieler weitergeben oder in das Spielgeschehen eingreifen. Taktische Information beinhaltet:
                %ul
                    %li Den Aufenthaltsort von Spielern angeben.
                    %li Den Besitz von Wolle in Capture the Wool Maps angeben.
                %li Benutze einen angemessenen Skin- du kannst für unangemessene Skins bestraft werden.
                %li Greife nicht direkt den gegnerischen Spawn an, falls er sich nicht direkt neben einem Objective befindet (Der Spawn ist definiert als das Gebiet, in dem die Spieler das Spielfeld der Kate betreten)
                %ul
                    %li Handlungen, die von dieser Regel eingefasst werden sind u.A.:
                    %ul
                        %li Einen direkten Kampf ausserhalb des gegnerischen Spawns anzetteln.
                        %li TNT Kanonen auf den gegnerischen Spawn ausrichten, sodass sie Spieler töten (Du musst die Kanone modifizieren falls sie das tut).
                        %li Handlungen, die das Spawngebiet unpassierbar machen.
                        %li TNT von oben auf den Spawn fallen lassen.
                        %li Bei einem Spawn zu campen, d.h. daneben auf neu spawnende Spieler zu warten und sie anzugreifen.
                    %li Beispiele von Handlungen, die nicht unter diese Regel fallen:
                    %ul
                        %li Unbeabsichtigstes Kanonenfeuer (Vorrausgesetzt, es wird auf Hinweis vom Spieler korrigiert)
                        %li Bekämpfen von Gegnern, die den Spieler ohne Rüstung angreifen (Faustregel-Eine Sekunde vom Objective entfernt)
                        %li Bekämpfen von Gegnern, deren Spawn sich nahe an einem Objective befindet.
                %span.label.label-warning Note
                %small Spawnkillingregeln gelten in TDM und Blitz Maps nicht, du musst dich selbst verteidigen.

    .page-header
        %h2 F. Client Modifikationen
    .row
        .span12
            %ol
                %li Jede Clientbasierte Modifikation die einen unfairen Vorteil gegenüber vanilla Minecraft Usern verspricht ist illegal während dem Spiel.
                %li
                    %i Die folgenden Mods sind explizit erlaubt während des Spiels:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch, vorraugesetzt, es erlaubt einem nicht zu schleichen während man schreibt, oder in Inventare oder Menüs sieht
                    %li
                        %i.icon-ok
                        Texture Packs, die nicht in die Katergorie "Ausdrücklich verboten" fallen
                    %li
                        %i.icon-ok
                        Minimaps ausser den unten Beschriebenen
                %li
                    %iDie folgenden Mods sind explizit verboten während des Spiels:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Inventory Sorters
                    %li
                        %i.icon-remove
                        Auto-sprint, einschließlich die Benutzung einer Sprinttaste statt des normalen Sprintens.
                    %li
                        %i.icon-remove
                        Mods, die Nametags vergrößern oder besser lesbar machen
                    %li
                        %i.icon-remove
                        Automatische Werkzeugauswähler
                    %li
                        %i.icon-remove
                        Minimaps, die Entitypositionen, oder Höhlen/den Untergrund abbilden
                    %li
                        %i.icon-remove
                        Röngten/X-Ray mods
                    %li
                        %i.icon-remove
                        Auto-hitters
                    %li
                        %i.icon-remove
                        Aimbots
                    %li
                        %i.icon-remove
                        Fly mods
                %li
                    %i Bevor du andere Mods benutzt, frage einen Mitarbeiter um Erlaubnis.
                %li Zuschauer müssen sich nicht an diese Regeln halten.
                %span.label.label-warning Note
                %small Diese Sektion wird regelmäßig geupdated, bitte halte dich auf dem Laufendem.

    .page-header
        %h2 G. Team Griefen
    .row
        .span12
            %ol
                %li Team griefen ist verboten, und wird definiert als jede rücksichtslose Aktion, die absichtlich das eigene Team schädigt.
                %li
                    %i Das Folgende ist ausdrücklich team griefen:
                %ol{:type => "a"}
                    %li Das Platzieren und/oder das Aktivieren von TNT nahe bei Teamkameraden oder Infrastruktur des Teams (eg. Kisten, Verteidigungen, oder Erzen) auf der eigenen Seite.
                    %li Das Zerstören von Kisten oder Crafting tables des eigenen Teams
                    %li Teamkillen(Entweder indem man die Blöcke unter einer Person abbaut, oder sie von der Welt schiebt)
                    %li Das Benutzen einer TNT Kanone eines anderen Spielers ohne ausdrückliche Erlaubnis
                    %li Die Zusammentarbeit mit einem Spieler des anderen Teams
                %li
                    %i Die folgenden Dinge sind rücksichtslos, von ihnen wird abgeraten (Sie könnten gewarnt werden, falls sie die folgenden Regeln brechen)
                %ol{:type => "a"}
                    %li Das Platzieren von TNT in der eigenen Basis, besonders TNT Türme
                    %li Das Platzieren von ungeschütztem TNT neben Teamkameraden oder Objectives
                    %li Die ganze, oder fast ganze Wolle aus dem Woolroom nehmen, außer es ist nur noch ein Exemplar vorhanden
                %li Alle Handlungen, die hier nicht aufgeführt werden, aber das Team beim weg zum Erfolg hindern, absichtlich oder nicht, fallen trotzdem unter "Team griefen"
                %span.label.label-warning Note
                %small
                    Spieler dürfen
                    %b NIE
                    team griefen, sogar als Erwiderung aus einen anderen Teamgriefer nicht

    .page-header
        %h2 H. Mapspezifische Regeln
    .row
        .span12
            %ol
                %li Alle Spieler sind verpflichter bei allen mapspezifischen Regeln auf dem neusten Stand zu sein. Diese können auf der Regelwand der Karte oder mithilfe des /map commands gefunden werden
                %li Die Regeln bei /map haben Vorrang vor Regeln auf dem Regelbrett, wenn sie das Gleiche Thema behandeln

    .page-header
        %h2 I. Regelverstöße
    .row
        .span12
            %ol
                %li Spieler können eine in-game Warnung erhalten, falls sie die oben genannten Regeln brechen, abhängig von der Schwere der Verletzung.
                %li Wenn sie eine Regel brechen, werden die Spieler entweder gekickt, zeitweise gebannt, oder permanent gebannt, abhängig von den vorrausgegangenen Strafen, ausgenommen Warnungen.
                %li In sehr ernsten und offensichtlichen Fällen, wie unter Anderem der Gebrauch eines gehackten Clients, oder fortwährendem teamgriefen trotz der Intervention eines Moderators wird sofort ein permanenter Bann eingesetzt.
                %li Spieler mit vielen Warnungen für den selben Regelverstoß können temporär gebannt werden.
                %li Der Entzug aus einem Bann ist nicht gestattet und resultiert in einem permanentem Bann für alle alternativen Accounts des Spielers. Diese Banns werden nicht aufgehoben, wenn die originale Strafe endet, und der ursprüngliche Bann kann bis auf das dreifache seiner Länge verlängert werden (z.B. Wird dadurch ein 1-Wochen Bann zu einem 3-Wochen Bann)
                %li Persistent ban evasion will result in a permanent ban for all accounts.Regelmäßiger Bannentzug resultiert in einem permanentem Bann für alle Konten
                %li
                    Spieler, die Forenregeln missachten, können vom Posten auf den Foren ausgeschlossen werden. Falls dieser Bann mehr als 7 Tage bestehen bleibt, kontaktiere bitte
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    für die exakte Länge deines banns.
                %li Spieler, die eine Regel, die Mumble betrifft verletzen können von diesem Mumbleserver gekickt und gebannt werden.
                %li Spieler, die auf einem der Services des Overcast Network die Regeln missachten können von allen ausgeschlossen werden.
                %li
                    Das Ausfüllen einer Beschwerde über einen in-game bann erfolgt unter
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Foren und Mumble Beschwerden müssen via E-Mail
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li gesendet werden.
                %li
                    %b Any player that knowingly gives false info in his or her appeal may be permanently banned.Jeder Spieler, der Spieler, der bewusst Falschinformation in seiner Beschwerde verwendet, kann permanent gebannt werden.
                %li Alle Strafen liegen im Ermessen der Moderatoren.
    .page-header
        %h2 J. Verschiedenes
    .row
        .span12
            %ol
                %li These rules are subject to change with notice.Alle Regeln unterliegen Veränderungen, auf diese wird hingewiesen.
                %li Players are responsible for keeping up with rule changes.Spieler sind verantwortlich für das Wissen um Regeländerungen verantwortlich.
                %li Es gibt eine Woche Gnadefrist für neue Regeln.
                %li The Overcast Network Administration reserves the right to ban or unban any player from any Overcast Network services for any reason without notice.Die Administration des Overcast Networks aus jedem Grund ohne Notiz.

    Status
    API
    Training
    Shop
    Blog
    Über

    © 2013 GitHub, Inc.
    Terms
    Privacy
    Sicherheit
    Kontakt

