%section
    .page-header
        %h1
            Regeln
            %small Zuletzt geändert am 28.08.2013
    .row
        .span12
            %span.label.label-warning Beachte
            %span
            Diese Regeln gelten auf 
            %b allen von
            "Overcast Network" angebotenen Diensten

    .page-header
        %h2
            A. Generelles Verhalten
    .row
        .span12
            %ol
                %li Bitte bewahre eine angenehme Atmosphäre. Sei respektvoll zu anderen und nutze deinen Verstand. Exzessives Schimpfen, Unfreundlichkeit und Belästigung anderer wird nicht toleriert.
                %li Versuche korrekte Grammatik und Rechtschreibung einzuhalten (English und andere Sprachen).
                %li Kein Spam im Chat.
                %li Verlinke keines der folgenden Dinge:
                %ul
                    %li Pornographische Inhalte, "Schock" Seiten, Viren oder Phishing-Seiten oder Nationalsozialistische Inhalte.
                    %li Werbung für andere Server 
                %li Weder Regeln brechen noch das Unterstützen des Regelbruchs ist toleriert. 
                %li Behaupte nicht du wärst ein Moderator auf diesem Server, wenn du keiner bist.
                Sende Bugs oder dergleichen and support@oc.tc oder erstelle einen Thread in den Foren (http://oc.tc/forums); Das Ausnutzen von Bugs wird bestraft, ausser du wurdest von einem Moderator angewiesen, den Bug zu demonstrieren
                %li Befolge alle Anweisungen eines Overcast Network Moderator. Wenn du glaubst, ein Moderator hat dich falsch angewiesen oder misleitet, sende eine Email an support@oc.tc
                %span.label.label-warning Note
                %small Berate dich mit einen Moderator bevor du einen möglicherweise als Werbung geltenden Link postest.

    .page-header
        %h2 B. Verhalten im Forum
    .row
        .span12
            %ol
                %li Starte keine "Flame Wars". Dies beinhaltet das Erstellen von Posts die eine Person beleideigen oder sie dazu anstiften eine "Flame War" zu starten. Hasstiraden oder dergleichen sind ebenfalls nicht erlaubt.
                %li Alle Posts sollten zum Thema beitragen. Unnötige Posts (Off-Topic) werden, wenn nicht als solche gekenzeichnet, gelöscht.
                %li Wenn du denkst, ein Thread sollte geschlossen werden, nutze oc.tc/report.
                %li Bilder, die nicht zum Thema relevant sind werden gelöscht. 
                %li "Bumpe" keine Threads. Das heißt du sollt keine Posts erstellen, nur damit dieser Thread wieder auf die Startseite der Foren gelangt.
                %li Alle Persoönlichen Konflikte müssen privat (z.b über Skype) besprochen werden. Nutze das Forum nicht für solche Angelegenheiten

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Gebe dich nicht als jemand anders als du in Mumble aus.
                %li Dein Mumble-Nickname sollte deine Minecraft-Name sein, oder eine leicht zu erkennende Variation.
                %li Spamme keine Sprachnachrichten, d.h drücke nicht schnell auf den "mute" knopf oder ähnliches.

    .page-header
        %h2 D. Im Spiel
    .row
        .span12
            %ol
                %li Do not send messages that encourage other players into leaving a team or disconnecting from the server.
                %li Unless you are explaining the report process, you may not encourage others to report a specific player.
                %li Please do not publicly accuse any players of hacking. If you believe a player is hacking or breaking any rules report them using the /report command (/report <player> <message>)
                %li You may not use any form of in game chat to solicit. Any account that is determined to be for the sole use of soliciting will be permanently banned without warning.
                %li You may not link to, or solicit players to join, any server public or private that is not part of the Overcast Network in public chat. (You may use /msg <player> <message> to inform players that request it).
                %li Your username must be appropriate, and you may be asked to use a different account if your username is found to be inappropriate.
                %span.label.label-warning Note
                %small All chat messages and commands are logged.
                %br
                %span.label.label-warning Note
                %small You may link to your Overcast Network related livestream, so long as you don’t spam it.

    .page-header
        %h2 E. General Gameplay
    .row
        .span12
            %ol
                %li Players may not:
                %ul
                    %li Combat log, which is defined as leaving your team or the server to right before you die to an opposing team member. (You may combat log to avoid team-griefing)
                    %li Abuse Minecraft glitches to gain an advantage for themselves or their team, or in a manner that may cause lag for other players. This includes, but is not limited to, placing blocks in areas restricted by the plug-in to walk on, creating an "x-ray" effect, and causing yourself to be invincible.
                %li In a Blitz or Ghost Squadron match, players may not:
                %ul
                    %li Prolong a match by avoiding combat and/or hiding in places that are inaccessible or difficult to get to.
                %li Observers may never give tactical information to players or intentionally disrupt gameplay. Tactical information includes, but is not limited to:
                %ul
                    %li Revealing the locations of players
                    %li Revealing the ownership of wool in a Capture the Wool map
                %li Please use an appropriate skin - you may be punished for an inappropriate skin.
                %li Do not directly attack any spawn that is not next to an objective (spawn is defined as the area in which players enter the playing area of the map)
                %ul
                    %li Actions that are prohibited by this rule include but are not limited to any of the following:
                    %ul
                        %li Instigating direct pvp or bow pvp inside or directly next to an opposing team’s spawn.
                        %li Aiming TNT cannons at or next to a team spawn in a way that kills players. (You need to modify your cannon if it's targeting spawn)
                        %li Actions that make the spawn area impassible.
                        %li Dropping TNT from above into spawn.
                        %li "Camping" a spawn by idling/waiting next to or in a spawn for newly spawned players
                    %li Examples of actions that are not punishable under this rule include but are not limited to the following:
                    %ul
                        %li Accidental cannon fire (granted it is corrected by the firing player once they are made aware)
                        %li Fighting against players that "rush" at an attacker without gearing up (Rule of thumb - within a second of the objective)
                        %li Fighting against players in/from a spawn that is close to an objective.
                %span.label.label-warning Note
                %small Spawn killing rules do not apply on TDMs and Blitz maps; you are expected to defend.

    .page-header
        %h2 F. Client Modifications
    .row
        .span12
            %ol
                %li Any client modifications that give an unfair advantage over vanilla Minecraft users are illegal while playing.
                %li
                    %i The following mods are explicitly permitted during gameplay:
                %ul.unstyled
                    - @mods[:legal].each do |mod|
                        %li
                            %i.icon-ok
                            = mod
                %li
                    %i The following mods are explicitly prohibited during gameplay:
                %ul.unstyled
                    - @mods[:illegal].each do |mod|
                        %li
                            %i.icon-remove
                            = mod
                %li
                    %i For any other mods, ask a staff member for confirmation before using it.
                %li Observers are not bound to these restrictions.
                %span.label.label-warning Note
                %small This section will be updated periodically, please keep up to date.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li Team griefing is prohibited, and is defined as any reckless action that harms your own team, or actions that intentionally harms one's own team.
                %li
                    %i The following are explicitly team griefing:
                %ol{:type => "a"}
                    %li Placing and/or setting off TNT near teammates or near key team infrastructure (eg. chests, defences or ore) within one’s own base
                    %li Destroying one's own team's chests or workbenches
                    %li Teamkilling (either by removing blocks from beneath a person to cause them to fall, or pushing teammates off the world)
                    %li Using/modifying a TNT cannon built by another player without explicit permission
                    %li Aiding or working together with a member of the other team
                %li
                    %i The following are considered reckless and strongly discouraged (you may be warned for breaking the following rules):
                %ol{:type => "a"}
                    %li Placing TNT in one’s own base, especially building TNT towers in one's own base
                    %li Building unprotected TNT near teammates or objectives
                    %li Taking all or almost all of the wool in a Capture the Wool map out of a wool room, unless there is only one wool left in that wool room
                %li Any actions that are not listed here that hinder your team’s progress towards winning the match, deliberate or not, still fall under "team griefing" and may be dealt with as such.
                %span.label.label-warning Note
                %small
                    Players are
                    %b NEVER
                    permitted to team grief, even in retaliation to another team griefer.

    .page-header
        %h2 H. Map Specific Rules
    .row
        .span12
            %ol
                %li All players are responsible for keeping up to date with all map rules. Map rules are found on map rule boards at that map’s spawn, and via the /map command.
                %li The rules in /map take precedent over the rule board in cases regarding the same subject.

    .page-header
        %h2 I. Infractions
    .row
        .span12
            %ol
                %li Players may receive an in game warning or an infraction for breaking any of the rules above, depending on the severity of the violation.
                %li Upon receiving an infractions, players will be either kicked, temporarily banned, or permanently banned, depending on the number previous infractions, excluding warns.
                %li In particularly serious or blatant cases of rules violation, including but not limited to using a hacking client on the servers, or consistently team griefing despite moderator intervention, will result in an immediate permanent ban, without warning.
                %li Players with many warnings for the same rule may be temporarily banned without notice.
                %li Ban evasion is not permitted, and will result in a permanent ban for all alternate accounts associated with the evading player. The alternate accounts will not be unbanned once the original ban expired, and the original ban may be extended up to thrice the length of the original ban. (e.g. 1 week ban becomes up to a 3 week ban).
                %li Persistent ban evasion will result in a permanent ban for all accounts.
                %li
                    Players violating any forum rules may be banned from posting to the forums. If your ban stays for more than 7 days please contact
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    for the exact length of your ban.
                %li Players violating any mumble rules may be kicked or banned from the mumble server
                %li Players violating the rules on any Overcast Network service, including the game servers, the forums, and mumble, may be banned from any or all of the services.
                %li
                    In game bans must be appealed by filing an appeal at
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Forum and mumble bans must be appealed via an email to
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Any player that knowingly gives false info in his or her appeal may be permanently banned.
                %li All infractions are subject to moderator discretion.
    .page-header
        %h2 J. Miscellaneous
    .row
        .span12
            %ol
                %li These rules are subject to change with notice.
                %li Players are responsible for keeping up with rule changes.
                %li There is a one week grace period for rule changes.
                %li The Overcast Network Administration reserves the right to ban or unban any player from any Overcast Network services for any reason without notice.
