%section
    .page-header
        %h1
            Regeln
            %small Zuletzt geändert am 23.09.2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Hinweis
            %span
            Diese Regeln gelten auf
            %b allen von
            "Overcast Network" angebotenen Diensten.

    .page-header
        %h2
            A. Generelles Verhalten
    .row
        .span12
            %ol
                %li Bitte bewahre eine angenehme Atmosphäre. Sei respektvoll zu anderen und nutze deinen Verstand. Exzessives Schimpfen, Unfreundlichkeit und Belästigung anderer wird nicht toleriert.
                %li Versuche korrekte Grammatik und Rechtschreibung einzuhalten (Englisch und andere Sprachen).
                %li Kein Spam im Chat.
                %li Verlinke keines der folgenden Dinge:
                %ol{:type => "a"}
                    %li Pornografische Inhalte, "Schock"-Seiten, Viren oder Phishing-Seiten oder nationalsozialistische Inhalte.
                    %li Werbung für andere Webseiten oder Server
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Personal identifying information of other users.
                %li Regelverstöße, sowie die Unterstützung selbiger wird nicht toleriert.
                %li Do not impersonate any member of the Overcast Network staff, or claim to be a staff member.
                %li Sende Bugs oder dergleichen and support@oc.tc oder erstelle einen Thread in den Foren (http://oc.tc/forums); Das Ausnutzen von Bugs wird bestraft, außer du wurdest von einem Moderator angewiesen, den Bug zu demonstrieren.
                %li Befolge alle Anweisungen eines Overcast Network Moderator. Wenn du glaubst, ein Moderator hat dich falsch angewiesen oder in die Irre geführt, sende eine Email an support@oc.tc.
                %span.label.label-warning Hinweis
                %small Berate dich mit einen Moderator, bevor du einen möglicherweise als Werbung geltenden Link postest.

    .page-header
        %h2 B. Website Behavior
    .row
        .span12
            %ol
                %li Starte keine "Flame Wars". Dies beinhaltet das Erstellen von Posts, die eine Person beleidigen oder sie dazu anstiften einen "Flame War" zu starten. Hasstiraden oder dergleichen sind ebenfalls nicht erlaubt.
                %li Posts made should be relevant to the topic; irrelevant posts may be deleted.
                %li If you think a thread should be locked, submit a report via https://oc.tc/report instead of commenting it in the thread.
                %li Bilder, die nicht relevant für das Thema sind, werden gelöscht.
                %li "Bumpe" keine Threads. Das heißt, du sollt keine Posts erstellen, nur damit dieser Thread wieder auf die Startseite der Foren gelangt.
                %li Alle persönlichen Konflikte müssen privat (z.B. über Skype) besprochen werden. Nutze das Forum nicht für solche Angelegenheiten.
                %li Do not abuse HTML in profiles or forum posts in a way that makes navigation difficult, causes extreme browser lag, or exceeds the preset boundaries.
                %li Intentionally lying in reports may result in an infraction.
                %small.label.label-warning Note
                %small Your profile or contact information may be wiped without notice.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Gib dich nicht als jemand anders als du in Mumble aus.
                %li Dein Mumble-Nickname sollte dein Minecraft-Name sein, oder eine leicht zu erkennende Variation.
                %li Spamme keine Sprachnachrichten, d.h. drücke nicht schnell auf den "mute" Knopf oder ähnliches.

    .page-header
        %h2 D. Server Behavior
    .row
        .span12
            %ol
                %li Schreibe keine Nachrichten, die Spieler auffordern das Team oder den Server zu verlassen.
                %li Fordere niemanden dazu auf, jemand anders mit /report zu melden.
                %li Please do not publicly accuse any players of hacking. If you believe a player is hacking or breaking any rules report them using the /report command.
                %li You may not link to, or solicit players to join, any server public or private that is not part of the Overcast Network in public chat. (You may use /msg command to inform players that request it).
                %li Your username must be appropriate, and you may be asked to use a different account if your username is found to be inappropriate. (This does not count as ban evasion.)
                %span.label.label-warning Hinweis
                %small Alle Nachrichten und eingegebene Kommandos werden gespeichert.
                %br
                %span.label.label-warning Hinweis
                %small Du kannst deinen Livestream verlinken, solange du den Link nicht "spammst", und solange er mit dem "Overcast Network" zu tun hat .

    .page-header
        %h2 E. Allgemeine Spielregeln
    .row
        .span12
            %ol
                %li Spieler dürfen nicht bugs in Minecraft ausnutzen, um einen Vorteil den anderen Spielern gegenüber zu erlangen. Dies beinhaltet folgendes: Blöcke dort plazieren, wo das Plugin es eigentlich nicht erlaubt, um auf diesem Block zu laufen, eine "X-Ray" Maschine mit Glowstone oder TNT zu bauen.
                %li In "Blitz" oder "Ghost Squadron"-Spielen ist es verboten die Partie zu verlängern, indem man sich versteckt oder den Kampf vermeidet.
                %li Beobachter (Observer) dürfen keine taktischen Informationen an die spielenden Teams weitergeben. Taktische Informationen beinhaltet Folgendes:
                %ol{:type => "a"}
                    %li Das Verraten der Position eines Spielers
                    %li Das Verraten des Wolle-Trägers auf einer "Capture-the-Wool" map.
                %li Bitte nutze keinen vulgären oder sonstig unpassenden Skin. Du wirst gebannt, bis du einen neuen Skin hast.
                %li Do not spawn camp.
                %ol{:type => "a"}
                    %li Do not "camp" a spawn by waiting next to or in a spawn for newly spawned players.
                    %li Do not directly attack any spawn (e.g. run towards a spawn and start hitting people in that spawn, stick around, and kill everyone that spawns).
                    %li Do not aim TNT cannons at a spawn or repeatedly drop TNT on a spawn.
                %span.label.label-warning Hinweis
                %small Diese "Spawnkilling" Regeln gelten nicht auf "Team Deathmatch" oder "Blitz" Spielen.

    .page-header
        %h2 F. Modifikationen des Minecraft Clients
    .row
        .span12
            %ol
                %li Jegliche Modifikation des Clients, welche dir einen unfairen Vorteil gegenüber anderen gibt, ist illegal.
                %li The following modifications are explicitly permitted during gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch that does not allow crouching while typing, looking through inventory, or in any menus
                    %li
                        %i.fa.fa-check
                        Texture Packs, die nicht in die Kategorie "Ausdrücklich verboten" fallen
                    %li
                        %i.fa.fa-check
                        Minimaps, außer den unten beschriebenen
                %li
                    %iDie The following modifications are explicitly prohibited during gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory Sorters
                    %li
                        %i.fa.fa-times
                        Mods, die Nametags vergrößern oder besser lesbar machen
                    %li
                        %i.fa.fa-times
                        Automatische Werkzeugauswähler
                    %li
                        %i.fa.fa-times
                        Minimaps, die Entitypositionen, Höhlen und/oder den Untergrund abbilden
                    %li
                        %i.fa.fa-times
                        Röngten/X-Ray mods
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li For any other mods, email support@oc.tc for confirmation before using it.
                %li Beobachter (Observer) sind nicht an diese Regeln gebunden.
                %span.label.label-warning Hinweis
                %small Players in creative mode are not bound to these restrictions.
                %span.label.label-warning Hinweis
                %small Players in the lobby are not allowed to use fly modifications.

    .page-header
        %h2 G. Sabotage des eigenen Teams ("Team Griefing")
    .row
        .span12
            %ol
                %li Die Sabotage des eigenen Teams ("Team griefing") ist verboten, und ist definiert als jegliche Aktion, die deinem Team in irgendeiner Weise schadet.
                %li Das Folgende zählt als Sabotage des eigenen Teams ("Team Griefing"):
                %ol{:type => "a"}
                    %li Das Plazieren oder Aktivieren von TNT neben Spielkameraden oder wichtigen Punkten auf der Map, z.B. die Ausrüstungskisten.
                    %li Das Zerstören von Werkbänken des Teams.
                    %li "Teamkilling" (z.B. durch das Entfernen eines Blocks unter einem Teamkameraden, was ihn zum Fall bringt).
                    %li Das Nutzen oder Verändern einer Kanone, die man nicht selber gebaut hat.
                    %li Dem anderen Team helfen oder mit ihnen zusammen, anstatt gegen sie zu arbeiten.
                %li Das Folgende wird als rücksichtslos und nicht empfehlenswert betrachtet (Du wirst für das Folgende verwarnt, aber nicht direkt bestraft):
                %ol{:type => "a"}
                    %li Das Bauen von Säulen aus TNT in der eigenen Basis.
                    %li Das Mitnehmen von allen oder fast allen Wollblöcken auf einer "Capture the Wool" Map, es sei denn, es ist nur noch ein Wollblock übrig.
                %li Jeglichte Aktion, die hier nicht gelistet ist, aber trotzdem deinem Team am Gewinnen hindert, wird als Sabotage des eigenen Teams ("Team Griefing") bezeichnet und ebenfalls bestraft.
                %span.label.label-warning Hinweis
                %small
                    Spieler dürfen sich
                    %b NIEMALS
                    an Regelbrechern rächen. Nutze /report und lass einen Moderator den Regelbrecher bestrafen.

    .page-header
        %h2 H. Map spezifische Regeln
    .row
        .span12
            %ol
                %li Alle Spieler sind dafür verantwortlich mit den Map-Regeln vertraut zu sein. Sie sind entweder per /map einzusehen, oder stehen auf Schildern am Observer-Spawn.
                %li Die Regeln von /map haben Vorrang vor denen auf den Schildern.

    .page-header
        %h2 I. Consequences
    .row
        .span12
            %ol
                %li Spieler werden bei Regelverstoß entweder verwarnt oder bestraft.
                %li The severity of the infraction is usually based on the player’s previous infractions.
                %li Bei besonders schwerwiegenden Regelverstößen, einschließlich das nutzen von "Hacking Clients" oder extremer Sabotage des eigenen Teams ("Team Grief"), wird der Spieler sofort und ohne vorherige Warnung permanent gebannt.
                %li Spieler mit vielen Warnungen für den gleichen Regelverstoss können temporär gebannt werden.
                %li Das Nutzen eines Zweit-Accounts, während der Erst-Account gebannt ist, wird nicht gestattet, und alle Zweit-Accounts werden sofort auch gebannt. Die Zweit-Accounts werden für immer permanent gebannt werden, auch wenn der Bann auf dem Erst-Account abgelaufen ist, und die Länge des Banns auf dem Erst-Account wird verdreifacht.
                %li Bei extremen Fällen von dieser "Bann-Flucht" werden alle Accounts permanent gebannt.
                %li
                    Spieler, die gebannt wurden, werden auch für die Länge des Banns aus den Foren verbannt. Für den Fall, dass dein Bann länger als 7 Tage anhält, kontaktiere bitte
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    um die genaue Länge des Forum-Banns rauszufinden.
                %li Spieler, die gegen die Verhaltensregeln in Mumble verstoßen, werden entweder vom Mumble Server gekickt oder gebannt.
                %li Spieler, die auf einem der angebotenen Dienste die Regeln brechen (Egal ob Im Spiel, in den Foren, oder in Mumble), können auch von allen anderen Diensten gebannt werden.
                %li
                    Gegen alle im Spiel ausgehändigten Banns kann unter
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                        Revision eingelegt werden.
                    Forum und Mumble Banns werden bitte über
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                        gehandhabt.
                %li
                    %b Jeder Spieler, der im Revisionsverfahren nachweisbar lügt, wird permanent gebannt.
                %span.label.label-warning Hinweis
                %small All infractions are subject to staff discretion.

    .page-header
        %h2 J. Sonstiges
    .row
        .span12
            %ol
                %li Bei Regeländerung werden die Spieler benachrichtigt.
                %li Die Spieler sind dafür verantwortlich mit den aktualisierten Regeln vertraut zu sein.
                %li Neue Regeln treten eine Woche nach der Bekanntgabe in Kraft.
                %li Die "Overcast Network" Administration behält sich das Recht vor, jeden Spieler aus jeglichem Grund und ohne Benachrichtigung von jeglichem "Overcast Network" Dienst zu verbannen.
