%section
    .page-header
        %h1
            Regeln
            %small Zuletzt aktualisiert am 11. Mai 2016
            = render "select"
    .row
        .col-md-12
            %span.label.label-warning Hinweis
            %span
            Diese Regeln gelten für
            %b alle
            von Lifeboat PC Network angebotenen Dienste.

    .page-header
        %h2 A. Allgemeine Selbstbeherrschung
    .row
        .col-md-12
            %ol
                %li Bewahre eine freundliche und lässige Atmosphäre. Sei respektvoll und verwende deinen gesunden Menschenverstand. Exzessives Fluchen, Unhöflichkeit und Belästigung werden nicht toleriert.
                %li Versuche, korrekte Rechtschreibung und Grammatik einzuhalten.
                %li Spam ist nicht erlaubt.
                %li Verlinke keines der Folgenden:
                %ol{:type => "a"}
                    %li Anstößiges Material, das unter anderem Pornografie, „Schock-Seiten“, Viren, Phishing-Seiten und von Hass getriebene Gruppierungen beinhaltet.
                    %li Andere Webseiten oder Server, die in einer Weise Werbung erzeugen.
                    %li Personenbezogene Informationen zur Identifikation anderer Nutzer.
                %li Ermutige niemanden oder beteilige dich nicht daran, Regeln auf jeglichen von Lifeboat PC Network angebotenen Diensten zu verletzen.
                %li Gib dich nicht als ein Staff-Mitglied von Lifeboat PC Network aus; oder behaupte nicht, ein Staff-Mitglied zu sein.
                %li Melde Probleme oder Bugs bezüglich der von Lifeboat PC Network angebotenen Dienste entweder im Forum oder per E-Mail an support@oc.tc; das Ausnutzen von Bugs für jeglichen anderen Grund, außer eine von einem Staff-Mitglied angeforderte Demonstration, wird eine Bestrafung zur Folge haben.
                %li Befolge jegliche von einem Staff-Mitglied von Lifeboat PC Network gegebene Anweisung. Wenn du glaubst, ein Staff-Mitglied hat dich falsch angewiesen, bitte sende eine E-Mail an support@oc.tc.
                %span.label.label-warning Hinweis
                %small Solltest du unsicher sein, ob ein Link mit Werbung verbunden ist, dann kläre dies bitte mit einem Staff-Mitglied ab, bevor du diesen Link veröffentlichst.

    .page-header
        %h2 B. Verhalten auf der Webseite
    .row
        .col-md-12
            %ol
                %li Erstelle keine Themenfelder oder Beiträge, die darauf abzielen, andere Personen oder Gruppen zu beleidigen oder zu provozieren; und unterstütze beziehungsweise ermutige andere nicht, solche Beiträge zu erstellen.
                %li Erstelle keine Beiträge, deren Inhalt andere verspottet, oder Beiträge, die zum Aufruhr anstachelnde Kommentare „vorausbestimmen“, da derartige Kommentare andere Personen ebenso dazu anregen, solche Kommentare zu erstellen.
                %li Antworte nicht auf Themenfelder mit irrelevanten, bedeutungslosen, oder mit Spam verbundenen Texten beziehungsweise Bildern.
                %li Du darfst keine Themenfelder „bumpen“ (d. h. aktualisieren), indem du einen Beitrag verfasst, der nicht konstruktiv zu dem Themenfeld beiträgt.
                %li Alle persönlichen Belange müssen privat behandelt werden. Das öffentliche Forum ist nicht der Ort für persönliche Konflikte.
                %li Kritik an der Arbeit anderer – dazu zählen Staff-Mitglieder und vor allem die Community – muss mit Höflichkeit und persönlichem Respekt übermittelt werden.
                %li Erstelle keine Themenfelder, um nur anzukündigen, dass du das Spiel aufgibst oder den Server verlässt. Ausnahmen können für einen sehr interessanten Grund gemacht werden, zum Beispiel, dass du im Sterben liegst oder um die Welt segelst.
                %li Ankündigungen über dramatische Ereignisse bezüglich deiner Person selbst oder anderer Spieler müssen eine nachprüfbare Quelle für die Information beinhalten. Sollten wir die Geschichte nicht leicht überprüfen können, kann die Ankündigung entfernt werden. Absichtliche Falschmeldungen dieser Art werden als sehr schwerwiegende Regelwidrigkeiten angesehen.
                %li Antworte nicht auf ein Themenfeld, von dem du ausgehst, dass dieses gegen die Regeln verstößt. Stattdessen, reiche eine Meldung ein. Vorsätzliches Lügen in einer Meldung wird als ein Regelverstoß geahndet.
                %li Missbrauche das HTML in den Foren oder in persönlichen Profilen nicht in einer Weise, dass es die Navigation erschwert, extremen Browser-Lag erzeugt oder die vorgegebenen Grenzflächen überschreitet.
                %span.label.label-warning Hinweis
                %small Dein Profil oder deine Kontaktinformation können ohne vorherige Ankündigung gelöscht werden.

    .page-header
        %h2 C. Mumble
    .row
        .col-md-12
            %ol
                %li Gib dich in Mumble nicht als andere Personen aus.
                %li Dein Mumble-Name sollte dein Minecraft-Nickname sein oder eine leicht identifizierbare Variation.
                %li Du darfst Aktionen, die Mitteilungen zu anderen senden, nicht spammen (d. h. in kurzer Zeit wiederholen). Dazu zählen beispielsweise das Spammen des „Mute“-Knopfes und des „Deafen“-Knopfes oder das wiederholende An- und Abmelden von Mumble

    .page-header
        %h2 D. Verhalten auf dem Server
    .row
        .col-md-12
            %ol
                %li Sende keine Nachrichten, die andere Spieler dazu auffordern, ihr Team zu verlassen oder den Server zu verlassen.
                %li Sofern du nicht den Prozess einer Meldung erklärst, darfst du andere Spieler nicht dazu auffordern, einen konkreten Spieler zu melden.
                %li Bitte beschuldige keine Spieler öffentlich des Hackens. Wenn du glaubst, ein Spieler verwendet Hacks oder bricht irgendeine andere Regel, dann melde den Spieler mit dem „/report“-Befehl.
                %li Du darfst den Chat im Spiel nicht in jeglicher Form verwenden, um zu werben. Jeder Account, der für den alleinigen Gebrauch des Werbens bestimmt ist, wird ohne Warnung permanent gebannt.
                %li Du darfst im öffentlichen Chat keine öffentlichen oder privaten Server, die nicht Teil von Lifeboat PC Network sind, verlinken; oder Spieler erbitten, diesen Servern beizutreten. (Du darfst den „/msg“-Befehl verwenden, um diejenigen Spieler zu informieren, die es erbitten.)
                %li Dein Benutzername muss angemessen sein; und du kannst gefragt werden, einen anderen Minecraft-Account zu verwenden, falls dein Benutzername als unangemessen empfunden wird. (Dies gilt nicht als Bann-Umgehung.)
                %li Wenn du Zugriff auf den „/nick“-Befehl hast, sollte jeglicher ausgesuchte Nickname bestimmt werden, um Anonymität – und nicht Aufmerksamkeit – zu verleihen. Du darfst „/nick“ nicht verwenden, um andere zu imitieren, und du darfst nicht einen unangemessenen Nicknamen verwenden.
                %span.label.label-warning Hinweis
                %small Alle Chat-Nachrichten und Befehle werden protokolliert.
                %br
                %span.label.label-warning Hinweis
                %small Du kannst deinen Livestream verlinken, solange dieser in Bezug zu Lifeboat PC Network steht und solange du den Link nicht spammst (d. h. schnell wiederholend in den Chat schreibst).

    .page-header
        %h2 E. Allgemeine Spielweise
    .row
        .col-md-12
            %ol
                %li Spieler dürfen keine „Glitches“ (Programmierfehler) missbrauchen. Dies beinhaltet unter anderem das Platzieren von Blöcken in vom Plugin begrenzten Bereichen, um auf diesen laufen zu können, jegliches Erstellen eines „X-Ray“-Effekts (Röntgenblick), und die Möglichkeit, sich selbst unbesiegbar zu machen.
                %li In einem „Blitz“- oder „Ghost Squadron“-Match dürfen Spieler ein Match nicht hinauszögern, indem sie das Kämpfen vermeiden und/oder sich an Orten verstecken, die für andere Spieler unerreichbar beziehungsweise schlecht zugänglich sind.
                %li Beobachter dürfen niemals taktische Informationen preisgeben oder absichtlich die Spielweise stören. Taktische Informationen enthalten unter anderem:
                %ol{:type => "a"}
                    %li Das Enthüllen von Standorten anderer Spieler
                    %li Das Enthüllen des Eigentümers von Wolleblöcken auf einer „Capture the Wool“-Map
                %li Bitte verwende einen angemessenen Skin – du kannst wegen eines unangemessenen Skins bestraft werden.

    .page-header
        %h2 F. Programmmodifikationen
    .row
        .col-md-12
            %ol
                %li Jegliche Programmmodifikationen, die einen unfairen Vorteil gegenüber jenen Spielern geben, die Minecraft im Vanilla-Zustand (d. h. ein nicht modifiziertes Programm) verwenden,  sind während des Spielens illegal.
                %li Jegliche externe Hilfsmittel, die die Spielweise so verändern, dass diese einen unfairen Vorteil gegenüber Spielern geben, die diese Hilfsmittel nicht verwenden, sind illegal während des Spielens.
                %li Die folgenden Modifikationen sind ausdrücklich zugelassen während des Spielens:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD / StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 und höher)
                    %li
                        %i.fa.fa-check
                        Toggle Sneak / Sprint (LabyMod / HCF version)
                    %li
                        %i.fa.fa-check
                        Jegliche „Toggle-Crouch“-Modifikationen, die nicht das Ducken während des Schreibens im Chat erlauben, während das Inventar geöffnet ist, oder während man sich in jeglichen anderen Menüs befindet
                    %li
                        %i.fa.fa-check
                        Ressourcenpakete, die nicht unter jegliche Kategorie „ausdrücklich verboten“ fallen
                    %li
                        %i.fa.fa-check
                        Mini-Maps, mit Ausnahme von den unten angegebenen
                %li Die folgenden Modifikationen sind während des Spielens ausdrücklich verboten:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Jegliche Modifikationen, die automatisch das Inventar sortieren
                    %li
                        %i.fa.fa-times
                        Jegliche Modifikationen, die die Namensschilder anderer Spieler enthüllen oder vergrößern
                    %li
                        %i.fa.fa-times
                        Jegliche Modifikationen, die automatisch Werkzeuge auswählen
                    %li
                        %i.fa.fa-times
                        Mini-Maps, die die Positionen anderer Spieler zeigen, oder Höhlen/Untergrundstrukturen zeigen.
                    %li
                        %i.fa.fa-times
                        Jegliche X-Ray-Modifikationen
                    %li
                        %i.fa.fa-times
                        Jegliche Modifikationen, die automatisch schlagen
                    %li
                        %i.fa.fa-times
                        Jegliche Aimbot-Modifikationen
                    %li
                        %i.fa.fa-times
                        Jegliche Modifikationen, die die Möglichkeit geben, zu fliegen
                    %li
                        %i.fa.fa-times
                        Jegliche Modifikationen, die den Schadens-/Gesundheitsstatus anderer Spieler anzeigen
                    %li
                        %i.fa.fa-times
                        Jegliche „SmartMoving“-Modifikationen
                    %li
                        %i.fa.fa-times
                        Jegliche „Better Sprinting“-Modifikationen
                %li Für jegliche andere Modifikationen, sende eine E-Mail an support@oc.tc für eine Bestätigung, bevor du diese benutzt.
                %span.label.label-warning Hinweis
                %small Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.
                %br
                %span.label.label-warning Hinweis
                %small Beobachter sind von diesen Einschränkungen nicht betroffen.
                %br
                %span.label.label-warning Hinweis
                %small Spielern in der Lobby ist es nicht erlaubt, Flug-Modifikationen zu verwenden.

    .page-header
        %h2 G. Team-Grief
    .row
        .col-md-12
            %ol
                %li „Team-Grief“ ist verboten und ist definiert als jegliche rücksichtslose oder vorsätzliche Handlung, die deinem eigenen Team Schaden zufügt.
                %li Die folgenden Aktionen werden ausdrücklich als „Team-Grief“ definiert:
                %ol{:type => "a"}
                    %li Das Platzieren und/oder Anzünden von TNT in der Nähe von Teammitgliedern oder in der Nähe von wichtigen Infrastrukturen des eigenen Teams (Kisten, Verteidigungen oder Erze) innerhalb der eigenen Basis
                    %li Das Zerstören von Kisten und Werkbänken des eigenen Teams
                    %li Das Töten von Teamkameraden (entweder durch das Zerstören von Blöcken unter einem Spieler, was diesen zu Fall bringt; oder jegliche Form, Teamkameraden aus der Welt zu drängen)
                    %li Das Verwenden/Modifizieren einer TNT-Kanone, die von einem anderen Spieler gebaut wurde, ohne dessen ausdrückliche Erlaubnis
                    %li Einem Spieler des anderen Teams Beihilfe leisten oder mit einem oder demselben Spieler des anderen Teams zusammenarbeiten
                %li Die folgenden Aktionen werden als rücksichtslos betrachtet und werden eindringlich abgemahnt (du kannst verwarnt werden, falls du die folgenden Regeln brichst):
                %ol{:type => "a"}
                    %li Das Platzieren von TNT in der eigenen Basis, vor allem das Bauen von TNT-Türmen in der eigenen Basis
                    %li Das Platzieren von ungeschütztem TNT in der Nähe von Teammitgliedern oder in der Nähe von Zielobjekten
                    %li Das Entnehmen von allen oder fast allen Wolleblöcken aus einem Wolleraum auf einer „Capture the Wool“-Map, es sei denn, es ist noch ein Wolleblock in diesem Wolleraum vorhanden
                %li Jegliche Aktionen, die hier nicht aufgeführt sind, jedoch dein Team in jeglicher Form daran hindert, so schnell wie möglich ein Spiel zu gewinnen – bewusst oder unbewusst –, werden dennoch als „Team-Grief“ anerkannt und können dementsprechend geahndet werden.
                %span.label.label-warning Hinweis
                %small
                    Spieler sind
                    %b NIEMALS
                    erlaubt, dem eigenen Team in jeglicher Form zu schaden („Team-Grief“); nicht einmal als Vergeltungsmaßnahme gegenüber eines anderen Spielers, der seinem Team Schaden zugefügt hat.

    .page-header
        %h2 H. Map-spezifische Regeln
    .row
        .col-md-12
            %ol
                %li Alle Spieler haben die Verantwortung, sich mit allen Map-Regeln auf dem Laufenden zu halten. Map-Regeln können auf den Regelschildern am Beobachter-Spawn der jeweiligen Map gefunden werden, oder mithilfe des „/map“-Befehls.
                %li Die Regeln unter „/map“ haben gegenüber den Regeln, die auf den Regel-Tafeln zu finden sind, nur dann Vorrang, wenn diese das gleiche Thema betreffen.

    .page-header
        %h2 I. Konsequenzen
    .row
        .col-md-12
            %ol
                %li Spieler können eine Warnung oder eine Bestrafung im Spiel für das Brechen jeglicher oben genannter Regel erhalten, je nach Härte des Verstoßes.
                %li Die Härte der Bestrafung basiert normalerweise auf den vorhergehenden Regelverstößen des Spielers.
                %li In besonders schwerwiegenden oder eklatanten Fällen der Regelverletzung – dies beinhaltet unter anderem das Verwenden eines mit Hacks modifizierten Programms auf den Servern, oder regelmäßige Aktionen, die trotz des Eingreifens eines Moderators als „Team-Grief“ zu bewerten sind – wird diese Regelverletzung einen sofortigen permanenten Bann zur Folge haben, ohne Vorwarnung.
                %li Spieler mit mehreren Warnungen für denselben Regelbruch können ohne Ankündigung zeitweise gebannt werden.
                %li Die Umgehung eines Banns ist nicht erlaubt und wird einen permanenten Bann für alle alternierenden Accounts, die mit dem umgehenden Spieler assoziiert sind, zur Folge haben. Die alternierenden Accounts werden nicht entbannt, wenn der ursprüngliche Bann abläuft, und der ursprüngliche Bann kann bis auf die dreifache Länge des ursprünglichen Banns erweitert werden. (Beispiel: Ein einwöchiger Bann wird zu einem maximal dreiwöchigen Bann verlängert.)
                %li Beständige Umgehung eines Banns wird in einem permanenten Bann für alle anderen Accounts resultieren.
                %li Spieler, die jegliche Forum-Regeln verletzen, können von dem Erstellen von Forum-Beiträgen gebannt werden.
                %li Spieler, die Mumble-Regeln verletzen, können von dem Mumble-Server gekickt oder gebannt werden.
                %li Spieler, die die Regeln auf irgendeinem Dienst von Lifeboat PC Network verletzen, einschließlich aller Spiel-Server, des Forums, und Mumble, können von jeweiligen oder jeglichen dieser angebotenen Dienste gebannt werden.
                %li Für alle Regelverstöße, gegen die Einspruch erhoben wird, muss ein Einspruchsverfahren eröffnet werden.
                %li
                    %b Jeglicher Spieler, der vorsätzlich falsche Informationen in seinem oder ihrem Einspruchsverfahren vorlegt, kann permanent gebannt werden.
                %span.label.label-warning Hinweis
                %small Alle Regelverstöße unterliegen dem Ermessen von Staff-Mitgliedern.

    .page-header
        %h2 J. Sonstiges
    .row
        .col-md-12
            %ol
                %li Diese Regeln unterliegen einer Änderung mit Ankündigung.
                %li Spieler haben die Verantwortung, mit Regeländerungen auf dem Laufenden zu sein.
                %li Die Schonfrist für alle Regeländerungen liegt bei einer Woche.
                %li Die Administration von Lifeboat PC Network behält sich das Recht vor, jeglichen Spieler von jeglichen der von Lifeboat PC Network angebotenen Dienste für jeglichen Grund ohne Ankündigung zu bannen oder zu entbannen.
