%section
    .page-header
        %h1
            Regeln
            %small Zuletzt geändert am 23.08.2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Hinweis
            %span
            Diese Regeln gelten auf
            %b allen von
            "Overcast Network" angebotenen Diensten.

    .page-header
        %h2
            A. Generelles Verhalten
    .row
        .span12
            %ol
                %li Bitte bewahre eine angenehme Atmosphäre. Sei respektvoll zu anderen und nutze deinen Verstand. Exzessives Schimpfen, Unfreundlichkeit und Belästigung anderer wird nicht toleriert.
                %li Versuche korrekte Grammatik und Rechtschreibung einzuhalten (Englisch und andere Sprachen).
                %li Kein Spam im Chat.
                %li Verlinke keines der folgenden Dinge:
                %ol{:type => "a"}
                    %li Pornografische Inhalte, "Schock"-Seiten, Viren oder Phishing-Seiten oder nationalsozialistische Inhalte.
                    %li Werbung für andere Webseiten oder Server
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Personenbezogene Daten von anderen Spielern.
                %li Regelverstöße, sowie die Unterstützung selbiger wird nicht toleriert.
                %li Behaupte nicht, du wärst ein Moderator auf dem Overcast Network, wenn du keiner bist.
                %li Sende Bugs oder dergleichen and support@oc.tc oder erstelle einen Thread in den Foren (http://oc.tc/forums); Das Ausnutzen von Bugs wird bestraft, außer du wurdest von einem Moderator angewiesen, den Bug zu demonstrieren.
                %li Befolge alle Anweisungen eines Overcast Network Moderator. Wenn du glaubst, ein Moderator hat dich falsch angewiesen oder in die Irre geführt, sende eine Email an support@oc.tc.
                %span.label.label-warning Hinweis
                %small Berate dich mit einen Moderator, bevor du einen möglicherweise als Werbung geltenden Link postest.

    .page-header
        %h2 B. Verhalten auf der Webseite
    .row
        .span12
            %ol
                %li Starte keine "Flame Wars". Dies beinhaltet das Erstellen von Posts, die eine Person beleidigen oder sie dazu anstiften einen "Flame War" zu starten. Hasstiraden oder dergleichen sind ebenfalls nicht erlaubt.
                %li Geschriebene Beiträge sollten zum Thema des Threads passen; irrelevante Beiträge können gelöscht werden.
                %li Wenn du denkst ein Thread sollte geschlossen werden, erstelle einen Report via https:oc.tc/report anstatt es in den Thread zu schreiben.
                %li Bilder, die nicht relevant für das Thema sind, werden gelöscht.
                %li "Bumpe" keine Threads. Das heißt, du sollt keine Posts erstellen, nur damit dieser Thread wieder auf die Startseite der Foren gelangt.
                %li Alle persönlichen Konflikte müssen privat (z.B. über Skype) besprochen werden. Nutze das Forum nicht für solche Angelegenheiten.
                %li Nutze nicht das HTML in deinem Profil oder in Forenposts aus, sodass es die Navigation erschwert, den Browser zum laggen bringt oder die vorgegeben Grenzen überschreitet.
                %li Jeder Spieler, der in einem Report absichtlich lügt, kann dafür bestraft werden.
                %small.label.label-warning Note
                %small Der Inhalt deines Profils kann ohne voherige Warnung gelöscht werden.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Gib dich nicht als jemand anders als du in Mumble aus.
                %li Dein Mumble-Nickname sollte dein Minecraft-Name sein, oder eine leicht zu erkennende Variation.
                %li Spamme keine Sprachnachrichten, d.h. drücke nicht schnell auf den "mute" Knopf oder ähnliches.

    .page-header
        %h2 D. Verhalten auf dem Server
    .row
        .span12
            %ol
                %li Schreibe keine Nachrichten, die Spieler auffordern das Team oder den Server zu verlassen.
                %li Fordere niemanden dazu auf, jemand anders mit /report zu melden.
                %li Bitte beschuldige keine anderen Spieler öffentlich des Hackens. Falls du glaubst, dass ein Spieler hackt oder irgendeine andere Regel bricht, melde sie mit dem /report-Befehl.
                %li Du sollst keine IPs von Servern, die nicht zum Overcast Network gehören, in den Chat schreiben. (Du kannst den /msg-Befehl benutzen um einem Spieler die IP zu schicken, falls er danach gefragt hat).
                %li Dein Benutzername muss angemessen sein, und du könntest dazu aufgefordert werden einen anderen Account zu nutzen, falls dein Benutzername unangemessen ist. (Dies zählt nicht als Banumgehung.)
                %span.label.label-warning Hinweis
                %small Alle Nachrichten und eingegebene Kommandos werden gespeichert.
                %br
                %span.label.label-warning Hinweis
                %small Du kannst deinen Livestream verlinken, solange du den Link nicht "spammst", und solange er mit dem "Overcast Network" zu tun hat .

    .page-header
        %h2 E. Allgemeine Spielregeln
    .row
        .span12
            %ol
                %li Spieler dürfen nicht bugs in Minecraft ausnutzen, um einen Vorteil den anderen Spielern gegenüber zu erlangen. Dies beinhaltet folgendes: Blöcke dort plazieren, wo das Plugin es eigentlich nicht erlaubt, um auf diesem Block zu laufen, eine "X-Ray" Maschine mit Glowstone oder TNT zu bauen.
                %li In "Blitz" oder "Ghost Squadron"-Spielen ist es verboten die Partie zu verlängern, indem man sich versteckt oder den Kampf vermeidet.
                %li Beobachter (Observer) dürfen keine taktischen Informationen an die spielenden Teams weitergeben. Taktische Informationen beinhaltet Folgendes:
                %ol{:type => "a"}
                    %li Das Verraten der Position eines Spielers
                    %li Das Verraten des Wolle-Trägers auf einer "Capture-the-Wool" map.
                %li Bitte nutze keinen vulgären oder sonstig unpassenden Skin. Du wirst gebannt, bis du einen neuen Skin hast.
                %li Spawncampe nicht.
                %ol{:type => "a"}
                    %li "Spawncampe" nicht, indem du neben oder im Spawn auf neu gespawnte Spieler wartest.
                    %li Greife keinen Spawn direkt an (z.B. auf einen Spawn zurennen und Spieler dort anzugreifen, sich dort aufzuhalten oder alle Spieler, welche spawnen zu töten).
                    %li Ziele nicht mit TNT Kanonen auf einen Spawn und lasse kein TNT auf einen Spawn fallen.
                %span.label.label-warning Hinweis
                %small Diese "Spawnkilling" Regeln gelten nicht auf "Team Deathmatch" oder "Blitz" Spielen.

    .page-header
        %h2 F. Modifikationen des Minecraft Clients
    .row
        .span12
            %ol
                %li Jegliche Modifikation des Clients, welche dir einen unfairen Vorteil gegenüber anderen gibt, ist illegal.
                %li Folgende Modifikation sind ausdrücklich erlaubt:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch, solange es nicht erlaubt zu schleichen, während man schreibt, im Inventar oder im Menü ist
                    %li
                        %i.fa.fa-check
                        Texture Packs, die nicht in die Kategorie "Ausdrücklich verboten" fallen
                    %li
                        %i.fa.fa-check
                        Minimaps, außer den unten beschriebenen
                %li
                    %iDie Folgende Modifikationen sind ausdrücklich verboten:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventarsortierer 
                    %li
                        %i.fa.fa-times
                        Mods, die Nametags vergrößern oder besser lesbar machen
                    %li
                        %i.fa.fa-times
                        Automatische Werkzeugauswähler
                    %li
                        %i.fa.fa-times
                        Minimaps, die Entitypositionen, Höhlen und/oder den Untergrund abbilden
                    %li
                        %i.fa.fa-times
                        Röngten/X-Ray mods
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Falls du irgendeine andere Mod benutzen möchtest, schreibe vorher eine E-mail an support@oc.tc um zu fragen, ob du diese Modifikation benutzen darfst.
                %li Beobachter (Observer) sind nicht an diese Regeln gebunden.
                %span.label.label-warning Hinweis
                %small Spieler im Kreativ-Modus sind nicht an diese Regeln gebunden.
                %br
                %span.label.label-warning Hinweis
                %small Spieler in der Lobby dürfen keine Fly-Modifikationen benutzten.

    .page-header
        %h2 G. Sabotage des eigenen Teams ("Team Griefing")
    .row
        .span12
            %ol
                %li Die Sabotage des eigenen Teams ("Team griefing") ist verboten, und ist definiert als jegliche Aktion, die deinem Team in irgendeiner Weise schadet.
                %li Das Folgende zählt als Sabotage des eigenen Teams ("Team Griefing"):
                %ol{:type => "a"}
                    %li Das Plazieren oder Aktivieren von TNT neben Spielkameraden oder wichtigen Punkten auf der Map, z.B. die Ausrüstungskisten.
                    %li Das Zerstören von Werkbänken des Teams.
                    %li "Teamkilling" (z.B. durch das Entfernen eines Blocks unter einem Teamkameraden, was ihn zum Fall bringt).
                    %li Das Nutzen oder Verändern einer Kanone, die man nicht selber gebaut hat.
                    %li Dem anderen Team helfen oder mit ihnen zusammen, anstatt gegen sie zu arbeiten.
                %li Das Folgende wird als rücksichtslos und nicht empfehlenswert betrachtet (Du wirst für das Folgende verwarnt, aber nicht direkt bestraft):
                %ol{:type => "a"}
                    %li Das Bauen von Säulen aus TNT in der eigenen Basis.
                    %li Das Mitnehmen von allen oder fast allen Wollblöcken auf einer "Capture the Wool" Map, es sei denn, es ist nur noch ein Wollblock übrig.
                %li Jeglichte Aktion, die hier nicht gelistet ist, aber trotzdem deinem Team am Gewinnen hindert, wird als Sabotage des eigenen Teams ("Team Griefing") bezeichnet und ebenfalls bestraft.
                %span.label.label-warning Hinweis
                %small
                    Spieler dürfen sich
                    %b NIEMALS
                    an Regelbrechern rächen. Nutze /report und lass einen Moderator den Regelbrecher bestrafen.

    .page-header
        %h2 H. Map spezifische Regeln
    .row
        .span12
            %ol
                %li Alle Spieler sind dafür verantwortlich mit den Map-Regeln vertraut zu sein. Sie sind entweder per /map einzusehen, oder stehen auf Schildern am Observer-Spawn.
                %li Die Regeln von /map haben Vorrang vor denen auf den Schildern.

    .page-header
        %h2 I. Konsequenzen
    .row
        .span12
            %ol
                %li Spieler werden bei Regelverstoß entweder verwarnt oder bestraft.
                %li Die Härte der Strafe ist normalerweise von den vorherigen Regelverstößen des Spielers abhängig.
                %li Bei besonders schwerwiegenden Regelverstößen, einschließlich das nutzen von "Hacking Clients" oder extremer Sabotage des eigenen Teams ("Team Grief"), wird der Spieler sofort und ohne vorherige Warnung permanent gebannt.
                %li Spieler mit vielen Warnungen für den gleichen Regelverstoss können temporär gebannt werden.
                %li Das Nutzen eines Zweit-Accounts, während der Erst-Account gebannt ist, wird nicht gestattet, und alle Zweit-Accounts werden sofort auch gebannt. Die Zweit-Accounts werden für immer permanent gebannt werden, auch wenn der Bann auf dem Erst-Account abgelaufen ist, und die Länge des Banns auf dem Erst-Account wird verdreifacht.
                %li Bei extremen Fällen von dieser "Bann-Flucht" werden alle Accounts permanent gebannt.
                %li
                    Spieler, die gebannt wurden, werden auch für die Länge des Banns aus den Foren verbannt. Für den Fall, dass dein Bann länger als 7 Tage anhält, kontaktiere bitte
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    um die genaue Länge des Forum-Banns rauszufinden.
                %li Spieler, die gegen die Verhaltensregeln in Mumble verstoßen, werden entweder vom Mumble Server gekickt oder gebannt.
                %li Spieler, die auf einem der angebotenen Dienste die Regeln brechen (Egal ob Im Spiel, in den Foren, oder in Mumble), können auch von allen anderen Diensten gebannt werden.
                %li
                    Gegen alle im Spiel ausgehändigten Banns kann unter
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                        Revision eingelegt werden.
                    Forum und Mumble Banns werden bitte über
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                        gehandhabt.
                %li
                    %b Jeder Spieler, der im Revisionsverfahren nachweisbar lügt, wird permanent gebannt.
                %span.label.label-warning Hinweis
                %small Alle Strafen unterliegen dem Ermessen der Moderatoren.

    .page-header
        %h2 J. Sonstiges
    .row
        .span12
            %ol
                %li Bei Regeländerung werden die Spieler benachrichtigt.
                %li Die Spieler sind dafür verantwortlich mit den aktualisierten Regeln vertraut zu sein.
                %li Neue Regeln treten eine Woche nach der Bekanntgabe in Kraft.
                %li Die "Overcast Network" Administration behält sich das Recht vor, jeden Spieler aus jeglichem Grund und ohne Benachrichtigung von jeglichem "Overcast Network" Dienst zu verbannen.
