%section
    .page-header
        %h1
            Reglas
            %small Última Actualización Junio 19, 2013
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Estas reglas se aplicarán en
            %b todos
            los servicios de Overcast Network

    .page-header
        %h2
            A. Compostura General
    .row
        .span12
            %ol
                %li Mantén una atmósfera casual y agradable. Sé respetuoso y usa el sentido común. No se tolera el uso excesivo de vocabulario soez, rudeza y acoso.
                %li Trata de usar la ortografía y la gramática apropiada.
                %li No hagas spam.
                %li No vincular cualquiera de los siguientes sitios:
                %ul
                    %li Material objetable, que incluye pero no se limita a la pornografía, sitios chocantes, virus, sitios "phishing" y grupos de odio.
                    %li Otros sitios web o servidores de una manera que constituya publicidad.
                %li No fomentes o participes en la desobediencia de las reglas en Overcast Network.
                %li No suplantes a cualquier miembro del personal, o pretendas ser un miembro del personal.
                %li Informa problemas o errores en los servicios de Overcast Network, mediante los foros (http://oc.tc/forums) o a support@oc.tc. La explotación de errores por cualquier motivo que no sea para demostrar, a petición de un miembro del personal, resultará en una penalización.
                %span.label.label-warning Nota
                %small Si tú dudas sobre un vínculo que pueda constituir publicidad, habla con un miembro del personal antes de publicarlo.

    .page-header
        %h2 B. Comportamiento en los Foros
    .row
        .span12
            %ol
                %li No hagas comentarios inapropiados. Esto incluye comentarios con el objetivo de insultar a otro, provocar a alguien para que este haga comentarios inapropiados, discursos de odio o cualquier comentario parecido a "inb4 guerra de mensajes".
                %li Los mensajes publicados, deben ser relevantes al tema; mensajes irrelevantes serán eliminados.
                %li Si piensas que una discusión debería cerrarse, por favor repórtalo en https://oc.tc/report en vez de comentarlo en la discusión.
                %li Cualquier imagen o mensaje que no pertenezca al tema, está sujeta a la eliminación.
                %li No hagas "bump" comentando algo que no contribuya constructivamente en una discusión.
                %li Los asuntos personales deben ser tratados en privado. El foro público no es el lugar adecuado, para conflictos personales.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li No te hagas pasar por otro jugador en Mumble.
                %li Tu nombre en Mumble debe ser tu nombre en el juego o un variante reconocible.
                %li No hagas spam con las acciones que mandan mensajes a los otros (haciendo spam del mute, conectando y desconectando repetidamente).
    .page-header
        %h2 D. Al Jugar
    .row
        .span12
            %ol
                %li No envíes mensajes que fomenten a otros jugadores en salirse del equipo o desconectarse del servidor.
                %li A menos que estés explicando un proceso de reporte, no deberías incitar a otros que reporten a alguien en específico.
                %li Por favor, no acuses a nadie de hacks públicamente. Si tú crees que un jugador está usando hacks o rompiendo alguna regla, repórtalo usando el comando /report <persona> <razón>.
                %li Tú no puedes utilizar cualquier tipo de chat en el juego para implorar. Cualquier cuenta que se determina que es para el uso exclusivo de implorar se suspenderá permanentemente sin previo aviso.
                %li No puedes vincular o solicitar a otros jugadores, para unirse a cualquier servidor público o privado que no sea parte de Overcast Network, en el chat publico. (Puedes usar /msg para informar a los jugadores que lo hayan solicitado).
                %li Tu nombre de usuario debe ser apropiado. Se te pedirá usar una cuenta diferente si tu nombre de usuario es inapropiado.
                %span.label.label-warning Nota
                %small Todos los mensajes y comandos están y serán registrados.
                %br
                %span.label.label-warning Nota
                %small Puedes vincular a tu "livestream" relacionado a Overcast Network, simpre que no hagas "spam".

    .page-header
        %h2 E. Jugabilidad General
    .row
        .span12
            %ol
                %li Los jugadores no pueden:
                %ul
                    %li Evadir un combate, lo cual se define como salirse de un equipo o del servidor antes de ser asesinado por un miembro del equipo contrario (puedes hacerlo para evitar team-griefing).
                    %li Abusar de fallos de Minecraft para obtener una ventaja para sí o para su equipo, o de una manera que pueda causar "lag" para otros jugadores. Esto incluye, pero no está limitado a, la colocación de bloques en las zonas restringidas por el plug-in para caminar, creando un efecto de "rayos x", y causando a ti mismo ser invencible.
                %li En una partida de Blitz o de Ghost Squadron los jugadores no pueden:
                %ul
                    %li Prolongar el combate, evadiendo la batalla y/o escondiéndose en lugares inaccesibles o difíciles de llegar.
                %li Los observadores no pueden dar información táctica a los jugadores o interrumpir intencionalmente el juego. La información táctica incluye, pero no se limita a:
                %ul
                    %li Revelar las ubicaciones de los jugadores.
                    %li Revelar al portador de la lana, en un mapa de Capturar la Lana (Capture the Wool).
                %li Por favor usa una "skin" apropiada. Podrás ser penalizado si usas una "skin" inapropiada.
                %li No atacar directamente a cualquier "spawn", que no esté al lado de algún objetivo ("spawn" se define como el área donde los jugadores entran al área jugable del mapa).
                %ul
                    %li Las acciones que están prohibidas por esta regla incluyen, pero no se limitan a cualquiera de los siguientes:
                    %ul
                        %li Instigar "PVP" directo o "PVP" con arco al lado del "spawn" del equipo contrario.
                        %li Apuntar un cañón de TNT al "spawn" o al lado del "spawn" en la manera de que mate jugadores (tendrás que modificar tu cañón si está apuntando al "spawn").
                        %li Acciones que hagan el área del "spawn" impasable.
                        %li Dejando caer TNT desde arriba hacia el "spawn".
                        %li "Campear" un "spawn" esperando a los jugadores que recientemente se unen a la batalla.
                    %li  Ejemplos de acciones que no serán penalizadas conforme a esta regla incluyen, pero no se limitan a lo siguiente:
                    %ul
                        %li Accidentalmente disparar un cañón (mientras sea corregido por el jugador que dispara una vez que son conscientes).
                        %li Luchar contra los jugadores que hacen "rush" en un atacante sin prepararse.
                        %li Luchar contra los jugadores en/desde un "spawn" que esté cerca de un objetivo.
                %span.label.label-warning Nota
                %small Las reglas de "Spawn-killing" no se aplicarán en los mapas de "TDM" ni en los mapas de "Blitz". Se espera que defiendas.

    .page-header
        %h2 F. Modificaciones del Cliente
    .row
        .span12
            %ol
                %li Cualquier modificación del cliente que de una ventaja injusta sobre otro usuario "vainilla" de Minecraft son ilegales al jugar.
                %li
                    %i Los siguientes mods están explícitamente permitidos durante el juego:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch, mientras no te permita agacharte al escribir, ver en tu inventario, o en cualquier menú.
                    %li
                        %i.icon-ok
                        Texturas que no entran en ninguna categoría "prohibidos explícitamente"
                    %li
                        %i.icon-ok
                        Minimapas, excepto por los especificados a continuación.
                %li
                    %i Los siguientes mods estan explícitamente prohibidos al jugar:
                    %li
                        %i.icon-remove
                        Ajustadores de inventario
                    %li
                        %i.icon-remove
                        Auto-sprint, incluyendo tener una "tecla para correr" en lugar de utilizar doble toque.
                    %li
                        %i.icon-remove
                        Mods que exponen o amplían los campos del nombre de los jugadores.
                    %li
                        %i.icon-remove
                        Selectores de herramientas automáticos.
                    %li
                        %i.icon-remove
                        Minimapas que muestren las posiciones de entidades, o que muestren cuevas subterráneas.
                    %li
                        %i.icon-remove
                        Rayos X "X-rays"
                    %li
                        %i.icon-remove
                        Auto Golpeadores "Auto-hitters"
                    %li
                        %i.icon-remove
                        Mods de precisión automática "Aimbots"
                    %li
                        %i.icon-remove
                        Mods para volar
                %li
                    %i Para otros mods, pide a un miembro del personal la confirmación antes de usarlos.
                %li Los observadores no están sujetos a estas restricciones.
                %span.label.label-warning Nota
                %small Esta sección se actualizará periódicamente. Por favor, mantente al día.

    .page-header
        %h2 G. "Team Griefing"
    .row
        .span12
            %ol
                %li "Team griefing" está prohibido, y se define como cualquier acción imprudente que dañe a su propio equipo, o acciones que perjudiquen intencionadamente a su propio equipo.
                %li
                    %i Las siguientes acciones son explícitamente "Team Griefing":
                %ol{:type => "a"}
                    %li La colocación y/o la creación de TNT cerca de sus compañeros o cerca de las infraestructuras centrales del equipo (por ejemplo, cofres, defensas o minerales) dentro de tu propia base.
                    %li La destrucción de cofres o mesas de crafteo de tu propio equipo.
                    %li "Teamkilling" (ya sea mediante la eliminación de bloques situados por debajo de un compañero para provocar su caída, o empujarlos fuera del mundo).
                    %li El uso/modificación de un cañón de TNT construido por otros jugadores sin su permiso explícito.
                    %li Ayudar o colaborar con un miembro del otro equipo.
                %li
                    %i Las siguientes son consideradas imprudentes (podrás ser advertido al romper una de las siguientes reglas):
                %ol{:type => "a"}
                    %li Poner TNT en tu propia base, especialmente crear torres de TNT.
                    %li Poner TNT cerca de un compañero u objetivo.
                    %li Tomar toda o casi toda la lana en un mapa "CTW" de cualquier cuarto de lana, a menos que solo quede una lana en ese cuarto.
                %li Cualquier acción que no se presente en esta lista, que impidan el progreso de su equipo hacia el triunfo de la partida, aún se considera "Team-Griefing" y pueden ser tratados como tales.
                %span.label.label-warning Nota
                %small
                    A los jugadores
                    %b NUNCA
                    se les permitirá hacer "Team Grief", incluso en venganza a otro jugador que esté haciendo "Team Grief".

    .page-header
        %h2 H. Reglas Específicas de los Mapas
    .row
        .span12
            %ol
                %li Todos los jugadores se hacen responsables de mantenerse al día con las reglas de los mapas. Estas se pueden encontrar un tablero de reglas en el "spawn" de cada mapa, o usando el comando /map.
                %li Las reglas en /map tienen prioridad sobre el tablero de reglas en casos relacionados con el mismo tema.

    .page-header
        %h2 I. Infracciones
    .row
        .span12
            %ol
                %li Los jugadores pueden recibir una advertencia o una infracción si rompen cualquiera de las reglas, dependiendo en la severidad de la violación.
                %li Al recibir una infracción, los jugadores podrán ser expulsados, suspendidos por 7 días o permanentemente, dependiendo del número infracciones anteriores, excluyendo las advertencias.
                %li En los casos especialmente graves o evidentes de alguna violación de las normas, incluyendo pero no limitado al uso de un cliente con "hacks" en los servidores, o constantemente haciendo "Team Grief", dará lugar a una suspensión permanente e inmediata, sin previo aviso.
                %li Jugadores con muchas advertencias por la misma regla se les denegará el acceso al servidor temporalmente y sin previo aviso.
                %li Evadir una suspensión no está permitido y resultará en una suspensión permanente de todas las cuentas alternativas asociadas con el jugador que a evadido. Las cuentas alternativas no serán apeladas hasta que la suspensión original haya expirado, y la suspensión original puede extenderse hasta tres veces la longitud de la suspensión inicial. (Por ejemplo, 1 semana de suspensión se convierte en 3 semanas de suspensión).
                %li La evasión persistente de una suspensión resultará en una suspensión permanente de todas las cuentas.
                %li
                    Los jugadores que violen las reglas del foro se les prohibirá publicar en los foros. Si la prohibición se mantiene durante más de 7 días, por favor ponte en contacto con
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    para la longitud exacta de tu suspensión.
                %li Los jugadores que violen cualquier regla de Mumble pueden ser expulsados o suspendidos del servidor de Mumble.
                %li Los jugadores que violen las normas de cualquier servicio de Overcast Network, incluyendo los servidores, los foros y Mumble, pueden ser suspendidos de cualquiera o de todos los servicios.
                %li
                    Las suspensiones que se hacen en los servidores pueden ser apeladas llenando una apelación en
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Las suspensiones de los foros y/o de Mumble tendrán que ser apeladas por un email a
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Cualquier jugador que proporcione información falsa en su apelación, puede ser suspendido de forma permanente.
                %li Todas las infracciones están sujetas a la discreción del moderador.
    .page-header
        %h2 J. Varios
    .row
        .span12
            %ol
                %li Estas normas están sujetas a cambios, con previo aviso.
                %li Los jugadores se hacen responsables de mantenerse actualizados con los cambios de reglas.
                %li Hay un período de una semana para los cambios en las reglas.
                %li La administración de Overcast Network se reserva el derecho a suspender o eliminar la suspensión a/de cualquier jugador de cualquiera de los servicios de Overcast Network por cualquier motivo y sin previo aviso.
