%section
    .page-header
        %h1
            Reglas
            %small Actualizado por última vez el 7 de Enero de 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Estas reglas se aplican a
            %b todos
            los Servicios de Overcast Network.

    .page-header
        %h2 A. Compostura General
    .row
        .span12
            %ol
                %li Mantén una atmósfera casual y agradable. Sé respetuoso y usa el sentido común. El exceso de insultos, la rudeza y el acoso no son tolerados.
                %li Trata de mantener una ortografía y gramática adecuadas.
                %li No hagas spam.
                %li No mandes enlaces de lo siguiente:
                %ol{:type => "a"}
                    %li Material ofensivo, que incluye pero no se limita a pornografía, "sitios shock", virus, sitios fraudes y grupos de odio.
                    %li Otras páginas web o servidores en una manera que constituya publicidad.
                    %li Información personal identificadora de otros usuarios.
                %li No apoyes ni participes en la ruptura de las reglas de los Servicios de Overcast Network.
                %li No te hagas pasar por un miembro del staff de Overcast Network o asegures ser un miembro del mismo.
                %li Reporta los problemas o los errores de los Servicios de Overcast Network en los foros o a support@oc.tc; aprovecharse de los errores para cualquier otra razón que no sea la de demostrarlo a un miembro del staff resultará en una infracción.
                %li Sigue cualquier orden dada por un miembro del staff de Overcast Network. Si crees que algún miembro del staff te ha dirigido incorrectamente, por favor manda un email a support@oc.tc.
                %span.label.label-warning Nota
                %small Si estás preocupado por algún enlace que pueda constituir publicidad, por favor acláralo con un miembro del staff antes de postearlo.

    .page-header
        %h2 B. Comportamiento en la Web
    .row
        .span12
            %ol
                %li No hagas temas o posts con el objetivo de insultar o provocar a otras personas o grupos, ni promuevas o animes a otros a hacer tales posts.
                %li No hagas posts que se burlen o "predigan" contenido inflamatorio, ya que animan a los usuarios a hacer tales comentarios.
                %li No respondas a temas con textos/imágenes sin significado, que hagan spam o irrelevantes.
                %li No hagas que un tema tenga prioridad en la página del foro posteando algo que no contribuye constructivamente al tema.
                %li Todos los problemas personales deben ser tratados en privado. Los foros públicos no son el lugar para los conflictos personales.
                %li La crítica del trabajo de otros, ambos staff o la comunidad, deben ser entregados con cortesía y respeto personal.
                %li No hagas temas para anunciar que dejas el juego o el servidor. Se podrán hacer excepciones si lo dejas por una razón muy interesante, como si te estás muriendo o navegando alrededor del mundo.
                %li Los anuncios sobre eventos dramáticos ocurridos a ti o a otros deben incluir una fuente de información verificable. Si no podemos verificar fácilmente la historia, el post puede ser borrado. Los engaños deliberados de esta naturaleza son considerados infracciones muy serias.
                %li Llena un report cuando creas que un tópico está transgrediendo las reglas. No respondas nunca. Mentir intencionadamente en un reporte es considerado una infracción.
                %li No abuses del HTML en los foros o en los perfiles personales de una manera en la que haga la navegación difícil, cause lag extremo al navegador o exceda los límites establecidos.
                %span.label.label-warning Nota
                %small Tu perfil o tu información de contacto pueden ser borrados sin notificación.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li No suplantes a otros jugadores en Mumble.
                %li Tu nombre de Mumble debe ser tu nombre de usuario dentro del juego o una variación fácilmente reconocible.
                %li No hagas spam de las acciones que envían mensajes a los otros (como spamear el botón "mutear", "ensordecer" o desconectándose y reconectándose repetidamente)

    .page-header
        %h2 D. Comportamiento en el Servidor
    .row
        .span12
            %ol
                %li No envíes mensajes que animen a otros jugadores a dejar un equipo o a desconectarse del servidor.
                %li A menos que estés explicando el proceso de reportar, no debes animar a otros a reportar a un jugador específico.
                %li Por favor no acuses públicamente a cualquier jugador de utilizar hacks. Si crees que algún jugador está utilizando hacks o está rompiendo cualquier regla repórtalo utilizando el comando /report.
                %li No puedes utilizar ninguna forma de chat del juego para solicitar (dinero, por ejemplo). Cualquier cuenta que sea determinada para el uso único de solicitar será baneada permanentemente sin aviso previo.
                %li No puedes mandar enlaces o solicitar a jugadores a entrar a cualquier servidor público o privado que no forme parte de Overcast Network en el chat público. (Puedes usar el comando /msg para informar a los jugadores que lo soliciten).
                %li Tu nombre de usuario debe ser apropiado. En caso de que no lo sea, se te pedirá que utilices otra cuenta (esto no cuenta como evasión de ban)
                %li Si tienes acceso al comando /nick, cualquier nick que elijas debe ser para otorgar anonimato, no atención. No debes usar el /nick para hacerte pasar por otro jugador, ni usar un nick inapropiado.
                %span.label.label-warning Nota
                %small Todos los mensajes de chat y comandos son registrados.
                %br
                %span.label.label-warning Nota
                %small Puedes mandar enlaces de tus streams relacionados con Overcast Network, siempre y cuando no los spamees.

    .page-header
        %h2 E. Jugabilidad general
    .row
        .span12
            %ol
                %li Los jugadores no pueden abusar de glitches. Esto incluye pero no se limita a: poner bloques en áreas donde no se puede caminar y restringidas por el plugin, crear un efecto "x-ray" y causar que seas invencible.
                %li En las partidas de Ghost Squadron o Blitz, los jugadores no deben prolongar la partida evitando el combate y/o escondiéndose en lugares que son inaccesibles o difíciles de llegar.
                %li Los observadores nunca pueden dar información táctica a otros jugadores o alterar intencionadamente el juego. La información táctica incluye pero no se limita a:
                %ol{:type => "a"}
                    %li Revelar la posición de los jugadores
                    %li Revelar el jugador que posee la lana en un mapa de Capture the Wool
                %li Por favor utiliza una skin apropiada - puedes ser penalizado por una skin inapropiada.

    .page-header
        %h2 F. Modificaciones del Cliente
    .row
        .span12
            %ol
                %li Cualquier modificación del cliente que dé una ventaja injusta sobre los usuarios vanilla de Minecraft es ilegal durante el juego.
                %li Cualquier herramienta externa que modifique la jugabilidad para dar una ventaja injusta sobre los usuarios que no utilizan esa herramienta son ilegales durante el juego.
                %li Las siguiente modificaciones están explícitamente permitidas durante el gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 o superior)
                    %li
                        %i.fa.fa-check
                        Toggle-crouch que no permita agacharse mientras se escribe, se mira el inventario o cualquier otro menú
                    %li
                        %i.fa.fa-check
                        Los paquetes de recursos que no pertenezcan a ninguna categoría "explícitamente prohibida"
                    %li
                        %i.fa.fa-check
                        Minimapas excepto los especificados a continuación
                %li Las siguientes modificaciones están explícitamente prohibidas durante el gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Clasificadores de Inventario
                    %li
                        %i.fa.fa-times
                        Mods que expongan o agranden los name-tags de los jugadores
                    %li
                        %i.fa.fa-times
                        Selectores automáticos de herramientas
                    %li
                        %i.fa.fa-times
                        Minimapas que muestran la posición de las entidades o las cuevas subterráneas.
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters (golpear automáticamente)
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Mods de vuelo (fly)
                    %li
                        %i.fa.fa-times
                        Indicadores de vida/daño
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Para otros mods, manda un email a support@oc.tc para confirmar que puedas usarlos.
                %span.label.label-warning Nota
                %small Los observadores no están sujetos a estas restricciones.
                %br
                %span.label.label-warning Nota
                %small Los jugadores en el lobby no están autorizados a usar modificaciones de vuelo.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li El team griefing está prohibido y se define como cualquier acción imprudente o intencional que dañe a tu equipo.
                %li Las siguientes acciones son explícitamente team griefing:
                %ol{:type => "a"}
                    %li Poner y/o encender TNT cerca de un compañero de equipo o cerca de infraestructuras claves para el equipo (ej. cofres, defensas u ores) en tu propia base
                    %li Destruir los cofres o las mesas de crafteo del equipo
                    %li Matar a tu propio equipo (eliminando el bloque de abajo de un jugador provocando su caída, o bien empujando a tus compañeros fuera del mundo)
                    %li Usar/modificar cañones de TNT construidos por otro jugador sin su permiso explícito
                    %li Ayudar o trabajar juntos con un miembro del equipo contrario
                %li Las siguientes acciones se consideran imprudentes y se desaconsejan altamente (puedes recibir un aviso por romper las siguientes normas):
                %ol{:type => "a"}
                    %li Poner TNT en tu propia base, especialmente construir torres de TNT
                    %li Construir TNT desprotegida cerca de los objetivos o de los compañeros de tu equipo
                    %li Recoger toda o casi toda la lana en un mapa de Capture the Wool, a menos que haya solo una lana restante en la habitación
                %li Cualquier acción no listada aquí que obstaculice el progreso de tu equipo para ganar la partida, premeditadamente o no, puede ser considerada team griefing y se tratará como tal.
                %span.label.label-warning Nota
                %small
                    Los jugadores no pueden
                    %b NUNCA
                    hacer team grief, incluso como venganza a otro team griefer.

    .page-header
        %h2 H. Reglas Específicas de los Mapas
    .row
        .span12
            %ol
                %li Todos los jugadores son responsables de mantenerse al día con todas las reglas de los mapas. Las reglas de los mapas se pueden encontrar en el tablero de reglas en el spawn del mapa y a través del comando /map.
                %li Las reglas en /map tienen prioridad sobre el tablero de normas en casos sobre el mismo tema.

    .page-header
        %h2 I. Consecuencias
    .row
        .span12
            %ol
                %li Los jugadores pueden recibir un aviso o una infracción en el juego por romper cualquiera de las normas mencionadas anteriormente, siempre dependiendo de la severidad de la violación.
                %li La severidad de la infracción está normalmente basada en las infracciones anteriores del jugador.
                %li En casos particularmente serios u obvios de la violación de las normas, incluyendo pero no limitado a usar un cliente de hacks en los servidores o el constante grifeo del equipo ignorando la intervención del moderador, resultarán en un baneo permanente inmediato sin aviso previo.
                %li Los jugadores con muchos avisos por la misma regla pueden ser temporalmente baneados sin notificación.
                %li La evasión de ban no está permitida y resultará en un ban permanente de todas las cuentas alternativas asociadas al jugador. Las cuentas alternativas no serán desbaneadas cuando el ban original expire. El ban original puede ser extendido tres veces la duración original del ban (ej. una semana de ban pasa a ser 3 semanas de ban).
                %li La evasión persistente de ban resultará en un baneo de todas las cuentas.
                %li Los jugadores violando cualquier regla del foro pueden ser baneados de participar en los mismos.
                %li Los jugadores que violen cualquier regla de mumble pueden ser echados o baneados del servidor de mumble.
                %li Los jugadores que violen las reglas en cualquier servicio de Overcast Network, incluyendo los servidores de juego, el foro y mumble pueden ser baneados de cualquier o de todos los servicios.
                %li Todas las infracciones pueden ser apeladas llenando una apelación.
                %li
                    %b Cualquier jugador que proporcione información falsa intencionadamente en su apelación puede ser baneado permanentemente.
                %span.label.label-warning Nota
                %small Todas las infracciones están sujetas al criterio del staff.

    .page-header
        %h2 J. Miscelánea
    .row
        .span12
            %ol
                %li Estas reglas están sujetas a cambiar con aviso.
                %li Los jugadores son responsables de mantenerse al día con los cambios en las reglas.
                %li Hay un período de gracia de una semana para los cambios de las reglas.
                %li La Administración de Overcast Network se reserva el derecho a banear o desbanear a cualquier jugador de cualquier de los servicios de Overcast Network por cualquier motivo sin notificación.
