%section
    .page-header
        %h1
            Reglas
            %small Última Actualización Agosto 23, 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Estas reglas se aplicarán en
            %b todos
            los servicios de Overcast Network.

    .page-header
        %h2
            A. Compostura General
    .row
        .span12
            %ol
                %li Mantenga una atmósfera casual y agradable. Sea respetuoso y usa el sentido común. No está permitido el uso excesivo de vocabulario inapropiado, la rudeza o el acoso.
                %li Trate de usar ortografía y gramática apropiada.
                %li No haga spam.
                %li No vincule a cualquiera de los siguientes sitios:
                %ol{:type => "a"}
                    %li Material objetable, que incluye pero no se limita a la pornografía, sitios chocantes, virus, sitios que hagan suplantación de identidad y grupos de odio.
                    %li Otros sitios web o servidores de una manera que constituya publicidad.
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Personal identifying information of other users.
                %li No fomente o participe en el rompimiento de las reglas de Overcast Network
                %li No te hagas pasar por ningún miembro del staff de Overcast Network, o afirmes ser un miembro del staff.
                %li Problemas o errores de los servicios de Overcast Network pueden ser reportados en los foros (http://oc.tc/forums) o a support@oc.tc, abusar de errores por cualquier motivo que no sea para demostrar, a petición de un miembro del staff resultará en una penalización.
                %li Siga cualquier orden dada por un miembro del staff de Overcast Network. Si crees que un miembro del staff te ha dado una orden incorrectamente, por favor envía un correo a support@oc.tc.
                %span.label.label-warning Nota
                %small Si usted duda sobre un link que pueda constituir publicidad, hable con un miembro del staff antes de publicarlo.

    .page-header
        %h2 B. Conducta en el sitio web
    .row
        .span12
            %ol
                %li No hacer comentarios inapropiados. Esto incluye comentarios con el objetivo de insultar a alguien, provocar a alguien para que este haga comentarios inapropiados, discursos de odio o cualquier comentario parecido a "Anticipo una guerra de mensajes"
                %li Los mensajes hechos deben ser relevantes para el tema; mensajes irrelevantes pueden ser eliminados.
                %li Si piensa que un tema debe ser bloqueado, envíe un reporte a través de https://oc.tc/report en lugar de comentarlo en el tema.
                %li Cualquier imagen o mensaje que no pertenezca al tema está sujeta a la eliminación. Imágenes irrelevantes que hagan spam serán removidas.
                %li No haga "bump" comentando algo que no contribuya constructivamente en una discusión.
                %li Los asuntos personales deben ser tratados en privado. Los foros públicos no son el lugar para conflictos personales.
                %li No abuses del HTML en los perfiles o en los mensajes del foro de un modo que haga difícil la navegación, cause un lag extremo en el navegador, o exceda los límites por defecto.
                %li Mintiendo intencionalmente en una infracción puede resultar en una infracción.
                %small.label.label-warning Nota
                %small Tu perfil o información de contacto puede ser borrados sin previo aviso.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li No se haga pasar por otro jugador en Mumble.
                %li Su nombre en Mumble debe ser su nombre en el juego o una variante reconocible.
                %li No haga spam con acciones que mandan mensajes a los demás (haciendo spam del mute, conectando y desconectando repetidamente).
    .page-header
        %h2 D. Conducta en el servidor
    .row
        .span12
            %ol
                %li No mande mensajes que fomente a los otros jugadores a salirse del equipo o a desconectarse del servidor.
                %li A menos que esté explicando el proceso de reportar, no debe decirle a los otros jugadores que reporten a alguien en específico.
                %li Por favor no acuse a nadie de hacks públicamente. Si cree que un jugador está usando hacks o rompiendo alguna regla, repórtelo usando el comando /report.
                %li Usted no puede utilizar cualquier tipo de chat en el juego para implorar. Cualquier cuenta que se determina que es para el uso exclusivo de implorar se baneará permanentemente sin previo aviso.
                %li No puede vincular o solicitar a otros jugadores a unirse a cualquier servidor público o privado que no sea parte de Overcast Network en el chat publico. (Puedes usar /msg para informar a los jugadores que lo hayan solicitado).
                %li Su nombre de usuario debe ser apropiado, se le pedirá usar una cuenta diferente si es inapropiado. (Esto no cuenta como evasión de ban.)
                %span.label.label-warning Nota
                %small Todos los mensajes y comandos son guardados.
                %br
                %span.label.label-warning Nota
                %small Puede vincular a su transmisión o directo relacionado con Overcast Network, simpre y cuando no hagas "spam".

    .page-header
        %h2 E. Jugabilidad General
    .row
        .span12
            %ol
                %li Los jugadores no pueden abusar de fallos o errores. Esto incluye, pero no está limitado a, colocar bloques en áreas restringidas por el plugin para caminar en ellos, crear un efecto de "rayos-x", y causar que usted sea invencible.
                %li En una partida de Blitz o de Ghost Squadron los jugadores no pueden prolongar el combate evadiendo la batalla y/o esconderse en lugares inaccesibles o difíciles de llegar.
                %li Los observadores no pueden dar información táctica a los jugadores o interrumpir intencionalmente el juego. La información táctica incluye, pero no se limita a:
                %ol{:type => "a"}
                    %li Revelar la ubicación de los jugadores.
                    %li Revelar el propietario de la lana en un mapa de Capturar la Lana (Capture The Wool).
                %li Por favor use una skin apropiada - podrá ser penalizado si usa una skin inapropiada.
                %li No campee el spawn.
                %ol{:type => "a"}
                    %li No "campee" un spawn esperando a la salida o dentro de un spawn a los jugadores aparecidos recientemente.
                    %li No ataque directamente ningún spawn (e.g. Correr hacia un spawn y empezar a golpear las personas en ese spawn, quedarse alrededor, y matar a todos los que aparecen).
                    %li No apunte cañones de TNT a un spawn o lance TNT repetidamente en un spawn.
                %span.label.label-warning Nota
                %small Las reglas de "Spawn-camping" no se aplicarán en los mapas de "Team Deatmatch" ni en los mapas de "Blitz".

    .page-header
        %h2 F. Modificaciones del Cliente
    .row
        .span12
            %ol
                %li Cualquier modificación del cliente que de una ventaja injusta sobre otro usuario sin modificaciones de Minecraft son ilegales al jugar.
                %li Las siguientes modificaciones están explícitamente permitidos durante el juego:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch que no permita agacharse mientras se escribe, mirando a través del inventario, o en cualquier menú
                    %li
                        %i.fa.fa-check
                        Paquetes de texturas que no entran en ninguna categoría "prohibida explícitamente"
                    %li
                        %i.fa.fa-check
                        Minimapas excepto por los especificados a continuación.
                %li Los siguientes mods estan explícitamente prohibidos al jugar:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Ajustadores de inventario
                    %li
                        %i.fa.fa-times
                        Mods que exponen o amplían los nombres de los jugadores.
                    %li
                        %i.fa.fa-times
                        Selectores de herramientas automáticos.
                    %li
                        %i.fa.fa-times
                        Minimapas que muestren las posiciones de entidades, o que muestren cuevas/bajo tierra.
                    %li
                        %i.fa.fa-times
                        Rayos X - "X rays"
                    %li
                        %i.fa.fa-times
                        Golpeadores automáticos - "Auto-hitters"
                    %li
                        %i.fa.fa-times
                        "Aimbots"
                    %li
                        %i.fa.fa-times
                        Mods para volar
                    %li
                        %i.fa.fa-times
                        Indicadores de Vida/Daño
                    %li
                        %i.fa.fa-times
                        Movimiento inteligente - "SmartMoving"
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Para cualquier otro mod, envíe un correo a support@oc.tc para confirmación antes de usarlo.
                %li Los observadores no están sujetos a estas restricciones.
                %span.label.label-warning Nota
                %small Los jugadores en modo creativo no están sujetos a estas restricciones.
                %span.label.label-warning Nota
                %small A los jugadores en el lobby no se les permite usar modificaciones para volar.

    .page-header
        %h2 G. "Team Griefing"
    .row
        .span12
            %ol
                %li "Team griefing" está prohibido, y se define como cualquier acción imprudente que dañe a su propio equipo, o acciones que perjudiquen intencionadamente a su propio equipo.
                %li Las siguientes acciones son explícitamente Team Grief:
                %ol{:type => "a"}
                    %li La colocación y/o la activación de TNT cerca de sus compañeros o cerca de las estructuras claves de su equipo (por ejemplo: cofres, defensas o minerales) dentro de tu propia base
                    %li La destrucción de cofres o mesas de crafteo de tu propio equipo
                    %li Matar los compañeros de equipo (ya sea eliminando bloques debajo de un compañero para provocar su caída, o empujar a sus compañeros fuera del mundo)
                    %li Uso / modificación de un cañón de TNT construido por otros jugadores sin su permiso explícito.
                    %li Ayudar o colaborar con un miembro del otro equipo.
                %li Las siguientes son consideradas imprudentes e inconscientes (Podrás ser advertido al romper una de las siguientes reglas):
                %ol{:type => "a"}
                    %li Poner TNT en su propia base, especialmente creando torres de TNT en la propia base.
                    %li Poner TNT desprotegida cerca de los compañeros u objetivos.
                    %li Tomar toda o casi toda la lana en un mapa de Capturar la Lana de un cuarto de lana, a menos que solo quede una lana en ese cuarto.
                %li Cualquier acción que no se presente en esta lista que impida el progreso de su equipo hacia el triunfo de la partida, intencionada o no, se considera "Team Griefing" y puede ser tratada como tal.
                %span.label.label-warning Nota
                %small
                    A los jugadores
                    %b NUNCA
                    se les permitirá hacer "Team Grief", incluso en venganza a otro jugador que esté haciendo "Team Grief".

    .page-header
        %h2 H. Reglas Específicas de los Mapas
    .row
        .span12
            %ol
                %li Todos los jugadores se hacen responsables de mantenerse al día con las reglas de los mapas. Estas se pueden encontrar en el tablero de reglas en el "spawn" de cada mapa, o través del comando /map.
                %li Las reglas en /map tienen prioridad sobre el tablero de reglas en casos relacionados con el mismo tema.

    .page-header
        %h2 I. Consecuencias
    .row
        .span12
            %ol
                %li Los jugadores pueden recibir una advertencia o una infracción por romper cualquiera de las reglas, dependiendo la severidad de la violación.
                %li La severidad de una infracción es usualmente basada en las anteriores infracciones del jugador.
                %li En los casos especialmente serios o evidentes de alguna violación de las reglas, incluyendo pero no limitado al uso de un cliente con "hacks" en los servidores, o constantemente haciendo "Team Grief" a pesar de la intervención de un moderador, resultará en un ban permanente inmediato, sin advertencia.
                %li Jugadores con muchas advertencias por la misma regla pueden ser baneados temporalmente y sin previo aviso.
                %li Evadir un ban no está permitido y resultará en un ban permanente de todas las cuentas alternativas asociadas con el jugador que ha evadido. Las cuentas alternativas no serán desbaneadas hasta que el ban original haya expirado, y el ban original puede extenderse hasta tres veces la longitud del ban original. (Por ejemplo: 1 semana de ban se convierte en 3 semanas de ban).
                %li La evasión persistente de un ban resultará en un ban permanente de todas las cuentas.
                %li
                    Los jugadores que violen las reglas del foro se les prohibirá publicar en los foros. Si el ban se mantiene durante más de 7 días, por favor póngase en contacto con
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    para la longitud exacta de su suspensión.
                %li Los jugadores que violen cualquier regla de Mumble pueden ser expulsados o suspendidos del servidor de Mumble.
                %li Los jugadores que violen las reglas en cualquier servicio de Overcast Network, incluyendo los servidores, los foros y mumble, pueden ser baneados de cualquiera o de todos los servicios.
                %li
                    Las suspensiones que se hacen en los servidores pueden ser apeladas llenando una apelación en
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Los ban de los foros y Mumble tendran que ser apelados a través de un correo a
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Cualquier jugador que sabiendo, proporcione información falsa en su apelación puede ser baneado de forma permanente.
                %span.label.label-warning Nota
                %small Todas las infracciones están sujetas a la discreción del staff.
    .page-header
        %h2 J. Varios
    .row
        .span12
            %ol
                %li Estas normas están sujetas a cambios con previo aviso.
                %li Los jugadores se hacen responsables de mantenerse actualizados con los cambios de reglas.
                %li Hay un período de gracia de una semana para los cambios en las reglas.
                %li La administración de Overcast Network se reserva el derecho a banear o desbanear a cualquier jugador de cualquiera de los servicios de Overcast Network por cualquier motivo y sin previo aviso.
