%section
    .page-header
        %h1
            Reglas
            %small Última Actualización Enero 25, 2015
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Estas normas se aplican a
            %b todos
            los servicios de Overcast Network.

    .page-header
        %h2
            A. Compostura General
    .row
        .span12
            %ol
                %li Trata de mantener una atmósfera casual y agradable. Sé respetuoso y usa el sentido común. El exceso de insultos, la rudeza y el acoso no son tolerados.
                %li Trata de mantener una ortografía y gramática adecuadas.
                %li No hagas spam.
                %li No mandes links de lo siguiente:
                %ol{:type => "a"}
                    %li Material objetable, que incluye pero no se limita a pornografía, "sitios chocantes", virus, estafas y grupos de odio.
                    %li Otras webs o servidores de la manera que constituya publicidad.
                    %li
                        %a{:href => "https://es.wikipedia.org/wiki/Informaci%C3%B3n_personal"} Información personal acerca de otros usuarios.
                %li No fomentes o participes en romper las reglas de Overcast Network.
                %li No suplantes a ningún miembro del Staff de Overcast Network, o afirmes ser miembro del Staff.
                %li Reporta problemas o bugs de los servicios de Overcast Network o en los foros (http://oc.tc/forums) o en support@oc.tc; explotar bugs por cualquier razón que no sea para demostrárselo al miembro del Staff que lo solicite resultará en una infracción.
                %li Sigue las direcciones del Staff de Overcast Network. Si crees que un miembro del Staff te ha dirigido incorrectamente, por favor manda un email a support@oc.tc.
                %span.label.label-warning Nota
                %small Si crees que un link puede constituir publicidad, por favor, acláralo con un miembro del Staff antes de mandarlo.

    .page-header
        %h2 B. Comportamiento en la web
    .row
        .span12
            %ol
                %li
                    Do not make topics or posts aiming to insult or provoke other people or groups,
                    and do not promote or encourage others to make such posts.
                %li Do not make posts that mock or "predict" inflammatory comments, as they encourage users to make such comments.
                %li Do not reply to topics with irrelevant, meaningless, or spammy text/images.
                %li Do not "bump" topics by posting something that does not contribute constructively to the topic.
                %li All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
                %li Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.
                %li
                    Do not make topics just to announce that you are quitting the game or the server.
                    Exceptions may be made if you are quitting for a <em>very</em> interesting reason, like you are dying, or sailing around the world.
                %li
                    Announcements about dramatic events befalling other players must include a verifiable source for the information.
                    If we cannot easily verify the story, the topic may be removed.
                    Deliberate hoaxes of this nature are considered very serious infractions.
                %li
                    Do not reply to a topic that you feel is violating the rules,
                    %a{:href => "/report"}submit a report
                    instead. Intentionally lying in a report is considered an infraction.
                %li Do not abuse HTML in the forums or personal profiles in a way that makes navigation difficult, causes extreme browser lag, or exceeds the preset boundaries.
                %small.label.label-warning Nota
                %small Tu perfil o información de contacto puede ser borrada sin previo aviso.
    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li No suplantes a otros jugadores en Mumble.
                %li Tu nombre en Mumble debe ser tu nombre en el juego o alguna variación fácil de identificar.
                %li No repitas acciones que envíen mensajes a otros (como spammear el botón de mute, deafen or desconectarse y conectarse repetídamente)
    .page-header
        %h2 D. Comportamiento en el Servidor
    .row
        .span12
            %ol
                %li No mandes mensajes que inciten a otros jugadores en dejar su equipo o desconectarse del servidor.
                %li A menos que estés explicando el proceso de reportar, no debes incitar a otros que reporten un jugador en concreto.
                %li Por favor, no acuses públicamente a ningún jugador de usar hacks. Si crees que un jugador está usando hacks o rompiendo cualquiera de las normas, repórtale usando el comando /report.
                %li No debes de ningún modo usar la solicitación en el chat del juego. Cualquier cuenta que sea determinada al uso exclusivo de solicitar será permanentemente baneada sin advertencia.
                %li No debes dirigir, o solicitar a los jugadores a unirse, a cualquier servidor público que no sea parte de Overcast Network en el chat público. (Puedes usar el comando /msg para informar a jugadores que lo soliciten).
                %li Tu nombre de usuario debe ser apropiado, y podrían pedirte que uses una cuenta diferente si tu nombre de usuario se considera inapropiado. (Esto no cuenta como evadir un ban.)
                %li If you have access to the /nick command, any chosen nickname should be designed to confer anonymity, not attention. You may not use /nick to impersonate others, and you may not use an inappropriate nickname.
                %span.label.label-warning Nota
                %small Todos los mensajes del chat y comandos son almacenados.
                %br
                %span.label.label-warning Nota
                %small Puedes mandar el link de tu livestream de Overcast Network, siempre que no lo spamees.

    .page-header
        %h2 E. Jugabilidad General
    .row
        .span12
            %ol
                %li Los jugadores no deben abusar de glitches o errores. Esto incluye, pero no se limita a, poner bloques para acceder a áreas restringidas por el plugin, crer un efecto de "x-ray", y que causen invicibilidad.
                %li En una partida de Blitz o Ghost Squadron, los jugadores no deben prolongar el juego evitando el combate y/o escondiéndose en lugares inaccesibles o difíciles de llegar.
                %li Los espectadores nunca deben ofrecer información táctica a los jugadores o intencionadamente interrumpir la jugabilidad. La información táctica incluye, pero no se limita a:
                %ol{:type => "a"}
                    %li Revelar la localización de los jugadores
                    %li Revelar el jugador que lleva la lana en un mapa de Capture
                %li Por favor usa una skin apropiada - puedes obtener una infracción si tu skin no es apropiada.
                %li No campees en el spawn enemigo.
                %ol{:type => "a"}
                    %li No "campees" un spawn esperando al lado o dentro a los jugadores recién spawneados.
                    %li No ataques directamente ningún spawn (Ej: correr directamente hacia un spawn y comenzar a golpear a todos los jugadores, quedarte en los alrededores, y matar a todos los que reaparecen).
                    %li No dirijas cañones de TNT hacia un spawn o dropees repetidamente TNT en un spawn.
                    %li Do not make the spawn area impassable.
                %span.label.label-warning Nota
                %small Las reglas de "campeo de spawn" no se aplican en mapas de Deathmatch y Blitz.

    .page-header
        %h2 F. Modificaciones del Cliente
    .row
        .span12
            %ol
                %li Cualquier modificación del cliente que proporcione una ventaja injusta sobre otros usuarios de Minecraft vanilla es ilegal en el juego.
                %li Any external tools that modify gameplay to give an unfair advantage over users not using the tool are illegal while playing.
                %li Las siguientes modificaciones están explícitamente permitidas durante la partida:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch que no permite el "crouching" mientras se escribe, navegar por el inventario, o en cualquier menú
                    %li
                        %i.fa.fa-check
                        Resource packs que no se incluyen en ninguna categoría "explícitamente prohibido"
                    %li
                        %i.fa.fa-check
                        Minimapas excepto lo especificado a continuación.
                %li Las siguientes modificaciones están explícitamente prohibidas durante la partida:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Clasificadores de inventario
                    %li
                        %i.fa.fa-times
                        Mods que exponen o alargan los name-tags de los jugadores
                    %li
                        %i.fa.fa-times
                        Herramientas de selección automática
                    %li
                        %i.fa.fa-times
                        Minimapas que indican la posición de entidades, o muestran cuevas/subsuelo
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-Golpeadores
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods
                    %li
                        %i.fa.fa-times
                        Indicadores de daño/salud
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Para cualquier otra modificación, manda un email support@oc.tc para recibir confirmación antes de usarlo.
                %li Los espectadores no están sujetos a estas restricciones.
                %span.label.label-warning Nota
                %small Los jugadores en modo creativo no están sujetos a estas restricciones.
                %span.label.label-warning Nota
                %small Los jugadores en el lobby no están permitidos a usar fly mod.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li El Team Griefing está prohibido, y está definido como cualquier acción peligrosa que afecta a tu propio equipo, o acciones que intencionadamente dañan a tu propio equipo.
                %li Lo siguiente es explícitamente team griefing:
                %ol{:type => "a"}
                    %li La colocación de TNT cerca de compañeros de equipo o infrastructuras clave (Ej: Baúles, defensas o mineral) en la base de uno mismo
                    %li Destruir las mesas de crafteo o baúles de tu propio equipo
                    %li Matar jugadores de tu equipo (tanto por quitar bloques de debajo de una persona para hacer que caigan, o empujar compañeros al vacío)
                    %li Usar o modificar un cañón de TNT construido por otro jugador sin su permiso explícito
                    %li Colaborar o ayudar a un miembro del otro equipo
                %li  Lo siguiente está considerado peligroso y fuertemente desaconsejado (podrías ser advertido por romper cualquiera de las siguientes normas):
                %ol{:type => "a"}
                    %li Colocar TNT en tu propia base, especialmente construyendo torres de TNT en la base
                    %li Colocar TNT sin protección junto a objetivos o compañeros de equipo
                    %li Obtener toda o casi todas las existencias de lana en un mapa de Capture estando en la habitación de la lana, a menos de que quede sólo una lana en los baúles
                %li Cualquier acción que no esté listada aquí, y que impida el progreso de tu equipo hacia ganar la partida, intencionada o no, sigue siendo "team griefing" y podría tomarse acción en acuerdo a ello.
                %span.label.label-warning Nota
                %small
                    A los jugadores
                    %b NUNCA
                    se les permite el team grief, incluso en represalia a otro team griefer.
    .page-header
        %h2 H. Reglas Específicas del Mapa
    .row
        .span12
            %ol
                %li Todos los jugadores son responsables de estar al día de todas las reglas de todos los mapas. Las reglas del mapa se encuentran en el tablero de normas en el spawn del mapa, y/o vía comando /map.
                %li Las reglas en /map tienen prioridad sobre el tablero de reglas en casos relacionados con el mismo tema.

    .page-header
        %h2 I. Consecuencias
    .row
        .span12
            %ol
                %li Los jugadores pueden recibir una advertencia en el juego o una infracción por romper cualquiera de las reglas mencionadas anteriormente, dependiendo de la severidad de la violación.
                %li La severidad de la infracción se basa normalmente en las infracciones previas de los jugadores.
                %li En casos particularmente serios o con obviedad de violación de las normas, incluyendo pero no limitado a usar clientes de hacks en los servidores, o continuar el team griefing a pesar de la intervención de un moderador, resultarán en un ban permanente inmediato, sin aviso previo.
                %li Los jugadores con varias advertencias previas por la misma regla podrían ser baneados temporalmente sin aviso.
                %li La evasión del ban no está permitida, y resultará en ban permanente para todas las cuentas alternativas asociadas con el jugador que está evadiéndolo. Las cuentas alternativas no serán desbaneadas una vez que el ban original haya expirado, y el ban podría ser extendido hasta tres veces de la duración del ban original. (Ej: Un ban de una semana se convierte en un ban de tres semanas).
                %li Una evasión del ban persistente resultará en un ban permanente para todas las cuentas.
                %li
                    Los jugadores que violen cualquier regla de los foros podrían ser baneados del foro. Si tu ban continúa tras 7 días por favor, ponte en contacto con
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    para conocer la duración exacta del ban.
                %li Los jugadores que violen cualquier norma de mumble podrían ser kickeados o baneados del servidor de mumble
                %li Los jugadores que violen las normas en cualquiera de los servicios de Overcast Network, incluyendo los servidores del juego, foros, y mumble, podrían ser baneado de cualquiera o todos estos servicios.
                %li
                    Los bans del juego deben ser apelados, escribiendo un appeal en
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Los bans de los foros y mumble deben ser apelados vía email, escribiendo a
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Cualquier jugador que intencionadamente dé información falsa en su appeal podría ser baneado permanentemente.
                %span.label.label-warning Nota
                %small Todas las infracciones están sujetas a discreción del Staff.
    .page-header
        %h2 J. Miscelánea
    .row
        .span12
            %ol
                %li Estas reglas están sujetas a cambiar con aviso.
                %li Los jugadores son responsables de estar al tanto de los cambios en las normas.
                %li Hay un periodo de gracia de una semana para que los cambios en las normas entren en vigor.
                %li La Administración de Overcast Network se mantiene el derecho a banear o desbanear a cualquier jugador de cualquiera de los servicios de Overcast Network por cualquier razón sin aviso.
