%section
    .page-header
        %h1
            Reglas y normas
            %small Última actualización el 19 de Junio de 2013.
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Estas reglas se aplican a
            %b todos
            los servicios de Overcast Network.

    .page-header
        %h2
            A. Comportamiento Generales
    .row
        .span12
            %ol
                %li Mantén un ambiente tranquilo, relajado y educado. Se respetuoso y usa el sentido común. El abuso verbal, mala compostura, o cualquier acto desagradable o de mala educación no será tolerado.
                %li Escribid correctamente en el chat.
                %li No spameeis.
                %li No pongais link de cualquiera de las siguientes tematicas:
                %ul
                    %li Cualquier material online desagardable o no adecuado para ciertas edades, como pornografía, viruses, sitios racistas o de odio.
                    %li Cualquier publicidad de otros serivodres o sitios web.
                %li No animes a nadie a incumplir alguna de las reglas aqui descritas.
                %li No seas borde o maleducado con cualquier miembro del Staff de Overcast Network, ni digas que eres un miembro del Staff.
                Reportad problemas en los servidores de Overcast Network ya sea en (http://oc.tc/forums) o en support@oc.tc pero SIEMPRE EN INGLES; aprovecharse de cualquier bug no siendo por motivos de grabarlo y decirselo a un miembro del Staff será castigado.
                %li Obedece cualquier orden dada por algún miembro del Staff. Si crees que un miembro del Staff ha sido inconrrecto al dirigirse a ti, envia un email EN INGLES a support@oc.tc
                %span.label.label-warning Nota
                %small Si quieres poner un link y no sabes si es ilegal por su contenido contacta antes con un miembro del Staff.

    .page-header
        %h2 B. Comportamiento en los Foros
    .row
        .span12
            %ol
                %li No pongais posts difamatorios o agresivos. Esto puede ser insultar a otra persona, provocar, discursos de odio...
                %li Pones posts que tengan que ver y sean utiles con el tema; si no, serán eliminados.
                %li Si crees que un post debería ser cerrado, contacta EN INGLES en https://oc.tc/report en vez de comentar en el post.
                %li Cualquier imagen que no tenga que ver con el post inicial podrá ser eliminada. 
                %li No posteeis en los foros solo para rellenar, poned cosas constructivas.
                %li Cualquier problema personal con otro usuario o usuarios deberá ser tratado en privado, no en los foros.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li No importunes otros usuarios en Mumble.
                %li Tu nombre en Mumble debe ser tu nombre de Minecraft con el que juegas en Oc.tc.
                %li No spamees, ni te desconectes y conectes repetidamente o molestes otros usuarios.

    .page-header
        %h2 D. Comportamiento en el servidor
    .row
        .span12
            %ol
                %li No mandes mensajes que animen a desconectarse, incumplir alguna regla o hacer cualquier acto ilegal.
                %li No animes a otros usuarios a reportar a alguien concreto.
                %li No acuseis publicamente a nadie de hacker. Si crees que algun jugador esta hackeando reportalo usando el comando /report (/report <player> <message>)
                %li No uses el chat de ninguna manera para ofrecer servicios ilegales.
                %li No animeis a ningún jugador publicamente en el chat a unirse a otro servidor que no pertenezca a Overcast Network. (Usa /msg <player> <message> para informar a otro usuario concreto de cualquier cosa).
                %li Tu nombre de usuario de Minecraft debe ser apropiado.
                %span.label.label-warning Nota
                %small Cualquier cosa que hagas queda registrado, y quedará como prueba.
                %br
                %span.label.label-warning Nota
                %small Puedes poner un link si estás haciendo un livestreaming de Overcast Network.

    .page-header
        %h2 E. Comportamiento jugando
    .row
        .span12
            %ol
                %li Los jugadores no deben:
                %ul
                    %li Hacer Combat Log, lo cual es abandonar la partida para evitar morir o cualquier otra cosa perjudicial pero legal para ti. (Si esta permitido para evitar un acto ilegal por parte de otro jugador)
                    %li Utilizar glitches y bugs de Minecraft o del plugin para beneficio propio, como poner bloques donde no se puede, subir a sitios donde no esta permitido subir, cualquier forma de XRay Vanilla...
                %li En una partida de Blitz o Ghost Squadron, no se debe:
                %ul
                    %li Prolongar una partida para evitar pelear o esconderse en sitios de dificil acceso.
                %li Los Observadores (Observers) no deberán revelar publicamente informacion táctica, como por ejemplo:
                %ul
                    %li Revelar la localización de otros jugadores.
                    %li Revelar quién tiene la Lana (Wool) en Captures the Wool (CTW).
                %li Usa una skin apropiada, no ofensiva, podrás ser castigado por le uso de una skin inadecuada.
                %li No atacar en el ni al spawn enemigo (El Spawn queda definido como el área en el que los jugadores reaparecen al morir y empiezan a jugar en cada mapa)
                %ul
                    %li Las acciones que quedan prohibidas por esta son las siguientes:
                    %ul
                        %li Instigar a tu equipo a atacar y pelear en el Spawn enemigo con arco o en PvP cuerpo a cuerpo.
                        %li Crear cañones que tengan como objetivo jugadores que están en su Spawn.
                        %li Acciones que modifiquen el Spawn dejandolo indefenso.
                        %li Soltar TNT dobre el Spawn.
                        %li "Campear" el Spawn esperandoq ue salgan jugadores para matarlos.
                    %li Ejemplos de acciones que no son castigadas:
                    %ul
                        %li Ataque inintencionado con victimas en su Spawn (siempre que inmediatamente corrija el cañon para no matar)
                        %li Luchar contra jugadores que atacan a un rusher (Atacante rápido) sin que lleven armadura.
                        %li Luchar contra jugadores cerca de su Spawn ya que hay un objetivo cerca.
                %span.label.label-warning Nota
                %small Todas las Reglas que tienen que ver sobre matar en el Spawn o campear (Spawn Killing) no son aplicables a partidas TDM o Blitz.

 .page-header
        %h2 F. Modificaciones del Cliente
    .row
        .span12
            %ol
                %li Cualquier modificación del cliente que de una ventaja injusta sobre otros usuarios que usen Minecraft vanilla son ilegales mientras juegas.
                %li
                    %i Los siguientes mods estan explicitamente permitidos durante el transcurso del juego:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD / StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-shift, asumiendo que no te deje presionar presionar shift mientras escribes, miras tu inventario o cualquier menú
                    %li
                        %i.icon-ok
                        Paquetes de texturas que incumplan alguna de las categorias "explicitamente prohibidas".
                    %li
                        %i.icon-ok
                        Minimapas excepto los especificados debajo.
                %li
                    %i Los siguientes mods estan explicitamente prohibidos durante el transcurso del juego:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Organizadores de inventario.
                    %li
                        %i.icon-remove
                        Auto-sprint, incluyendo una sola tecla para esprintar en lugar de dos.
                    %li
                        %i.icon-remove
                        Mods que enseñen los name-tags a mayor tamaño.
                    %li
                        %i.icon-remove
                        Minimapas que enseñan la posición de entidades o cuevas.
                    %li
                        %i.icon-remove
                        X-Rays.
                    %li
                        %i.icon-remove
                        Auto-golpeadores.
                    %li
                        %i.icon-remove
                        Aimbots (Golpear al objetivo sin necesidad de apuntar).
                    %li
                        %i.icon-remove
                        Mods que permitan volar.
                %li
                    %i Para cualquier otro mod, pregunta a un miembro del staff para confirmación antes de usarlo.
                %li Los observadores no estan obligados a estas resticciones.
                %span.label.label-warning Nota
                %small Esta sección será actualizada periodicamente. Por favor,mantenla al día .

    .page-header
        %h2 G. Team Griefing (Perjudicar a tu equipo)
    .row
        .span12
            %ol
                %li El "team grief" esta prohibido, y está definido como cualquier acto imprudente que dañe a tu propio equipo, o acciones que intencionalmente perjudiquen al mismo
                    %i Lo consiguiente está considerado como "team grief":
                %ol{:type => "a"}
                    %li Poner/activar TnT cerca de tus compañeros o cerca de una infraestructura clave (ej: cofres, defensas) que pertenezca a tu base
                    %li Destruir cualquier cofre o mesa de crafteo que pertenezca a tu equipo
                    %li Matar a tu compañeros (bien quitandoles los bloques que tengan a sus pies para que caigan, o empujandoles fuera del mundo)
                    %li Usar/modificar un cañon de TnT construido por otro jugador sin su permiso
                    %li Trabajar conjuntamente con un miembro del otro equipo
                %li
                    %i Las consiguientes estan consideradas como imprudentes y extremadamente desalentadas (deberas ser advertido por romper las consecuentes normas):
                %ol{:type => "a"}
                    %li Poner TNT en tu propia base, especialmente hacer pilares de ello
                    %li Construir TnT desprotegida cerca de tus compañeros
                    %li Tomar en posesión toda o casi toda la lana de la sala de lanas, al no ser que sea la última que quede
                %li Cualquier acción no especificada aquí que vaya con intención a hacer que tu equipo no consiga la victoria, se considerará como "team grief"
                %span.label.label-warning Nota
                %small
                    Los jugadores
                    %b NUNCA
                    deberan hacer "team grief", aunque sea en represalia de otro "team griefer" .

    .page-header
        %h2 H. Normas especificadas en los Mapas
    .row
        .span12
            %ol
                %li Todos los jugadores han de llevar al día todas las normas de los mapas. Las normas de los mapas se pueden encontrar en el spawn de observers o por medio del comando /map
                %li Las normas de /map toman preferencia sobre las escritas en carteles en caso de duda.

    .page-header
        %h2 I. Infracciones y castigos
    .row
        .span12
            %ol
                %li Los jugadores recibiran un warn (advertencia) por romper cualquiera de las normas especificadas arriba, dependiendo de la sereridad de la infracción.
                %li Al recibir una infracción, los jugadores serán o bien kickeados, baneados temporalmente, o permanentemente, dependiendo en el numero de previas infracciones, excluyendo warns.
                %li Paticularmente serias o obvias violaciones de las normas, incluyendo usar un hack en los servers, o continuamente haciendo team grief y evadiendo a los moderadores, resultará en un ban inmediato, sin necesidad de warn.
                %li Jugadores con numerosos warns sobre la misma regla podran ser baneados sin aviso.
                %li Evadir un ban no esta permitido, y resultará en un ban para todas las cuentas alternativas del jugador relacionado. Las cuentas alternativas no serán desbaneadas despues de que el ban de la cuenta original expire, y además la duración del ban será extendida.
                %li Evadirse de ban continuamente resultará en un ban permanente para todas las cuentas.
                %li
                    Jugadores violando las normas de los foros serán baneados de postear en ellos. Si tu ban sigue al cabo de 7 días, por favor, contáctanos en
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    para la exacta duración de tu ban.
                %li Jugadores violando las normas de Mumble seran kickeados o baneados del mismo
                %li Jugadores violando las normas de cualquier servicio de Overcast Network, incluyendo los server de juego, los foros, y Mumble, serán baneados de todos los servicios.
                %li
                    Los ban seran apelados en la sigueinte página
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Los ban de mumble y los foros deberán ser apelados en
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Cualquier jugador que sabiendolo de falsa información es su appeal será baneado permanentemente.
                %li Todas las infracciones están sujetas a la valoración del moderador.
    .page-header
        %h2 J. Misceláneas
    .row
        .span12
            %ol
                %li Estas Reglas y Normas podrán ser cambiadas con aviso previo.
                %li Los jugadores son responsables de mantenerse al día con el reglamento. El desconocimiento del reglamento no te exime de su cumplimiento.
                %li Hay una semana sin castigos cuando se trata de nuevas normas.
                %li La Administración de Overcast Network se reserva el derecho total para modificar cualquier castigo o castigar sin aviso previo.
