%section
    .page-header
        %h1
            Règles
            %small Dernière mise à jour Juin 19, 2013
    .row
        .span12
            %span.label.label-warning Note
            %span
            Ces règles s'appliquent à
            %b tous les
            Services du réseau Overcast

    .page-header
        %h2
            A. Comportement Général
    .row
        .span12
            %ol
                %li Maintenez une atmosphère agréable et décontractée. Soyez respectueux et de bon sens. La grossièreté et le harcèlement excessif ne sont pas tolérés.
                %li Essayez de maintenir un niveau convenable d'orthographe et de grammaire.
                %li Ne spammez pas.
                %li Ne liez pas à n'importe lequel des conditions suivantes:
                %ul
                    %li Contenu répréhensible, ce qui inclut, mais n'est pas limité à: La pornographie, «sites de choc», les virus, les sites de phishing et les groupes haineux.
                    %li Des autres sites web ou serveurs d'une manière qui constitue une publicité
                %li Ne pas encourager ou participer dans une entorse des règles du réseau Overcast.
                %li Ne pas se faire passer pour un membre du personnel du réseau Overcast, ou prétendre être un membre du personnel.
                Signalez des problèmes ou des bugs des services du réseau Overcast soit aux forums (http://oc.tc/forums) ou à support@oc.tc; exploitation de bugs pour toute autre raison que de démontrer à la demande d'un membre du personnel entraînera une punition.
                %li Suivez toutes les instructions données par un membre du personnel du réseau Overcast. Si vous pensez qu'un membre du personnel vous a dirigé à tort, envoyez un email à support@oc.tc
                %span.label.label-warning Note
                %small Si vous êtes inquiet au sujet de quels liens peuvent constituer une publicité, clarifiez avec un membre du personnel avant de poster.

    .page-header
        %h2 B. Comportement sur le Forum
    .row
        .span12
            %ol
                %li Ne postez pas de messages inflammatoires. Cela inclut les messages visant à insulter une autre personne, provoquer une autre personne à créer des messages inflammatoires, les discours de haine, et toute chose qui ressemble à "INB4 guerre de flammes".
                %li Les postes crée doivent être pertinentes au  sujet ;  les messages non pertinents seront supprimés.
                %li Si vous pensez qu'un fil doit être verrouillé, soumettre un rapport par https://oc.tc/report au lieu de le commenter dans le fil.
                %li Toute image ou poste qui n’est pas pertinent au sujet est soumis à l'enlèvement. Images sans rapport, qui spamment seront enlevés.
                %li Ne pas "remonter" les discussions en postant quelque chose qui ne contribue pas de manière constructive au fil.
                %li Tous les problèmes personnels doivent être traitées en privé. Les forums publics ne sont pas l'endroit pour des conflits personnels.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Ne pas se faire passer pour d’autres joueurs sur mumble.
                %li Votre pseudo mumble doit être votre nom dans le jeu, ou un variant facilement identifiable.
                %li Ne pas spammer des actions qui envoient des messages a d’autre utilisateurs (comme le spamming de la fonction muet, assourdissement ou déconnecter et reconnecter a plusieurs reprises).

    .page-header
        %h2 D. En Jeu
    .row
        .span12
            %ol
                %li Ne pas envoyer de messages qui encouragent les autres joueurs à laisser une équipe ou déconnecter du serveur.
                %li Sauf si vous êtes en train d'expliquer le processus de rapport, vous ne pouvez pas encourager les autres joueurs à créer un rapport à propos d’un autre joueur.
                %li S'il vous plaît ne pas accuser publiquement les joueurs de piratage. Si vous croyez qu'un joueur pirate ou enfreint les règles,  signalez les en utilisant la commande / report (/ rapport <joueur> <message>)
                %li Vous ne pouvez pas utiliser toute forme de chat pour solliciter. Tout compte qui est déterminé à être à l'usage exclusif de la sollicitation sera banni de façon permanente sans avertissement.
                %li Vous ne pouvez pas lier ou demander aux joueurs de rejoindre, un serveur public ou privé qui ne fait pas partie du réseau Overcast dans le chat public. (Vous pouvez utiliser / msg <joueur> <message> pour informer les joueurs qui en font la demande).
                %li Votre nom d'utilisateur doit être convenable ; pourriez être invité à utiliser un compte différent si votre nom d'utilisateur est jugée inconvenable.
                %span.label.label-warning Note
                %small Tous les messages de chat et les commandes sont enregistrés.
                %br
                %span.label.label-warning Note
                %small Vous pouvez lier à votre livestream apparenté au réseau Overcast, tant que vous ne le spammez pas.

    .page-header
        %h2 E. Gameplay General
    .row
        .span12
            %ol
                %li Les joueurs ne peuvent pas:
                %ul
                    %li Déconnecter de combat, qui est défini comme laissant votre équipe ou le serveur juste avant de mourir à un membre de l'équipe adverse (Vous pouvez déconnecter pour éviter d’être tue par un membre de votre équipe).
                    %li Abuser des bugs de Minecraft pour obtenir un avantage pour eux-mêmes ou leur équipe, ou d'une manière qui peut causer du retard pour d’autres joueurs. Cela inclut, mais n'est pas limité à, placer des blocs dans des zones restreintes par le plug-in puis marcher dessus, créant un effet "x-ray", et causant vous d'être invincible.
                %li Dans un match Blitz ou Squadron, les joueurs ne peuvent pas :
                %ul
                    %li Prolonger un match en évitant le combat et / ou se cacher dans des endroits qui sont inaccessibles ou difficiles d'accès.
                %li Les observateurs ne peuvent jamais donner des informations tactiques à des joueurs ou perturber intentionnellement le gameplay. Informations tactiques inclut, mais n'est pas limité à:
                %ul
                    %li Révéler les emplacements des joueurs
                    %li Révéler la propriété de la laine dans une partie de capture la laine
                %li Veuillez utiliser un skin convenable - vous pourrez être puni pour un skin inconvenable.
                %li Ne pas attaquer directement un spawn qui n'est pas à côté de l'objectif (spawn est définie comme la zone dans laquelle les joueurs entrent dans l'aire de jeu de la carte)
                %ul
                    %li Les actions qui sont interdites par cette règle incluent, mais ne sont pas limités à une des situations suivantes:
                    %ul
                        %li L'incitation directe du combat ou du combat a l’arc à l'intérieur ou juste à côté du spawn de l’équipe adverse.
                        %li Visant des canons TNT a ou à côté d'un spawn de l'équipe d'une manière qui tue les joueurs (Vous devez modifier votre canon si c'est ça cible un spawn).
                        %li Les actions qui font de la région spawn impassible.
                        %li Déposer du TNT d’en haut du spawn.
                        %li "Camping" un spawn par être en attente à côté ou dans un spawn pour tuer des joueurs nouvellement apparus.
                    %li Exemples d'actions qui ne sont pas punissables en vertu de cette règle incluent, mais ne sont pas limités à ce qui suit:
                    %ul
                        %li Coups de canon accidentel (à condition qu'il soit corrigé par le tireur une fois qu'ils sont mis au courant)
                        %li Lutter contre les joueurs qui " précipitent" un attaquant avant que le joueur soit équipé (Règle de base - dans une seconde de l'objectif)
                        %li Lutter contre les joueurs dans / à partir d'un spawn qui est proche de l'objectif.
                %span.label.label-warning Note
                %small Règles d’attaque d’un spawn  ne s'appliquent pas dans des matchs TDM et des cartes de Blitz, vous êtes censé défendre.

    .page-header
        %h2 F. Modifications par le Joueur
    .row
        .span12
            %ol
                %li Toute modification de clients qui donnent un avantage injuste sur les utilisateurs vanille Minecraft sont illégales tout en jouant.
                %li
                    %i Les mods suivants sont explicitement autorisées pendant le jeu:
                %ul.unstyled
                    - @mods[:legal].each do |mod|
                        %li
                            %i.icon-ok
                            = mod
                %li
                    %i Les mods suivants sont explicitement interdits pendant le jeu:
                %ul.unstyled
                    - @mods[:illegal].each do |mod|
                        %li
                            %i.icon-remove
                            = mod
                %li
                    %i Pour tous les autres mods, demandez à un membre du personnel pour la confirmation avant de l'utiliser.
                %li Les observateurs ne sont pas liés à ces restrictions.
                %span.label.label-warning Note
                %small Cette section sera mise à jour périodiquement, veuillez rester à jour.

    .page-header
        %h2 G. Grief d'équipe
    .row
        .span12
            %ol
                %li Grief d'équipe est interdit, et se définit comme toute action irresponsable qui nuit à votre propre équipe ou actions qui nuisent intentionnellement a son propre équipe.
                %li
                    %i Les éléments suivants sont explicitement du grief d'équipe:
                %ol{:type => "a"}
                    %li Mise en place et / ou la détonation de TNT près des coéquipiers ou de l'infrastructure clé de l'équipe (exemple.  Coffres, défenses ou de minerais).
                    %li Détruire les coffres ou les établis de sa propre équipe
                    %li Assassination d'un coéquipier (soit en supprimant des blocs de dessous une personne pour les faire tomber, ou de pousser ses coéquipiers hors du monde)
                    %li Utiliser / modifier un canon TNT construit par un autre joueur sans l'autorisation expresse
                    %li Aider ou être en collaboration avec un membre de l'autre équipe
                %li
                    %i Ce qui suit est considéré comme irresponsables et fortement déconseillée (vous pouvez être averti pour avoir enfreint les règles suivantes):
                %ol{:type => "a"}
                    %li Placer du TNT dans sa propre base, en particulier la construction de tours de TNT
                    %li Bâtir du TNT non-protégé  près de coéquipiers ou les objectifs
                    %li Prendre tous ou presque tous de la laine dans un match de capture la laine à moins qu'il n'existe qu'une seule laine laissé dans cette pièce de laine
                %li Toutes les actions qui ne sont pas énumérés ici qui entravent les progrès de votre équipe pour gagner le match, délibérée ou non, sont comptées comme  « grief d'équipe » et peuvent être traités comme tels.
                %span.label.label-warning Note
                %small
                    Les joueurs sont
                    %b JAMAIS
                    permis de commettre du grief d’équipe, même en représailles contre un autre griefer d’équipe.

    .page-header
        %h2 H. Règles spécifiques au Cartes
    .row
        .span12
            %ol
                %li Tous les joueurs sont chargés de se mettre à jour avec toutes les règles de la carte. Règles de la carte se trouvent sur le panneau des règles de la carte, au spawn de la carte,  et via la commande /carte.
                %li Les règles dans /map prennent priorité sur les règles affichez sur le panneau dans les cas concernant le même sujet.

    .page-header
        %h2 I. Infractions
    .row
        .span12
            %ol
                %li Les joueurs peuvent recevoir un avertissement dans le jeu ou une infraction pour avoir enfreint l'une des règles ci-dessus, en fonction de la gravité de la violation.
                %li Sur réception d'une infraction, les joueurs seront soit expulsés, bannis temporairement ou définitivement bannis, selon le nombre d’infractions reçu, à l'exception d’avertissements.
                %li Dans les cas particulièrement graves ou flagrant de violation des règles, y compris mais non limité à l'utilisation d'un client de piratage sur les serveurs, ou systématiquement  commettre du grief d'équipe, malgré l'intervention d’un membre du personnel, se traduira par une interdiction permanente immédiate, sans avertissement.
                %li Les joueurs ayant beaucoup d'avertissements pour la même règle rompue pourront être bannis temporairement sans préavis.
                %li L'évasion de bans  n'est pas autorisée, et se traduira par un bannissement permanent pour tous les comptes suppléants associés avec le joueur de défense. Les comptes suppléants seront pas débannis une fois l'interdiction initiale a expiré, et l'interdiction initiale peut être prolongée jusqu'à trois fois la durée de l'interdiction initiale. (par exemple, une semaine interdiction devient jusqu'à trois semaines d’interdiction).
                %li Évasion d’interdiction persistantes entraînera une interdiction permanente pour tous les comptes.
                %li
                    Les joueurs violant toutes les règles du forum peuvent être interdits de publication sur les forums. Si votre interdiction reste pendant plus de 7 jours s'il veuillez contacter
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    for the exact length of your ban.
                %li Les joueurs qui rompent les règles mumble peuvent être expulsés ou interdits de connecter à partir du serveur mumble
                %li Les joueurs qui rompent les règles relatives à tout service de réseau Overcast, y compris les serveurs de jeu, les forums et mumble, peuvent être interdits de tout ou partie des services.
                %li
                    Un ban du jeu peut être conteste à
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Les bans du Forum et mumble peuvent être conteste à
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Tout joueur qui donne consciemment de fausses infos dans sa contestation d’un ban peut être définitivement banni.
                %li Toutes les infractions sont soumis à la discrétion du modérateur.
    .page-header
        %h2 J. Divers
    .row
        .span12
            %ol
                %li Ces règles sont susceptibles d'être modifiées avec préavis.
                %li Les joueurs sont responsables de suivre les changements de règles.
                %li Il ya une période de grâce d'une semaine pour les changements de règles.
                %li L'administration du réseau Overcast  réserve le droit d'interdire ou de débannir n'importe quel joueur de tous les services du réseau Overcast pour une raison quelconque sans préavis.
