%section
    .page-header
        %h1
            Règles
            %small Dernière mise à jour le 25 janvier 2015
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            Ces règles s’appliquent à
            %b tous
            les services de Overcast Network.

    .page-header
        %h2
            A. Comportement Général
    .row
        .span12
            %ol
                %li Maintenez une atmosphère plaisante et décontractée. Soyez respectueux et faites usage de bon sens. Jurer de façon excessive, être rude, ou harceler les autres n’est pas toléré.
                %li Essayez d’utiliser une orthographe et une grammaire correcte.
                %li Ne spammez pas.
                %li Ne publiez aucun des liens suivants:
                %ol{:type => "a"}
                    %li Liens à caractère répréhensible, ce qui inclut (sans s’y limiter) la pornographie, les sites choquants, infectés (virus), sites de pishing/hameçonnage ou liens vers des groupes incitant à la haine.
                    %li Liens vers tout autre site internet ou serveur, d’une manière assimilée à de la publicité.
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Liens vers des informations concernant l'identité réelle des utilisateurs.
                %li En aucun cas vous ne devriez encourager ou prendre part à des activités qui soient en rupture avec les règles de Overcast Network énoncées ici.
                %li N'usurpez pas l'identité d'un membre du staff, et ne prétendez pas en faire partie.
                %li Faites nous part des bugs et des problèmes en relation avec nos services sur le forum (http://oc.tc/forums) ou par mail (support@oc.tc); l'exploitation d'un bug ayant pour autre but que la démonstration de son existence par la demande d'un membre du staff est punie.
                %li Suivez toutes les instructions données par un membre du staff. Si vous pensez qu'un membre du staff vous a mal dirigé, contactez-nous par mail (support@oc.tc).
                %span.label.label-warning Note
                %small Si vous n’êtes pas sûr de la nature publicitaire d’un lien, veuillez poser la question au staff avant de le publier.

    .page-header
        %h2 B. Comportement sur le site
    .row
        .span12
            %ol
                %li
                    Do not make topics or posts aiming to insult or provoke other people or groups,
                    and do not promote or encourage others to make such posts.
                %li Do not make posts that mock or "predict" inflammatory comments, as they encourage users to make such comments.
                %li Do not reply to topics with irrelevant, meaningless, or spammy text/images.
                %li Do not "bump" topics by posting something that does not contribute constructively to the topic.
                %li All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
                %li Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.
                %li
                    Do not make topics just to announce that you are quitting the game or the server.
                    Exceptions may be made if you are quitting for a <em>very</em> interesting reason, like you are dying, or sailing around the world.
                %li
                    Announcements about dramatic events befalling yourself or others must include a verifiable source for the information.
                    If we cannot easily verify the story, the topic may be removed.
                    Deliberate hoaxes of this nature are considered very serious infractions.
                %li
                    Do not reply to a topic that you feel is violating the rules,
                    %a{:href => "/report"}submit a report
                    instead. Intentionally lying in a report is considered an infraction.
                %li Do not abuse HTML in the forums or personal profiles in a way that makes navigation difficult, causes extreme browser lag, or exceeds the preset boundaries.
                %small.label.label-warning Note
                %small Les informations contenues sur votre profil ou celles pour vous contacter pourront être retirées sans aucun avertissement.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Il est interdit d’usurper l’identité d’autres joueurs sur Mumble. (service de chat vocal)
                %li Votre nom sur Mumble doit être le même que dans le jeu, ou une variation de celui-ci qui soit facilement reconnaissable.
                %li Ne pas spammez les actions qui envoient des notifications aux autres (par exemple le bouton “muet”, “sourd”, ou en vous connectant et déconnectant de façon répétée).

    .page-header
        %h2 D. Comportement sur le serveur
    .row
        .span12
            %ol
                %li N’envoyez pas de messages qui encouragent les autres à quitter une équipe ou à se déconnecter du serveur.
                %li À moins que vous soyez en train d’expliquer le processus de /report, vous ne devez pas encourager les gens à reporter un joueur en particulier.
                %li N’accusez personne de triche (hack) de façon publique. Si vous pensez qu’un joueur triche ou ne respecte pas les règles, reportez-les en utilisant la commande /report.
                %li Vous ne devez pas utiliser le fil de discussion pour solliciter de l’argent, de quelque façon que ce soit. Tout compte qui est utilisé uniquement pour solliciter de l’argent sera suspendu sans avertissement.
                %li Vous ne devez pas utiliser le fil de discussion pour publier des liens vers un autre serveur, public ou privé, qui ne fasse pas partie d’Overcast Network. Vous ne devez pas non plus demander à des joueurs de rejoindre ces serveurs. (Vous pouvez néanmoins leur donner l’adresse via /msg mais seulement s’ils vous l’ont demandé.)
                %li Votre nom d’utilisateur doit être approprié, et si tel n’est pas le cas, il vous sera demandé d’utiliser un autre compte. (Ce ne sera pas considéré comme un contournement du bannissement.)
                %li If you have access to the /nick command, any chosen nickname should be designed to confer anonymity, not attention. You may not use /nick to impersonate others, and you may not use an inappropriate nickname.
                %span.label.label-warning Note
                %small Tous les messages et les commandes du fil de discussion sont enregistrés.
                %br
                %span.label.label-warning Note
                %small Publier des liens vers des vidéos en direct/live en rapport avec Overcast Network est autorisé, du moment que vous ne spammez pas.

    .page-header
        %h2 E. Gameplay Général
    .row
        .span12
            %ol
                %li Les joueurs ne doivent pas abuser des glitchs de Minecraft de façon à gagner un avantage pour eux-mêmes ou pour leur équipe ou d’une manière qui créée du lag pour les autres joueurs. Ceci inclut, sans s’y limiter, à placer et marcher sur des blocs dans des zones où le plugin ne le permet pas, à créer un effet de x-ray, ou à se rendre invincible.
                %li Dans un match de Blitz ou de Ghost Squadron, les joueurs de doivent pas prolonger un match en évitant le combat ou en se cachant dans des endroits inaccessibles ou difficiles à atteindre.
                %li Les observateurs ne doivent pas donner d’informations tactiques aux joueurs ou perturber le jeu de façon intentionnelle. Est considéré comme information tactique, mais sans s’y limiter :
                %ol{:type => "a"}
                    %li Révéler la position d’un joueur.
                    %li Révéler le possesseur du bloc de laine (wool) dans un match “Capture the Wool”.
                %li Veuillez utiliser une skin (peau de votre avatar) appropriée - si tel n’est pas le cas, vous pouvez être puni.
                %li "Camper" la zone de spawn est interdit.
                %ol{:type => "a"}
                    %li Ne "campez" pas un spawn en étant dans ce dernier ou très proche et en attendant que les joueurs apparaissent.
                    %li N'attaquez pas directement un spawn (ex: courir vers un spawn et commencer à tuer tout le monde dans ce dernier, rester proche de ce spawn, et tuer tout ceux les joueurs qui apparaissent).
                    %li Ne pointez pas un cannon à TNT directement dans un spawn, n'essayez pas non plus d'allumer de la TNT au dessus d'un spawn.
                    %li Do not make the spawn area impassable.
                %span.label.label-warning Note
                %small Les règles de "spawn camp" ne s'appliquent pas aux modes de jeu Team Deathmatch et Blitz.
    .page-header
        %h2 F. Modifications du jeu
    .row
        .span12
            %ol
                %li Toutes les modifications des fichiers du jeu qui donne un avantage injuste comparé aux utilisateurs de la version originale de Minecraft sont illégales pendant le match.
                %li Any external tools that modify gameplay to give an unfair advantage over users not using the tool are illegal while playing.
                %li Les mods suivants sont permis pendant les matchs : (les noms sont en anglais)
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch that does not allow crouching while typing, looking through inventory, or in any menus
                    %li
                        %i.fa.fa-check
                        Les packs de Textures qui ne sont pas compris dans la section “interdits”.
                    %li
                        %i.fa.fa-check
                        Les minimaps, ou mini-cartes, sauf si spécifié dans “interdits”.
                %li Les mods suivants sont absolument interdits pendant les matchs :
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory Sorters - Organisateur d’inventaire
                    %li
                        %i.fa.fa-times
                        Les mods qui surexposent ou agrandissent les noms des joueurs.
                    %li
                        %i.fa.fa-times
                        Les mods qui choisissent automatiquement l’outil nécessaire au moment de casser un bloc.
                    %li
                        %i.fa.fa-times
                        Les minimaps ou mini-cartes qui montrent la position des entités ainsi que la position des souterrains et des cavernes.
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters - Mods qui frappent automatiquement les joueurs.
                    %li
                        %i.fa.fa-times
                        Aimbots - Mods qui visent automatiquement les joueurs.
                    %li
                        %i.fa.fa-times
                        Fly mods - Mods qui permettent de voler dans les airs.
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Pour tout autre mod, merci de demander à un membre du staff s’il est autorisé avant de l’utiliser.
                %li Les Observateurs ne sont pas soumis à ces restrictions.
                %span.label.label-warning Note
                %small Les joueurs en créatifs ne sont pas soummis à ces restrictions.
                %br
                %span.label.label-warning Note
                %small Les joueurs dans le lobby n'ont pas l'autorisation d'utiliser des fly mods.

    .page-header
        %h2 G. Pénaliser son Équipe
    .row
        .span12
            %ol
                %li Il est interdit de pénaliser son équipe (teamgrief en anglais). Ceci est définit comme toute action, souvent téméraire et/ou dangereuse, qui pénalise votre propre équipe de façon intentionnelle.
                %li Ce qui suit est considéré comme pénalisant l’équipe:
                %ol{:type => "a"}
                    %li Placer ou allumer de la TNT près de joueurs alliés ou près d’infrastructures alliées (ex: coffres, défenses ou minerais), ou à l’intérieur de la base de son équipe.
                    %li Détruire les coffres ou les établis de son équipe.
                    %li Tuer des équipiers (soit en enlevant des blocs sous eux, déclenchant leur chute, en les poussant en dehors du monde, ou en versant de la lave au-dessus d’eux).
                    %li Utiliser et/ou modifier un canon de TNT construit par un autre joueur sans sa permission explicite.
                    %li Aider ou travailler en coopération avec un membre de l’équipe adverse.
                %li Ce qui suit est considéré comme irresponsable et est fortement déconseillé (Vous pouvez recevoir un avertissement pour aller à l'encontre de ces règles.) :
                %ol{:type => "a"}
                    %li Placer de la TNT dans son propre camp, plus particulièrement y construire des structures en TNT.
                    %li Placer de la TNT à proximité de vos coéquipiers ou des structures à défendre.
                    %li Prendre toutes ou presque toutes les laines disponibles dans un match "Capture the Wool" composé de salles-à-laine (Wool room) sauf s'il ne reste qu'un dernier et unique bloc de laine (wool).
                %li Toute action non listée ici mais qui entrave tout de même la progression de votre équipe vers la victoire, qu’elle ait lieu de façon délibérée ou non, sera considérée comme pénalisante pour l’équipe et sera traitée de la sorte.
                %span.label.label-warning Note
                %small
                    Les joueurs ne sont
                    %b JAMAIS
                    autorisés à pénaliser leur équipe, même si c’est pour se venger.

    .page-header
        %h2 H. Règles spécifiques à des maps
    .row
        .span12
            %ol
                %li Tous les joueurs sont supposés être au fait des règles spécifiques à chaque map (terrain de jeu). Les règles des maps peuvent être trouvées sur les panneaux au début du match, et aussi via la commande /map.
                %li Les règles trouvées dans /map ont la priorité par rapport aux règles habituellement suivies dans ces cas précis.

    .page-header
        %h2 I. Consequences
    .row
        .span12
            %ol
                %li Les joueurs peuvent recevoir des avertissements pendant le match ou des punitions s’ils ne respectent pas les règles décrites ici, en fonction de la gravité de leurs actes.
                %li Le degré d'infraction auquel le joueur est soummis est régulierement basé sur ses infractions précédentes.
                %li Dans les cas particulièrement évidents ou graves de violation des règles, que ce soit en utilisant une version modifiée du jeu, ou en pénalisant son équipe de façon répétée malgré l’intervention d’un modérateur, ou pour tout autre raison suffisamment grave, le joueur se verra banni de façon permanente, sans avertissement au préalable.
                %li Les joueurs collectionnant plusieurs avertissements pour les mêmes raisons peuvent être bannis temporairement sans avertissement.
                %li Essayer d’échapper à un bannissement n’est pas permis, et aura pour conséquence le bannissement des autres comptes associés avec le joueur banni. Les comptes secondaires ne seront pas ré-autorisés même après que le ban ait expiré, et le ban originel peut voir sa durée étendue jusqu’à trois fois la durée originelle. (ex : un ban d’une semaine pourrait devenir un ban de 3 semaines)
                %li Essayer d’échapper à une punition de façon répétée aura pour conséquence un bannissement permanent de tous les comptes du joueur.
                %li Les joueurs qui ne respectent pas les règles du forum peuvent être interdit de publication sur celui-ci.
                %li Les joueurs qui ne respectent pas les règles de Mumble peuvent être kickés (sortis de force) ou bannis du serveur mumble.
                %li Les joueurs qui ne respectent pas les règles d’au moins un des services d’Overcast Network, comprenant les serveurs de jeu, le forum, et mumble, peuvent être banni dudit service ou de tous les services à la fois.
                %li All infractions may be appealed by filing an appeal.
                %li
                    %b Tout joueur qui donne volontairement de fausses informations pendant la procédure d’appel peut être banni de façon permanente.
                %span.label.label-warning Note
                %small Toutes les infractions sont sujettes à la discretion du personnel de modération.
    .page-header
        %h2 J. Divers
    .row
        .span12
            %ol
                %li Ces règles sont sujettes à changement - vous en serez prévenus sur les forums.
                %li Les joueurs ont pour devoir de connaître les règles et leurs mises à jours.
                %li Une période de grâce d’une semaine a lieu après chaque changement de règle.
                %li L'administration d’Overcast Network se réserve le droit de bannir ou de dé-bannir tout joueur des services d’Overcast Network pour quelque raison que ce soit, et sans avertissement.
