%section
    .page-header
        %h1
            Règles
            %small Dernière mise à jour le 23 aout 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            Ces règles s’appliquent à
            %b tous
            les services de Overcast Network.

    .page-header
        %h2
            A. Comportement Général
    .row
        .span12
            %ol
                %li Maintenez une atmosphère plaisante et décontractée. Soyez respectueux et faites usage de bon sens. Jurer de façon excessive, être rude, ou harceler les autres n’est pas toléré.
                %li Essayez d’utiliser une orthographe et une grammaire correcte.
                %li Ne spammez pas.
                %li Ne publiez aucun des liens suivants:
                %ol{:type => "a"}
                    %li Liens à caractère répréhensible, ce qui inclut (sans s’y limiter) la pornographie, les sites choquants, infectés (virus), sites de pishing/hameçonnage ou liens vers des groupes incitant à la haine.
                    %li Liens vers tout autre site internet ou serveur, d’une manière assimilée à de la publicité.
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Collecte de données personnelles.
                %li En aucun cas vous ne devriez encourager ou prendre part à des activités qui soient en rupture avec les règles de Overcast Network énoncées ici.
                %li Ne prétendez pas être un membre du staff d’Overcast Network, et n’usurpez l’identité d’aucun d’eux.
                %li Faites nous part de tout problèmes ou bugs que vous pourriez rencontrer sur les services d’Overcast Network, soit via les forums (
                        %a{:href => "/forums"} https://oc.tc/forums
                    ), ou bien via email à 
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                 ; exploiter un bug pour toute autre raison que la démonstration de son existence sera puni. Veillez à être en présence d’un membre du staff si vous souhaitez montrer un bug.
                %li Veuillez suivre toutes les directives données par un membre du staff d’Overcast Network. Si vous pensez qu’un membre du staff vous a donné de fausses informations ou vous a trompé, veuillez nous en faire part par email à 
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %span.label.label-warning Note
                %small Si vous n’êtes pas sûr de la nature publicitaire d’un lien, veuillez poser la question au staff avant de le publier.

    .page-header
        %h2 B. Comportement sur le Site
    .row
        .span12
            %ol
                %li Ne faites pas de publications incitant à la haine. Ceci inclut les publications qui insultent une autre personne ou qui incitent les autres à publier du contenu répréhensible. Sont aussi interdits les discours de haine, ou quoi que ce soit similaire à "inb4 flame war." (Note du traducteur : façon typique en anglais d’établir qu’une discussion à problèmes est en train de commencer : “ici avant la guerre”.).
                %li Toute publication doit être pertinente et appropriée au sujet de la page. Les publications inappropriées seront supprimées.
                %li Si vous pensez qu’une page du forum doit être fermée, veuillez nous en faire part via 
                        %a{:href => "/report"} https://oc.tc/report
                     au lieu de rajouter un commentaire sur la page.
                %li Toute image ou publication sans rapport avec le sujet discuté est sujette à être supprimée. Les spams d’images inappropriées seront supprimés.
                %li Ne pas "booster" un sujet en publiant quelque chose qui ne contribue de façon constructive à ce sujet. (NDT : “booster” : publier quelque chose d’inutile de façon à ce que le sujet soit vu par plus de monde).
                %li Tous les problèmes personnels doivent être résolus de façon privée. Les forums ne sont pas le meilleur endroit pour les conflits personnels.
                %li N'abusez pas du HTML utilisable dans vos profils ou vos posts sur les forums de façon à rendre leur navigation difficile, causer des ralentissements des navigateurs, ou sortir des limites prédéfinies.
                %li Mentir en connaissance de cause dans un signalement pourra ensuivre une sanction.
                %small.label.label-warning Note
                %small Vos informations de profil ou de contact pourront être supprimées sans avertissement.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Il est interdit d’usurper l’identité d’autres joueurs sur Mumble. (service de chat vocal)
                %li Votre nom sur Mumble doit être le même que dans le jeu, ou une variation de celui-ci qui soit facilement reconnaissable.
                %li Ne pas spammez les actions qui envoient des notifications aux autres (par exemple le bouton “muet”, “sourd”, ou en vous connectant et déconnectant de façon répétée).

    .page-header
        %h2 D. Comportement sur les serveurs
    .row
        .span12
            %ol
                %li N’envoyez pas de messages qui encouragent les autres à quitter une équipe ou à se déconnecter du serveur.
                %li À moins que vous soyez en train d’expliquer le processus de /report, vous ne devez pas encourager les gens à reporter un joueur en particulier.
                %li N’accusez personne de triche (hack) de façon publique. Si vous pensez qu’un joueur triche ou ne respecte pas les règles, reportez-les en utilisant la commande /report.
                %li Vous ne devez pas utiliser le fil de discussion pour solliciter de l’argent, de quelque façon que ce soit. Tout compte qui est utilisé uniquement pour solliciter de l’argent sera suspendu sans avertissement.
                %li Vous ne devez pas utiliser le fil de discussion pour publier des liens vers un autre serveur, public ou privé, qui ne fasse pas partie d’Overcast Network. Vous ne devez pas non plus demander à des joueurs de rejoindre ces serveurs. (Vous pouvez néanmoins leur donner l’adresse via /msg mais seulement s’ils vous l’ont demandé.)
                %li Votre nom d’utilisateur doit être approprié, et si tel n’est pas le cas, il vous sera demandé d’utiliser un autre compte. (Contourner un ban de ce motif est toléré.)
                %span.label.label-warning Note
                %small Tous les messages et les commandes du fil de discussion sont enregistrés.
                %br
                %span.label.label-warning Note
                %small Publier des liens vers des vidéos en direct/live en rapport avec Overcast Network est autorisé, du moment que vous ne spammez pas.

    .page-header
        %h2 E. Gameplay Général
    .row
        .span12
            %ol
                %li Les joueurs ne doivent pas abuser des glitchs de Minecraft de façon à gagner un avantage pour eux-mêmes ou pour leur équipe ou d’une manière qui créée du lag pour les autres joueurs. Ceci inclut, sans s’y limiter, à placer et marcher sur des blocs dans des zones où le plugin ne le permet pas, à créer un effet de x-ray, ou à se rendre invincible.
                %li Dans un match de Blitz ou de Ghost Squadron, les joueurs de doivent pas prolonger un match en évitant le combat ou en se cachant dans des endroits inaccessibles ou difficiles à atteindre.
                %li Les observateurs ne doivent pas donner d’informations tactiques aux joueurs ou perturber le jeu de façon intentionnelle. Est considéré comme information tactique, mais sans s’y limiter :
                %ol{:type => "a"}
                    %li Révéler la position d’un joueur.
                    %li Révéler le possesseur du bloc de laine (wool) dans un match “Capture the Wool”.
                %li Veuillez utiliser une skin (peau de votre avatar) appropriée - si tel n’est pas le cas, vous pouvez être puni.
                %li "Camper" la zone d’apparition des joueurs (spawn) est interdit.
                %ol{:type => "a"}
                    %li Ne "campez" pas en attendant à l’intérieur ou à proximité d'une zone de spawn pour tuer des joueurs récemments apparus.
                    %li N'attaquez pas directement un spawn (ex : Se diriger vers un spawn et y frapper les joueurs récemment apparus, y rester, et tuer les joueurs récemment apparus.).
                    %li N'installez pas de cannons à TNT visant un spawn ou n'y larguez pas de TNT à repetition.
                %span.label.label-warning Note
                %small Les régles de "spawn camp" ne s'appliquent pas aux modes de jeu Team Deathmatch et Blitz.
    .page-header
        %h2 F. Modifications du jeu
    .row
        .span12
            %ol
                %li Toutes les modifications des fichiers du jeu qui donne un avantage injuste comparé aux utilisateurs de la version originale de Minecraft sont illégales pendant le match.
                %li Les mods suivants sont permis pendant les matchs : (les noms sont en anglais)
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch that does not allow crouching while typing, looking through inventory, or in any menus
                    %li
                        %i.icon-ok
                        Les packs de Textures qui ne sont pas compris dans la section “interdits”.
                    %li
                        %i.icon-ok
                        Les minimaps, ou mini-cartes, sauf si spécifié dans “interdits”.
                %li Les mods suivants sont absolument interdits pendant les matchs :
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Inventory Sorters - Organisateur d’inventaire
                    %li
                        %i.icon-remove
                        Les mods qui surexposent ou agrandissent les noms des joueurs.
                    %li
                        %i.icon-remove
                        Les mods qui choisissent automatiquement l’outil nécessaire au moment de casser un bloc.
                    %li
                        %i.icon-remove
                        Les minimaps ou mini-cartes qui montrent la position des entités ainsi que la position des souterrains et des cavernes.
                    %li
                        %i.icon-remove
                        X-rays
                    %li
                        %i.icon-remove
                        Auto-hitters - Mods qui frappent automatiquement les joueurs.
                    %li
                        %i.icon-remove
                        Aimbots - Mods qui visent automatiquement les joueurs.
                    %li
                        %i.icon-remove
                        Fly mods - Mods qui permettent de voler dans les airs.
                    %li
                        %i.icon-remove
                        Damage/Health Indicator
                    %li
                        %i.icon-remove
                        SmartMoving
                    %li
                        %i.icon-remove
                        Better Sprinting
                %li Pour tout autre mod, merci de demander à un membre du staff s’il est autorisé avant de l’utiliser.
                %li Les Observateurs ne sont pas soumis à ces restrictions.
                %span.label.label-warning Note
                %small Les joueurs en mode créatif ne sont pas soumis à ces restrictions.
                %span.label.label-warning Note
                %small Les joueurs dans les lobby ne sont pas autorisés à utiliser des Fly mods.

    .page-header
        %h2 G. Pénaliser son Équipe
    .row
        .span12
            %ol
                %li Il est interdit de pénaliser son équipe (teamgrief en anglais). Ceci est définit comme toute action, souvent téméraire et/ou dangereuse, qui pénalise votre propre équipe de façon intentionnelle.
                %li Ce qui suit est considéré comme pénalisant l’équipe:
                %ol{:type => "a"}
                    %li Placer ou allumer de la TNT près de joueurs alliés ou près d’infrastructures alliées (ex: coffres, défenses ou minerais), ou à l’intérieur de la base de son équipe.
                    %li Détruire les coffres ou les établis de son équipe.
                    %li Tuer des équipiers (soit en enlevant des blocs sous eux, déclenchant leur chute, en les poussant en dehors du monde, ou en versant de la lave au-dessus d’eux).
                    %li Utiliser et/ou modifier un canon de TNT construit par un autre joueur sans sa permission explicite.
                    %li Aider ou travailler en coopération avec un membre de l’équipe adverse.
                %li Ce qui suit est considéré comme irresponsable et est fortement déconseillé (Vous pouvez recevoir un avertissement pour aller à l'encontre de ces règles.) :
                %ol{:type => "a"}
                    %li Placer de la TNT dans son propre camp, plus particulièrement y construire des structures en TNT.
                    %li Placer de la TNT à proximité de vos coéquipiers ou des structures à défendre.
                    %li Prendre toutes ou presque toutes les laines disponibles dans un match "Capture the Wool" composé de salles-à-laine (Wool room) sauf s'il ne reste qu'un dernier et unique bloc de laine (wool).
                %li Toute action non listée ici mais qui entrave tout de même la progression de votre équipe vers la victoire, qu’elle ait lieu de façon délibérée ou non, sera considérée comme pénalisante pour l’équipe et sera traitée de la sorte.
                %span.label.label-warning Note
                %small
                    Les joueurs ne sont
                    %b JAMAIS
                    autorisés à pénaliser leur équipe, même si c’est pour se venger.

    .page-header
        %h2 H. Règles spécifiques à des maps
    .row
        .span12
            %ol
                %li Tous les joueurs sont supposés être au fait des règles spécifiques à chaque map (terrain de jeu). Les règles des maps peuvent être trouvées sur les panneaux au début du match, et aussi via la commande /map.
                %li Les règles trouvées dans /map ont la priorité par rapport aux règles habituellement suivies dans ces cas précis.

    .page-header
        %h2 I. Consequences
    .row
        .span12
            %ol
                %li Les joueurs peuvent recevoir des avertissements pendant le match ou des punitions s’ils ne respectent pas les règles décrites ici, en fonction de la gravité de leurs actes.
                %li Le degré d'un sanction est généralement fondé sur les précédentes infractions du joueur.
                %li Dans les cas particulièrement évidents ou graves de violation des règles, que ce soit en utilisant une version modifiée du jeu, ou en pénalisant son équipe de façon répétée malgré l’intervention d’un modérateur, ou pour tout autre raison suffisamment grave, le joueur se verra banni de façon permanente, sans avertissement au préalable.
                %li Les joueurs collectionnant plusieurs avertissements pour les mêmes raisons peuvent être bannis temporairement sans avertissement.
                %li Essayer d’échapper à un bannissement n’est pas permis, et aura pour conséquence le bannissement des autres comptes associés avec le joueur banni. Les comptes secondaires ne seront pas ré-autorisés même après que le ban ait expiré, et le ban originel peut voir sa durée étendue jusqu’à trois fois la durée originelle. (ex : un ban d’une semaine pourrait devenir un ban de 3 semaines)
                %li Essayer d’échapper à une punition de façon répétée aura pour conséquence un bannissement permanent de tous les comptes du joueur.
                %li
                    Les joueurs qui ne respectent pas les règles du forum peuvent être interdit de publication sur celui-ci. Si votre ban est toujours actif après 7 jours, merci de contacter
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    pour de plus amples précisions.
                %li Les joueurs qui ne respectent pas les règles de Mumble peuvent être kickés (sortis de force) ou bannis du serveur mumble.
                %li Les joueurs qui ne respectent pas les règles d’au moins un des services d’Overcast Network, comprenant les serveurs de jeu, le forum, et mumble, peuvent être banni dudit service ou de tous les services à la fois.
                %li
                    Les punitions reçues pendant un match peuvent passer en procédure d’appel via
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Les punitions relatives au Forum ou à Mumble peuvent passer en procédure d’appel via email, à
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Tout joueur qui donne volontairement de fausses informations pendant la procédure d’appel peut être banni de façon permanente.
                %span.label.label-warning Note
                %small Toutes les infractions sont sujettes à la discrétion de la modération.
    .page-header
        %h2 J. Divers
    .row
        .span12
            %ol
                %li Ces règles sont sujettes à changement - vous en serez prévenus sur les forums.
                %li Les joueurs ont pour devoir de connaître les règles et leurs mises à jours.
                %li Une période de grâce d’une semaine a lieu après chaque changement de règle.
                %li L'administration d’Overcast Network se réserve le droit de bannir ou de dé-bannir tout joueur des services d’Overcast Network pour quelque raison que ce soit, et sans avertissement.
