%section
    .page-header
        %h1
            Règles
            %small Dernière mise à jour le 11 mai 2016
            = render "select"
    .row
        .col-md-12
            %span.label.label-warning Remarque
            %span
            Ces règles s'appliquent à
            %b tout
            service de l'Overcast Network.

    .page-header
        %h2 A. Comportement général
    .row
        .col-md-12
            %ol
                %li Contribuez au maintient d'une atmosphère plaisante et décontractée. Soyez respectueux et faites usage de bon sens. Jurer de façon excessive, être agressif, ou harceler les autres n’est pas toléré.
                %li Veillez à maintenir une orthographe et une grammaire correcte.
                %li Ne spammez pas.
                %li Ne publiez aucun des liens suivants :
                %ol{:type => "a"}
                    %li Liens à caractère répréhensible, ce qui inclut (sans s’y limiter) la pornographie, les sites choquants, infectés (virus), sites de pishing/hameçonnage ou liens vers des groupes incitant à la haine.
                    %li Liens vers tout autre site internet ou serveur, d’une manière assimilée à de la publicité.
                    %li Toute information permettant l'identification personnelle d'autres utilisateurs.
                %li N'encouragez pas et ne soyez pas complice d'enfreinte des règles sur les services d'Overcast Network.
                %li N'usurpez pas l'identité d'un membre du staff, et ne prétendez pas en faire partie.
                %li Faites nous part des bugs et des problèmes en relation avec nos services sur le forum ou par email à support@oc.tc ; l'exploitation d'un bug ayant pour autre but que la démonstration de son existence par la demande d'un membre du staff est punie.
                %li Suivez toute instruction donnée par un membre du staff de l'Overcast Network. Si vous pensez qu'un membre du staff vous a mal orienté, contactez nous par email à support@oc.tc.
                %span.label.label-warning Remarque
                %small Si vous n’êtes pas sûr de la nature publicitaire d’un lien, veuillez poser la question au staff avant de le publier.

    .page-header
        %h2 B. Comportement sur le site
    .row
        .col-md-12
            %ol
                %li Ne créez pas de topics ou de réponses visant à provoquer certaines personnes ou groupes de personnes, et n'encouragez pas cette pratique.
                %li Ne créez pas de topics pour moquer ou "prédire" des réponses sensiblement offensives, car ils encouragent d'autres utilisateurs à poster de telles réponses.
                %li Ne répondez pas à un topic par des images ou des réponses sans rapport avec le sujet discuté.
                %li Ne donnez pas davantage d'audience à un topic en publiant quelque chose qui ne contribue de façon constructive à ce sujet.
                %li Tout problème personnel doit être réglé en privé. Les forums publics ne sont pas adaptés pour les conflits personnels.
                %li La critique d'un travail d'autrui, d'un membre du staff comme de la communauté, doit être délivrée avec respect et politesse.
                %li Ne créez pas de topics dans le but d'annoncer votre départ du serveur ou du jeu. Des exceptions peuvent néanmoins être faites si vous quittez pour une raison particulièrement remarquable telle que votre mort imminente ou votre départ en voyage autour du monde.
                %li Les annonces d'événements dramatiques concernant votre personne ou d'autres joueurs doivent inclure une source valide, permettant de vérifier l'information. S'il nous est difficile de vérifier la validité de l'information, la publication pourrait être retirée. Les canulars de cette nature sont considérés comme des infractions très sérieuses.
                %li Ne répondez pas à une publication qui vous semble enfreindre les règles. Préférez soumettre un report. Mentir intentionnellement dans un report est considéré comme une infraction.
                %li N'abusez pas de l'HTML dans les forums ou sur les profils personnels dans le but de rendre difficile la navigation, causer un ralentissement de navigateur, ou sortir des limites définies au préalable.
                %span.label.label-warning Remarque
                %small Les informations contenues sur votre profil ou celles pour vous contacter pourront être retirées à tout moment, sans avertissement.

    .page-header
        %h2 C. Mumble
    .row
        .col-md-12
            %ol
                %li N'usurpez pas l'identité d'autres joueurs sur Mumble.
                %li Votre pseudonyme Mumble devrait être identique à votre pseudonyme de jeu, ou une variation aisément reconnaissable de celui-ci.
                %li Ne spammez pas les actions qui envoient des notifications aux autres (par exemple le bouton “muet”, “sourd”, ou en vous connectant et déconnectant de façon répétée).

    .page-header
        %h2 D. Comportement sur le serveur
    .row
        .col-md-12
            %ol
                %li N'envoyez pas de messages encourageant d'autres joueurs à quitter une équipe ou se déconnecter du serveur.
                %li À moins d'expliquer le fonctionnement d'un signalement, n'encouragez pas d'autres joueurs à reporter un joueur spécifique.
                %li N'accusez pas publiquement d'autres joueurs de hack.  Si vous pensez qu'un joueur hack ou enfreint des règles, reportez-le avec la commande /report.
                %li Vous ne devez pas utiliser le fil de discussion pour solliciter de l’argent, de quelque façon que ce soit. Tout compte qui est utilisé uniquement pour solliciter de l’argent sera suspendu sans avertissement.
                %li Il est formellement interdit de partager des liens vers un autre serveur qui ne fasse pas partie de l'Overcast Network, qu'il soit public ou privé. Ne demandez pas non plus à des joueurs de rejoindre ces serveurs. (Vous pouvez néanmoins donner l'adresse de façon privée via /msg, et ce seulement aux joueurs vous l'ayant explicitement demandé).
                %li Votre nom d’utilisateur doit être approprié, et si tel n’est pas le cas, il peut vous être demandé d’utiliser un autre compte. (Ce ne sera pas considéré comme un contournement du bannissement.)
                %li Si vous avez accès à la commande /nick, tout surnom choisi devrait viser à conférer l'anonymat, et non à attirer l'attention des autres. Il est interdit d'abuser de /nick en usurpant l'identité d'autrui ou en choisissant un surnom inapproprié.
                %span.label.label-warning Remarque
                %small Tout messages du fil de discussion et commande sont enregistrés.
                %br
                %span.label.label-warning Remarque
                %small Publier des liens vers des vidéos en direct/live en rapport avec Overcast Network est autorisé, du moment que vous ne spammez pas.

    .page-header
        %h2 E. Gameplay général
    .row
        .col-md-12
            %ol
                %li Les joueurs ne doivent pas abuser de glitchs.  Ceci inclut, sans s’y limiter, à placer des blocs dans des zones où le plugin ne le permet pas, à créer un effet de "x-ray", ou à se rendre invincible.
                %li Dans un match de Blitz ou de Ghost Squadron, les joueurs ne doivent pas prolonger un match en évitant le combat et/ou en se cachant dans des endroits inaccessibles ou difficiles d'accès.
                %li Les observateurs ne doivent pas donner d’informations tactiques aux joueurs ou perturber le jeu de façon intentionnelle. Est considéré comme information tactique, mais sans s’y limiter :
                %ol{:type => "a"}
                    %li Révéler les emplacements de joueurs
                    %li Révéler le propriétaire de la laine dans une map Capture the Wool
                %li Veuillez utiliser un skin approprié — vous pouvez être puni pour un skin inapproprié.

    .page-header
        %h2 F. Modifications du jeu
    .row
        .col-md-12
            %ol
                %li Tout usage de modification abusive du client Minecraft offrant un avantage injuste sur les autres utilisateurs est interdite en jeu.
                %li Tous les outils externes qui modifient le gameplay pour donner un avantage abusif sur les joueurs n'utilisants pas ces outils, sont illégaux en jeu.
                %li Les modifications suivantes sont explicitement autorisées en jeu :
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD / StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 et supérieur)
                    %li
                        %i.fa.fa-check
                        Toggle Sneak / Sprint (LabyMod / HCF version)
                    %li
                        %i.fa.fa-check
                        Les programmes de verrou de position accroupie ("toggle-crouch") ne permettant pas le maintient de cette posture en écrivant, en regardant son inventaire ou dans quelconque menu
                    %li
                        %i.fa.fa-check
                        Les packs de ressources ne dérogeant pas aux règles de la catégorie "explicitement interdits"
                    %li
                        %i.fa.fa-check
                        Les minimaps sauf contre-indication ci-dessous
                %li Les modifications suivantes sont explicitement interdites en jeu :
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Trieurs d’inventaire
                    %li
                        %i.fa.fa-times
                        Mods surexposants ou agrandissants les noms des joueurs
                    %li
                        %i.fa.fa-times
                        Mods sélectionnants automatiquement l'outil approprié à la situation
                    %li
                        %i.fa.fa-times
                        Les minimaps montrant les positions d'entités, ou les grottes/sous-sol.
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters — Mods infligeant automatiquement des dégâts aux autres joueurs
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods — Mods permettants de voler dans les airs
                    %li
                        %i.fa.fa-times
                        Indicateurs de dommages/vie
                    %li
                        %i.fa.fa-times
                        SmartMoving — Mods permettants la réalisation de mouvements inhabituels
                    %li
                        %i.fa.fa-times
                        Better Sprinting — Mods permettants de verrouiller l'action de courir
                %li Pour tout autre mod, merci de demander à un membre du staff s’il est autorisé avant de l’utiliser.
                %span.label.label-warning Remarque
                %small Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.
                %br
                %span.label.label-warning Remarque
                %small Les observateurs ne sont pas soumis à ces restrictions.
                %br
                %span.label.label-warning Remarque
                %small Les joueurs dans le lobby ne sont pas autorisés à utiliser des Fly mods.

    .page-header
        %h2 G. Pénaliser son équipe
    .row
        .col-md-12
            %ol
                %li Toute action téméraire ou intentionelle susceptible de nuire à votre propre équipe est interdite. Ces actions sont définies sous le terme "team grief" en anglais.
                %li Ce qui suit est considéré comme pénalisant l’équipe :
                %ol{:type => "a"}
                    %li Placer ou allumer de la TNT près de joueurs, de structures, de ressources alliés (ex: coffres, défenses ou minerais), ou à l’intérieur de la base de son équipe
                    %li Détruire les coffres ou les établis sa propre équipe
                    %li Tuer des équipiers (que ce soit en enlevant des blocs sous eux ou en les poussant pour causer leur chute)
                    %li Utiliser et/ou modifier un canon à TNT construit par un autre joueur sans sa permission explicite
                    %li Aider ou travailler en coopération avec un membre de l’équipe adverse
                %li Ce qui suit est considéré comme irresponsable et est fortement déconseillé (vous pourrez recevoir un avertissement pour aller à l'encontre de ces règles) :
                %ol{:type => "a"}
                    %li Placer de la TNT dans son propre camp, plus particulièrement y construire des structures en TNT
                    %li Placer de la TNT non maîtrisée à proximité de vos coéquipiers ou des structures à défendre
                    %li Prendre toutes ou presque toutes les laines disponibles dans un match "Capture the Wool" composé de salles-à-laine (Wool room) sauf s'il ne reste qu'un unique bloc de laine
                %li Toute action non listée ici mais entravant tout de même la progression de votre équipe vers la victoire, qu’elle ait lieu de façon délibérée ou non, sera considérée comme pénalisante pour l’équipe et sera traitée en conséquence.
                %span.label.label-warning Remarque
                %small
                    Les joueurs ne sont
                    %b JAMAIS
                    autorisés à pénaliser leur équipe, même par vengeance.

    .page-header
        %h2 H. Règles spécifiques à des maps
    .row
        .col-md-12
            %ol
                %li Tous les joueurs sont supposés être au fait des règles spécifiques à chaque map. Les règles des maps peuvent être trouvées sur des panneaux au début du match, ainsi que via la commande /map.
                %li Les règles spécifiques définies par /map prennent priorité sur celles habituellement suivies dans un cas précis.

    .page-header
        %h2 I. Conséquences
    .row
        .col-md-12
            %ol
                %li Les joueurs peuvent recevoir, selon la gravité de leurs actes, des avertissements ou des infractions en jeu s’ils ne respectent pas les règles décrites ici.
                %li La sévérité d'une infraction à laquelle un joueur est soumis est généralement fondé sur ses précédentes infractions.
                %li Dans des cas particulièrement évidents ou graves de violation des règles, telles que l'utilisation abusive de modifications avantageantes, la pénalisation de son équipe de façon répétée malgré l’intervention d’un modérateur ou autres, un joueur pourra se voir banni de façon permanente sans avertissement préalable.
                %li Des joueurs accumulants plusieurs avertissements pour les mêmes raisons peuvent être bannis temporairement sans avertissement.
                %li Tenter d'échapper à un ban en rejoignant le serveur sur un autre compte Minecraft ("alt" en anglais) est interdit et mènera au ban permanent de chaque compte alternatif associé au joueur. Une fois que le ban originaire a expiré, les bans des comptes alternatifs ("alts") ne seront pas levés. De plus, le ban originel peut voir sa durée augmentée jusqu'à trois fois. (Un ban d'une semaine peut se transformer ainsi en un ban de trois semaines).
                %li Tenter d’échapper à un ban de façon répétée aura pour conséquence le bannissement permanent de tous les comptes du joueur.
                %li Tout joueur qui enfreint les règles des forums court le risque de s'en faire exclure.
                %li Des joueurs ne respectants pas les règles de Mumble peuvent être éjectés ou bannis du serveur mumble.
                %li Des joueurs ne respectants pas les règles de l'un des services d’Overcast Network, incluant les serveurs de jeu, le forum, et mumble, peuvent être banni de l'un ou de tous ces services.
                %li Toute infraction peut être contestée en faisant appel.
                %li
                    %b Tout joueur fournissant volontairement de fausses informations dans son appel pourra être banni de façon permanente.
                %span.label.label-warning Remarque
                %small Toutes les infractions sont soumises à la discrétion du staff.

    .page-header
        %h2 J. Divers
    .row
        .col-md-12
            %ol
                %li Ces règles sont sujettes à changer, vous en serez prévenu.
                %li Les joueurs sont responsables de se tenir informé des modifications apportées aux règles.
                %li Une période de grâce d’une semaine est accordée après chaque changement de règle.
                %li L'administration de Overcast Network se réserve le droit de bannir ou de débannir n'importe quel joueur de tous les services fournis par Overcast Network pour une raison quelconque et sans préavis.
