%section
    .page-header
        %h1
            Regolamento
            %small Aggiornato al 23 agosto 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Queste regole si applicano a
            %b tutti
            i servizi offerti da Overcast Network.

    .page-header
        %h2
            A. Comportamento Generale
    .row
        .span12
            %ol
                %li Mantenere un'atmosfera calma e piacevole. Essere rispettosi e usare buon senso. Non è tollerato bestemmiare eccessivamente, l'essere rudi e dare fastidio;
                %li Cercare di parlare in modo corretto;
                %li Non inviare spam;
                %li Non inviare link che puntano ai seguenti argomenti:
                %ol{:type => "a"}
                    %li Materiale offensivo, che include ma non si limita alla pornografia, ma anche siti shockanti, virus, siti di pishing e gruppi di odio;
                    %li Altri siti o server in modo da fare pubblicità agli stessi;
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Informazioni che potrebbero portare all'identificazione di altri utenti;
                %li Non incoraggiare o partecipare a violazioni del regolamento nei servizi offerti da Overcast Network;
                %li Non inpersonare alcun membro dello staff di Overcast Network, o fingere di essere un membro dello staff;
                %li Riportare problemi o bugs dei servizi offerti da Overcast Network tramite i forum (http://oc.tc/forums) o a support@oc.tc; sfruttare i bug per ogni ragione eccetto dimostrarli alla richiesta di un membro dello staff risulterà in un'infrazione;
                %li Seguire tutte le direttive date da un membro dello staff di Overcast Network. Se pensi che un membro dello staff ti abbia dato direttive sbagliate, invia un'email a support@oc.tc;
                %span.label.label-warning Nota
                %small Se sei indeciso a proposito di link che potrebbero costituire pubblicità, chiedi chiarimenti a un membro dello staff prima di inviarlo.

    .page-header
        %h2 B. Comportamento sul sito web
    .row
        .span12
            %ol
                %li Non fare flame nei post. Questo include postare contenuti allo scopo di offendere un'altra persona, provocare un'altra persona per creare un flame, linguaggio rude, e qualsiasi cosa risulti in una "flame war";
                %li I post devono essere rilevanti nel topic in cui vengono postati; i post irrilevanti potrebbero essere cancellati;
                %li Se pesi che un thread dovrebbe essere chiuso, invia un report tramite https://oc.tc/report al posto di commentare nel thread stesso.
                %li Qualsiasi immagine o post non pertinente al thread è soggetto a rimozione. Le immagini di spam verranno rimosse;
                %li Non rialzare i thread postando qualsiasi cosa che non contribuisce costruttivamente al thread;
                %li Tutti i problemi personali vanno risolti in privato. I forum pubblici non sono il posto per i conflitti personali;
                %li Non abusare dell'HTML nei profili o nei post del forum in una maniera che rendano la navigazione difficile, causino un rallentamento eccessivo nel browser o eccedono i limiti prestabiliti;
                %li Mentire intenzionalmente nei report potrebbe risultare in un infrazione;
                %small.label.label-warning Nota
                %small Il tuo profilo o le tue informazioni di contatto potrebbero essere modificati senza preavviso.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Non impersonare nessun altro giocatore su Mumble;
                %li Il tuo nome su Mumble dovrebbe essere il tuo nome in gioco o un nome facilmente riconducibile ad esso;
                %li Non spammare azioni che inviano messaggi agli altri giocatori (come spammare il muto, stordire o connettersi e disconnettersi continuamente);

    .page-header
        %h2 D. Comportamento nel server
    .row
        .span12
            %ol
                %li Non spedire messaggi che incoraggiano gli altri giocatori a lasciare la squadra o a disconnettersi dal server;
                %li A meno che non si stia spiegando il sistema di racconto, non bisogna incoraggiare gli altri giocatori a segnalare un giocatore specifico;
                %li Non fare accuse pubbliche di hacking verso nessun giocatore. Se pensi il player stia hackerando o infrangendo qualche regole segnalandolo utilizzando il comando /report;
                %li Non puoi usare nessuna forma di messaggio nel gioco per adescare. Qualsiasi account che è stato determinato al solo scopo di adescare verrà permanentemente bannato senza alcun avviso;
                %li Non puoi inviare link verso, o sollecitare i player a entrare, qualsiasi server pubblico o privato che non è parte di Overcast Network nella chat pubblica (puoi usare /msg per informare il giocatore);
                %li Il tuo nome utente deve essere appropriato, e ti potrà esser chiesto di utilizzare un account differente se il tuo nome è utente è trovato inappropiato; (questo non conta come evasione del ban)
                %span.label.label-warning Nota
                %small Tutti i messaggi di chat e i comandi eseguiti sono registrati.
                %br
                %span.label.label-warning Nota
                %small Puoi inviare link al tuo live stream relativo a Overcast Network, in caso non è considerato spam.

    .page-header
        %h2 E. Modalità di Gioco
    .row
        .span12
            %ol
                %li I giocatori non possono abusare di glitch di Minecraft per avantaggiarti su gli altri o sui loro team, o in una maniera da causare lag per gli altri giocatori. Questo include, ma non è limitato a, piazzare blocchi in aree protette dal plug-in per camminarci sopra, creare un effetto "x-ray", e renderti invincibile;
                %li In una partita nelle modalità di gioco Blitz e Ghost Squadron i giocatori non possono prolungare la partita evitando di combattere e/o nascondersi in posti inaccessibili o difficili da raggiungere;
                %li Gli osservatori non devono mai fornire informazioni tattiche agli altri giocatori o distruggere intenzionalmente il gameplay. Le informazioni tattiche includono, ma non sono limitate da:
                %ol{:type => "a"}
                    %li Rivelare la posizione di altri giocatori;
                    %li Rivelare il portatore della lana in una mappa Capture The Wool;
                %li Utilizzare una skin appropriata - puoi essere punito per avere una skin non appropriata;
                %li Non rimanere allo spawn;
                %ol{:type => "a"}
                    %li Non rimanere allo spawn aspettando vicino o dentro ad uno spawn per nuovi giocantori appena spawnati;
                    %li Non attaccare direttamente alcuno spawn (esempio correre dritto dentro ad uno spawn e iniziare a colpire le persone in quello spawn, rimanere vicino ed uccidere tutti quelli che spawnano);
                    %li Non puntare cannoni di TNT ad uno spawn o buttare di continuo TNT dentro uno spawn:
                %span.label.label-warning Nota
                %small Le regole sul rimanere allo spawn non si applicano nelle modalità di gioco Team Deathmatch o Blitz.

    .page-header
        %h2 F. Modifiche al Client
    .row
        .span12
            %ol
                %li Qualsiasi modifica che dia un vantaggio sleale sui giocatori senza modifiche è illegale mentre si gioca;
                %li Le seguenti mod sono esplicitamente permesse durante il gioco:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine;
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD;
                    %li
                        %i.fa.fa-check
                        Toggle-crouch che non permettono di accucciarsi mentre si scrive, si guarda nell'inventario o in nessun'altro menù
                    %li
                        %i.fa.fa-check
                        Pacchetti di risorse che non ricadono sotto alcuna categoria proibita;
                    %li
                        %i.fa.fa-check
                        Minimappe eccetto quanto specificato sotto;
                %li Le seguenti mod sono esplicitamente proibite durante il gioco:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Ordinatori dell'inventario;
                    %li
                        %i.fa.fa-times
                        Mod che rendono più visibile il nome dei giocatori;
                    %li
                        %i.fa.fa-times
                        Selettori automatici degli strumenti;
                    %li
                        %i.fa.fa-times
                        Minimappe che visualizzano la posizione dei giocatori o sottoterra;
                    %li
                        %i.fa.fa-times
                        X-ray;
                    %li
                        %i.fa.fa-times
                        Auto-hitter;
                    %li
                        %i.fa.fa-times
                        Aimbot;
                    %li
                        %i.fa.fa-times
                        Fly mod;
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator;
                    %li
                        %i.fa.fa-times
                        SmartMoving;
                    %li
                        %i.fa.fa-times
                        Better Sprinting;
                %li Per qualsiasi altra mod, inviare un'email a support@oc.tc per avere conferma di poterla usare;
                %span.label.label-warning Nota
                %small I giocatori in modalità creativa non sono limitati da queste regole
                %br
                %span.label.label-warning Nota
                %small I giocatori nella lobby non sono autorizzati ad utilizzare modificatori del volo

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li Il team griefing è proibito, ed è definito come ogni azione senza ritegno che nuoce alla tua stessa squadra, i azioni che nuociono intenzionalmente alla tua squadra;
                %li Le seguenti azioni sono esplicitamente team griefing:
                %ol{:type => "a"}
                    %li Posizionare e/o attivare TNT vicino ai compagni di squadra o vicino a infrastrutture chiave della squadra (es. ceste, difese o minerali) all'interno della propria base;
                    %li Distruggere le proprie ceste o banchi da lavoro;
                    %li Uccisione di membri della propria squadra (anche rimuovendo blocchi sotto i loro piedi facendoli cadere o spingendoli fuori dal mondo);
                    %li Utilizzare/modificare un cannone di TNT costruito da un'altro giocatore senza l'esplicito permesso;
                    %li Aiutare o lavorare insieme a un membro della squadra avversaria;
                %li Le seguenti azioni sono considerate senza ritegno e fortemente scoraggiate (puoi essere avvisato di infrangere le regole seguenti):
                %ol{:type => "a"}
                    %li Posizionare TNT nella propria base, specialmente costruire torri di TNT nella propria base;
                    %li Costruire un cannone di TNT non protetto vicino ai propri compagni di squadra o vicino agli obbiettivi;
                    %li Prendere tutta o quasi tutta la lana in una mappa Capture The Wool dalla stanza della lana, a meno che non ne sia rimasta solo una nella stanza;
                %li Qualsiasi azione che non è elencata qui ma che rallenta il progresso della tua squadra verso la vittoria della partita, deliberatamente o no, viene considerata "team griefing" e può essere punita come tale;
                %span.label.label-warning Nota
                %small
                    I giocatori non sono
                    %b MAI
                    autorizzati a compiere "team griefing", nemmeno in risposta a un altro team griefer.

    .page-header
        %h2 H. Regole Specifiche per Mappa
    .row
        .span12
            %ol
                %li Tutti i giocatori sono responsabili di tenersi aggiornati con tutte le regole specifiche di ogni mappa; Esse si possono trovare allo spawn della mappa o tramite il comando /map;
                %li Le regole in /map prendono la precedenza su queste regole in caso trattino lo stesso argomento;

    .page-header
        %h2 I. Conseguenze
    .row
        .span12
            %ol
                %li I giocatori possono ricevere un avviso durante il gioco o un infrazione per aver violato qualsiasi delle regole qui sopra, dipendentemente dalla serietà della violazione;
                %li La severità delle infrazioni è solitamente basata sulle infrazioni precedenti del giocatore;
                %li In particolari casi (seri o palesi) di violazione delle regole, includendo (ma non limitatando) l'uso di client hackerati sui server, o consistenti team griefing, e nonostante l'intervento di un moderatore, risulterà immediatamente in un ban permanente, senza avvisi;
                %li I giocatori con molti avvisi per la stessa regola potranno essere bannati temporaneamente senza alcun avviso;
                %li L'evasione dal ban non è permessa, e risulterà in un ban permanente per tutti gli account alternativi associati al player evaso. Gli account alternativi non saranno sbannati finché il ban originale non sarà finito, e il ban originale verrà esteso per il triplo della lunghezza originale. (es. un ban per una settimana diventa un ban per tre settimane);
                %li
                    I giocatori che violano qualsiasi regola del forum potranno essere bannati dal postare sul forum. Se il tuo ban stà per più di 7 giorni contattare
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    per la durata esatta del tuo ban;
                %li I giocatori che violano qualsiasi regola di Mumble potranno essere kickati o bannati dal server Mumble;
                %li I giocatori che violano le regole di qualsiasi servizio offerto da Overcast Network, includendo il server di gioco, i forum e Mumble, potranno essere bannati da tutti i servizi;
                %li
                    I ban del gioco vanno appellati inviando un appello tramite
                    = succeed ';' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    I ban del forum e di Mumble vanno appellati inviando un email a
                    = succeed ';' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Qualsiasi giocatori che fornisce false informazioni nel suo appello potrà essere bannato permanentemente;
                %span.label.label-warning Nota
                %small Tutte le infrazioni sono soggette alla volontà dello staff.
    .page-header
        %h2 J. Varie
    .row
        .span12
            %ol
                %li Questo regolamento può cambiare in ogni momento senza alcun avviso;
                %li I giocatori sono responsabili di mantenersi aggiornati circa il regolamento;
                %li C'è un periodo di grazia che dura per la settimana successiva al cambiamento delle regole;
                %li Gli amministratori di Overcast Network si riservano il diritto di bannare o sbannare qualsiasi giocatore da qualsiasi servizio offerto da Overcast Network per qualsiasi ragione senza alcun avviso;
