%section
    .page-header
        %h1
            Regole
            %small Ultimo aggiornamento 7 gennaio 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Queste regole si applicano a
            %b tutti
            i servizi di Overcast Network.

    .page-header
        %h2 A. Comportamento generale
    .row
        .span12
            %ol
                %li Mantieni una atmosfera calma e piacevole. Sii rispettoso e fa uso del buon senso. Imprecazioni eccessive, maleducazione e molestie non sono tollerate.
                %li Cerca di utilizzare una ortografia ed una grammatica corrette.
                %li Non spammare.
                %li Non fornire link a nessuno dei seguenti contenuti:
                %ol{:type => "a"}
                    %li Materiale discutibile, che include ma non si limita alla pornografia, siti screamer, virus, siti di truffe e gruppi che incitano all'odio.
                    %li Altri siti o server in modo tale da pubblicizzarli.
                    %li Informazioni personali di altri utenti.
                %li Non incoraggiare o prendere parte alla trasgressione delle regole dei servizi di Overcast Network.
                %li Non impersonare alcun membro dello staff di Overcast Network, e non fingere di essere membro dello staff.
                %li Denuncia problemi e bug dei servizi di Overcast Network alternativamente sul forum o contattando support@oc.tc; trarre vantaggio di un bug per una qualunque ragione, oltre che per dimostrarlo sotto richiesta di un membro dello staff, avrà come conseguenza una sanzione.
                %li Segui qualunque direttiva data da un membro dello staff di Overcast Network. Se pensi che lo staff ti abbia guidato in modo non corretto, contatta support@oc.tc.
                %span.label.label-warning Nota
                %small Se sei indeciso riguardo a link che potrebbero costituire pubblicità, discutine con un membro dello staff prima di postarli.

    .page-header
        %h2 B. Comportamento sul sito
    .row
        .span12
            %ol
                %li Non creare topic o post con lo scopo di insultare o provocare altre persone o gruppi, e non indurre o incoraggiare altri a scrivere post di questo genere.
                %li Non creare post che imitano o predicono post provocatori, in quanto incoraggiano gli utenti a scrivere post del genere.
                %li Non replicare ai topic con testi/immagini insistenti, irrilevanti, o senza senso.
                %li Non promuovere i topic postando qualcosa che non contribuisce costruttivamente all'argomento.
                %li Tutti i problemi personali devono essere risolti privatamente. I forum pubblici non sono il luogo adatto per conflitti privati.
                %li La critica al lavoro degli altri, sia dello staff che della comunità in genere, deve essere espressa con gentilezza e rispetto personale.
                %li Non creare topic solamente per annunciare che stai lasciando il server o il gioco. Possono essere fatte eccezioni se stai lasciando per una ragione molto interessante, per esempio se stai morendo, o veleggiando per il mondo.
                %li Gli annunci che riguardano eventi drammatici accaduti a te o ad altri giocatori devono includere una fonte dell'informazione verificabile. Se non riusciamo a verificare facilmente il racconto, il topic verrà rimosso. Scherzi intenzionali di questo genere sono considerati infrazioni molto serie.
                %li Non rispondere a topic che credi stiano violando le regole, invia un report invece. Mentire intenzionalmente in un report è considerata una infrazione.
                %li Non abusare HTML nei forum o nei profili personali in modo che renda la navigazione difficoltosa, causi estrema lag del browser, o ecceda i margini predeterminati.
                %span.label.label-warning Nota
                %small Il tuo profilo o le informazioni di contatto potrebbero essere cancellate senza previa notifica.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Non impersonare altri giocatori su Mumble.
                %li Il tuo nome su Mumble deve essere il tuo nome in gioco o una sua variazione facilmente identificabile.
                %li Non spammare quelle azioni che mandano messaggi ad altri (come spammare "mute", escluderti o disconnetterti e riconnetterti ripetutamente)

    .page-header
        %h2 D. Comportamento nel Server
    .row
        .span12
            %ol
                %li Non mandare messaggi che incoraggiano gli altri giocatori a lasciare la squadra o a disconnettersi dal server.
                %li A meno che non stia spiegando come usare la funzione di report, non incoraggiare gli altri giocatori a reportare un giocatore specifico.
                %li Non accusare pubblicamente altri giocatori di hacking. Se pensi che un giocatore stia usando hacks o stia infrangendo delle regole reportalo usando il comando /report.
                %li Non puoi usare nessuna forma di chat in-game per importunare. Qualsiasi account il cui solo uso sia quello di importunare sarà permanentemente bannato senza preavviso.
                %li Non puoi sollecitare altri giocatori ad entrare, ne puoi linkare, qualsiasi altro server pubblico o privato che non è parte di Overcast Network nella chat pubblica. (Puoi usare il comando /msg per informare i giocatori che lo richiedono).
                %li Il tuo username deve essere appropriato, ti verrà richiesto di utilizzare un account diverso se il tuo username viene considerato inappropriato. (Ciò non conta come evasione da un ban.)
                %li Se si ha accesso al comando /nick, qualsiasi soprannome scelto dovrebbe essere ideato per conferire l'anonimato, non attenzione. Non è possibile utilizzare /nick per impersonare altri utenti, e non è possibile utilizzare un nickname inappropriato.
                %span.label.label-warning Nota
                %small Tutti i messaggi in chat e i comandi eseguiti vengono registrati.
                %br
                %span.label.label-warning Nota
                %small Puoi linkare il tuo livestream se inerente a Overcast Network, sempre che non lo faccia con insistenza.

    .page-header
        %h2 E. Gameplay Generale
    .row
        .span12
            %ol
                %li I giocatori non possono abusare dei glitch. Questo include, ma non si limita, al posizionare blocchi in aree ristrette dal plugin per salirvici sopra, creare un effetto "x-ray" e rendersi invincibili.
                %li In una partita Blitz o Ghost Squadron, i giocatori non possono prolungare la partita evitando di combattere e/o nascondendosi in luoghi che sono inaccessibili o difficilmente raggiungibili.
                %li Gli Osservatori non possono mai dare informazioni tattiche o ostacolare intenzionalmente il gioco. Le informazioni tattiche includono, ma non si limitano a:
                %ol{:type => "a"}
                    %li Rivelare la posizione dei giocatori
                    %li Rivelare il portatore della lana in una mappa Capture The Wool
                %li Usa una skin consona - puoi essere punito per avere una skin inappropriata.

    .page-header
        %h2 F. Modifiche del Client
    .row
        .span12
            %ol
                %li Qualsiasi modifica del client che dia un vantaggio sleale sugli utenti di Minecraft vanilla è illegale durante il gioco.
                %li Qualsiasi strumento esterno che modifichi il gameplay per dare un vantaggio sleale sugli utenti che non usano tale strumento è considerato illegale durante il gioco.
                %li Le seguenti modifiche sono esplicitamente permesse durante il gioco:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        OptiFine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch che non permette il crouching durante la digitazione, durante la visualizzazione dell'inventario, o di qualsiasi menu
                    %li
                        %i.fa.fa-check
                        Resource pack che non cadono sotto la categoria di "espressamente proibiti"
                    %li
                        %i.fa.fa-check
                        Minimaps eccetto quelle specificate sotto
                %li Le seguenti modifiche sono esplicitamente proibite durante il gioco:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Organizzatori d'inventario
                    %li
                        %i.fa.fa-times
                        Mod che rendono più visibili o allargano i name-tag dei giocatori
                    %li
                        %i.fa.fa-times
                        Selezionatori automatici di strumenti
                    %li
                        %i.fa.fa-times
                        Minimap che rendono visibili i sotterranei/caverne o rivelano la posizione dei giocatori.
                    %li
                        %i.fa.fa-times
                        X-ray
                    %li
                        %i.fa.fa-times
                        Auto-hitter
                    %li
                        %i.fa.fa-times
                        Aimbot
                    %li
                        %i.fa.fa-times
                        Mod che permettono il volo
                    %li
                        %i.fa.fa-times
                        Indicatori di danno/salute
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Per qualunque altra mod, inviate una e-mail a support@oc.tc per avera una conferma prima di farne uso.
                %span.label.label-warning Nota
                %small Gli osservatori non sono limitati da queste restrizioni.
                %br
                %span.label.label-warning Nota
                %small Ai giocatori non è consentito l'uso di mod che permettono il volo nella lobby.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li Il team griefing è proibito, ed è definito come qualsiasi azione sconsiderata o intenzionale che danneggi il tuo stesso team.
                %li Le seguenti azioni sono esplicitamente team griefing:
                %ol{:type => "a"}
                    %li Posizionare e/o innescare TNT vicino ai compagni di squadra o vicino a strutture strategiche del team (es. ceste, difese o minerali) all'interno della propria base
                    %li Distruggere le proprie ceste o banchi da lavoro
                    %li Uccidere giocatori del proprio team (sia rimuovendo blocchi al di sotto di un giocatore per causarne la caduta, o spingendo giocatori al di fuori del mondo)
                    %li Utilizzare/modificare un cannone di TNT costruito da un'altro giocatore senza nessun permesso esplicito
                    %li Aiutare o lavorare insieme ad un giocatore dell'altro team
                %li Le seguenti azioni sono considerate senza ritegno e quindi fortemente scoraggiate (Ti verrà inflitto un warn per il non rispetto di una delle seguenti regole):
                %ol{:type => "a"}
                    %li Posizionare TNT nella base del proprio team, in modo particolare costruire torri di TNT nella propria base
                    %li Posizionare TNT non protetta vicino a compagni di squadra o obiettivi
                    %li Portare tutta o quasi tutta la lana al di fuori della stanza della lana in una mappa di Capture the Wool, a meno che non ci sia solo una lana rimasta in quella stanza
                %li Tutte le azioni che non sono elencate qui ma che ostacolano il progresso del tuo stesso team nel vincere la partita, intenzionali o no, cadono comunque nella categoria del "team griefing" e devono essere trattate come tali.
                %span.label.label-warning Nota
                %small
                    Ai giocatori non è
                    %b MAI
                    permesso il "team griefing", nemmeno come ritorsione verso un altro team griefer.

    .page-header
        %h2 H. Regole Specifiche di Mappa
    .row
        .span12
            %ol
                %li Tutti i giocatori sono responsabili di tenersi aggiornati con tutte le regole specifiche di ogni mappa. Queste si possono visualizzare allo spawn della mappa o tramite il comando /map.
                %li Le regole in /map hanno la precedenza sulle regole dello spawn nel caso trattino lo stesso argomento.

    .page-header
        %h2 I. Conseguenze
    .row
        .span12
            %ol
                %li I giocatori riceveranno una ammonizione in-game o una sanzione nel caso non rispettino una qualsiasi delle regole sopra elencate, proporzionaramente alla gravità della violazione.
                %li La gravità della violazione è solitamente basata sulle sanzioni precedentemente inflitte al giocatore.
                %li In casi particolarmente gravi di violazione delle regole, che includono ma non sono limitati all'uso nel server di un client modificato, o ad un consistente team griefing nonostante l'intervento di un moderatore, la sanzione sarà un immediato ban permanente, senza previa notifica.
                %li I giocatori con multipli warn per la stessa regola potrebbero essere temporaneamente bannati senza previa notifica.
                %li L'evasione dal ban non è permessa, e causerà un ban permanente per tutti gli account alternativi associati al giocatore che evade. Gli account alternativi non verranno sbannati una volta che il ban originale è scaduto, e il ban originale può essere esteso fino al triplo della durata del ban originale. (es. un ban di una settimana viene esteso fino a tre settimane).
                %li Evasione dal ban reiterata causerà un ban permanente di tutti gli account.
                %li I giocatori che violano le regole del forum potrebbero essere bannati dal postare nei forum.
                %li I giocatori che violino una qualsiasi delle regole di Mumble potranno essere espulsi o bannati dal server Mumble.
                %li I giocatori che violino le regole di qualunque servizio offerto da Overcast Network, includendo i server di gioco, i forum e Mumble, potranno essere bannati da alcuni o da tutti i servizi.
                %li Tutte le infrazioni possono essere appellate compilando una richiesta d'appello.
                %li
                    %b Qualsiasi giocatore che coscientemente fornisca una informazione falsa nella sua richiesta d'appello può essere permanentemente bannato.
                %span.label.label-warning Nota
                %small Tutte le sanzioni sono soggette alla discrezione dello staff.

    .page-header
        %h2 J. Varie
    .row
        .span12
            %ol
                %li Queste regole sono soggette a variazioni previa notifica.
                %li I giocatori hanno la responsabilità di aggiornarsi sulle variazioni delle regole.
                %li Vi è un periodo di grazia di una settimana in seguito a cambiamenti delle regole.
                %li L'amministrazione di Overcast Network si riserva il diritto di bannare o sbannare qualsiasi giocatore da qualsiasi servizio di Overcast Network per qualsiasi ragione senza previa notifica.
