%section
    .page-header
        %h1
            Regolamento
            %small Aggiornato al 19 giugno 2013
    .row
        .span12
            %span.label.label-warning Nota
            %span
            Queste regole si applicano a
            %b tutti
            i servizi offerti da Overcast Network

    .page-header
        %h2
            A. Comportamento generale
    .row
        .span12
            %ol
                %li Mantenere un'atmosfera calma e piacevole. Essere rispettosi e usare buon senso. Non è tollerato bestemmiare eccessivamente, l'essere rudi e dare fastidio.
                %li Cercare di parlare in modo corretto.
                %li Non inviare spam.
                %li Non inviare link che puntano ai seguenti argomenti:
                %ul
                    %li Materiale offensivo, che include ma non si limita alla pornografia, ma anche siti shockanti, virus, siti di pishing e gruppi di odio.
                    %li Altri siti o server in modo da fare pubblicità agli stessi.
                %li Non incoraggiare o partecipare a violazioni del regolamento nei servizi offerti da Overcast Network.
                %li Non impersonare nessuno dei membri dello staff di Overcast Network, o rivendicare di essere un membro dello staff.
                Riportare problemi o bugs dei servizi offerti da Overcast Network tramite i forum (http://oc.tc/forums) o a support@oc.tc; sfruttare i bug per ogni ragione eccetto dimostrarli alla richiesta di un membro dello staff risulterà in una punizione
                %li Seguire ogni direttiva data da un membro dello staff di Overcast Network. Se pensi che un membro dello staff ti abbia dato una direttiva sbagliata, invia un'email a support@oc.tc
                %span.label.label-warning Nota
                %small Se sei indeciso a proposito di link che potrebbero costituire pubblicità, chiedi chiarimenti a un membro dello staff prima di inviarlo.

    .page-header
        %h2 B. Comportamento nel forum
    .row
        .span12
            %ol
                %li Non fare flame nei post. Questo include postare contenuti allo scopo di offendere un'altra persona, provocare un'altra persona per creare un flame, linguaggio rude, e qualsiasi cosa risulti in una "flame war".
                %li I post devono essere rilevanti per l'argomento del thread; i post irrilevanti verranno cancellati.
                %li Se pensi che un thread vada bloccato, invia un report tramite https://oc.tc/report al posto di commentarlo nel thread stesso.
                %li Qualsiasi immagine o post non pertinente al thread è soggetto a rimozione. Le immagini di spam verranno rimosse.
                %li Non rialzare i thread postando qualsiasi cosa che non contribuisce costruttivamente al thread.
                %li Tutti i problemi personali vanno risolti in privato. I forum pubblici non sono il posto per i conflitti personali.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Non impersonare nessun altro giocatore su Mumble.
                %li Il tuo nome su Mumble dovrebbe essere il tuo nome in gioco o un nome facilmente riconducibile ad esso.
                %li Non spammare azioni che inviano messaggi agli altri giocatori (come spammare il muto, stordire o connettersi e disconnettersi continuamente)

    .page-header
        %h2 D. Nel gioco
    .row
        .span12
            %ol
                %li Non inviare messaggi che incoraggiano gli altri giocatori a lasciare la squadra o a disconnettersi dal server.
                %li A meno che non si stia spiegando il sistema di report, non bisogna incoraggiare gli altri giocatori a segnalare un giocatore specifico.
                %li Non fare accuse pubbliche di hacking verso nessun giocatore. Se pensi il player stia hackerando o infrangendo qualche regole segnalandolo utilizzando il comando /report (/report <giocatore> <messaggio>)
                %li Non puoi usare nessuna forma di messaggio nel gioco per adescare. Qualsiasi account che è stato determinato al solo scopo di adescare verrà permanentemente bannato senza alcun avviso.
                %li Non puoi inviare link verso, o sollecitare i player a entrare, qualsiasi server pubblico o privato che non è parte di Overcast Network nella chat pubblica (puoi usare /msg <giocatore> <messaggio> per informare il giocatore).
                %li Il tuo nome utente deve essere appropriato, e ti potrà esser chiesto di utilizzare un account differente se il tuo nome è utente è trovato inappropiato.
                %span.label.label-warning Nota
                %small Tutti i messaggi di chat e i comandi eseguiti sono registrati.
                %br
                %span.label.label-warning Nota
                %small Puoi inviare link al tuo live stream relativo a Overcast Network, in caso non è considerato spam.

    .page-header
        %h2 E. Modalità di gioco
    .row
        .span12
            %ol
                %li I giocatori non possono:
                %ul
                    %li Fare combat log, che è definito come uscire dalla tua squadra o dal server prima che tu muoia a causa di un membro della squadra avversaria. (Puoi fare combat log solo per non essere vittime di team-griefing)
                    %li Abusare di glitch di Minecraft per avantaggiarti su gli altri o sui loro team, o in una maniera da causare lag per gli altri giocatori. Questo include, ma non è limitato a, piazzare blocchi in aree protette dal plug-in per camminarci sopra, creare un effetto "x-ray", e renderti invincibile.
                %li In una partita nelle modalità di gioco Blitz e Ghost Squadron i giocatori non possono:
                %ul
                    %li Prolungare la partita evitando di combattere e/o nascondersi in posti inaccessibili o difficili da raggiungere.
                %li Gli osservatori non devono mai fornire informazioni tattiche agli altri giocatori o distruggere intenzionalmente il gameplay. Le informazioni tattiche includono, ma non sono limitate da:
                %ul
                    %li Rivelare la posizione di altri giocatori
                    %li Rivelare il portatore della lana in una mappa Capture The Wool.
                %li Utilizzare una skin appropriata - puoi essere punito per avere una skin non appropriata.
                %li Non attaccare direttamente nessuno spawn se non è in prossimità di un obbiettivo (spawn è definito come l'area in cui i giocatori entrano nell'area giocabile della mappa)
                %ul
                    %li Azioni che sono proibite da questa regola, ma non limitatamente a qualcuna delle seguenti azioni:
                    %ul
                        %li Istigare PvP o PvP tramite l'arco dentro o accanto allo spawn del team avversario.
                        %li Puntare cannoni di TNT sullo o accanto allo spawn del team avversario allo scopo di uccidere giocatori. (Devi modificare il tuo cannone se punta allo spawn)
                        %li Azioni che rendono l'area di spawn inagibile.
                        %li Sganciare TNT da sopra lo spawn.
                        %li "Campeggiare" in uno spawn nascondendosi/aspettando accanto allo spawn per uccidere i giocatori appena spawnati.
                    %li Esempi di azioni che non sono punibili tramite questa regola, ma non limitatamente a qualcuno di questi esempi:
                    %ul
                        %li Lancio di un cannone accidentale (garantendo che venga corretto dal proprietario appena ne fa un altro)
                        %li Combattimento fra un player che fa "rush" e un attaccante che si equipaggia (Regola generale - a un secondo dall'obbiettivo)
                        %li Combattimento fra giocatori che entrano/escono dallo spawn che è vicino all'obbiettivo.
                %span.label.label-warning Nota
                %small Le regole sull'uccisione allo spawn non si applicano nelle mappe TDM e Blitz; ci si aspetta che tu ti difendi.

    .page-header
        %h2 F. Modifiche al client
    .row
        .span12
            %ol
                %li Qualsiasi modifica che dia un vantaggio sleale sui giocatori senza modifiche è illegale mentre si gioca.
                %li
                    %i Le seguenti mod sono esplicitamente permesse durante il gioco:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch, garantendo che non permette di effettuare il crouch mentre si scrive, si guarda nell'inventario o in qualsiasi menù
                    %li
                        %i.icon-ok
                        Pacchetti di risorse che non ricadono sotto alcuna categoria proibita
                    %li
                        %i.icon-ok
                        Minimappe eccetto quanto specificato sotto
                %li
                    %i Le seguenti mod sono esplicitamente proibite durante il gioco:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Ordinatori dell'inventario
                    %li
                        %i.icon-remove
                        Auto-sprint, includendo il riservare un tasto per effettuare lo sprint al posto di premere due volte.
                    %li
                        %i.icon-remove
                        Mod che rendono più visibile il nome dei giocatori
                    %li
                        %i.icon-remove
                        Minimappe che visualizzano la posizione dei giocatori o sottoterra
                    %li
                        %i.icon-remove
                        X-ray
                    %li
                        %i.icon-remove
                        Auto-hitter
                    %li
                        %i.icon-remove
                        Aimbot
                    %li
                        %i.icon-remove
                        Fly mod
                %li
                    %i Per qualsiasi altra mod, chiedere a un membro dello staff prima di utilizzarla.
                %li Gli osservatori non sono tenuti a rispettare queste restrizioni.
                %span.label.label-warning Nota
                %small Questa sezione è aggiornata frequentemente, quindi tienila d'occhio.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li Il team griefing è proibito, ed è definito come ogni azione senza ritegno che nuoce alla tua stessa squadra, i azioni che nuociono intenzionalmente alla tua squadra.
                %li
                    %i Le seguenti azioni sono esplicitamente team griefing:
                %ol{:type => "a"}
                    %li Posizionare e/o attivare TNT vicino ai compagni di squadra o vicino a infrastrutture chiave della squadra (es. ceste, difese o minerali) all'interno della propria base
                    %li Distruggere le proprie ceste o banchi da lavoro
                    %li Uccisione di membri della propria squadra (anche rimuovendo blocchi sotto i loro piedi facendoli cadere o spingendoli fuori dal mondo)
                    %li Utilizzare/modificare un cannone di TNT costruito da un'altro giocatore senza l'esplicito permesso
                    %li Aiutare o lavorare insieme a un membro della squadra avversaria
                %li
                    %i Le seguenti azioni sono considerate senza ritegno e fortemente scoraggiate (puoi essere avvisato di infrangere le regole seguenti):
                %ol{:type => "a"}
                    %li Posizionare TNT nella propria base, specialmente costruire torri di TNT nella propria base
                    %li Costruire un cannone di TNT non protetto vicino ai propri compagni di squadra o vicino agli obbiettivi
                    %li Prendere tutta o quasi tutta la lana in una mappa Capture The Wool dalla stanza della lana, a meno che non ne è rimasta solo una nella stanza
                %li Qualsiasi azione che non è elencata qui ma che rallenta il progresso della tua squadra verso la vittoria della partita, deliberatamente o no, viene considerata "team griefing" e può essere punita come tale.
                %span.label.label-warning Nota
                %small
                    I giocatori non sono
                    %b MAI
                    autorizzati a compiere "team griefing", nemmeno in risposta a un altro team griefer.

    .page-header
        %h2 H. Regole specifiche per mappa
    .row
        .span12
            %ol
                %li Tutti i giocatori sono responsabili di tenersi aggiornati con tutte le regole specifiche per mappa. Le regole per mappa si possono trovare allo spawn della mappa, e tramite il comando /map.
                %li Le regole in /map prendono la precedenza su queste regole in caso trattino lo stesso argomento.

    .page-header
        %h2 I. Infrazioni
    .row
        .span12
            %ol
                %li I giocatori possono ricevere un avviso durante il gioco o un infrazione per aver violato qualsiasi delle regole qui sopra, dipendentemente dalla serietà della violazione.
                %li Quando ricevono un'infrazione, i giocatori verranno o kickati, o bannati temporaneamente o bannati permanentemente, dipendentemente dal numero delle infrazioni precedenti, escludendo gli avvisi.
                %li In particolari casi (seri o palesi) di violazione delle regole, includendo (ma non limitatando) l'uso di client hackerati sui server, o consistenti team griefing, e nonostante l'intervento di un moderatore, risulterà immediatamente in un ban permanente, senza avvisi.
                %li I giocatori con molti avvisi per la stessa regola potranno essere bannati temporaneamente senza alcun avviso.
                %li L'evasione dal ban non è permessa, e risulterà in un ban permanente per tutti gli account alternativi associati al player evaso. Gli account alternativi non saranno sbannati finché il ban originale non sarà finito, e il ban originale verrà esteso per il triplo della lunghezza originale. (es. un ban per una settimana diventa un ban per tre settimane).
                %li
                    I giocatori che violano qualsiasi regola del forum potranno essere bannati dal postare sul forum. Se il tuo ban stà per più di 7 giorni contattare
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    per la durata esatta del tuo ban.
                %li I giocatori che violano qualsiasi regola di Mumble potranno essere kickati o bannati dal server Mumble
                %li I giocatori che violano le regole di qualsiasi servizio offerto da Overcast Network, includendo il server di gioco, i forum e Mumble, potranno essere bannati da tutti i servizi.
                %li
                    I ban del gioco vanno appellati inviando un appello tramite
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    I ban del forum e di Mumble vanno appellati inviando un email a
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Qualsiasi giocatori che fornisce false informazioni nel suo appello potrà essere bannato permanentemente.
                %li Tutte le infrazioni sono inviate a giudizio dei moderatori.
    .page-header
        %h2 J. Varie
    .row
        .span12
            %ol
                %li Questo regolamento può cambiare in ogni momento senza alcun avviso.
                %li I giocatori sono responsabili di mantenersi aggiornati circa il regolamento.
                %li C'è un periodo di grazia che dura per la settimana successiva al cambiamento delle regole.
                %li Gli amministratori di Overcast Network si riservano il diritto di bannare o sbannare qualsiasi giocatore da qualsiasi servizio offerto da Overcast Network per qualsiasi ragione senza alcun avviso.
