%section
    .page-header
        %h1
            규칙
            %small 마지막 업데이트 November 11, 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning 주의
            %span
            이 규칙은 모든 Overcast Network 서비스에 적용됩니다.

    .page-header
        %h2
            A. 일반 규칙들
    .row
        .span12
            %ol
                %li 쾌적하고 편안한 분위기를 유지합니다. 상대방을 존중하고 상식적으로 행동합니다. 과도한 욕설, 무례함과 놀림 등은 처벌받을 수 있습니다.
                %li 올바른 맞춤법 및 문법을 씁시다.
                %li 도배하지 마십시오.
                %li 다음에 해당되는 링크를 올리지 마십시오:
                %ol{:type => "a"}
                    %li “불쾌한 사이트” 일명 바이러스, 피싱사이트, 성인 사이트, 안티 사이트.
                    %li 광고를 목적으로 하는 다른 웹사이트나 서버
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} 개인정보 유출위험이 있는 사이트.
                %li Overcast Network의 규칙을 어기는것에 동참하지 마십시오.
                %li 자기가 스태프임을 주장하지 마십시오.
                %li 버그 등을 포럼 (http://oc.tc/forums) 이나 support@oc.tc 에 보고하고 버그를 악용할 시에 처벌당할 수 있습니다.
                %li 스태프들의 지시사항을 따르십시오. 스태프에 문제점이 있다면, support@oc.tc 에 이메일을 보내주십시오.
                %span.label.label-warning 주의
                %small 올리려는 게시물에 광고우려가 있다면 스태프와 상의한 후 올리십시오.

    .page-header
        %h2 B. 웹사이트 규칙
    .row
        .span12
            %ol
                %li
                    Do not make topics or posts aiming to insult or provoke other people or groups,
                    and do not promote or encourage others to make such posts.
                %li Do not reply to topics with irrelevant, meaningless, or spammy text/images.
                %li Do not "bump" topics by posting something that does not contribute constructively to the topic.
                %li All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
                %li Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.
                %li
                    Do not make topics just to announce that you are quitting the game or the server.
                    Exeptions may be made if you are quitting for a <em>very</em> interesting reason, like you are dying, or sailing around the world.
                %li
                    Announcements about dramatic events befalling other players must include a verifiable source for the information.
                    If we cannot easily verify the story, the topic may be removed.
                    Deliberate hoaxes of this nature are considered very serious infractions.
                %li
                    Do not reply to a topic that you feel is violating the rules,
                    %a{:href => "/report"}submit a report
                    instead. Intentionally lying in a report is considered an infraction.
                %li Do not abuse HTML in the forums or personal profiles in a way that makes navigation difficult, causes extreme browser lag, or exceeds the preset boundaries.
                %small.label.label-warning 주의
                %small 프로필이나 연락처가 경고없이 지워질 수 있습니다.

    .page-header
        %h2 C. 멈블(Mumble:보이스톡 프로그램)
    .row
        .span12
            %ol
                %li 멈블에서 다른 플레이어를 가장하지 않습니다.
                %li 귀하 멈블의 이름은 게임 내 이름 또는 누구나 당신이 누군지 알 수 있어야 합니다.
                %li 도배하지 마십시오

    .page-header
        %h2 D. 서버규칙
    .row
        .span12
            %ol
                %li 게임을 나가도록 다른 플레이어들을 유도하는 말을 하지 마십시오.
                %li 다른 사람을 신고하도록 유도하지 마십시오.
                %li 공개적으로 다른사람이 핵쓴다고 하지 마십시오. 핵이 의심된다면 /report 명령어를 사용하세요,
                %li 광고 성 채팅을 하지 마십시오. 광고성 유저라고 판단되는 경우 경고 없이 영구밴처리 됩니다.
                %li Overcast Network외의 다른 서버를 링크하지 마십시오. (누가 요청할시에는 /msg로 개인적으로 전하십시오)
                %li 닉네임이 적절해야합니다. 적절하지 않다면 제제가 가해질수도 있습니다.
                %span.label.label-warning 주의
                %small 모든 채팅 메시지 및 명령어들이 기록됩니다.
                %br
                %span.label.label-warning 주의
                %small 도배하지 않는 한 Overcast Network에 관한 방송을 링크할 수 잇습니다.
    .page-header
        %h2 E. 일반 게임 플레이
    .row
        .span12
            %ol
                %li 플레이어는 불법적 우위를 점하기 위해 마인크래프트 버그를 악용하지 않습니다.
                %li 블리츠 나 고스트 스쿼드론 경기에서, 플레이어는 숨어서 시간을 연장시킬 수 없습니다.
                %li 관찰자 모드에서 다음의 전술 정보를 제공하거나 의도적으로 게임 플레이를 방해하지 않습니다.
                %ol{:type => "a"}
                    %li 플레이어의 위치를 공개
                    %li 양털 가져오기 경기에서 양털을 누가 가지고 있는지
                %li 적절한 스킨을 사용하십시오 - 부적절한 스킨을 사용시 처벌당할수 있습니다.
                %li 스폰킬하지 마십시오.
                %ol{:type => "a"}
                    %li 바로 스폰된 플레이어들이 있는 스폰 근처에서 "캠핑"을 하지 마십시오.
                    %li 스폰킬 하지 마십시오 (스폰근처에 계속 있는행위, 스폰된 플레이어들을 죽이는 행위)
                    %li TNT대포를 스폰에 조준하거나 스폰근처에 떨어뜨리지 마십시오.
                %span.label.label-warning 주의
                %small 스폰킬 규칙은 Blitz나 TDM(Team Deathmatch)에 적용되지 않습니다.

    .page-header
        %h2 F. 클라이언트 모드
    .row
        .span12
            %ol
                %li 불법적으로 상대방으로부터 우위를 점하게 하는 모드는 불법입니다.
                %li 사용 가능한 모드:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        옵티파인
                    %li
                        %i.fa.fa-check
                        갑옷상태 표시모드 (ArmorStatusHUD/StatusEffectHUD)
                    %li
                        %i.fa.fa-check
                        인벤토리 볼떄나 채팅칠때 제외하고 자동으로 쉬프팅하게 해주는 모드(Toggle-Crouch)
                    %li
                        %i.fa.fa-check
                        모든 "적절하지 않은" 범위에 속하지 않는 텍스처 팩
                    %li
                        %i.fa.fa-check
                        밑에 나와있는 불법미니맵들을 제외한 나머지 미니맵모드.
                    %li
                        %i.fa.fa-check
                        한글패치
                %li 금지되는 모드:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        자동으로 인벤토리를 정리하는 모드
                    %li
                        %i.fa.fa-times
                        플레이어의 이름 태그를 커지게 하는 모드
                    %li
                        %i.fa.fa-times
                        자동 인벤토리 핫키
                    %li
                        %i.fa.fa-times
                        지하 등을 보여주는 미니맵.
                    %li
                        %i.fa.fa-times
                        엑스레이
                    %li
                        %i.fa.fa-times
                        자동 타자기
                    %li
                        %i.fa.fa-times
                        자동조준 모드
                    %li
                        %i.fa.fa-times
                        플라이 모드
                    %li
                        %i.fa.fa-times
                        데미지 표식기 (Damage Indicator)
                    %li
                        %i.fa.fa-times
                        스마트무빙
                    %li
                        %i.fa.fa-times
                        자동달리기(Better Sprinting)
                %li 명시되있지 않는 모드는 support@oc.tc에 이메일로 확인받은뒤에 사용하십시오.
                %li 관찰자는 상관없습니다.
                %span.label.label-warning 주의
                %small 크리에티브 모드에 있는 플레이어들에겐 해당되지 않습니다.
                %br
                %span.label.label-warning 주의
                %small 로비에서의 플라이모드는 불법입니다.

    .page-header
        %h2 G. 팀 그리핑 (팀 킬, 우호지역에 TNT등)
    .row
        .span12
            %ol
                %li 팀 그리핑은 금지되며, 의도적으로 자신의 팀을 해치는 어떠한 행위로 정의된다.
                %li 팀그리핑일 경우:
                %ol{:type => "a"}
                    %li 자신의 기지 내에 / 또는 동료 TNT를 놓는 행위
                    %li 자신의 팀의 상자나 작업대를 파괴하는 행위
                    %li 플레이어가 서있는 블록을 부숴 떨어져 죽게 하는 행위
                    %li 허가 없이 다를 플레이어의TNT 대포를 만지는 행위
                    %li 다른 팀을 도와주는 행위
                %li 경고대상
                %ol{:type => "a"}
                    %li 자신의 기지에 TNT를 설치하는 행위, 특히 자신의 기지에 TNT 타워를 건축하는 행위
                    %li 동료근처에 TNT를 설치하는 행위
                    %li 양털을 모두 가져가는 행위
                %li 팀의 승리를 방해하는 모든 행위는 팀 그리핑으로 처벌받습니다.
                %span.label.label-warning 주의
                %small
                    팀그리핑을 당하더라도 복수한다고 그 플레이어에서 팀킬 하지 마십시오.

    .page-header
        %h2 H. 특정 맵 규칙
    .row
        .span12
            %ol
                %li경기 전 /map로 맵의 규칙을 아십시오.

    .page-header
        %h2 I. 처벌
    .row
        .span12
            %ol
                %li 모든 플레이어들을 위의 규칙들을 어길 시에 처벌을 받을 수 있습니다.
                %li 플레이어의 전과(처벌기록)에 따라 처벌의 무게가 달라질 수 있습니다.
                %li 경고에도 불구하고 계속 규칙을 어길 시에는 예외 없이 바로 밴당할수 있습니다.
                %li 처벌기록이 많을 때는 예고 없이 밴될 수 있습니다.
                %li 다른 계정을 통해 밴을 회피하지 마십시오, 그 계정도 밴 처리됩니다.
                %li 영구 차단 회피는 모든 계정이 대한 차단 됩니다.
                %li 포럼규칙을 위반하는 유저에게는 포럼에서 차단됩니다.
                %li 멈블규칙을 위반해도 차단됩니다.
                %li  게임 서버, 포럼, 멈블 포함한 모든 Overcast Network 서비스에 대한 규칙을 위반하는 유저는 서비스의 일부 또는 전부 금지 할 수 있습니다.
                %li
                    밴을 풀려고 할 때는 포럼이 아닌
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    을. 포럼과 멈블 밴에는 이메일을 통해 풀어야 합니다(이메일
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc).
                %li
                    %b 항소문에 거짓 정보를 기재하는 유저는 영구적으로 차단될 수 있습니다.
                %span.label.label-warning 주의
                %small 모든 처벌은 스태프들의 자비에 있습니다.
    .page-header
        %h2 J. 기타
    .row
        .span12
            %ol
                %li 이 규칙은 변경 될 수 있습니다.
                %li 플레이어는 규칙 변화와 유지에 대한 책임이 있습니다.
                %li 규칙 변경을 한 후 한 주간의 유예 기간이 있습니다.
                %li Overcast Network 관리자들은 예고 없이 누구나 밴 또는 밴을 풀 권리가 있습니다.
