%section
    .page-header
        %h1
            Regels
            %small Laatste update: 11 november 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Opmerking
            %span
            Deze regels gelden voor
            %b alle
            servers van Overcast Network.

    .page-header
        %h2
            A. Algemene houding
    .row
        .span12
            %ol
                %li Blijf kalm, wees niet disrespectvol en gebruik je verstand. Teveel gescheld, onbeschaafdheid en intimidatie is niet toegestaan.
                %li Probeer normale taal en spelling aan te houden.
                %li Spam niet.
                %li Geef geen links in de chat naar:
                %ol{:type => "a"}
                    %li Pornografie, shock sites (screamers), virussen en haatgroepen
                    %li Andere websites of servers. Adverteren is niet toegestaan.
                    %li
                        %a{:href => "https://nl.wikipedia.org/wiki/Persoonsgegevens"} Vertrouwelijke informatie van andere spelers.
                %li Breek de regels niet en spoor andere spelers niet aan de regels te breken.
                %li Geef je niet uit voor iemand van de Overcast Network staff en beweer niet dat je lid van de staff bent als dat niet zo is. 
                %li Meld problemen met of bugs in de Overcast Network servers op het forum (http://oc.tc/forums) of door een e-mail te sturen naar support@oc.tc. Als je problemen/bugs niet meldt aan de staff, wordt dat beschouwd als misbruik en is het strafbaar.
                %li Volg eventuele aanwijzingen van mensen uit het staff team op. Als je denkt dat iemand uit het staff team je misleid heeft, stuur dan een e-mail naar support@oc.tc en vermeld wat er is gebeurd en wat diegene fout heeft gedaan.
                %span.label.label-warning Opmerking
                %small Als je iets wilt posten maar niet zeker weet of het onder reclame maken valt, vraag het dan eerst aan iemand van het staff team.

    .page-header
        %h2 B. Gedrag op de website
    .row
        .span12
            %ol
                %li
                    Maak geen topics of posts op het forum waarin je andere mensen of groepen beledigt of uitdaagt
                    en zet andere mensen er niet toe aan dergelijke posts te maken.
                %li Antwoord niet op topics met irrelevante, zinloze of spammy tekst en/of afbeeldingen.
                %li "Bump" geen topics door iets te posten dat niets met het onderwerp te maken heeft.
                %li Hou persoonlijke problemen voor buiten het forum. Het forum is publiek en niet geschikt voor persoonlijke conflicten.
                %li Als je kritiek levert op werk van anderen, van de staff of van de community in het algemeen, wees dan beleefd en respectvol.
                %li
                    Maak geen afscheidstopics.
                    Eventuele uitzonderingen kunnen goedgekeurd worden als het gaat om een <em>heel</em> interessante reden, zoals als je doodgaat of als je de wereld rondzeilt.
                %li
                    Aankondigingen over dramatische gebeurtenissen in het leven van andere spelers moeten vergezeld zijn door een bewijs van die informatie.
                    Als het verhaal niet gemakkelijk te controleren is, kan de topic verwijderd worden.
                    Opzettelijke grappen in verband hiermee worden beschouwd als ernstige inbreuken.
                %li
                    Antwoord niet op een topic waarvan je denkt dat het regels breekt. In de plaats daarvan kun je
                    %a{:href => "/report"}een report insturen
                    Doelbewust liegen in een report is niet toegestaan.
                %li Misbruik HTML niet op het forum of op je profiel. HTML mag surfen niet bemoeilijken, geen ernstige browser lag veroorzaken en niet buiten de grenzen van je profiel reiken.
                %small.label.label-warning Opmerking
                %small Je profiel of contactinformatie kan zonder waarschuwing verwijderd worden.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Geef je niet uit voor iemand anders. Doe geen andere mensen na op Mumble.
                %li Je Mumble naam moet je Minecraft naam zijn of iets dat erop lijkt, zodat iedereen weet wie je bent.
                %li Spam andere mensen niet, bijvoorbeeld door constant berichten te sturen of steeds in en uit te loggen.

    .page-header
        %h2 D. Gedrag op de servers
    .row
        .span12
            %ol
                %li Stuur geen berichten naar andere mensen die ervoor zorgen dat ze het spel verlaten of de verbinding met de server verbreken. Het is bijvoorbeeld verboden mensen aan te sporen om Alt+F4 in te drukken.
                %li Vertel andere spelers niet wie ze moeten reporten, tenzij je uitlegt hoe ze dat moeten doen.
                %li Beschuldig iemand niet van hacken in het openbaar als je denkt dat iemand hackt of een regel breekt. Report diegene met het commando /report.
                %li Reclame maken voor andere servers die niet van Overcast Network zijn, is niet toegestaan. Wie dit doet, wordt permanent uitgesloten van Overcast Network.
                %li Je mag niet linken naar andere servers of mensen vertellen dat ze een bepaalde server moeten joinen. Als je iemand ziet die dit doet, stuur hem dan een privébericht met het commando /msg of /tell en leg hem uit wat hij fout doet.
                %li Je Minecraft gebruikersnaam moet normaal zijn en niet respectloos, racistisch, seksistisch of intimiderend. Je zal verbannen worden als je gebruikersnaam één of meerdere van deze criteria overschrijdt. Als dat het geval is, zul je gevraagd worden een andere account te gebruiken. Dit valt niet onder de regel 'ban evasion'.
                %span.label.label-warning Opmerking
                %small Alle chatberichten en -commando's worden opgeslagen en kunnen teruggevonden worden.
                %br
                %span.label.label-warning Opmerking
                %small Je mag wel stream-links delen zolang ze te maken hebben met deze servers.

    .page-header
        %h2 E. Algemene gameplay
    .row
        .span12
            %ol
                %li Misbruik maken van glitches of bugs in Minecraft om zo een voordeel te creëren voor jezelf of voor je team, en/of om het andere team lag te bezorgen, is verboden. Voorbeelden zijn: plaatsen van blokken waar dat niet mag, 'x-ray'-effecten gebruiken of zorgen dat je onzichtbaar bent.
                %li In een Blitz- of Ghost Squadron spel is het verboden je te verstoppen zodat het spel langer duurt, of gevechten te ontwijken door steeds maar weg te rennen. Je hoort te vechten voor je team, niet weg te rennen.
                %li Toeschouwers mogen nooit tactische informatie uitgeven die de loop van het spel beïnvloedt. Tactische informatie houdt in, maar is niet beperkt tot:
                %ol{:type => "a"}
                    %li De locatie van een bepaalde speler of objective (doel) onthullen.
                    %li Zeggen wie de wol heeft in een “Capture the Wool” map.
                %li Gebruik een geschikte skin. Het dragen van een ongeschikte skin wordt bestraft.
                %li Doe niet aan "spawn camp":
                %ol{:type => "a"}
                    %li "Kampeer" niet bij de spawn van het andere team om daar net gespawnde spelers op te wachten.
                    %li Val nooit direct een spawn aan: ren niet naar een spawn, val er geen mensen aan, blijf niet in de buurt, vermoord niet elke speler die spawnt.
                    %li Mik geen TNT-kanonnen op een spawn. Laat niet herhaadelijk TNT op een spawn vallen ("carpet bombing" in het Engels).
                %span.label.label-warning Opmerking
                %small Regels over "spawn camp" gelden niet in Deathmatch en Blitz-matches.

    .page-header
        %h2 F. Minecraft Client: wijzigingen
    .row
        .span12
            %ol
                %li Elke clientwijziging die een oneerlijk voordeel ten opzichte van de normale Minecraftgebruikers oplevert, is illegaal tijdens het spelen.
                %li De volgende mods zijn wél toegestaan tijdens het spelen:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Mods die je toelaten hurken ("crouch" of "sneak" in het Engels) te togglen, op voorwaarde dat dat onmogelijk is wanneer je typt, in je inventaris of in eender welk menu kijkt.
                    %li
                        %i.fa.fa-check
                        Texture packs die niet vallen onder valsspelen (x-ray packs, enzovoort)
                    %li
                        %i.fa.fa-check
                        Minimaps, op een paar na. Die vind je hieronder.
                %li De volgende mods zijn verboden tijdens het spelen:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory sorteerders
                    %li
                        %i.fa.fa-times
                        Mods die namen duidelijker maken of namen van spelers die shiften, nog steeds tonen.
                    %li
                        %i.fa.fa-times
                        Automatische toolkeuzeschakelaars
                    %li
                        %i.fa.fa-times
                        Minimaps die entiteiten ("drops"), grotten of tunnels laten zien.
                    %li
                        %i.fa.fa-times
                        X-rays (mods die je toelaten door blokken heen te kijken)
                    %li
                        %i.fa.fa-times
                        Auto-hitters (mods die je toelaten automatisch mensen te slaan, ook al klik je zelf niet)
                    %li
                        %i.fa.fa-times
                        Aimbots (mods die ervoor zorgen dat je iemand altijd raakt)
                    %li
                        %i.fa.fa-times
                        Vliegen
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator (mods die aangeven hoeveel leven een tegenstander nog heeft)
                    %li
                        %i.fa.fa-times
                        SmartMoving 
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Stuur een mail naar support@oc.tc als je niet zeker weet of een mod toegelaten is.
                %li Toeschouwers hoeven zich niet aan deze regels te houden.
                %span.label.label-warning Opmerking
                %small Spelers in "creative mode" hoevel zich niet aan deze regels te houden.
                %br
                %span.label.label-warning Opmerking
                %small Spelers in de lobby mogen geen mods downloaden die hen toelaten te vliegen.

    .page-header
        %h2 G. Teamgriefen
    .row
        .span12
            %ol
                %li Teamgriefen is verboden. Teamgriefen is een al dan niet roekeloze actie die je eigen team schade toebrengt.
                %li De volgende voorbeelden zijn verboden:
                %ol{:type => "a"}
                    %li TNT plaatsen/aansteken vlakbij je teamgenoten of vlakbij belangrijke spullen (mineralen zoals ijzer of diamant, kisten, verdedigingen, enz.) in je eigen basis.
                    %li Kisten of crafting tables van je eigen team vernietigen.
                    %li Team killing: het weghalen van blokken onder je teamgenoten ('spleef'), ze in brand steken, of ze uit de wereld duwen bijvoorbeeld met water.
                    %li Kanonnen van je teamgenoten veranderen of kapot maken zonder enige vorm van overleg.
                    %li Samenwerken met het andere team.
                %li Zijn beschouwd als roekeloos en sterk afgeraden (en zullen resulteren in een waarschuwing):
                %ol{:type => "a"}
                    %li Het plaatsen van TNT in je eigen basis, en zeker TNT-torens maken.
                    %li Het plaatsen van niet-verdedigend TNT vlakbij teamgenoten of doelstellingen.
                    %li Het pakken van bijna alle of alle wool uit een Capture the Wool map uit de wool room, tenzij er nog maar één wool over is.
                %li Eventuele acties die hier niet vermeld worden, die je team belemmeren de wedstrijd te winnen, al dan niet opzettelijk, vallen onder 'team griefen' en worden als zodanig behandeld.
                %small
                    Spelers zijn
                    %b NOOIT
                    toegestaan om te teamgriefen, ook als je het iemand ziet doen.

    .page-header
        %h2 H.  Mapspecifieke regels
    .row
        .span12
            %ol
                %li Alle spelers moeten up-to-date blijven met specifieke map regels van het Overcast Network. Je kunt de regels map per map bekijken met behulp van het commando /map [mapnaam]
                %li De regels in een map op een sign kunnen niet meer geldig zijn. In dat geval moet je je houden aan de regels van /map.

    .page-header
        %h2 I. Gevolgen van inbreuken
    .row
        .span12
            %ol
                %li Spelers kunnen een waarschuwing of overtreding krijgen als ze de regels breken.
                %li De strengte van straffen is in het algemeen gebaseerd op voorgaande overtredingen.
                %li Gevallen van schending van de regels, zoals maar niet uitsluitend: gemodificeerde clients, continu teamgriefen ondanks het ingrijpen van een moderator, zullen resulteren in een onmiddellijke verbanning, zonder waarschuwing.
                %li Spelers die steeds dezelfde waarschuwingen ontvangen, worden tijdelijk of permanent verbannen.
                %li Het is verboden verbanning, tijdelijk of permanent, te ontduiken ("ban evasion" in het Engels). Als het ontdekt wordt, zal dat resulteren in een permanente verbanning voor alle alternatieve accounts. Deze verbanning voor de alternatieve accounts wordt niet ongedaan gemaakt als de oorspronkelijke straf is verstreken. De oorspronkelijke straf kan worden verlengd tot maximaal driemaal de oorspronkelijke lengte.
                %li Aanhoudende ontduiking zal resulteren in een permanente ban voor alle accounts.
                %li
                    Spelers die de regels van de forums overtreden kunnen worden uitgesloten van posten op de forums ("forum ban" in het Engels). Als het verbod langer dan 7 dagen aanhoudt, kun je contact opnemen met
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    om de exacte duur ervan te achterhalen.
                %li Spelers die de regels in Mumble breken, worden gekickt of tijdelijk/permanent verbannen van Mumble.
                %li Spelers die de regels overtreden van één of elke Overcast Network-service, met inbegrip van de game servers, de forums, en Mumble, kunnen worden uitgesloten van één of alle van de diensten.
                %li
                    Als je verbannen bent in het spel, schrijf dan naar
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Voor forum- en Mumble bans stuur je een e-mail naar
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Alle spelers die valse informatie geven in zijn/haar beroep ("appeal" in het Engels), riskeren permament verbannen te worden.
                %span.label.label-warning Opmerking
                %small De staff behandelt alle overtredingen vertrouwelijk.
    .page-header
        %h2 J. Extra informatie
    .row
        .span12
            %ol
                %li Je wordt geïnformeerd als deze regels veranderen.
                %li Spelers moeten up-to-date zijn met de regels.
                %li Je hebt een week de tijd om de geüpdatete regels te lezen na het uitbrengen van de update.
                %li De Overcast Network Administration behoudt zich het recht spelers te verbannen of de verbanning ongedaan te maken zonder voorafgaande kennisgeving.
Status API Training Shop Blog About
© 2014 GitHub, Inc. Terms Privacy Security Contact
