    .page-header
        %h3
            B. Comportamiento en la web
    .row
        .span12
            %ol
                %li No hacer temas o mensajes dirigidos a insultar o provocar a otras personas o grupos, y no promover o alentar a otros a hacer tales mensajes.
                %li No responder a temas con texto/imágenes irrelevantes, sin sentido, o spam.
                %li No "reactivar" los temas mediante la publicación de algo que no contribuye de forma constructiva con el tema.
                %li Todas las cuestiones personales deben tratarse en privado. Los foros públicos no son el lugar para los conflictos personales.
                %li Las críticas al trabajo de los demás, tanto al Staff y la comunidad en general, deben ser entregadas con cortesía y respeto personal.
                %li No hacer temas sólo para anunciar que está dejando el juego o el servidor. Se pueden hacer excepciones si usted lo está dejando por una razón muy interesante, como te estás muriendo, o navegando alrededor del mundo.
                %li Los anuncios sobre acontecimientos dramáticos que acontecen a otros jugadores deben incluir una fuente que compruebe la información. Si no podemos verificar fácilmente la historia, el tema puede ser eliminado. Las bromas pesadas deliberadas de esta naturaleza se consideran infracciones muy graves.
                %li No responda a un tema que crees que está violando las reglas, presente un informe en su lugar. Intencionadamente la mentira en un informe es considerada una infracción.
                %li No abuse de HTML en los foros o perfiles personales de una manera que hace que la navegación sea difícil, cause el retraso extremo del navegador, o exceda los límites preestablecidos.
                %span.label.label-warning Nota
                %small Tu perfil o información de contacto puede ser borrada sin previo aviso.
