%section
    .page-header
        %h1
            Peraturan-peraturan
            %small Dikemaskini pada Mei 11, 2016
            = render "select"
    .row
        .col-md-12
            %span.label.label-warning Nota
            %span
            Peraturan-peraturan ini dikenakan pada
            %b semua
            perkhidmatan Lifeboat PC Network.

    .page-header
        %h2 A. Ketenteraman Umum
    .row
        .col-md-12
            %ol
                %li Kekalkan suasana yang kasual dan menyenangkan. Sila hormat-menghormati dan gunakan akal anda. Makian, kebiadaban dan pengangguan yang berlebihan tidak diterima.
                %li Cuba untuk mengekalkan ejaan dan tatabahasa yang betul.
                %li Jangan spam.
                %li Jangan kongsi apa-apa daripada yang berikut:
                %ol{:type => "a"}
                    %li Benda yang dibantah, termasuk tetapi tidak terhad kepada pornografi, tempat-tempat yang mengejutkan, virus, laman web phishing dan kumpulan pembenci.
                    %li Laman web atau server yang lain yang menjadikan ia sebuah pengiklanan.
                    %li Maklumat pengenalan peribada pengguna lain.
                %li Jangan menggalakkan atau mengambil bahagian dalam melanggari peraturan perkhidmatan Lifeboat PC Network.
                %li Jangan menyamar sebagai mana-mana ahli kakitangan Lifeboat PC Network, atau mendakwa diri sendiri sebagai seorang ahli kakitangan.
                %li Laporkan isu-isu atau bug Lifeboat PC Network kepada forum Overcast atau support@oc.tc; eksploitasi bug bagi apa-apa sebab selain daripada menunjukkan seorang ahli kakitangan dengan permintaannya akan mengakibatkan penghukuman.
                %li Ikut sebarang arahan yang diberikan oleh seorang ahli kakitangan Lifeboat PC Network. Jika anda percaya seorang ahli kakitangan telah mengarah anda dengan salah, sila hantarkan e-mel kepada support@oc.tc.
                %span.label.label-warning Nota
                %small Jika anda bimbang tentang perkongsian yang mungkin merupakan pengiklanan, sila dapatkan penjelasan dengan seorang ahli kakitangan sebelum mengepos.

    .page-header
        %h2 B. Tingkah Laku Laman Web
    .row
        .col-md-12
            %ol
                %li Jangan membuat topik atau pos-pos yang menghina atau menghasut orang lain atau sebilangan orang, dan jangan menggalakkan atau mendorong orang lain untuk membuat pos-pos sebegitu.
                %li Jangan membuat pos-pos yang megejek atau "meramalkan" komen yang tidak baik, kerana ia menggalakkan pengguna-pengguna untuk membuat komen sebegitu.
                %li Jangan menjawab topik-topik yang tidak munasabah, tidak berguna, atau teks-teks atau gambar-gambar yang berketerlaluan.
                %li Jangan "bump" topik-topik dengan mengeposkan sesuatu yang tidak menyumbangkan kepada topik itu secara konstruktif.
                %li Semua isu-isu peribadi mesti diuruskan secara peribadi. Forum awam bukan tempat untuk konflik-konflik peribadi.
                %li Kritikan mengenai karya-karya orang lain, sama ada kakitangan atau masyarakat, mesti disampaikan dengan kesopanan dan hormat.
                %li Jangan membuat topik-topik hanya untuk mengumumkan anda akan berhenti permainan atau server ini. Kecuali jika anda akan berhenti untuk sebab-sebab yang menarik, contohnya anda akan meninggal dunia, atau belayar seluruh dunia.
                %li Pengumuman mengenai kajadian dramatik ditimpa anda atau orang lain mesti disertai sumber yang sah untuk informasi itu. Jika kami tidak dapat mengesahkan kejadian itu, topik itu mungkin akan dibuang. Penipuan yang sengaja seperti mengenai ini dianggap sebagai pelanggaran peraturan yang sangat serius.
                %li Jangan menjawab sebuah topik yang anda rasa melanggar peraturan, sebaliknya hantarkan sebuah laporan. Menipu secara sengaja dalam sebuah laporan dianggap sebagai sebuah pelanggaran peraturan.
                %li Jangan menyalahgunakan HTML di dalam forum atau profil anda yang menyusahkan navigasi, menyebabkan "browser lag" yang berketerlaluan, atau melampaui sempadan yang ditetapkan.
                %span.label.label-warning Nota
                %small Profil atau informasi perhubungan anda mungkin dipadamkan tanpa notis.

    .page-header
        %h2 C. Mumble
    .row
        .col-md-12
            %ol
                %li Jangan menyamar sebagai pemain lain di Mumble.
                %li Nama Mumble anda seharusnya nama permainan anda atau variasi lain yang senang dikenalpasti.
                %li Jangan melakukan tindakan yang berketerlaluan yang menghantar mesej-mesej kepada orang lain (seperti melakukan tindakan "mute", "deafen" dengan berketerlaluan atau memutus dan meyambung semula berkali-kali)

    .page-header
        %h2 D. Tingkah Laku Server
    .row
        .col-md-12
            %ol
                %li Jangan menghantar mesej-mesej yang menggalakkan pemain lain untuk meninggalkan sebuah pasukan atau memutus dari server itu.
                %li Kecuali anda sedang menerangkan proses laporan, anda tidak boleh menggalakkan orang lain untuk melaporkan seorang pemain yang tertentu.
                %li Jangan tuduh sebarang pemain menipu secara umum. Jika anda rasa seorang pemain sedang menipu atau melanggar sebarang peraturan laporkan mereka menggunakan arahan /report.
                %li Anda tidak boleh menggunakan sebarang jenis perbualan dalam permainan untuk memancing sesuatu. Sebarang akaun yang didapati hanya untuk memancing sesuatu akan dilarang tetap tanpa amaran.
                %li Anda tidak boleh berkongsi atau mamancing pemain untuk menyertai sebarang server awam atau peribadi yang bukan sebahagian daripada Lifeboat PC Network dalam perbualan awam. (Anda boleh menggunakan arahan /msg untuk memberitahu pemain-pemain yang memintanya).
                %li Nama permainan anda mesti sesuai, dan anda mungkin akan diminta untuk menggunakan akaun yang lain jika nama permainan anda didapati tidak sesuai. (Ini tidak dikira sebagai pengelakan larangan.)
                %li Jika anda memepunyai akses kepada arahan /nick, sebarang nama gelaran dipilih harus direka untuk mengadakan anonimiti, bukan perhatian. Anda tidak boleh menggunakan /nick untuk menyamar sebagai orang lain, dan anda tidak boleh menggunakan nama gelaran yang tidak sesuai.
                %span.label.label-warning Nota
                %small Semua mesej perbualan dan arahan dilog.
                %br
                %span.label.label-warning Nota
                %small Anda boleh mengongsikan livestream anda yang berkaitan dengan Lifeboat PC Network, selagi anda tidak melakukannya dengan berketerlaluan.

    .page-header
        %h2 E. Permainan Secara Am
    .row
        .col-md-12
            %ol
                %li Pemain tidak boleh menyalahgunakan kerosakan. Ini termasuk, tetapi tidak terhad kepada, meletakkan blok di tempat-tempat yang dihadkan oleh plugin untuk berjalan, mengadakan sebuah kesan "x-ray", dan menyebabkan anda untuk menjadi kebal.
                %li Dalam sebuah perlawanan Blitz atau Ghost Squadron, pemain tidak boleh memanjangkan sebuah perlawanan dengan mengelakkan pertempuran dan/atau bersembunyi di tempat-tempat yang tidak dicapai atau sukar untuk sampai.
                %li Penonton tidak boleh memberikan maklumat taktikal kepada pemain-pemain atau menggangu permainan dengan sengaja. Maklumat taktikal termasuk, tetapi tidak terhad kepada:
                %ol{:type => "a"}
                    %li Mendedahkan lokasi pemain
                    %li Mendedahkan siapakah mempunyai wol dalam permainan Capture the Wool
                %li Sila gunakan kulit yang sesuai - anda boleh dihukum kerana menggunakan kulit yang tidak sesuai.

    .page-header
        %h2 F. Pengubahsuaian Klien
    .row
        .col-md-12
            %ol
                %li Sebarang pengubahsuaian klien yang memberi kelebihan yang tidak adil kepada pengguna Minecraft yang tidak diubahsuai adalah haram semasa bermain.
                %li Sebarang alat luaran yang mengubahsuai permainan untuk memberi kelebihan yang tidak adil kepada pengguna yang tidak menggunakan alat itu adalah haram semasa bermain.
                %li Pengubahsuaian yang berikut dibenarkan secara jelas semasa permainan:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD / StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 dan ke atas)
                    %li
                        %i.fa.fa-check
                        Toggle Sneak / Sprint (LabyMod / HCF version)
                    %li
                        %i.fa.fa-check
                        Toggle-crouch yang tidak membenarkan membongkok semasa menaip, melihat inventori, atau sebarang menu
                    %li
                        %i.fa.fa-check
                        Resource pack yang tidak tergolong dengan kategori "dilarang secara jelas"
                    %li
                        %i.fa.fa-check
                        Minimaps kecuali yang dinyatakan di bawah
                %li Pengubahsuaian yang berikut dilarang secara jelas semasa permainan:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Pengisihan Inventori
                    %li
                        %i.fa.fa-times
                        Pengubahsuaian yang mendedahkan atau membesarkan tag nama pemain
                    %li
                        %i.fa.fa-times
                        Pemilihan alat yang automatik
                    %li
                        %i.fa.fa-times
                        Minimaps yang menunjukkan kedudukan entiti, atau menunjukkan gua/bawah tanah.
                    %li
                        %i.fa.fa-times
                        X-ray
                    %li
                        %i.fa.fa-times
                        Pemukul yang automatik
                    %li
                        %i.fa.fa-times
                        Pertolongan membidik
                    %li
                        %i.fa.fa-times
                        Pengubahsuaian penerbangan
                    %li
                        %i.fa.fa-times
                        Petunjuk kerosakan/kesihatan
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Untuk pengubahsuaian yang lain, hantarkan e-mel kepada support@oc.tc untuk pengesahan sebelum menggunakannya.
                %span.label.label-warning Nota
                %small Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.
                %br
                %span.label.label-warning Nota
                %small Penonton tidak terikat kepada had-had ini.
                %br
                %span.label.label-warning Nota
                %small Pemain dalam lobi tidak dibenarkan untuk menggunakan pengubahsuaian penerbangan.

    .page-header
        %h2 G. Kerosakkan Pasukan Sendiri (Team Griefing)
    .row
        .col-md-12
            %ol
                %li Kerosakkan pasukan sendiri dilarang dan ditakrifkan sebagai sebarang tindakan yang cuai atau sengaja yang merosakkan pasukan anda sendiri.
                %li Berikut adalah kerosakkan pasukan sendiri yang jelas:
                %ol{:type => "a"}
                    %li Meletakkan dan/atau menyalakan TNT berhampiran rakan pasukan atau berhampiran infrastruktur penting pasukan anda (peti, pertahanan atau bijih) di tempat pasukan anda sendiri
                    %li Memecahkan peti atau bangku kerja pasukan anda sendiri
                    %li Membunuh rakan pasukan (sama ada dengan memecahkan blok di bawah seseorang menyebabkan mereka untuk jatuh, atau menolak rakan pasukan keluar dunia)
                    %li Menggunakan/mengubahsuai sebuah meriam TNT yang dibina pemain lain tanpa pengizinan yang jelas
                    %li Membantu atau bekerjasama dengan seorang pemain daripada pasukan yang lain
                %li Berikut dianggap cuai dan sangat tidak digalakkan (anda boleh diberi amaran kerana melanggar peraturan yang berikut):
                %ol{:type => "a"}
                    %li Meletakkan TNT dalam tempat pasukan sendiri, terutama sekali membina menara TNT dalam tempat pasukan sendiri
                    %li Membina TNT yang tidak dilindungi berhampiran rakan pasukan atau objektif
                    %li Megambil semua atau kebanyakkan wol dalam permainan Capture the Wool keluar sebuah bilik wol, kecuali cuma ada satu lagi wol dalam bilik wol itu
                %li Sebarang tindakan yang tidak disenaraikan di sini yang menghalang kemajuan pasukan anda untuk memenangi permainan itu, dengan sengaja atau tidak, masih tergolong dengan "kerosakkan pasukan sendiri (team griefing)" dan akan diuruskan sebegitu.
                %span.label.label-warning Nota
                %small
                    Pemain
                    %b TIDAK
                    dibenarkan untuk merosakkan pasukan anda sendiri, walaupun untuk membalas seseorang perosak pasukan.

    .page-header
        %h2 H. Peraturan Bagi Permainan Tertentu
    .row
        .col-md-12
            %ol
                %li Semua pemain bertanggungjawab untuk berkemaskini dengan semua peraturan permainan. Peraturan permainan boleh dilihat di papan peraturan di tempat berhidup semula, dan menerusi arahan /map.
                %li Peraturan dalam /map diutamakan ke atas peraturan biasa dalam kes-kes mengenai subjek yang sama.

    .page-header
        %h2 I. Kesan-kesan
    .row
        .col-md-12
            %ol
                %li Pemain mungkin akan menerima amaran dalam permainan atau perhukuman kerana melanggar sekarang peraturan di atas, bergantung kepada keterukan melanggar peraturan.
                %li Keterukan penghukuman biasanya berdasarkan penghukuman pemain yang terdahulu.
                %li Terutamanya dalam kes-kes melanggari peraturan yang serius atau yang jelas, termasuk tetapi tidak terhad kepada menggunakan pengubahsuaian yang memberi anda kelebihan yang tidak adil, atau merosakkan pasukan anda dengan konsisten walaupun setelah seorang kakitangan telah campur tangan, akan diakibatkan dengan larangan kekal dengan serta-merta, tanpa amaran.
                %li Pemain dengan banyak amaran untuk peraturan yang sama mungkin boleh dilarang buat sementara tanpa notis.
                %li Pengelakan larangan tidak dibenarkan dan akan diakibatkan larangan kekal untuk semua akaun lain yang dikaitkan dengan pemain yang sedang mengelak larangan. Larangan atas akaun yang lain itu tidak akan dihentikan apabila larangan yang asal telah berhenti, dan larangan yang asal itu mungkin akan dipanjangkan sebanyak 3 kali larangan asal. (contohnya larangan 1 minggu menjadi larangan 3 minggu).
                %li Pengelakan larangan yang berterusan akan diakibatkan dengan larangan kekal untuk semua akaun.
                %li Pemain melanggari sebarang peraturan forum mungkin akan dilarang daripada mengepos di forum.
                %li Pemain melanggari sebarang peraturan Mumble mungkin akan ditendang atau dilarang dari server Mumble.
                %li Pemain melanggari peraturan-peraturan di sebarang perkhidmatan Lifeboat PC Network, termasuk server permainan, forum, dan Mumble, mungkin akan dilarang dari sebarang atau semua perkhidmatan itu.
                %li Semua penghukuman boleh dirayukan dengan memfailkan sebuah rayuan.
                %li
                    %b Sebarang pemain yang memberikan maklumat palsu dengan sengaja dalam rayuannya boleh dilarang secara kekal.
                %span.label.label-warning Nota
                %small Semua penghukuman tertakluk kepada keputusan kakitangan.

    .page-header
        %h2 J. Lain-lain
    .row
        .col-md-12
            %ol
                %li Peraturan-peraturan ini tertakluk kepada perubahan tanpa notis.
                %li Pemain bertanggungjawab untuk berkemaskini dengan perubahan peraturan.
                %li Terdapat tempoh kelonggaran selama satu minggu untuk perubahan peraturan.
                %li Pentadbiran Lifeboat PC Network mempunyai hak untuk melarangkan atau menghentikan larangan sebarang pemain dari sebarang perkhidmatan Lifeboat PC Network atas sebarang sebab tanpa notis.
