%section
    .page-header
        %h1
            Undang-undang
            %small Dikemaskinikan pada Januari 25, 2015
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            Undang-undang demikian dikenakan kepada
            %b semua
            Perkhidmatan Rangkaian Overcast.

    .page-header
        %h2
            A. Ketenteraman Umum
    .row
        .span12
            %ol
                %li Kekalkan suasana kasual dan tenteram. Hormati semua dan gunakan akal. Kelebihan bercakap buruk, perangai biadab dan menyerang pengguna lain tidak boleh diterima.
                %li Cuba kekalkan ejaan dan tatabahasa elok.
                %li Jangan spam (menghantar mesej, arahan dan sebagainya berulang ulangan).
                %li Jangan paut kepada aset-aset tersebut:
                %ol{:type => "a"}
                    %li Objek tidak diterima, termasuk tetapi tidak terhad kepada video maksiat, "shock sites", virus, halaman web palsu dan kumpulan benci.
                    %li Halaman web lain yang membentuk pengiklanan.
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Paparan maklumat identiti peribadi pengguna lain.
                %li Jangan megambil tempat atau menggalakkan pelanggaran undang-undang perkhidmatan Rangkaian Overcast.
                %li Jangan menyamar sebagai kakitangan Rangkaian Overcast, atau mendakwa diri sebagai kakitangan Rangkaian Overcast.
                %li Lapor isu atau pepijat perkhidmatan Ragnkaian Overcast kepada forum (http://oc.tc/forums) atau kepada support@oc.tc; mengexploitasikan pepijat akan menghukum anda selain kerana mununjukkan pepijat berkenaan atas permintaan kakitangan.
                %li Turut arah kakitangan Rangkaian Overcast. Jika anda terasa kakitangan menyalahgunakan kuasa, sila e-mel support@oc.tc.
                %span.label.label-warning Nota
                %small Jika anda terganggu mengenai pautan yang anda rasa membentuk pengiklanan, sila jelaskan dahulu dengan kakitangan sebelum mengepost.

    .page-header
        %h2 B. Adab Halaman Web
    .row
        .span12
            %ol
                %li
                    Jangan membuat post untuk mengancam atau menghina pengguna lain,
                    dan jangan mengalakkan pengguna lain untuk post sebegitu.
                %li Jangan membalas komen biadab dengan cara biadab, kerana ini mangalakkan pengguna lain untuk post komen cara sebigini.
                %li Jangan membalas komen dengan perkara tidak berkaitan, tidak bermakna, atau spam teks/imej.
                %li Jangan "bump" topik-topik forum oleh mengepost benda tidak berkaitan.
                %li Hal peribadi mesti diselesaikan secara peribadi. Forum umum bukan tempat konflik peribadi.
                %li Kritikan kerja pengguna lain, kakitangan atau tidak, perlu dipesan dengan sopan dan hormat.
                %li
                    Jangan membuat topik forum hanya kerana anda akan berhenti bermain permainan/pelayan komputer ini.
                    Diterkecualikan jika anda akan berhenti kerana sebab <em>sangat</em> menarik, seperti anda sedang mati, atau belayar sekeliling dunia.
                %li
                    Pengumuman tentang pengguna lain perlu termasukkan sumber sah.
                    Jika kami tidak boleh mengesahkan topik ini dengan senang, topik ini akan dipadamkan.
                    Penipuan dengan cara ini akan dianggap pelanggaran undang-undang yang sangat besar.
                %li
                    Jangan membalas kepada topik yang anda rasa telah melanggar undang-undang,
                    %a{:href => "/report"}laporkan ini
                    sebagai ganti. Penipuan sengaja dalam laporan dianggap pelanggaran undang-undang.
                %li Jangan menyaalahguna HTML di forum atau profil peribadi dengan cara yang menyebabkan navigasi sukar, menyebabkan pelayar lambat, atau melebihi sempadan bekas kandungan.
                %small.label.label-warning Nota
                %small Profil peribadi atau maklumat perhubungan anda boleh dipadam tanpa izin anda.
    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Jangan menyamar sebagai pengguna lain di Mumble.
                %li Nama Mumble anda mestilah sama dengan nama permainan anda atau variasi lain yang boleh dikenali.
                %li Jangan membuat tindakan spam yang menghantar mesej ke pengguna lain (seperti menyespam mute, munilikan atau disconnecting dan reconnecting berturut-turut)

    .page-header
        %h2 D. Adab Pelayan
    .row
        .span12
            %ol
                %li Jangan hantar mesej yang mengalakkan pemain lain untuk meninggalkan pasukan atau meninggalkan pelayan.
                %li Kecuali menggambarkan cara laporan, anda dilarang mengalakkan pengguna lain untuk lapor pemain tertentu.
                %li Jangan tuduh secara awam yang pemain lain sedang menggodam. Jika anda percaya pemain tertentu sedang menggodam atau melanggar undang-undang lapor mereka menggunakan arahan /report.
                %li Anda tidak dibenarkan untuk menggunakan perbualan umum atau khas untuk meminta. Akaun yang ditentukan untuk meminta akan dibuang tanpa amaran.
                %li Anda tidak dibenarkan untuk paut, atau meminta pemain untuk menyertai, sebarang pelayan, umum atau khas, yang bukan sebahagian Rangkaian Overcast di dalam perbualan umum. (Anda boleh menggunakan arahan /msg untuk mesej pemain berminat dengan pelayan itu).
                %li Nama pengguna anda mesti sesuai, dan anda akan disuruh untuk tukar nama/akaun anda jika nama pengguna anda tidak sesuai. (Ini tidak dianggap sebagai mengelak dibuang.)
                %span.label.label-warning Nota
                %small Semua perbualan dan arahan adalah dirakam.
                %br
                %span.label.label-warning Nota
                %small Anda boleh paut kepada livestream Rangkaian Overcast kepunyaan anda, selagi jika anda tidak spam.

    .page-header
        %h2 E. Permainan Umum
    .row
        .span12
            %ol
                %li Anda tidak dibenarkan menyalahgunakan pepijat. Ini termasuk, tetapi tidak terhad kepada, meletakkan blok di area terhad untuk menjalan atasnya, membuat kesan "x-ray", dan menjadikan diri sendiri kebal.
                %li Di dalam perlawanan Blitz atau Ghost Squadron, pemain tidak dibenar memanjangkan perlawanan dengan mengelak pertempuran dan/atau menyembunyi di tempat yang sukar dicapai.
                %li Observers may never give tactical information to players or intentionally disrupt gameplay. Tactical information includes, but is not limited to:
                %ol{:type => "a"}
                    %li Revealing the locations of players
                    %li Revealing the ownership of wool in a Capture the Wool map
                %li Please use an appropriate skin - you may be punished for an inappropriate skin.
                %li Do not spawn camp.
                %ol{:type => "a"}
                    %li Do not "camp" a spawn by waiting next to or in a spawn for newly spawned players.
                    %li Do not directly attack any spawn (e.g. run towards a spawn and start hitting people in that spawn, stick around, and kill everyone that spawns).
                    %li Do not aim TNT cannons at a spawn or repeatedly drop TNT on a spawn.
                    %li Do not make the spawn area impassable.
                %span.label.label-warning Note
                %small Spawn camping rules do not apply on Team Deathmatch and Blitz maps.

    .page-header
        %h2 F. Client Modifications
    .row
        .span12
            %ol
                %li Any client modifications that give an unfair advantage over vanilla Minecraft users are illegal while playing.
                %li Any external tools that modify gameplay to give an unfair advantage over users not using the tool are illegal while playing.
                %li The following modifications are explicitly permitted during gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch that does not allow crouching while typing, looking through inventory, or in any menus
                    %li
                        %i.fa.fa-check
                        Texture packs that do not fall under any "explicitly prohibited" category
                    %li
                        %i.fa.fa-check
                        Minimaps except as specified below
                %li The following modifications are explicitly prohibited during gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory Sorters
                    %li
                        %i.fa.fa-times
                        Mods that expose or enlarge the name-tags of players
                    %li
                        %i.fa.fa-times
                        Automatic tool selectors
                    %li
                        %i.fa.fa-times
                        Minimaps that show entity positions, or show caves/underground.
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li For any other mods, email support@oc.tc for confirmation before using it.
                %li Observers are not bound to these restrictions.
                %span.label.label-warning Note
                %small Players in creative mode are not bound to these restrictions.
                %br
                %span.label.label-warning Note
                %small Players in the lobby are not allowed to use fly modifications.

    .page-header
        %h2 G. Team Griefing
    .row
        .span12
            %ol
                %li Team griefing is prohibited, and is defined as any reckless action that harms your own team, or actions that intentionally harms one's own team.
                %li The following are explicitly team griefing:
                %ol{:type => "a"}
                    %li Placing and/or setting off TNT near teammates or near key team infrastructure (eg. chests, defences or ore) within one’s own base
                    %li Destroying one's own team's chests or workbenches
                    %li Teamkilling (either by removing blocks from beneath a person to cause them to fall, or pushing teammates off the world)
                    %li Using/modifying a TNT cannon built by another player without explicit permission
                    %li Aiding or working together with a member of the other team
                %li  The following are considered reckless and strongly discouraged (you may be warned for breaking the following rules):
                %ol{:type => "a"}
                    %li Placing TNT in one’s own base, especially building TNT towers in one's own base
                    %li Building unprotected TNT near teammates or objectives
                    %li Taking all or almost all of the wool in a Capture the Wool map out of a wool room, unless there is only one wool left in that wool room
                %li Any actions that are not listed here that hinder your team’s progress towards winning the match, deliberate or not, still fall under "team griefing" and may be dealt with as such.
                %span.label.label-warning Note
                %small
                    Players are
                    %b NEVER
                    permitted to team grief, even in retaliation to another team griefer.

    .page-header
        %h2 H. Map Specific Rules
    .row
        .span12
            %ol
                %li All players are responsible for keeping up to date with all map rules. Map rules are found on map rule boards at that map’s spawn, and via the /map command.
                %li The rules in /map take precedent over the rule board in cases regarding the same subject.

    .page-header
        %h2 I. Consequences
    .row
        .span12
            %ol
                %li Players may receive an in game warning or an infraction for breaking any of the rules above, depending on the severity of the violation.
                %li The severity of the infraction is usually based on the player’s previous infractions.
                %li In particularly serious or blatant cases of rules violation, including but not limited to using a hacking client on the servers, or consistently team griefing despite moderator intervention, will result in an immediate permanent ban, without warning.
                %li Players with many warnings for the same rule may be temporarily banned without notice.
                %li Ban evasion is not permitted, and will result in a permanent ban for all alternate accounts associated with the evading player. The alternate accounts will not be unbanned once the original ban expired, and the original ban may be extended up to thrice the length of the original ban. (e.g. 1 week ban becomes up to a 3 week ban).
                %li Persistent ban evasion will result in a permanent ban for all accounts.
                %li
                    Players violating any forum rules may be banned from posting to the forums. If your ban stays for more than 7 days please contact
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    for the exact length of your ban.
                %li Players violating any mumble rules may be kicked or banned from the mumble server
                %li Players violating the rules on any Overcast Network service, including the game servers, the forums, and mumble, may be banned from any or all of the services.
                %li
                    In game bans must be appealed by filing an appeal at
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Forum and mumble bans must be appealed via an email to
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Any player that knowingly gives false info in his or her appeal may be permanently banned.
                %span.label.label-warning Nota
                %small All infractions are subject to staff discretion.
    .page-header
        %h2 J. Miscellaneous
    .row
        .span12
            %ol
                %li These rules are subject to change with notice.
                %li Players are responsible for keeping up with rule changes.
                %li There is a one week grace period for rule changes.
                %li The Overcast Network Administration reserves the right to ban or unban any player from any Overcast Network services for any reason without notice.
