%section
    .page-header
        %h1
            Regels
            %small Laatste keer bijgewerkt op 11 mei 2016
            = render "select"
    .row
        .col-md-12
            %span.label.label-warning Let op
            %span
            Deze regels gelden voor
            %b alle
            diensten van Lifeboat PC.

    .page-header
        %h2 A. Algemeen gedrag
    .row
        .col-md-12
            %ol
                %li Behoud een aangename, relaxte sfeer. Wees respectvol en gebruik je gezond verstand. Buitensporig vloeken, grofheid en pesterijen zijn niet toegestaan.
                %li Probeer juiste spelling en correct taalgebruik te hanteren.
                %li Spam niet.
                %li Link niet naar:
                %ol{:type => "a"}
                    %li Aanstootgevend materiaal zoals, maar niet uitsluitend: pornografie, "shock sites", virussen, phishingsites en haatgroepen.
                    %li Andere websites of diensten, op zo'n manier dat het om reclame gaat.
                    %li Persoonsgegevens van andere spelers.
                %li Zet andere spelers er niet toe aan de regels van Lifeboat PC te breken, en breek ze ook zelf niet.
                %li Imiteer geen leden van de staff van Lifeboat PC en beweer niet dat je lid bent van de staff, als dat niet zo is.
                %li Meld problemen met of bugs in diensten van Lifeboat PC op de forums of door een e-mail te sturen naar support@oc.tc. Als je problemen of bugs niet meldt aan de staff en er misbruik van maakt, resulteert dat in een straf. Als een lid van de staff je vraagt om het probleem of de bug te demonstreren, geldt deze regel niet.
                %li Volg alle aanwijzingen van leden van de staff van Lifeboat PC op. Als je denkt dat een lid van de staff je misleid heeft, stuur dan een e-mail naar support@oc.tc.
                %span.label.label-warning Let op
                %small Als je niet zeker weet of iets als "reclame maken" wordt opgevat, vraag dan eerst verduidelijking aan een lid van de staff voordat je je post maakt.

    .page-header
        %h2 B. Gedrag op de website
    .row
        .col-md-12
            %ol
                %li Maak geen topics of posts met als doel mensen of groepen te beledigen of te provoceren, en zet anderen er niet toe aan om zoiets te doen.
                %li Post op de forums niets dat opruiende reacties uitlokt of "voorspelt". Zo'n gedrag moedigt dergelijke reacties net aan.
                %li Antwoord niet op topics met tekst/afbeeldingen die irrelevant of zinloos zijn, of als spam kunnen worden opgevat.
                %li "Bump" geen topics met iets dat niet structureel tot het topic bijdraagt.
                %li Alle persoonlijke geschillen moeten privé aangepakt worden. De openbare forums zijn geen plek voor persoonlijke conflicten.
                %li Kritiek op het werk van anderen, zowel van de staff als van anderen in de community, moet beleefd zijn en geuit worden met respect voor de persoon in kwestie.
                %li Maak geen topics met als enig doel aan te kondigen dat je de server of het spel verlaat. Uitzonderingen kunnen gemaakt worden als je de server of het spel verlaat om een wel heel interessante reden, bijvoorbeeld als je doodgaat of rond de wereld gaat zeilen.
                %li Als je dramatische gebeurtenissen die jou of een andere speler zijn overkomen, aankondigt, dan moeten die aankondigingen een verifieerbare bron bevatten. Als we de bron niet snel kunnen nagaan, kan het topic in kwestie verwijderd worden. Opzettelijk bedrog van dit type wordt beschouwd als een zeer ernstige schending van de regels.
                %li Antwoord niet op een topic waarvan je denkt dat het de regels overtreedt, maar stuur een report in. Opzettelijk liegen in een report wordt beschouwd als een overtreding.
                %li Je kunt HTML gebruiken op de forums en in persoonlijke profielen. Als je HTML op zo'n manier gebruikt dat hij het surfen moeilijk maakt, zware browserlag veroorzaakt of de toegelaten grenzen overschrijdt, wordt dat opgevat als misbruik en is het stafbaar.
                %span.label.label-warning Let op
                %small Je profiel- of contactinformatie kan zonder voorafgaande kennisgeving verwijderd worden.

    .page-header
        %h2 C. Mumble
    .row
        .col-md-12
            %ol
                %li Doe je op Mumble niet voor als andere spelers.
                %li Je naam op Mumble zou gelijk moeten zijn aan je naam in het spel, of er sterk op moeten lijken.
                %li Doe niets dat spamberichten stuurt naar anderen (zoals herhaaldelijk snel na elkaar dempen, doven of aan- en afmelden).

    .page-header
        %h2 D. Gedrag op de server
    .row
        .col-md-12
            %ol
                %li Stuur geen berichten naar mensen die hen ertoe aanzetten hun team te verlaten of die ertoe leiden dat ze hun verbinding met de server verbreken.
                %li Tenzij je uitlegt hoe je reports moet insturen, mag je anderen er niet toe aanzetten een specifieke speler te reporten.
                %li Beschuldig niemand in het openbaar van hacken. Als je ervan overtuigd bent dat een speler hackt of de regels niet respecteert, laat dat dan weten met het /report-commando.
                %li Je mag geen enkele vorm van chat in het spel gebruiken om het volgende te doen: mensen om geld vragen, mensen aansporen zich te abonneren op je YouTubekanaal, mensen vragen of ze een rang of iets anders voor je willen kopen, mensen vragen of ze een Minecraftaccount van je willen overkopen, en andere vergelijkbare vragen stellen.
                %li Je mag in openbare chat geen links uitgeven naar openbare of privéservers die geen deel uitmaken van Lifeboat PC, noch mensen vertellen dat ze die servers moeten joinen. (Als iemand erom vraagt, stuur hem dan een privébericht met /msg.)
                %li Je naam op de server moet geschikt zijn. Als je naam als ongeschikt voor de server beschouwd wordt, kan het dat je gevraagd wordt om een andere account te gebruiken. (Dit telt niet als het ontwijken van een ban.)
                %li Als je toegang hebt tot het /nick-commando, zorg er dan voor dat elke nickname die je kiest anonimiteit bevordert, en geen aandacht trekt. Je mag je nickname niet gebruiken om je voor te doen als een andere speler. Je nickname mag evenmin ongepast zijn.
                %span.label.label-warning Let op
                %small Alle chatberichten en -commando's worden geregistreerd.
                %br
                %span.label.label-warning Let op
                %small Je mag linken naar je livestream als die met Lifeboat PC te maken heeft, en als je de link niet spamt.

    .page-header
        %h2 E. Algemene gameplay
    .row
        .col-md-12
            %ol
                %li Spelers mogen glitches niet misbruiken. "Glitchen" omvat, maar is niet beperkt tot: blokken plaatsen in gebieden waar door de plugin niet op kan worden gelopen, een "x-ray"-effect creëren, en ervoor zorgen dat je onsterfelijk bent.
                %li In een match van Blitz of Ghost Squadron mogen spelers de match niet nodeloos uitrekken door gevechten te vermijden en/of door zich te verstoppen op moeilijk bereikbare of onbereikbare plekken.
                %li Toeschouwers mogen nooit strategische informatie aan spelers geven, of de gameplay verstoren. Strategische informatie omvat, maar is niet beperkt tot:
                %ol{:type => "a"}
                    %li Onthullen waar spelers zich bevinden
                    %li Onthullen wie de wol vast heeft in een map van Capture the Wool
                %li Gebruik een gepaste skin - je kunt gestraft worden voor het gebruiken van een ongepaste skin.

    .page-header
        %h2 F. Aanpassingen aan de client
    .row
        .col-md-12
            %ol
                %li Als de aanpassingen aan een client de gebruiker ervan een oneerlijk voordeel geven op spelers met een niet-gemodificeerde client van Minecraft, dan zijn die aanpassingen illegaal.
                %li Als externe hulpmiddelen de gameplay op zo'n manier veranderen, dat ze de gebruiker ervan een oneerlijk voordeel geven op spelers zonder die hulpmiddelen, dan zijn ze illegaal tijdens het spelen.
                %li Deze aanpassingen aan je client zijn uitdrukkelijk toegestaan tijdens gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD / StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 of hoger)
                    %li
                        %i.fa.fa-check
                        Toggle Sneak / Sprint (LabyMod / HCF version)
                    %li
                        %i.fa.fa-check
                        Toggle-crouch waarbij het niet mogelijk is om te sneaken als je aan het typen bent, je inventory aan het bekijken bent of als je je in een menu bevindt
                    %li
                        %i.fa.fa-check
                        Resource packs die niet onder de categorie "expliciet verboden" vallen
                    %li
                        %i.fa.fa-check
                        Minimaps, behalve minimaps die hieronder genoemd zijn
                %li Deze aanpassingen aan je client zijn uitdrukkelijk verboden tijdens gameplay:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Mods die je inventaris automatisch op orde te zetten
                    %li
                        %i.fa.fa-times
                        Mods die de naamplaatjes van spelers laten zien of vergroten
                    %li
                        %i.fa.fa-times
                        Mods die automatisch gereedschap selecteren
                    %li
                        %i.fa.fa-times
                        Minimaps die de locatie van ondergrondse constructies of entiteiten weergeven.
                    %li
                        %i.fa.fa-times
                        X-ray mods
                    %li
                        %i.fa.fa-times
                        Mods die ervoor zorgen dat je automatisch slaat
                    %li
                        %i.fa.fa-times
                        Aimbot mods
                    %li
                        %i.fa.fa-times
                        Mods die je in staat stellen te vliegen
                    %li
                        %i.fa.fa-times
                        Mods die schade en/of leven van anderen aangeven
                    %li
                        %i.fa.fa-times
                        SmartMoving mods
                    %li
                        %i.fa.fa-times
                        Better Sprinting mods
                %li Stuur een e-mail naar support@oc.tc om zeker te weten of je andere aanpassingen aan je client, die hier niet opgelijst staan, mag gebruiken.
                %span.label.label-warning Let op
                %small Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.
                %br
                %span.label.label-warning Let op
                %small Voor toeschouwers gelden deze beperkingen niet.
                %br
                %span.label.label-warning Let op
                %small Spelers in de lobby mogen hun client niet zo aangepast hebben, dat ze kunnen vliegen.

    .page-header
        %h2 G. Teamgrief
    .row
        .col-md-12
            %ol
                %li Teamgriefen is verboden. Elke actie, roekeloos of met opzet, die je eigen team benadeelt, is een vorm van teamgriefen.
                %li Dit zijn uitdrukkelijk vormen van teamgrief:
                %ol{:type => "a"}
                    %li TNT plaatsen of aansteken in de buurt van spelers van je eigen team of in de buurt van belangrijke voorzieningen (bijvoorbeeld kisten, verdedigingen of ertsen) in je eigen basis
                    %li Werkbanken of kisten van je eigen team vernietigen
                    %li Leden van je eigen team doden (bijvoorbeeld door blokken onder iemand weg te halen zodat hij valt ("spleefen"), of door ze uit de wereld te duwen)
                    %li Een TNT-kanon van een andere speler gebruiken of aanpassen zonder dat de eigenaar van het kanon daarvoor uitdrukkelijk toestemming gaf
                    %li Samenwerken met een lid van het andere team of hem helpen
                %li Dit zijn uitdrukkelijk vormen van roekeloos gedrag, en daarom met klem afgeraden (je zou gewaarschuwd kunnen worden voor het schenden van deze regels):
                %ol{:type => "a"}
                    %li TNT plaatsen in je eigen basis, met name TNT-torens bouwen
                    %li Onbeschermd TNT plaatsen in de buurt van leden van je eigen team of doelen van het spel
                    %li Alle of bijna alle wol nemen in een Capture the Wool map, tenzij er nog maar één blok wol overblijft
                %li Elke actie, bewust of onbewust, die hier niet opgelijst staat maar die het je team moeilijker maken om de match te winnen, wordt ook beschouwd als "teamgrief" en kan ook als dusdanig behandeld worden.
                %span.label.label-warning Let op
                %small
                    Spelers mogen
                    %b NOOIT
                    teamgriefen, ook niet als wraak op een andere teamgriefer.

    .page-header
        %h2 H. Mapspecifieke regels
    .row
        .col-md-12
            %ol
                %li Alle spelers zijn verantwoordelijk voor het op de hoogte zijn van mapspecifieke regels. Die zijn te vinden op borden in de spawn van elke map, en via het commando /map.
                %li Als de regels in /map en die op de borden in spawn over hetzelfde onderwerp gaan en verschillende versies van de regels weergeven, dan hebben de regels in /map voorrang.

    .page-header
        %h2 I. Consequenties
    .row
        .col-md-12
            %ol
                %li Spelers kunnen in het spel gewaarschuwd of bestraft worden als ze een van deze regels overtreden, afhankelijk van de ernst van de overtreding.
                %li De ernst van de straf is meestal gebaseerd op de overtredingen die de speler eerder al begaan heeft.
                %li Bijzonder ernstige of flagrante gevallen van schending van de regels kunnen leiden tot een onmiddellijke permanente ban, zonder voorafgaande waarschuwing. Deze gevallen omvatten, maar zijn niet beperkt tot: hacks gebruiken op de server, en consequent teamgriefen ondanks de tussenkomst van een moderator.
                %li Spelers met meerdere waarschuwingen voor dezelfde regel kunnen tijdelijk worden geband zonder voorafgaande kennisgeving.
                %li Het ontwijken van een ban is niet toegestaan en resulteert in een permanente ban voor alle nevenaccounts die geassocieerd zijn aan de speler die de ban ontwijkt. De nevenaccounts zullen niet van hun ban ontdaan worden als de oorspronkelijke ban verloopt. De oorspronkelijke ban kan verlengd worden tot drie keer de oorspronkelijke lengte. (Een ban van 1 week kan dus verlengd worden tot een ban van 3 weken.)
                %li Aanhoudende ontwijking van een ban leidt tot een permanente ban voor alle accounts.
                %li Spelers die forumregels overtreden, kan verboden worden om nog op de forums te posten.
                %li Spelers die Mumbleregels overtreden, kunnen gekickt of geband worden uit diensten die Lifeboat PC op Mumble aanbiedt.
                %li Spelers die de regels schenden op welke dienst van Lifeboat PC dan ook (servers, forums en Mumble), lopen het risico geband te worden van een of meerdere van deze diensten.
                %li Je kunt in beroep gaan tegen elke soort straf die je opgelopen hebt door een appeal ("beroep") in te vullen.
                %li
                    %b Een speler die bewust valse informatie verstrekt in zijn appeal, kan permanent geband worden.
                %span.label.label-warning Let op
                %small Leden van de staff hebben het laatste woord over welke straf ze opleggen.

    .page-header
        %h2 J. Divers
    .row
        .col-md-12
            %ol
                %li Deze regels kunnen zonder voorafgaande kennisgeving aangepast worden.
                %li Spelers zijn verantwoordelijk voor het up to date zijn met veranderingen in de regels.
                %li Je krijgt een week respijt na elke update van de regels.
                %li De administratie van Lifeboat PC behoudt zich het recht een speler te bannen of een ban ongedaan te maken, zonder daar een reden voor te geven en zonder voorafgaande kennisgeving.
