%section
    .page-header
        %h1
            Zasady
            %small Ostatnio zaktualizowano 7 stycznia 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning Notatka
            %span
            Te zasady stosują się do
            %b wszystkich
            usług Overcast Network.

    .page-header
        %h2 A. Ogólne opanowanie
    .row
        .span12
            %ol
                %li Utrzymuj przyjemną i swobodną atmosferę. Zachowaj szacunek dla innych i pisz ze zdrowym rozsądkiem. Nadmierne przeklinanie, chamstwo i molestowanie nie jest tolerowane.
                %li Spróbuj zachować właściwą pisownię i gramatykę.
                %li Nie spamuj.
                %li Nie linkuj do żadnego z następujących:
                %ol{:type => "a"}
                    %li Naganne materiały, który obejmują, ale nie są ograniczone do pornografii, "szok witryny", wirusy, wyłudzanie informacji i grupy nienawiści.
                    %li Inne strony internetowe lub serwery w sposób, który stanowią reklamę.
                    %li Osobiste informacje identyfikujące innych użytkowników.
                %li Nie zachęcaj lub uczestnicz w niszczeniu zasad w usługach Overcast Network.
                %li Nie podszywaj się pod jakiegokolwiek członka personelu Overcast Network, lub nie twierdź, że nim jesteś.
                %li Zgłaszaj problemy i błędy usług Overcast Network lub na forum lub na support@oc.tc; wykorzystywanie błędów z jakiejkolwiek innej przyczyny niż, aby zademonstrować go członkowi personelu będzie wiązało się z otrzymaniem kary.
                %li Śledź jakiekolwiek żądania członka personelu Overcast Network. Jeżeli uważasz, że członek personelu błędnie Cię pokierował, prosimy o e-mail support@oc.tc.
                %span.label.label-warning Notatka
                %small Jeżeli jesteś zaniepokojony/a linkami, które mogą stanowić reklamę, proszę wyjaśnić je z członkiem personelu przed postowaniem.

    .page-header
        %h2 B. Zachowanie na stronie
    .row
        .span12
            %ol
                %li Nie twórz tematów lub postów adresujących do obelgi lub prowokacji innych osób lub grup, oraz nie promuj ani zachęcaj innych do tworzenia takich postów.
                %li Nie twórz postów, które kpią lub "przewidują" pobudzające komentarze, które zachęcają użytkowników do tworzenia takich komentarzy.
                %li Nie odpowiadaj do tematów z brakiem znaczenia, bezsensownością, lub spamiącymi tekstami/grafikami.
                %li Nie "podbijaj" tematów poprzez postowanie czegoś, co nie przyczynia się konstruktywnie do tematu.
                %li Wszelkie sprawy osobiste muszą zostać rozpatrywane prywatnie. Publiczne fora nie są miejscem na osobiste konflikty.
                %li Krytyka pracy innych, zarówno pracowników, jak i większej Wspólnoty, muszą zostać dostarczane z uprzejmością i szacunkiem.
                %li Nie twórz tematów tylko po to, aby ogłosić, że opuszczasz grę lub serwer. Wyjątkiem może być jeżeli robisz to bardzo interesującego powodu, przykładowo, że umierasz lub, że wybierasz się w podróż żeglarską dookoła świata.
                %li Ogłoszenia o dramatycznych zdarzeniach dotyczących Ciebie lub innych muszą zawierać weryfikowane źródła informacji. Jeżeli nie możemy łatwo zweryfikować historii, temat może zostać usunięty. Umyślne żarty tego rodzaju są uważane za bardzo poważne wykroczenie.
                %li Nie odpowiadaj do tematu, który uważasz, że narusza regulamin, w zamian wyślij zgłoszenie. Umyślne kłamstwa w zgłoszeniu są uważane za wykroczenie.
                %li Nie nadużywaj HTML na forum lub osobistym profilu w sposób, który utrudnia nawigację, powoduje ekstremalne lagi przeglądarki lub przekracza ustaloną granicę.
                %span.label.label-warning Notatka
                %small Twój profil lub informacje kontaktowe mogą zostać usunięte bez uprzedzenia.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Nie podszywaj się pod innych graczy na Mumble.
                %li Twój pseudonim w Mumble powinien być Twoją nazwą w grze lub jakaś inna łatwa Twoja identyfikacja.
                %li Nie spamuj funkcjami, które wysyłają wiadomości do innych (takie jak spamowanie wyciszeniem mikrofonu, dźwięku lub wielokrotne odłączanie oraz ponowne łączenie ("reconnecting"))

    .page-header
        %h2 D. Zachowanie na serwerze
    .row
        .span12
            %ol
                %li Nie wysyłaj wiadomości, które zachęcają innych graczy do opuszczenia drużyny lub wyjścia z serwera.
                %li Jeżeli nie wyjaśniasz procesu zgłaszania, nie możesz zachęcać innych do zgłaszania określonego gracza.
                %li Prosimy nie oskarżać publicznie jakiegokolwiek gracza o cheaty. Jeśli uważasz, że gracz cheatuje albo łamie jakąś zasadę zgłoś go przy użyciu komendy /report.
                %li Nie możesz używać jakiejkolwiek formy czatu w grze do zabiegania się. Jakiekolwiek konto, które jest wyłącznie zdecydowane do zabiegania się będzie permanentnie zbanowane bez ostrzeżenia.
                %li Nie możesz linkować do, lub zabiegać graczy do dołączenia jakiegokolwiek publicznego lub prywatnego serwera, który nie jest częścią Overcast Network na publicznym czacie. (Możesz użyć komendy /msg, aby ich poinformować, jeżeli o to poproszą).
                %li Twój pseudonim musi być odpowiedni, oraz możesz zostać poproszony/a o użycie innego konta, jeżeli Twój pseudonim jest uznany za nieodpowiedni. (To się nie liczy jako omijanie bana)
                %li Jeżeli posiadasz dostęp do komendy /nick, jakikolwiek wybrany pseudonim powinien być stworzony do nadania anonimowości, nie uwagi. Nie możesz używać komendy /nick do podszywania się pod innych, oraz nie możesz używać nieodpowiedniego pseudonimu.
                %span.label.label-warning Notatka
                %small Wszystkie wiadomości na czacie oraz komendy są rejestrowane.
                %br
                %span.label.label-warning Notatka
                %small Możesz linkować do Twoich livestreamów z Overcast Network, tak długo jak nie będziesz nimi spamować.

    .page-header
        %h2 E. Ogólny tryb gry
    .row
        .span12
            %ol
                %li Gracze nie mogą nadużywać glitchów. To obejmuje, ale nie jest ograniczone do, umieszczania bloków w obszarach ograniczonych przed plugin do chodzenia, tworząc efekt "x-ray" oraz doprowadzając siebie do niezwyciężoności.
                %li W meczu Blitz lub Ghost Squadron gracze nie mogą przedłużać meczu poprzez unikanie walki lub/i ukrywanie się w miejscach niedostępnych lub trudno dostępnych.
                %li Obserwatorzy nigdy nie mogą podawać taktycznych informacji graczom lub celowo zakłócać rozgrywkę. Informacje taktyczne włącznie, ale nie są ograniczone do:
                %ol{:type => "a"}
                    %li Ujawnianie lokalizacji graczy
                    %li Ujawnianie właściciela wełny na mapie Capture the Wool
                %li Proszę użyć odpowiedniej skórki ("skina") - możesz zostać ukarany/a za niewłaściwą.

    .page-header
        %h2 F. Modyfikacje klienta
    .row
        .span12
            %ol
                %li Jakiekolwiek modyfikacje klienta, które przyznają niesprawiedliwą przewagę nad niezmodyfikowanym Minecraftem nad użytkownikami są nielegalne podczas gry.
                %li Jakiekolwiek zewnętrzne narzędzia, które modyfikują rozgrywkę lub dają niesprawiedliwą przewagę nad użytkownikami, którzy tego narzędzia nie używają jest nielegalne podczas gry.
                %li Następujące modyfikacje są wyraźnie dozwolone podczas gry:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Przełącznik kucania ("toggle-crouch"), który nie zezwala na kucanie podczas pisania, patrzenie w ekwipunek, lub jakiekolwiek inne menu
                    %li
                        %i.fa.fa-check
                        Paczki zasobów, które nie są wymienione pod jakąkolwiek kategorią "wyraźnie zakazane"
                    %li
                        %i.fa.fa-check
                        Minimapy z wyjątkiem poniższych
                %li Następujące modyfikacje są wyraźnie zakazane podczas gry:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Sortowanie ekwipunku
                    %li
                        %i.fa.fa-times
                        Modyfikacje, które wyświetlają lub powiększają pseudonimy graczy
                    %li
                        %i.fa.fa-times
                        Automatyczne wybieranie narzędzi
                    %li
                        %i.fa.fa-times
                        Minimapy, które pokazują pozycję mobów, lub jaskinie/podziemia.
                    %li
                        %i.fa.fa-times
                        X-raye
                    %li
                        %i.fa.fa-times
                        Automatyczne uderzanie
                    %li
                        %i.fa.fa-times
                        Aimboty
                    %li
                        %i.fa.fa-times
                        Modyfikacje umożliwiające latanie
                    %li
                        %i.fa.fa-times
                        Wskaźnik uderzeń lub zdrowia (Damage/Health Indicator)
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Dla innych modyfikacji, napisz e-mail na support@oc.tc, aby potwierdzić je przed ich użyciem.
                %span.label.label-warning Notatka
                %small Obserwatorzy są zwolnieni z tych ograniczeń.
                %br
                %span.label.label-warning Notatka
                %small Gracze w lobby nie mogą używać modyfikacji umożliwiających latanie.

    .page-header
        %h2 G. Drużynowe niszczenie
    .row
        .span12
            %ol
                %li Drużynowe niszczenie ("team griefing") jest zabronione i jest zdefiniowane jako umyślne lub nieprzemyślane działanie, które szkodzi Twojej własnej drużynie.
                %li Następujące są wyraźnym drużynowym niszczeniem ("team griefing"):
                %ol{:type => "a"}
                    %li Stawianie i/lub odpalanie TNT w pobliżu członków drużyny albo blisko infrastruktury drużyny (np. skrzynki, obronę lub rudy) w jednej z własnych baz
                    %li Niszczenie drużynowych skrzyń lub stołów rzemieślniczych
                    %li Drużynowe zabijanie ("teamkilling") (także poprzez usuwanie bloków pod osobą doprowadzając ją do upadku ("spleefing"), lub odpychanie członków drużyny poza świat)
                    %li Używanie/modyfikowanie armaty TNT zbudowanej przez innego gracza bez jego wyraźnej zgody
                    %li Pomoc lub współpraca z członkiem innej drużyny
                %li Następujące czynności są uważane za nieprzemyślane i odradzane (możesz otrzymać ostrzeżenie za nieprzestrzeganie poniższych zasad):
                %ol{:type => "a"}
                    %li Umieszczenie TNT w jednej ze swoich baz, zwłaszcza wieże w jednej ze swoich własnych baz
                    %li Budowanie niezabezpieczonych TNT w pobliżu członków drużyny lub celu gry
                    %li Zabieranie wszystkich lub prawie wszystkich wełn na mapie Capture the Wool poza pokój wełny, chyba, że pozostała tylko jedna w tym pokoju wełny
                %li Wszelkie działania, które nie są tutaj wymienione, które hamują postęp Twojej drużyny do wygrania meczu, umyślne lub nie, nadal podlegają pod drużynowe niszczenie ("team griefing") oraz mogą zostać rozpatrzone jako właśnie takie.
                %span.label.label-warning Notatka
                %small
                    Gracze
                    %b NIGDY
                    nie są dozwoleni do drużynowego niszczenia (team grief), nawet w odwecie do innego drużynowego niszczyciela.

    .page-header
        %h2 H. Zasady specificznych map
    .row
        .span12
            %ol
                %li Wszyscy gracze są odpowiedzialni za bycie na bieżąco ze wszystkimi zasadami mapy. Zasady mapy znajdują się na tablicy na jej spawnie, lub za pomocą komendy /map.
                %li Zasady w /map mają pierwszeństwo nad zasadami dotyczącymi tego samego przedmiotu.

    .page-header
        %h2 I. Konsekwencje
    .row
        .span12
            %ol
                %li Gracze mogą otrzymać ostrzeżenie lub wykroczenie w grze za łamanie jakiejkolwiek z zasad powyżej, w zależności od stopnia naruszenia.
                %li Rygor wykroczenia zazwyczaj opiera się na poprzednich wykroczeniach gracza.
                %li W szczególnie poważnych lub rażących przypadkach zasad wykroczeń, włączając w to, ale nie ograniczając używania hackowanego klienta na serwerach, lub konsekwentne drużynowe niszczenie ("team griefing") po interwencji moderatora, będzie się wiązało z natychmiastowym banem permanentnym, bez ostrzeżenia.
                %li Gracze z wieloma ostrzeżeniami z takiej samej złamanej zasady mogą zostać tymczasowo zbanowani bez uprzedzenia.
                %li Unikanie bana nie jest dozwolone oraz będzie skutkować permanentnym banem dla wszystkich alternatywnych kont skojarzonych z unikającym graczem. Alternatywne konta nie będą odbanowane dopóki oryginalne nie wygaśnie, i oryginalny ban może zostać przedłużony do trzech razy długości oryginalnego bana. (np. 1 tydzień bana stanie się banem 3-tygodniowym).
                %li Omijanie banów będzie skutkowało banem permanentnym dla wszystkich kont.
                %li Gracze łamiący jakiekolwiek zasady na forum mogą zostać zablokowani z postowania na forum.
                %li Gracze łamiący wszelkie zasady Mumble mogą zostać wyrzuceni z serwera Mumble.
                %li Gracze naruszający regulamin jakiejkolwiek usługi Overcast Network, w tym serwerów gry, forum oraz Mumble mogą zostać zbanowani z jednego lub wszystkich usług.
                %li Wszystkie wykroczenia mogą zostać odwołanie poprzez wypełnienie apelacji.
                %li
                    %b Jakikolwiek gracz, który umyślnie podaje fałszywe informacje w swojej apelacji może zostać permanentnie zbanowany.
                %span.label.label-warning Notatka
                %small Wszystkie wykroczenia podlegają dyskrecji pracowników.

    .page-header
        %h2 J. Różne
    .row
        .span12
            %ol
                %li Te zasady mogą ulec zmianie wraz z zachowaniem okresu wypowiedzenia.
                %li Gracze są odpowiedzialni za zaznajamianiem się ze zmianami regulaminu.
                %li Istnieje tydzień prologanty dla zmiany regulaminu.
                %li Administracja Overcast Network zastrzega sobie prawo do banowania lub odbanowania jakiegokolwiek gracza z jakichkolwiek usług Overcast Network z jakiegokolwiek powodu, bez powiadomienia.
