%section
    .page-header
        %h1
            Zasady
            %small Ostatnia aktualizacja 19 lipca, 2013
    .row
        .span12
            %span.label.label-warning Uwaga
            %span
            Te zasady obejmują
            %b wszystkie
            usługi Overcast Network

    .page-header
        %h2
            A. Ogólne Zachowanie
    .row
        .span12
            %ol
                %li Zachowuj przyjazną, miłą atmosferę. Bądź tolerancyjny i używaj rozumu. Nadmierne przeklinanie, złośliwość i prześladowanie nie będzie tolerowane.
                %li Staraj się zachowywać poprawną pisownię i gramatykę.
                %li Nie spamuj.
                %li Nie linkuj do żadnej z poniższych rzeczy:
                %ul
                    %li Kontrowersyjne i wątpliwe materiały, czyli np. wirusy, strony pornograficzne, szokujące, wyłudzające informacje, czy promujące nienawiść.
                    %li Inne strony i serwery, które mogą być zaliczone jako reklamowanie.
                %li Nie popieraj i nie bierz udziału w łamaniu zasad usług Overcast Network.
                %li Nie podszywaj się pod żadnego członka personelu Overcast Network, ani nie przedstawiaj się jako jej członek.
                Zgłaszaj problemy i błędy usług Overcast Network albo na forum (http://oc.tc/forums) lub na support@oc.tc; wykorzystywanie błędów w jakimkolwiek innym celu niż ich demonstracja przy członku personelu będzie karane.
                %li Wykonuj wszyskie polecenia członków personelu Overcast Network. Jeśli twierdzisz, że członek personelu nadużywa swojej pozycji, zgłoś to na support@oc.tc
                %span.label.label-warning Uwaga
                %small Jeśli nie masz pewności czy twój link może zostać wzięty za reklamę, skontaktuj się najpierw z członkiem personelu.

    .page-header
        %h2 B. Zachowanie na Forum
    .row
        .span12
            %ol
                %li Nie twórz wyzywających postów. Zaliczają się do nich posty mające na celu obrażanie innych osób, prowokowanie ich do tworzenia takowych postów, posty przepełnione nienawiścią, i posty w jakikolwiek sposób związane z "inb4 flame war."
                %li Posty powinny być powiązane z tematem, posty z nim niezwiązane będą usuwane.
                %li Jeśli myślisz, że temat powinien zostać zablokowany, napisz o tym na https://oc.tc/report zamiast komentować w danym temacie.
                %li Jakiekolwiek obrazki czy posty które nie są związane z tematem, mogą ulec usunięciu. Bezsensowny spam obrazkami będzie usuwany.
                %li Nie "podbijaj" tematów poprzez tworzenie postów niezawierających żadnych konstruktywnych treści.
                %li Wszystkie problemy personalne muszą zostać załatwione między danymi osobami. Publiczne forum nie jest miejscem na konflikty prywatne.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Nie podszywaj się pod innych graczy na Mumble.
                %li Twoja nazwa na Mumble powinna być taka sama jak ta w grze, lub przynajmniej wystarczająco podobna, aby łatwo można było ją poznać.
                %li Nie nadużywaj funkcji które wysyłają w pewien sposób wiadomość do innych (na przykład spamowanie mute/deafen czy rozłączanie i łączenie się ponownie)

    .page-header
        %h2 D. Podczas Gry
    .row
        .span12
            %ol
                %li Nie pisz wiadomości nawołujących innych graczy do wyjścia z drużyny lub serwera.
                %li Nie nawołuj innych do zgłaszania skarg na innych graczy, chyba, że tłumaczysz proces ich składania.
                %li Nie rozgłaszaj publicznie swoich podejrzeń co do oszustw innych graczy. Jeśli wierzysz, że gracz oszukuje lub łamie jakieś reguły, zgłoś go używając komendy /report (/report <gracz> <wiadomość>)
                %li Nie używaj jakiejkolwiek formy czatu w grze do reklam. Każde konto używane wyłącznie do celów reklamowych zostanie dożywotnie zbanowane bez ostrzeżenia.
                %li Nie linkuj ani nie zachęcaj graczy do dołączania do innych serwerów, które nie są częścią Overcast Network. (Możesz użyć /msg <gracz> <wiadomość> aby poinformować graczy, którzy o to poproszą).
                %li Twoja nazwa użytkownika musi być stosowna, w przeciwnym wypadku możesz zostać poproszony o użycie innego konta.
                %span.label.label-warning Uwaga
                %small Wszystkie wiadomości i komendy na czacie są zapisywane.
                %br
                %span.label.label-warning Uwaga
                %small Możesz linkować do swojego livestream'a związanego z Overcast Network, ale nim nie spamować.

    .page-header
        %h2 E. Ogólna Rozgrywka
    .row
        .span12
            %ol
                %li Gracze nie mogą:
                %ul
                    %li Wychodzić w trakcie walki (combat log), czyli opuszczać drużynę lub serwer na chwilę przed zginięciem od członka przeciwnej drużyny. (Nie dotyczy unikania "ognia drużynowego")
                    %li Wykorzystywać błędów Minecraft'a w celu uzyskania przewagi nad przeciwną drużyną, lub w celu powodowania opóźnień dla innych graczy. Przykładem mogą być: stawianie klocków w miejscach zabronionych, używanie "x-ray", czy bycie niezniszczalnym.
                %li W meczach Blitz i Ghost Squadron, gracze nie mogą:
                %ul
                    %li Przedłużać rozrywki unikając walki i/lub chowając się w miejscach niedostępnych lub trudnych do osiągnięcia.
                %li Obserwatorzy nie mogą podawać żadnych informacji strategicznych czy psuć rozgrywki z premedytacją. Informacje strategiczne to na przykład:
                %ul
                    %li Zdradzanie lokalizacji graczy
                    %li Zdradzanie osoby posiadającej wełnę na mapach CTW
                %li Używaj stosownego "skina" - możesz zostać ukarany za niestosowny.
                %li Nie atakuj bezpośrednio graczy w punktach odrodzenia które nie są obok celów mapy (punkt odrodzenia jest strefą, w której znajdują się gracze zaraz po wejściu)
                %ul
                    %li Czynności zabronione przez tą zasadę to na przykład:
                    %ul
                        %li Podniecanie walki bezpośredniej lub łuczniczej w środku lub zaraz na zewnątrz punktu odrodzenia przeciwnej drużyny
                        %li Celowanie armatami TNT w punkt odrodzenia drużyny przeciwnej w sposób powodujący śmierć graczy. (Musisz zmodyfikować swoją armatę jeśli celuje ona w punkt odrodzenia)
                        %li Czynności sprawiające, że nie da się wyjść z punktu odrodzenia
                        %li Zrzucanie TNT z wysokości wprost na punkt odrodzenia
                        %li "Kampienie" przed punktem odrodzenia poprzez czekanie koło lub w środku niego na nowo narodzonych graczy
                    %li Przykłady czynności które nie są karalne przez tą zasadę to na przykład:
                    %ul
                        %li Przypadkowe odpalenie armaty (w przypadku natychmiastowego poprawienia jej przez gracza z niej strzelającego)
                        %li Walka z graczami gwałtownie napadającymi na atakujących wrogów bez przygotowania
                        %li Walka z graczami w pobliżu punktu odrodzenia bliskiego celów mapy.
                %span.label.label-warning Uwaga
                %small Zasady zabijania w punktach odrodzenia nie stosują się do map TDM i Blitz; macie za zadanie się bronić.

    .page-header
        %h2 F. Modyfikacje Klienta
    .row
        .span12
            %ol
                %li Jakiekolwiek modyfikacje klienta gry, które dają niesprawiedliwą przewagę nad graczami używającymi zwykłego klienta Minecraft'a są niedozwolone podczas rozgrywki.
                %li
                    %i Następujące modyfikacje są wyjątkowo dozwolone podczas rozgrywki:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        OptiFine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch, pod warunkiem, że nie pozwala kucać podczas pisania, przeglądania ekwipunku i jakichkolwiek menu
                    %li
                        %i.icon-ok
                        Paczki tekstur które nie podpadają pod "szczególnie zabronione"
                    %li
                        %i.icon-ok
                        Minimapy z wyjątkiem wymienionych poniżej
                %li
                    %i Następujące modyfikacje są szczególnie zabronione podczas rozgrwyki:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Modyfikacje sortujące ekwipunek
                    %li
                        %i.icon-remove
                        Auto-sprint, w tym bindowanie klawisza do sprintu zamiast podwójnego naciskania klawisza "naprzód"
                    %li
                        %i.icon-remove
                        Modyfikacje zwiększające widoczność nazw graczy
                    %li
                        %i.icon-remove
                        Minimapy pokazujące pozycje graczy, i/lub jaskiń/podziemii.
                    %li
                        %i.icon-remove
                        X-ray
                    %li
                        %i.icon-remove
                        Auto-hitters (inaczej znane jako aura zabijania, pole siłowe; killaura/forcefield)
                    %li
                        %i.icon-remove
                        Aimboty
                    %li
                        %i.icon-remove
                        Modyfikacje do latania
                %li
                    %i Co do innych modyfikacji, spytaj członka personelu przed użyciem ich.
                %li Obserwatorzy nie podlegają tym restrykcjom.
                %span.label.label-warning Uwaga
                %small Ta sekcja będzie aktualizowana na bieżąco, sprawdzaj ją raz na jakiś czas.

    .page-header
        %h2 G. Drużynowy Griefing
    .row
        .span12
            %span.label.label-warning Przypisek tłumacza
            %small Griefing jest prosto mówiąc nadużyciem mechanik gry w celu negatywnego wpływu na grę innych graczy. Drużynowy griefing jest intencjonalnym przeszkadzaniem członkom własnej drużyny.
            %ol
                %li Drużynowy griefing jest zabroniony, i zalicza się do niego każda czynność która powoduje szkodę dla twojej własnej drużyny, lub drużyny danego gracza.
                %li
                    %i Następujące czynności są szczególnymi przypadkami drużynowego griefingu:
                %ol{:type => "a"}
                    %li Stawianie i/lub odpalanie TNT w poblizu członków drużyny lub kluczowych elementów drużynowych (np. skrzynek, murów obronnych i złóż) w własnej bazie
                    %li Niszczenie skrzynek lub stołów warsztatowych własnej drużyny
                    %li Zabijanie członków własnej drużyny (na przykład niszcząc klocki na których stoją powodując upadek, lub spychanie graczy do próżni)
                    %li Używanie/modyfikowanie armat TNT zbudowanych przez innego gracza bez szczególnego pozwolenia
                    %li Pomaganie lub współpraca z członkiem przeciwnej drużyny
                %li
                    %i Następujące czynności są uważane za lekkomyślne i mocno odradzane (możesz zostać upomniony za łamanie następujących reguł):
                %ol{:type => "a"}
                    %li Stawianie TNT w własnej bazie, szczególnie budowanie wieży z TNT
                    %li Budowanie niezabezpieczonego TNT blisko członków drużyny lub celów mapy
                    %li Zabieranie całej lub prawie całej wełny na mapach CTW, chyba, że została tylko jedna
                %li Jakiekolwiek czynności niewymienione powyżej które uniemożliwiają twojej drużynie posunąć się bliżej wygranej, nieważne czy celowe czy nie, mogą podlegać pod drużynowy griefing i będą odpowiednio rozstrzygane.
                %span.label.label-warning Uwaga
                %small
                    Gracze 
                    %b NIGDY
                    nie mogą schodzić do drużynowego griefingu, nawet w odwecie do innego drużynowego griefera.

    .page-header
        %h2 H. Zasady Specyficzne
    .row
        .span12
            %ol
                %li Wszyscy gracze mają obowiązek być na bieżaco z zasadami poszczególnych map. Są one wypisane na ścianach punktów odrodzenia i po wywołaniu komendy /map.
                %li Zasady w /map mają priorytet nad tabliczkami.

    .page-header
        %h2 I. Wykroczenia
    .row
        .span12
            %ol
                %li Gracze mogą otrzymać ostrzeżenie w grze lub zostać ukarani za złamanie jakiejkolwiek z powyższych zasad, w zależności od powagi wykroczenia.
                %li Po popełnieniu wykroczenia, gracz zostaje albo wyrzucony, albo tymczasowo zbanowany, lub permanentnie zbanowany, w zależności od liczby poprzednich wykroczeń, pomijając ostrzeżenia.
                %li W przypadku wyjątkowo poważnych sytuacji łamania zasad, na przykład używania niedozwolonych modyfikacji klienta gry, lub stałego drużynowego griefingu pomimo interwencji moderatora, gracz może zostać permanentnie zbanowany, bez ostrzeżenia.
                %li Gracze z wieloma ostrzeżeniami za złamanie tej samej zasady mogą zostać tymczasowo zbanowani bez ostrzeżenia.
                %li Unikanie banów nie jest dozwolone, i jest surowo karane poprzez permanente zbanowanie wszystkich alternatywnych kont danego gracza. Konta alternatywne nie zostaną odbanowane po wygaśnięciu oryginanego bana, a takowy może zostać przedłużony nawet trzy razy (np. ban na 1 tydzień przedłużony do 3 tygodni).
                %li Konsekwentne unikanie banów będzie karane permanentnym zbanowaniem wszystkich kont.
                %li
                    Gracze łamiący jakiekolwiek zasady forum mogą zostać pozbawieni praw pisania na nim. Jeśli twój ban nie wygasa po 7 dniach, skontaktuj się z 
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    aby poznać prawdziwą długość swojego bana.
                %li Gracze łamiący zasady Mumble mogą zostać wyrzuceni lub zbanowani z serwera Mumble.
                %li Gracze łamiący zasady jakiejkolwiek usługi Overcast Network, w tym serwerów gier, forum, serwera Mumble, mogą zostać zbanowani z nich wszystkich.
                %li
                    Bany w grze wymagają odwołania się poprzez złożenie podania na
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Bany na forum i serwerze Mumble wymagają odwołania się poprzez złożenie podania na
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Każdy gracz który z premedytacją podaje fałszywe informacje w swoim podaniu może zostać permanentnie zbanowany.
                %li Wszystkie wykroczenia podlegają dyskrecji moderatora.
    .page-header
        %h2 J. Różne
    .row
        .span12
            %ol
                %li Te zasady mogą zmienić się w każdej chwili bez ostrzeżenia.
                %li Gracze są odpowiedzialni za bycie na bieżąco ze zmianami w zasadach.
                %li Zmiany zasad mają okres jednego tygodnia w którym wchodzą w pełni w życie ("okres łaski").
                %li Administracja Overcast Network zastrzega sobie prawo do zbanowania lub odbanowania gracza z dowolnej usługi Overcast Network za dowolnym powodem bez ostrzeżenia.