%section
    .page-header
        %h1
            Reguli
            %small Ultima actualizare a avut loc pe 7 ianuarie 2016
            = render "select"
    .row
        .span12
            %span.label.label-warning Observaţie
            %span
            Aceste reguli se aplică
            %b tuturor
            serviciilor oferite de Overcast Network.

    .page-header
        %h2 A. Comportament general
    .row
        .span12
            %ol
                %li Menţine o atmosferă calmă şi prietenoasă. Trebuie să fii respectuos şi să ai bun simţ. Nu tolerăm înjurături, impoliteţe şi hărţuire în exces.
                %li Încearcă să ai grijă de ortografia şi de gramatica ta.
                %li Nu face spam.
                %li Nu trimite legături la vreuna din următoarele:
                %ol{:type => "a"}
                    %li Conţinut nedorit, care include dar nu este limitat la pornografie, "site-uri şoc", virusuri, site-uri de înşelătorie şi grupuri de ură.
                    %li Alte site-uri sau servere într-o manieră ce poate fii considerată publicitate.
                    %li Informaţii personale despre alţi utilizatori.
                %li Nu încuraja şi nu fi părtaş la încălcarea regulilor pe serviciile oferite de Overcast Network.
                %li Nu pretinde că eşti vreun membru al personalului Overcast Network, şi nu spune altora că faci parte din personal.
                %li Raportează probleme sau erori ale serviciilor oferite de Overcast Network ori pe forumuri, ori printr-un e-mail la support@oc.tc; exploatarea erorilor din orice motiv în afara demonstrării lor din dorinţa unui membru al personalului va rezulta într-o pedeapsă.
                %li Urmează instrucţiunile oricărui membru al personalului Overcast Network. Dacă eşti de părere că un membru al personalului te-a îndrumat greşit, te rugăm să trimiţi un e-mail la support@oc.tc.
                %span.label.label-warning Observaţie
                %small Dacă ai îndoieli în legătură cu postarea de legături ce ar putea fii publicitate, te rugăm să consulţi un membru al personalului înainte să postezi.

    .page-header
        %h2 B. Comportamentul pe website
    .row
        .span12
            %ol
                %li Nu crea discuţii sau postări menite să insulte sau să-i provoace pe alţii, şi nu îi încuraja pe alţii să creeze astfel de postări.
                %li Nu crea postări ce batjocoresc sau "prezic" comentarii inflamatoare, deoarece ele încurajează alţi utilizatori să creeze astfel de comentarii.
                %li Nu răspunde la discuţii cu scris sau imagini irelevante, lipsite de sens sau cu spam.
                %li Nu "ridica" discuţii postând ceva ce nu contribuie constructiv discuţiei.
                %li Toate problemele personale trebuie să fie rezolvate în privat. Forumurile publice nu sunt un loc potrivit pentru conflicte personale.
                %li Criticarea muncii altora, fie a personalului, fie a întregii comunităţi, trebuie să fie spusă cu politeţe şi respect personal.
                %li Nu crea discuţii doar pentru a anunţa că părăseşti jocul sau serverul. Putem face excepţii în cazul în care pleci dintr-un motiv foarte interesant, cum ar fi că eşti pe moarte, sau că navighezi în jurul lumii.
                %li Anunţuri în legătură cu evenimente dramatice referitoare la tine sau la alţi jucători trebuie să includă o sursă verificabilă pentru informaţii. Dacă nu putem valida uşor povestea, discuţia poate fi ştearsă. Farse intenţionate de acest fel sunt considerate infracţiuni grave.
                %li Nu răspunde la o discuţie ce crezi că încalcă regulile, în schimb, creează un raport. Minţirea intenţionată într-un raport este considerată o infracţiune.
                %li Nu abuza HTML pe forumuri sau pe profiluri personale într-un mod ce îngreunează navigarea, ce cauzează lag în browser, sau ce depăşeşte limitele implicite.
                %span.label.label-warning Observaţie
                %small Profilul tău sau informaţiile de contact pot fii şterse fără avertisment.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Nu pretinde că eşti alt jucător pe Mumble.
                %li Numele tău pe Mumble ar trebui să fie numele tău din joc sau o variantă uşor de identificat.
                %li Nu spama acţiuni care trimit mesaje altor utilizatori (cum ar fi apăsând butoanele de mut, asurzit, sau deconectându-te şi reconectându-te în mod repetat)

    .page-header
        %h2 D. Comportament pe server
    .row
        .span12
            %ol
                %li Nu trimite mesaje ce îi încurajează pe ceilalţi jucători să părăsească o echipă sau să se deconecteze de la server.
                %li Dacă nu explici procesul raportării, nu încuraja alţi jucători să raporteze o persoană anume.
                %li Nu acuza alţi jucători în chat de folosire de hack-uri. Dacă eşti de părere că un jucători foloseşte hack-uri, raportează-l folosind comanda /report.
                %li Nu ai voie să foloseşti vreun chat în joc pentru a solicita. Oricărui cont care este folosit doar pentru a solicita îi va fi interzis permanent accesul la servere fără avertisment.
                %li Nu ai voie să le ceri altor jucători în chat-ul public să intre pe vreun server, public sau privat, ce nu aparţine de Overcast Network. (Poţi trimite un mesaj privat prin comanda /msg pentru a informa jucătorii care au cerut acest lucru).
                %li Numele tău de utilizator trebuie să fie adecvat, şi ţi se poate spune să foloseşti alt cont dacă numele tău de utilizator nu este adecvat. (Nu se consideră ca fiind evaziune de interdicţie.)
                %li Dacă ai acces la comanda /nick, orice poreclă aleasă trebuie să îţi asigure anonimitate, nu atenţie. Nu ai voie să foloseşti /nick pentru a pretinde că eşti altcineva şi nu ai voie să foloseşti o poreclă inadecvată.
                %span.label.label-warning Observaţie
                %small Toate mesajele şi comenzile din chat sunt înregistrate.
                %br
                %span.label.label-warning Observaţie
                %small Îţi poţi face publicitate livestream-ului tău de Overcast Network, atâta timp cât nu faci spam.

    .page-header
        %h2 E. Reguli generale ale jocului
    .row
        .span12
            %ol
                %li Jucătorii nu au voie să abuzeze erori. Acestea includ, dar nu sunt limitate la punerea de blocuri în zone interzise de către server, crearea unui efect de "Raze X" şi invincibilitate.
                %li Într-un joc de Blitz sau de Ghost Squadron, jucătorii nu au voie să prelungească un meci evitând lupte şi/sau ascunzându-se în locuri la care se ajunge greu sau la care nu este posibil să se ajungă.
                %li Spectatorii nu au voie să dea jucătorilor informaţii tactice sau să intrerupă intenţionat jocul. Informaţiile tactice includ, dar nu sunt limitate la:
                %ol{:type => "a"}
                    %li Dezvăluind locaţiile jucătorilor
                    %li Dezvăluind faptul că o echipă deţine o lână pe o hartă de Capture the Wool
                %li Te rugăm să foloseşti un skin adecvat - poţi fi pedepsit dacă foloseşti un skin inadecvat.

    .page-header
        %h2 F. Modificări ale clientului
    .row
        .span12
            %ol
                %li Orice modificări ale clientului care dau un avantaj incorect faţă de utilizatorii de Minecraft nemodificat sunt ilegale în joc.
                %li Orice programe/instrumente externe ce modifică jocul pentru a da un avantaj incorect faţă de jucătorii ce nu folosesc programul/instrumentul sunt ilegale în joc.
                %li Următoarele modificări ale clientului sunt permise în joc:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        OptiFine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (versiunea 2.6 şi superioară)
                    %li
                        %i.fa.fa-check
                        Toggle-crouch care nu îţi permite să te furişezi în timp ce scrii, în timp ce umbli prin inventar sau prin orice meniu
                    %li
                        %i.fa.fa-check
                        Pachete de resurse care nu aparțin nici unei categorii "interzise în joc"
                    %li
                        %i.fa.fa-check
                        Minimap-uri în afară de cele menţionate mai jos
                %li Următoarele modificări ale clientului NU sunt permise în joc:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Modificări care sortează inventare
                    %li
                        %i.fa.fa-times
                        Modificări care expun sau măresc numele jucătorilor
                    %li
                        %i.fa.fa-times
                        Selectoare automate de instrumente
                    %li
                        %i.fa.fa-times
                        Minimap-uri care arată poziţiile entităţilor sau hărţi ale peşterilor/subteran.
                    %li
                        %i.fa.fa-times
                        Raze X
                    %li
                        %i.fa.fa-times
                        Modificări care lovesc automat
                    %li
                        %i.fa.fa-times
                        Modificări care ţintesc la jucători/entităţi
                    %li
                        %i.fa.fa-times
                        Modificări care fac jucătorul să zboare
                    %li
                        %i.fa.fa-times
                        Indicatoare de daune/viaţă
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li Pentru orice alte modificări, trimiteţi un e-mail la support@oc.tc pentru confirmare înainte de a le utiliza.
                %span.label.label-warning Observaţie
                %small Spectatorii au voie să încalce aceste restricţii.
                %br
                %span.label.label-warning Observaţie
                %small Jucătorii nu au voie să folosească modificări de zbor în foaier.

    .page-header
        %h2 G. Dăunarea propriei echipe (Team Griefing)
    .row
        .span12
            %ol
                %li Dăunarea propriei echipe este interzisă şi este definită ca fiind orice acţiune nesăbuită sau intenţionată care poate dăuna propriei echipe.
                %li Următoarele sunt acţiuni care dăunează evident propriei echipe:
                %ol{:type => "a"}
                    %li Punând şi/sau aprinzând TNT lângă coechipieri sau lângă structuri vitale echipei (de exemplu cufere, apărări sau minereuri) în propria bază
                    %li Distrugând cuferele sau mesele de lucru ale propriei echipe
                    %li Omorând coechipieri (ori distrugând blocuri sub ei şi făcându-i să cadă, ori împingându-i în vid)
                    %li Folosind/modificând un tun de TNT construit de alt jucător fără permisiune explicită
                    %li Ajutând sau lucrând împreună cu un membru al echipei inamice
                %li Următoarele sunt acţiuni considerate nesăbuite sau sunt puternic descurajate (poţi fi avertizat dacă încalci următoarele reguli):
                %ol{:type => "a"}
                    %li Punând TNT în propria bază, mai ales construirea de turnuri din TNT în propria bază
                    %li Punând TNT într-o manieră nesăbuită lângă coechipieri sau obiective
                    %li Luând toată sau aproape toată lâna din camera lânii pe o hartă de Capture the Wool, dacă nu există doar o lână în acea cameră
                %li Orice acţiuni care nu sunt enumerate aici dar care încetinesc progresul echipei tale spre câştigarea meciului, intenţionat sau nu, sunt tot considerate ca fiind dăunătoare propriei echipe şi vor fi tratate ca atare.
                %span.label.label-warning Observaţie
                %small
                    Jucătorii nu au
                    %b NICIODATĂ
                    voie să dăuneze propriei echipe, nici măcar ca revanşă asupra altui jucător care a dăunat echipei.

    .page-header
        %h2 H. Reguli specifice hărţilor
    .row
        .span12
            %ol
                %li Toţi jucătorii sunt responsabili pentru menţinerea la curent cu toate regulile hărţilor. Regulile hărţilor sunt găsite în spawn-ul hărţii, sau prin comanda /map.
                %li Regulile din /map au prioritate asupra regulilor din spawn-ul hărţii în cazul în care o regulă referitoare la acelaşi subiect este prezentă în ambele părţi.

    .page-header
        %h2 I. Consecinţe
    .row
        .span12
            %ol
                %li Jucătorii pot fi avertizaţi sau pedepsiţi dacă încalcă oricare din regulile de mai sus, în funcţie de severitatea situaţiei.
                %li Severitatea pedepsei se bazează de obicei pe infracțiunile anterioare ale jucătorului.
                %li În cazul încălcărilor deosebit de grave ale regulilor, care includ dar nu sunt limitate la folosirea de hack-uri pe servere, sau rănirea persistentă a propriei echipe în ciuda intervenţiilor moderatorilor, jucătorilor le poate fi interzis permanent accesul la servere fără avertisment.
                %li Jucătorilor cu multe avertismente pentru aceeaşi regulă le poate fi interzis temporar accesul la servere fără preaviz.
                %li Evaziunea de interdicţie nu este permisă şi va duce la interdicţia permanentă a tuturor conturilor alternative asociate cu jucătorul care evită interdicţia. Conturilor alternative nu li se va permite accesul la servere până când interdicţia iniţială nu a expirat, iar interdicţia iniţială poate fi extinsă cu până la de trei ori mai mult decât durata interdicţiei iniţiale. (de exemplu o interdicţie de o săptămână devine o interdicţie de 3 săptămâni).
                %li Evadarea persistentă a interdicţiilor va duce la o interdicţie permanentă ale tuturor conturilor.
                %li Jucătorilor care încalcă orice reguli pe forumuri li se poate interzice accesul la postatul pe forumuri.
                %li Jucătorii care încalcă orice reguli în Mumble pot fi daţi afară sau interzişi accesul la serverul de Mumble.
                %li Jucătorilor care încalcă regulile oricăror servicii oferite de Overcast Network, incluzând serverele din joc, forumuri şi Mumble, le poate fi interzis permanent accesul la unul sau la toate aceste servicii.
                %li Toate pedepsele pot fi contestate prin depunerea unui recurs.
                %li
                    %b Oricărui jucător care minte intenţionat în recursul său îi poate fi interzis permanent accesul la servere.
                %span.label.label-warning Observaţie
                %small Toate pedepsele depind de judecata membrilor personalului (Ei fac decizia finală).

    .page-header
        %h2 J. Diverse
    .row
        .span12
            %ol
                %li Aceste reguli se pot schimba fără avertisment.
                %li Jucătorii trebuie să fie la curent cu toate schimbările regulamentului.
                %li Există o perioadă de graţie de o săptămână pentru schimbări de regulament.
                %li Administraţia Overcast Network are dreptul de a interzice accesul sau de a debloca orice jucător de la serviciile Overcast Network din orice motiv şi fără avertisment.
