%section
    .page-header
        %h1
            Правила
            %small Правила обновлены 23 Августа 2014 года
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            Эти правила относятся
            %b ко всем
            услугам Overcast Network.

    .page-header
        %h2
            A. Основные правила
    .row
        .span12
            %ol
                %li Поддерживайте приятную, повседневную атмосферу. Будьте уважительны и в здравом уме. Чрезмерное хамство, ругательство и домогательство не допускаются.
                %li Старайтесь придерживаться правильной грамматики и орфографии.
                %li Не спамьте.
                %li Не связываетесь ни с чем из ниженаписанного:
                %ol{:type => "a"}
                    %li Нежелательный материал, включающий порнографию, "опасные сайты", вирусы, фишинговые сайты и протестные движения.
                    %li Другие веб-сайты или сервера каким-либо образом включающим рекламу.
                    %li
                        %a{:href => "https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5"} Персональные данные других пользователей.
                %li Не поощряйте и не участвуйте в нарушении правил на сервере Overcast Network.
                %li Не притворяйтесь быть любым членом персонала Overcast Network, и не утверждайте что вы сотрудник.
                Докладывайте об ошибках и багах сервера Overcast Network либо на форуме (http://oc.tc/forums), либо на support@oc.tc; Создание, сокрытие бага любого рода и непоказ его на всеобщее обозрение по просьбе сотрудника будет стоить вам наказания.
                %li Выполняйте любые указания администрации Overcast Network. Если вы уверены, что сотрудник сервера сказал вам сделать что-то против правил, пишите на этот email support@oc.tc
                %span.label.label-warning Заметка
                %small Если вы обеспокоены ссылками содержащими рекламу, пожалуйста поговорите об этом с сотрудником сервера перед тем, как оставить комментарий или тему на форуме.

    .page-header
        %h2 B. Поведение на Веб-сайте
    .row
        .span12
            %ol
                %li
                    Do not make topics or posts aiming to insult or provoke other people or groups,
                    and do not promote or encourage others to make such posts.
                %li Do not reply to topics with irrelevant, meaningless, or spammy text/images.
                %li Do not "bump" topics by posting something that does not contribute constructively to the topic.
                %li All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
                %li Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.
                %li
                    Do not make topics just to announce that you are quitting the game or the server.
                    Exeptions may be made if you are quitting for a <em>very</em> interesting reason, like you are dying, or sailing around the world.
                %li
                    Announcements about dramatic events befalling other players must include a verifiable source for the information.
                    If we cannot easily verify the story, the topic may be removed.
                    Deliberate hoaxes of this nature are considered very serious infractions.
                %li
                    Do not reply to a topic that you feel is violating the rules,
                    %a{:href => "/report"}submit a report
                    instead. Intentionally lying in a report is considered an infraction.
                %li Do not abuse HTML in the forums or personal profiles in a way that makes navigation difficult, causes extreme browser lag, or exceeds the preset boundaries.
                %small.label.label-warning Заметка
                %small Ваш профиль или контактная информация может быть удалена без предупреждения.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Не выдавайте себя за других игроков на Mumble.
                %li Твое имя в Mumble должно соответствовать твоему имени в игре, возможны легкие изменения.
                %li Не спамьте вообще, подключаться и отключаться кучу раз подряд и оглушать громкими звуками запрещено.
    .page-header
        %h2 D. Поведение в игре
    .row
        .span12
            %ol
                %li Не отправляйте сообщения, которые побуждают других игроков покинуть команду или отключиться.
                %li Если вы не объяснили процесс жалобы, вы не можете заставлять других игроков жаловаться на определенного игрока.
                %li Пожалуйста, не обвиняйте других игроков в читерстве публично. Если вы уверены, что игрок использует читы или нарушает правила, доложите на него, используя команду /report.
                %li Вы не можете использовать любую форму игрового чата для домогательств. Любой аккаунт, использующий любую форму домогательства или выпрашивания будет забанен навсегда без предупреждения.
                %li Вы не можете кидать любые ссылки в чат или выпрашивать игроков присоединиться из публичных или приватных серверов,не являющихся частью Overcast Network. (Вы можете использовать /msg чтобы информировать игроков, которые просят об этом).
                %li Ваш логин должен быть уместным, и вы можете попросить использовать другой аккаунт, если ваш логин неуместен или не подходит. (Это не считается как уклонение от бана.)
                %span.label.label-warning Заметка
                %small Все сообщения в чате и команды вносятся в регистрационный журнал.
                %br
                %span.label.label-warning Заметка
                %small Вы можете кидать ссылки в Overcast Network связанные исключительно с самим сервером типа видео записей, но не спамьте ими.

    .page-header
        %h2 E. Общий Геймплей
    .row
        .span12
            %ol
                %li Игрокам нелязя злоупотребялять глюками майнкрафта для получения выгоды для себя или своей команды, или делать что-то, что вызовет лаги у других игроков. Это включает попытки ставить блоки в места ограниченные плагинами или попытки зайти туда, создание "x-ray" эффекта, и быть непобедимым с читами.
                %li В Blitz или Ghost Squadron, игроки не могут продлевать раунд путем избегания боя или прячась в трудно-доступных местах.
                %li Зрителям нельзя давать тактическую информацию игрокам или намеренно нарушать геймплей. Тактическая информация включает, но не ограничивается этим:
                %ol{:type => "a"}
                    %li Раскрывать позиции игроков.
                    %li Раскрывать владельца шерсти на карте под названием Capture the wool(захватить шерсть).
                %li Пожалуйста, используйте нормальный скин - вы можете быть наказаны за неуместный скин.
                %li Не кемпите на спавне.
                %ol{:type => "a"}
                    %li Не кемпите на спавне ожидая рядом или в спавне игроков которые только-что спавнулись.
                    %li Не атакуйте спавн на прямую (e.g. бег в направление спавна, и начало боя с игроками в спавне, также как продолжать оставаться и убивать играков в спавне.).
                    %li Не направльйте пушки из TNT (динамита) на спавн и не бросайте TNT сверху на спавн.
                %span.label.label-warning Заметка
                %small Правила по спавн-кемпингу не относятся в играх Team Deathmatch и Blitz.

    .page-header
        %h2 F. Незначительные изменения клиента
    .row
        .span12
            %ol
                %li Любые изменения клиента, дающие вам нечестные преимущества в майнкрафте нелегальны.
                %li Нижеперечисленные моды разрешены во время геймплея на сервере:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        Показатель прочности вашей брони HUD/показатель эффектов в углу экрана HUD
                    %li
                        %i.fa.fa-check
                        Переключатель приседания который не разрешает приседать во время печатания, просмотра инвентория, или любого другого меню.
                    %li
                        %i.fa.fa-check
                        Tекстур паки, которые не попадают ни под одну "прямо запрещены" категории.
                    %li
                        %i.fa.fa-check
                        Миникарты за исключением случаев, указанных ниже.
                %li Следующие моды строго запрещены во время геймплея:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Сортировка инвенторя
                    %li
                        %i.fa.fa-times
                        Mоды, которые раскрывают или увеличивают ники других игроков.
                    %li
                        %i.fa.fa-times
                        Автоматические сортировщики инструментов
                    %li
                        %i.fa.fa-times
                        Миникарты, которые показывают мобов, пещеры или подземные ходы.
                    %li
                        %i.fa.fa-times
                        X-rays (рентген)
                    %li
                        %i.fa.fa-times
                        Килл-аура
                    %li
                        %i.fa.fa-times
                        Aimbots (аим-бот)
                    %li
                        %i.fa.fa-times
                        Моды, позволяющие летать.
                    %li
                        %i.fa.fa-times
                        Индикатор здоровья/урона
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Улучшения спринта
                %li For any other mods, email support@oc.tc for confirmation before using it.
                %li Зрители не связаны с этими ограничениями.
                %span.label.label-warning Заметка
                %small Игроки в творческом режиме не связаны этими ограничениями.
                %br
                %span.label.label-warning Заметка
                %small Игрокам в лобби запрещено использовать модификации для полёта.

    .page-header
        %h2 G. Тим-гриф
    .row
        .span12
            %ol
                %li Тим-гриф запрещен, и рассматривается как безрассудное действие, наносящее вред вашей команде.
                %li Нижеперечисленное есть тим-гриф:
                %ol{:type => "a"}
                    %li Размещение блоков динамита возле товарищей по команде или возле ключевых объектов (eg. сундуки, оборонительные сооружения или руды) на своей базе.
                    %li Уничтожение верстаков и сундуков своей собственной команды.
                    %li Убийство союзников (путем удаления блока из-под игрока,после чего он падает или толкание союзников за пределы мира).
                    %li Использование/деформация ТНТ пушки своего союзника без его согласия.
                    %li Содействие или работа вместе с игроком из другой команды.
                %liltajhv Ниженаписанное считается безрассудным и настоятельно не рекомендуется делать(вы можете быть предупреждены за нарушения этих правил):
                %ol{:type => "a"}
                    %li Размещение динамита на своей базе, особенно строительство башен из динамита на своей базе.
                    %li Закладка динамита возле товарищей по команде или объектов.
                    %li Уничтожение всей шерсти на карте типа Capture the Wool (захват шерсти), только если хотя бы одна шерсть не осталась в сундуке.
                %li Все действия, которые тут не упомянуты, которые мешают вашей команде победить, преднамеренные или нет, по прежнему считаются "тим-грифом" и могут рассматриваться как таковые.
                %span.label.label-warning Заметка
                %small
                    Игрокам
                    %b НИКОГДА
                    нельзя тим-гриферить, даже в отместку другому тим-гриферу.

    .page-header
        %h2 H. Особые правила
    .row
        .span12
            %ol
                %li Все игроки несут ответственность за поддержание себя в курсе всех правил сервера. Правила карты могут быть найдены на табличках на спавнах карты, и через команду /map.
                %li Правила в /map имеют прецедент в случаях относительно того же предмета.

    .page-header
        %h2 I. Последствия
    .row
        .span12
            %ol
                %li Игроки могут получать предупреждения или бан в игре за невыполнение вышенаписанных правил, в зависимости от тяжести  нарушения.
                %li Серьёзность наказания обычно на основе предведущих наказаний игрока.
                %li В особо серьезных случаях или особо вопиющем нарушении правил, включающем использование читов на сервере, или тим-гриф не смотря на вмешательство модератора, будет стоить вам незамедлительного бана без предупреждения.
                %li Игроки с большим количеством предупреждений за нарушение одного и того же правила могут получить временный бан без уведомления.
                %li Уклонение от бана запрещено, и приведет к постоянному бану для всех второстепенных аккаунтов связанных с уклоняющимся от бана игроком. Второстепенные аккаунты не будут разбанены, пока не истечет срок бана главного аккаунта, и главный бан может быть продлен в три раза дольше от обычного времени. (т.е. бан на одну неделю вырастает до бана в 3 недели).
                %li Упорное уклонение от бана будет стоить постоянного бана для всех аккаунтов.
                %li
                    Игрокам, нарушающим правила форума могут запретить комментировать и постить топики. Если ваш бан длиться дольше, чем 7 дней, пожалуйста, свяжитесь
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    для уточнения точной длины вашего бана.
                %li Игроки, нарушающие любые правила мамбл могут быть забанены или кикнуты с сервера Mamble.
                %li Игроки, нарушающие любые правила сервера Overcast Network, включая игровые сервера, форумы, Mamble, могут быть забанены на любом из серверов.
                %li
                    В игре баны должны быть обжалованы путем подачи апелляции.
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Баны на Mumble и на форуме должны быть обжалованы через email
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"}
                    %b Любой игрок, который сознательно дает о себе ложную информацию в апелляции может быть забанен навсегда.
                %span.label.label-warning Заметка
                %small Все наказания выдаются по усмотрению персонала.

    .page-header
        %h2 J. Разное
    .row
        .span12
            %ol
                %li Эти правила могут быть изменены только с уведомлением администрации.
                %li Игроки ответственны за подержание себя в курсе всех правил, а так же за их знание.
                %li Одна неделя льготного периода для изменения правил.
                %li Администрация Overcast Network оставляет за собой право бана или разбана любого игрока на сервере Overcast Network по любой причине без уведомления.
