%section
    .page-header
        %h1
            Pravila
            %small Zadnje Posodobljeno 25. Maj, 2013
            = render "select"
    .row
        .span12
            %span.label.label-warning Opomba
            %span
            Ta pravila veljajo za
            %b vse
            Overcast Network storitve

    .page-header
        %h2
            A. Splošna ubranost
    .row
        .span12
            %ol
                %li Vzdržujte prijetno, mirno atmosfero in ušprabljajte zdravo pamet. Prekomerno preklinjanje, nevljudnost in nadlegovanje ne bomo prenašali.
                %li Poskušajte ohraniti pravilno črkovanje in slovnico.
                %li Ne "spammajte".
                %li Ne "linkajte" sledečega:
                %ul
                    %li Neprimerne vsebine, ki vsebuje pornografijo, "shock" strani, virusev, "phishing" strani in sovražnih skupin.
                    %li Ostalih strani ali serverjev ki na nek način predstavljajo reklamiranje.
                %li Ne spodbujajte igralcev do kršenja pravil na Overcast Network storitvah.
                %li Ne oponašajte članov od Overcast Network osebja, ali trdite, da ste član osebja.
                %li Poročajte napake ali "hrošče" od Overcast Network storitev na forumu (http://oc.tc/forums) ali pošljite e-pošto na support@oc.tc; izrabljanje napak za kateri koli razlog razen demonstracije ob zahtevi osebja bo kaznovano.
                %li Upoštevajte navodila, ki vam jih da Overcast Network osebje. Če mislite, da vas je osebje usmerilo narobe, prosim, da pošljete e-pošto na support@oc.tc.
                %span.label.label-warning Opomba
                %small Če ste skeptični zaradi povezav, ki bi se lahko štele kot reklamiranje, prosimo, da se pozanimate pri osebju pred objavljanjem.

    .page-header
        %h2 B. Vedenje na Forumu
    .row
        .span12
            %ol
                %li Ne objavljajte vnetnih objav. To vključuje objave, ki lahko užaliju druge, izzove druge da objavijo vnetne objave, sovražni govor ali kar koli drugega ki bi lahko bil "flame war".
                %li Objave se morajo nanašati na temo. Objave, ki se ne nanašajo na temo bodo odstranjene.
                %li Če se vam zdi, da bi morala biti tema zaklenjena, prosimo, da pošljete poročino prek http://oc.tc/report namesto komentiranja tega na tisti temi.
                %li Slike ali objave, ki se ne nanašajo na temo bodo odstranjene. "Spammanje" nepomembnih slik bo odstranjeno.
                %li Ne "bumpajte" tem s tem, da objavite nekaj, ki ne prispeva tisti temi.
                %li Vse osebne zadeve morajo biti obravnavane na zasebnem. Javni forumi niso kraj za osebne spore.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Ne oponašajte drugih igralcev na "Mumblu"
                %li Vaše Mumble ime mora biti vaše ime, ki ga uporabljate v igri ali nekaj po čemer bi vas z lahkoto prepoznali.
                %li Ne "spammajte" dejanj, ki pošljejo sporočila drugim igralcem ("spammanje" gumba mute, deafen ali "recoonectanje").

    .page-header
        %h2 D. V Igri
    .row
        .span12
            %ol
                %li Ne pošiljajte sporočil, ki spodbujajo igralce k odhodu iz ekipe ali serverja.
                %li Če ne ponazarjate procesa poročanja, ne smete spodbujati igralcev to tega, da prijavijo druge igralce.
                %li Prosimo, da ne obtožujete igralcev "hackanja". Če mislite da igralec "hacka" ali krši pravila oddajte poročilo preg ukaza /report (/report <ime igralca> <sporočilo>).
                %li Ne smete nagovarjati igralcev v "chatu". Računi, ki so samo za nagovarjanje bodo trajno prepovedani brez opozorila.
                %li Ne "linkajte" ali nagovarjajte igralcev, da se pridružijo drugim serverjem, ki niso del Overcast Network-a v javnem klepetu. (Lahko uporabite /msg <ime igralca>, da obvestite igralca, če to želi).
                %li Vaše ime v igri mora biti primerno. Lahko zahtevamo, da uporabljate drug račun, če je vaše ime neprimerno.
                %span.label.label-warning Note
                %small Vsi klepeti in ukazi so shranjeni.
                %br
                %span.label.label-warning Note
                %small Lahko "linkate" svoj Overcast Network prenos v živo, dokler tega ne "spammate".

    .page-header
        %h2 E. Splošno igranje
    .row
        .span12
            %ol
                %li Igralci ne smejo:
                %ul
                    %li "Combat log", ki je opisan kot zapuščanje ekipe ali serverja pred smrtjo. (Lahko "Combat Loggate", da se izognete "team-griefu").
                    %li Izkoriščajo Minecraft napake, da dobijo prednost za njih ali njihovo ekipo, ali v načinu, ki bi "laggal" druge igralce. To vključuje, a ni omejeno na, postavljanje kock v prostorih preprečenih pri "pluginu", da tam hodite, izdelava "x-ray" efekta, in izdelovanja stvari zaradi katerik bi bil nepremagljiv.
                %li V Blitz in Ghost Squadron igri igralci ne smejo:
                %ul
                    %li Podaljševati igre s tem, da se izogibajo boja in/ali skrivanja v prostorih, ki so nedostopna.
                %li Opazovalci nikoli ne smejo izdajati taktičnih informacij igralcem ali za nalašč motiti igre. Taktične informacije vključujejo, a niso omejene na:
                %ul
                    %li Odkrivanja lokacije igralcev.
                    %li Odkrivanja lastništva volne v "Capture the Wool" mapah.
                %li Prosimo, da uporabljate primeren "skin" - Lahko ste kaznovani za neprimerne "skine".
                %li Ne napadajte "spawna" neposredno, če ta ni zraven cilja ("spawn" je definiran kot prostor kjer se igralci "spawnajo").
                %ul
                    %li Ukrepi, ki jih prepoveduje to pravilo in vključuje, a ni omejen so sledeče:
                    %ul
                        %li Napeljevanje neposrednega PVP ali lok PVP v ali neposredno ob nasprotnikovem "spawnu".
                        %li Ciljanje TNT topov proti ali zraven "spawna" na način, da ubija igralce. (Morali boste spremeniti top če cilja "spawn")
                        %li Dejanja, ki naredijo "spawn" neprehoden.
                        %li Spuščanje TNT-ja iz zraka v "spawn".
                        %li "Kampanje" spawna s tem, da čakate zraven ali v "spawnu" na nove igralce.
                    %li Primeri ukrepov, ki ni možno kaznovati po tem pravilu vključujejo, a niso omejena na sledeče:
                    %ul
                        %li Nenamerno ciljanje TNT-ja (Če je top spremenjen, ko se igralec tega zaveda).
                        %li Bojevanje proti igralcem ki "rushajo" proti napadalcem brez pripravljanja.
                        %li Bojevanje proti igralcem v ali blizu "spawna", ki je blizu cilja.
                %span.label.label-warning Opomba
                %small Pravila "spawn" ubijanja ne veljajo na TDM in Blitz mapah; pričakujemo, da se branite.

    .page-header
        %h2 F. "Client" spremembe
    .row
        .span12
            %ol
                %li Katere koli "client" spremembe, ki vam dajo nepošteno prednost nad igralcem z "vanilla clientom" niso dovoljena med igro.
                %li
                    %i Naslednje modifikacije so med igranjem izrecno dovoljene:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Toggle-crouch, če ta ne omogoča čepenja med tipkanjem, gledanjem v inventar ali kateri drug meni.
                    %li
                        %i.icon-ok
                        Paketi tekstur, ki ne spadajo pod strogo prepovedano kategorijo.
                    %li
                        %i.icon-ok
                        Mini mape razen tistih omenjenih spodaj.
                %li
                    %i Naslednje modifikacije zo strogo prepovedano med igranjem:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Urejevalci inventara
                    %li
                        %i.icon-remove
                        Auto-sprint, ki vključuje vezanje "sprint-keya" namesto uporabljanja dvojnega klika.
                    %li
                        %i.icon-remove
                        Modifikacije, ki povečajo ali razkrijejo tablice z imeni igralcev.
                    %li
                        %i.icon-remove
                        Avtomatični selektorji orodja.
                    %li
                        %i.icon-remove
                        Mini mape, ki pokažejo pozicijo "entitijev" ali pokažejo jame pod površjem.
                    %li
                        %i.icon-remove
                        X-rays
                    %li
                        %i.icon-remove
                        Auto-hitters
                    %li
                        %i.icon-remove
                        Aimbots
                    %li
                        %i.icon-remove
                        Modifikacije za letenje
                %li
                    %i Za druge modifikacije vprašajte osebje za potrditev pred uporabo.
                %li Opazovalci niso vezani na te omejitve.
                %span.label.label-warning Opomba
                %small Ta oddelek se bo redno posodabljal, prosimo vas, da redno preglejujte ta sektor.

    .page-header
        %h2 G. "Team Griefing"
    .row
        .span12
            %ol
                %li "Team griefing" je strogo prepovedan in je opredeljen kot katero koli dejanje, ki škodi ekipi za nalašč.
                %li
                    %i Naslednje spada med "team grief":
                %ol{:type => "a"}
                    %li Postavljanje in/ali prižiganje eksploziva blizu članov ekipe ali ekipne infrasktrukture (skrinje, obramba) v svoji bazi.
                    %li Uničevanje skrinj ali delovnih miz v lasti svoje ekipe.
                    %li Ubivanje članov ekipe (kot kopanje tal pod njimi ali porivanje ljudi s sveta).
                    %li Uporabljanje/spreminjajte TNT topa, ki ga je zgradil drug igralec brez njihovega dovoljenja.
                    %li Sodelovanja z nasprotnikom.
                %li
                    %i Naslednje je močno odsvetovano (lahko ste opozorjeni zaradi krčenja naslednjih pravil):
                %ol{:type => "a"}
                    %li Postavljanja eksploziva v svoji bazi, posebej zidanja TNT stolpov v svoji bazi.
                    %li Grajenje nezavarovanega eksploziva blizu članov ekipe ali cilja.
                    %li Vzemanja vse ali skoraj vse volne v "Capture the Wool" mapi iz sobe z volno, razen če je tam samo še ena volna.
                %li Dejanja, ki tukaj niso navedena, ki ovirajo napredek tvoje ekipe proti cilju in zmagi, namerno ali ne, še vedno spadajo pod "team griefing" in se obravnavajo kot take.
                %span.label.label-warning Opozorilo
                %small
                    Igralci niso
                    %b NIKOLI
                    dovoljeni "team griefa", tudi če se upirajo drugemo "team grieferju".

    .page-header
        %h2 H. Posebna pravila map
    .row
        .span12
            %ol
                %li Vsi igralci so odgovorni, da sledijo pravilom map. Pravila map so najdena na tablah pri "spawnu" in preko ukaza /map.
                %li Pravila v /map imajo prednost pred pravili na tabli v primerih v zvezi z isto temo.

    .page-header
        %h2 I. Kazni
    .row
        .span12
            %ol
                %li Igralci lahko prejmejo opozorilo med igro ali kazen za prekršitev pravil zgoraj, odvisno od velikosti kršitve.
                %li Po prejemanju kazni, bodo igralci "kickani", začasno prepovedani ali trajno prepovedani, odvisno od prejšnjih kazni, razen opozoril.
                %li V resnejših primerih ali očitnih primerih kršenja pravil, vključnu a ne omejeno na uporabo "hackanega clienta" na serverjih, ali konstantno "team grifanje" kljub intervenciji moderatorja, bo povzročilo takojšnjo trajno prepoved brez opozorila.
                %li Igralci z več opozorili za isto pravilo so lahko začasno prepovedani brez opozorila.
                %li Izogibanje prepovedi ni dovoljeno in bo imelo posledico v trajni prepovedi za vse druge račune povezane z igralcem, ki se izogiba prepovedi. Drugi računi bodo prepovedani dokler prva prepoved ne poteče, in prva prepoved ze lahko podaljša do 3-krat dlje kot prvotni čas (primer: 1 teden se spremeni v 3).
                %li Stalno izogibanje prepovedi bo imelo za posledico trajno prepoved za vse račune.
                %li
                    Igralci, ki kršijo pravila foruma so lahko prepovedani objavljati na forumu. Če prepoved ostane za več kot 7 dni kontaktirajte
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    za natančen čas vaše prepovedi.
                %li Igralci, ki kršijo pravila "mumbla" so lahko "kickani" ali prepovedani iz mumble serverja.
                %li Igralci, ki kršijo pravila na Overcast Network storitvah, tudi na serverjih, forumu in mumblu, so lahko prepovedani iz katere koli storitve.
                %li
                    Na prepoved v igri se lahko pritožite z vložitvijo pritožbe na
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Forum in mumble prepovedi morajo biti pritožene preko e-pošte na
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Vsak igralec, ki zavestno daje napačne informacije pri pritožbi bo trajno prepovedan.
                %li Vse kazni so stvar moderatorja.
    .page-header
        %h2 J. Razno
    .row
        .span12
            %ol
                %li Ta pravila se lahko spremenijo v skladu s pozivom.
                %li Igralci so odgovorni, da sledijo spremembam pravil.
                %li Po spremembi pravil je en teden milosti.
                %li Overcast Network administracija si pridržuje pravico do prepovedi katerega koli igralca od katere koli Overcast Network storitve za kateri koli razlog brez poziva.
