%section
    .page-header
        %h1
            Regler
            %small Senast Uppdaterad August 23, 2014
            = render "select"
    .row
        .span12
            %span.label.label-warning Notering
            %span
            Dessa regler gäller för
            %b alla
            Overcast Network Tjänster.

    .page-header
        %h2
            A. Allmänt Sans
    .row
        .span12
            %ol
                %li Upprätthåll en behaglig, avslappnad atmosfär. Var respektfull och använd sunt förnuft. Omåttligt med svordomar, oförskämdheter och trakasserier tolereras inte.
                %li Försök att upprätthålla ordentlig stavning och grammatik.
                %li Spamma inte.
                %li Länka inte till något av följande:
                %ol{:type => "a"}
                    %li Stötande material, vilket inkluderar men är inte begränsat till pornografi, "chocksajter", virus, sidor för nätfiske eller hatgrupper.
                    %li Andra hemsidor eller servrar på något sätt som utgör reklam.
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} Personuppgifter om andra användare (engelska).
                %li Uppmana inte till eller delta i regelbrott på Overcast Networks tjänster.
                %li Utge dig inte för att vara någon medlem av Overcast Networks personal, eller hävda att du är en medlem av personalen.
                %li Rapportera problem eller buggar på Overcast Networks tjänster antingen på forumen (http://oc.tc/forums) eller till support@oc.tc; utnyttjande av buggar på annat sätt än för att demonstrera på begäran av personalen är straffbart.
                %li Följ anvisningar som ges av Overcast Networks personal. Anser du att någon ur personalen har givit dig felaktiga anvisningar, var vänlig mejla support@oc.tc
                %span.label.label-warning Notering
                %small Är du osäker över vilka länkar som kan utgöra reklam, var vänlig klargör med en medlem i personalen innan du postar.

    .page-header
        %h2 B. Hemsideuppförande
    .row
        .span12
            %ol
                %li Posta inte inflammatoriska inlägg. Detta inkluderar inlägg avsedda för att förolämpa eller kränka en annan person, provocera en annan person till att skapa inflammatoriska inlägg, hets mot folkgrupp, och allt annat som liknar "inb4 flame war" (ordkrig).
                %li Inlägg gjorda bör höra till ämnet; betydelselösa inlägg kan bli raderade.
                %li Anser du en tråd bör låsas, var vänlig lämna in en rapport via https://oc.tc/report istället för att kommentera det i tråden.
                %li Bilder eller inlägg som inte tillhör ämnet är utsatta för radering. Betydelselöst bildspam raderas.
                %li "Bumpa" inte trådar genom att posta något som inte bidrar konstruktivt till tråden.
                %li Personliga problem måste hanteras privat. De offentliga forumen är inte rätt plats för personliga konflikter.
                %li Missbruka inte HTML i profiler eller foruminlägg på ett sätt som försvårar navigation, orsakar extremt lagg för webbläsaren, eller överskrider de förinställda gränserna.
                %li Att medvetet ljuga i rapporter kan resultera i en förseelse.
                %small.label.label-warning Notering
                %small Din profil eller kontaktinformation kan bli raderade utan besked.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Utge dig inte för att vara andra personer i Mumble.
                %li Ditt namn i Mumble ska vara det namn du har i Minecraft eller någon enkelt igenkännbar variation.
                %li Spamma inte funktioner som skickar meddelanden till andra, (så som att spamma "mute", "deafen" eller att frånkoppla och återansluta upprepade gånger)

    .page-header
        %h2 D. Serveruppförande
    .row
        .span12
            %ol
                %li Skicka inga meddelanden som uppmanar andra spelare att lämna ett lag eller frånkoppla från servern.
                %li Såvida du inte förklarar hur man rapporterar får du inte uppmana andra till att rapportera en särskild spelare.
                %li Vänligen anklaga inte offentligt någon spelare för att använda hack. Anser du att en spelare använder hack eller bryter mot någon regel, rapportera dem genom att använda /report kommandot.
                %li Du får inte använda någon form av chatt i spelet för att värva. Konton som har beslutats endast är för syftet att värva kommer bli permanent avstängda utan varning.
                %li Du får inte länka till, eller locka spelare att ansluta, till någon server, offentlig eller privat, som inte är en del av Overcast Network i den offentliga chatten. (Du får använda /msg för att informera spelare som efterfrågar det).
                %li Ditt användarnamn måste vara lämpligt, och du kan bli ombedd att använda ett annat konto om ditt användarnamn har påträffats vara olämpligt. (Detta räknas inte som undvikande av avstängning.)
                %span.label.label-warning Notering
                %small Alla chattmeddelanden och kommandon loggas.
                %br
                %span.label.label-warning Notering
                %small Det är tillåtet att länka till din livestream om den är relaterad till Overcast Network, så länge du inte spammar den.

    .page-header
        %h2 E. Allmänt i Spelet
    .row
        .span12
            %ol
                %li Spelare får inte utnyttja buggar i Minecraft för att skaffa sig ett övertag för sig själv eller sitt lag, eller på ett sätt som orsakar lagg för andra spelare. Detta inkluderar, men är inte begränsat till: placering av block som är begränsade av pluginet att gå på, att skapa en röntgeneffekt (x-ray) och att göra dig själv odödlig.
                %li I en Blitz eller Ghost Squadron match, får spelare inte förlänga en match genom att undvika strid och/eller gömma sig på ställen som är otillgängliga eller svåra att ta sig till.
                %li Åskådare får aldrig ge ut taktisk information till spelare eller avsiktligt störa spelet. Taktisk information inkluderar, men är inte begränsat till:
                %ol{:type => "a"}
                    %li Att avslöja spelares positionering
                    %li Att avslöja vem som bär ullen i en "Capture the Wool" karta
                %li Var vänlig använd en lämplig klädsel (skin) - du kan bli straffad om du använder en olämplig klädsel.
                %li Do not spawn camp.
                %ol{:type => "a"}
                    %li "Campa" inte en startpunkt genom att vänta bredvid eller innuti en startpunkt på spelare som nyligen startat.
                    %li Attackera inte direkt någon startpunkt (t.ex. springa mot en startpunkt och börja slå spelare innuti den startpunkten, hålla sig i närheten, och döda alla som startar).
                    %li Rikta inte TNT-kannoner eller släpp stora mängder TNT på en startpunkt.
                %span.label.label-warning Notering
                %small Regler för startpunkter gäller inte för Team Deathmatch och Blitz kartor.

    .page-header
        %h2 F. Klientmodifikationer
    .row
        .span12
            %ol
                %li Alla klientmodifikationer som ger ett orättvist övertag över användare utan samma modifikationer är förbjudna medan man spelar.
                %li Följande modifikationer är uttryckligen tillåtna medan man spelar:
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch som inte tillåter att man hukar sig medans man skriver, tittar igenom utrustning, eller i några menyer
                    %li
                        %i.fa.fa-check
                        Texturpaket (Texture/Resource packs) som inte faller under någon "uttryckligen förbjudna" kategori
                    %li
                        %i.fa.fa-check
                        Miniatyrkartor (Minimaps) utom såsom angivet nedan
                %li Följande modifikationer är uttryckligen förbjudna medans man spelar:
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Utrustningssorterare (Inventory Sorters)
                    %li
                        %i.fa.fa-times
                        Modifikationer som avslöjar eller förstorar spelares namnplåtar
                    %li
                        %i.fa.fa-times
                        Automatiska verktygsväljare (Auto Switcher)
                    %li
                        %i.fa.fa-times
                        Miniatyrkartor (Minimaps) som visar enhetspositioner eller grottor/underjorden.
                    %li
                        %i.fa.fa-times
                        Röntgen (X-ray)
                    %li
                        %i.fa.fa-times
                        Automatiska slagare (Auto-hitters)
                    %li
                        %i.fa.fa-times
                        "Aimbots"
                    %li
                        %i.fa.fa-times
                        Flygmodifikationer
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li För andra modifikationer, maila support@oc.tc för bekräftelse innan användning.
                %li Åskådare är inte bundna till dessa begränsningar.
                %span.label.label-warning Notering
                %small Spelare som är i kreativläge (creative mode) är inte bundna till dessa begränsningar.
                %br
                %span.label.label-warning Notering
                %small Spelare i lobbyn får inte använda flygmodifikationer.

    .page-header
        %h2 G. Lagsabotering (Team Griefing)
    .row
        .span12
            %ol
                %li Lagsabotering är förbjudet, och beskrivs som någon hänsynslös handling som skadar det egna laget, eller handlingar som avsiktligt skadar det egna laget.
                %li Följande är uttryckligen lagsabotering:
                %ol{:type => "a"}
                    %li Att placera och/eller detonera TNT nära lagkamrater eller det egna lagets huvudinfrastruktur (t.ex. kistor, försvar eller malm) inom det egna lagets bas
                    %li Att förstöra det egna lagets kistor eller verktygsbänkar
                    %li Lagdråp (antingen genom att ta bort blocken under en person för att orsaka att de faller, eller att knuffa lagkamrater ut ur världen)
                    %li Att använda/modifiera en TNT-kanon byggd av en annan spelare utan klart tillstånd
                    %li Bistå eller arbeta tillsammans med en medlem ur motståndarlaget
                %li Följande övervägs vara hänsynslöst och är starkt avrått från (du kan bli varnad om du bryter mot följande regler):
                %ol{:type => "a"}
                    %li Att placera TNT inuti den egna basen, i synnerhet att bygga torn av TNT inuti den egna basen
                    %li Att bygga oskyddad TNT nära lagkamrater eller mål
                    %li Att ta all eller nästan all ull från en Capture the Wool karta ut ur ullrummet, såvida inte det endast finns en ull kvar i det ullrummet
                %li Handlingar som inte är listade här som hindrar ert lag från att ta några framsteg mot vinst, avsiktligt eller inte, räknas fortfarande som "lagsabotering" och kommer att bli behandlat som sådant.
                %span.label.label-warning Notering
                %small
                    Spelare är
                    %b ALDRIG
                    tillåtna att sabotera för sitt lag, inte ens som vedergällning till en annan lagsabotör.

    .page-header
        %h2 H. Särskilda Regler för Kartor
    .row
        .span12
            %ol
                %li Spelare är ansvariga att hålla sig uppdaterade med alla regler för kartor. Regler för kartor hittas på anslagstavlan för kartregler på kartans startplats, eller via /map kommandot.
                %li Reglerna i /map tar övertag över regeltavlan i fall som rör samma ämne.

    .page-header
        %h2 I. Konsekvenser
    .row
        .span12
            %ol
                %li Spelare kan erhålla en varning i spelet eller en förseelse för att ha brutit mot någon av reglerna ovan, beroende på hur allvarligt brottet var.
                %li Hur allvarlig förseelsen är baseras oftast på spelarens föregående förseelser.
                %li Särskilt allvarliga eller uppenbara regelbrott, inkluderat men inte begränsat till användning av ett hackat klient på servrarna, eller fortsatt lagsabotering trots moderatorers ingripande, kommer att leda till en omedelbar permanent avstängning, utan varning.
                %li Spelare med många varningar för samma regel kan bli tillfälligt avstängda utan besked.
                %li Undvikande av avstängning är inte tillåtet, och kommer resultera i en permanent avstängning för alla alternativa konton associerade med den undvikande spelaren. Avstängningar för de alternativa kontona kommer inte bli hävda efter att den ursprungliga avstängningen gått ut, och den ursprungliga avstängningen kan bli förlängd upp till tre gånger längden av den ursprungliga avstängningen. (t.ex. 1 veckas avstängning blir upp till en 3 veckors avstängning).
                %li Beständigt undvikande av avstängning resulterar i en permanent avstängning för alla konton.
                %li
                    Spelare som bryter mot någon forumregel kan bli avstängda från att posta inlägg på forumen. Om din avstängning varar längre än 7 dagar var vänlig kontakta
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    för att få reda på den exakta längden på din avstängning.
                %li Spelare som bryter mot någon regel i Mumble kan bli utsparkade eller avstängda från Mumbleservern
                %li Spelare som bryter mot reglerna på någon av Overcast Networks tjänster, inklusive spelservrarna, forumen, och Mumble, kan bli avstängda från någon eller alla tjänster.
                %li
                    Avstängningar från spelet måste överklagas genom att sända in en överklagan via
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Avstängningar från forumet eller Mumble måste överklagas genom att skicka in ett mejl till
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Spelare som medvetet ger falsk information i sin överklagan kan bli permanent avstängda.
                %span.label.label-warning Notering
                %small Alla förseelser är föremål för personalens bedömning.

    .page-header
        %h2 J. Diverse
    .row
        .span12
            %ol
                %li Dessa regler ändras med besked.
                %li Spelare är ansvariga för att hålla sig uppdaterade med regeländringar.
                %li Det är en veckas anstånd mellan regeländringar.
                %li Overcast Networks administration förbehåller sig rätten till att bannlysa eller häva bannlysning från vilken spelare som helst, för vilken anleddning som helst på vilken Overcast Network tjänst som helst utan besked.
