%section
    .page-header
        %h1
            Regler
            %small Senast Uppdaterad 19 Juni, 2013
            = render "select"
    .row
        .span12
            %span.label.label-warning Notering
            %span
            Dessa regler gäller för
            %b alla
            Overcast Network Tjänster

    .page-header
        %h2
            A. Allmänt Sans
    .row
        .span12
            %ol
                %li Upprätthåll en behaglig, avslappnad atmosfär. Var respektfull och använd sunt förnuft. Omåttligt med svordomar, oförskämdheter och trakasserier tolereras icke.
                %li Försök att upprätthålla ordentlig stavning och grammatik.
                %li Spamma inte.
                %li Länka inte till något av följande:
                %ul
                    %li Stötande material, vilket inkluderar men är inte begränsat till pornografi, "chocksajter", virus, sidor för nätfiske eller hatgrupper.
                    %li Andra hemsidor eller servrar på ett sätt som utgör reklam.
                %li Uppmana icke till eller delta i regelbrott på Overcast Network tjänster.
                %li Utge dig inte för att vara någon medlem av Overcast Network Personalen, eller hävda att du är en medlem av personalen.
                Rapportera problem eller buggar på Overcast Network tjänster antingen på forumen (http://oc.tc/forums) eller till support@oc.tc; utnyttjande av buggar på annat sätt än att demonstrera dessa på begäran av personalen är straffbart.
                %li Följ anvisningar som ges av Overcast Network personal. Anser du att en anställd har anvisat dig felaktigt, var vänlig mejla support@oc.tc
                %span.label.label-warning Notering
                %small Är du osäker över vilka länkar som kan utgöra reklam, var vänlig klargör med en medlem i personalen innan du postar.

    .page-header
        %h2 B. Forumbeteende
    .row
        .span12
            %ol
                %li Posta inte inflammatoriska inlägg. Detta inkluderar inlägg avsedda för att förolämpa eller kränka en annan person, provocera en annan person till att skapa inflammatoriska inlägg, hets mot folkgrupp, och allt annat som liknar "inb4 flame war (ordkrig)."
                %li Inlägg gjorda bör höra till ämnet; betydelselösa inlägg raderas.
                %li Anser du en tråd bör låsas, var vänlig lämna in en rapport via https://oc.tc/report istället för att kommentera det i tråden.
                %li Bilder eller inlägg som inte tillhör ämnet är utsatta för radering. Betydelselöst bildspam raderas.
                %li "Bumpa" inte trådar genom att posta något som inte bidrar konstruktivt till tråden.
                %li Personliga problem måste hanteras privat. De offentliga forumen är inte rätt plats för personliga konflikter.

    .page-header
        %h2 C. Mumble
    .row
        .span12
            %ol
                %li Utge dig inte för att vara andra personer i Mumble.
                %li Ditt namn i Mumble bör vara det namn du har i Minecraft eller någon enkel variation som kan kännas igen.
                %li Spamma inte funktioner som skickar meddelanden till andra, (så som att spamma "mute", "deafen" eller att upprepat frånkoppla och återansluta)

    .page-header
        %h2 D. I Spelet
    .row
        .span12
            %ol
                %li Skicka inga meddelanden som uppmanar andra spelare att lämna ett lag eller frånkoppla från servern.
                %li Såvida du inte förklarar hur man rapporterar, så får du inte uppmana andra till att rapportera en särskild spelare.
                %li Var vänlig anklaga inte offentligt någon spelare för att använda hack. Anser du att en spelare använder hack eller bryter mot någon regel, rapportera dem genom att använda /report kommandot (/report <player> <message>)
                %li Du får inte använda någon form av chatt i spelet för att värva. Konton som har beslutats endast är för syftet att värva kommer bli permanent avstängda utan varning.
                %li Du får inte länka till, eller locka spelare att ansluta, till någon server, offentlig eller privat, som inte är en del av Overcast Network i den offentliga chatten. (Du får använda /msg <player> <message> för att informera spelare som efterfrågar det).
                %li Ditt användarnamn måste vara lämpligt, och du kan bli ombedd att använda ett annat konto om ditt användarnamn har påträffats vara olämpligt.
                %span.label.label-warning Notering
                %small Alla chatmeddelanden och kommandon loggas.
                %br
                %span.label.label-warning Notering
                %small Det är tillåtet att länka till er livestream om den är relaterad till Overcast Network, så länge ni inte spammar den.

    .page-header
        %h2 E. Allmänt i Spelet
    .row
        .span12
            %ol
                %li Spelare får inte:
                %ul
                    %li Kamplogga (Combat log), vilket beskrivs som att lämna dit lag eller servern precis innan du dör till motståndarlaget. (Du får kamplogga för att undvika lagsabotering)
                    %li Utnyttja buggar i Minecraft för att tjäna ett övertag för sig själv eller sitt lag, eller på ett sätt som orsakar lagg för andra spelare. Detta inkluderar, men är inte begränsat till, placering av block som är begränsade av pluginet att gå på, att skapa en röntgeneffekt, och orsaka dig själv att bli odödlig.
                %li I en Blitz eller Ghost Squadron match, får spelare inte:
                %ul
                    %li Förlänga en match genom att undvika strid och/eller gömma sig på ställen som är otillgängliga eller svåra att ta sig till.
                %li Åskådare får aldrig ge ut taktisk information till spelare eller avsiktligt störa spelet. Taktisk information inkluderar, men är inte begränsat till:
                %ul
                    %li Att avslöja spelares positionering
                    %li Att avslöja vem som bär ullen i en "Capture the Wool" karta
                %li Var vänlig använd ett lämpligt skal (skin) - du kan bli straffad om du använder ett olämpligt skal.
                %li Angrip inte direkt någon start som inte är bredvid ett mål (starten beskrivs som området där spelare träder in till spelområdet av kartan)
                %ul
                    %li Handlingar som är förbjudna av denna regel inkluderar, men är inte begränsade till, något av följande:
                    %ul
                        %li Anstifta närkamp eller kamp med pilbåge inuti eller precis bredvid motståndarlagets start.
                        %li Att rikta TNT-kanoner på eller bredvid ett lags start på ett sätt som dödar spelare. (Du måste modifiera din kanon om den är målinriktad på starten)
                        %li Handlingar som gör startområdet oframkomligt.
                        %li Att släppa TNT från ovan in i starten.
                        %li Att kampa en start genom att vänta bredvid eller inuti starten på spelare som nyligen startat
                    %li Exempel på handlingar som inte är straffbara under denna regel inkluderar, men är inte begränsat till följande:
                    %ul
                        %li Oavsiktligt avfyra en kanon (beviljat att den korrigerad av spelaren som avfyrade kanonen när de har blivit medvetna)
                        %li Att slåss mot spelare som rusar mot en angripare utan utstyrsel (Tumregel - i målets närområde)
                        %li Att slåss mot spelare inuti/från en start som är nära ett mål.
                %span.label.label-warning Notering
                %small Regler för starten gäller inte för TDM- och Blitzkartor; du förväntas försvara.

    .page-header
        %h2 F. Klientmodifikationer
    .row
        .span12
            %ol
                %li Alla klientmodifikationer som ger ett orättvist övertag över användare utan samma modifikationer är förbjudna medan man spelar.
                %li
                    %i Följande modifikationer är uttryckligen tillåtna medans man spelar:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        Huk-växlare (Toggle-crouch), givet att det inte tillåter att huka sig medans man skriver, tittar igenom inventering, eller i några menyer
                    %li
                        %i.icon-ok
                        Texturpaket som inte faller under någon "uttryckligen förbjudna" kategori
                    %li
                        %i.icon-ok
                        Miniatyrkartor utom såsom angivet nedan
                %li
                    %i Följande modifikationer är uttryckligen förbjudna medans man spelar:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        Inventeringsorterare
                    %li
                        %i.icon-remove
                        Auto-sprint, inklusive att binda en "sprint-knapp" istället för att dubbeltrycka
                    %li
                        %i.icon-remove
                        Modifikationer som avslöjar eller förstorar spelares namnplåtar
                    %li
                        %i.icon-remove
                        Automatiska verktygväljare
                    %li
                        %i.icon-remove
                        Miniatyrkartor som visar entitetpositioner, eller visar grottor/underjorden.
                    %li
                        %i.icon-remove
                        Röntgen
                    %li
                        %i.icon-remove
                        Auto-slagare
                    %li
                        %i.icon-remove
                        "Aimbots"
                    %li
                        %i.icon-remove
                        Flygmodifikationer
                %li
                    %i För andra modifikationer, vänligen klargör med Overcast Network personal innan användning.
                %li Åskådare är inte bundna till dessa begränsningar.
                %span.label.label-warning Notering
                %small Denna sektion uppdateras periodvis, var vänlig håll er uppdaterade.

    .page-header
        %h2 G. Lagsabotering (Team Griefing)
    .row
        .span12
            %ol
                %li Lagsabotering är förbjudet, och beskrivs som någon hänsynslös handling som skadar det egna laget, eller handlingar som avsiktligt skadar det egna laget.
                %li
                    %i Följande är uttryckligen lagsabotering:
                %ol{:type => "a"}
                    %li Att placera och/eller detonera TNT nära lagkamrater eller det egna lagets huvudinfrastruktur (t.ex. kistor, försvar eller malm) inom det egna lagets bas
                    %li Att förstöra det egna lagets kistor eller verktygsbänkar
                    %li Lagdråp (antingen genom att ta bort blocken under en person för att orsaka att de faller, eller att knuffa lagkamrater ut ur världen)
                    %li Att använda/modifiera en TNT-kanon byggd av en annan spelare utan klart tillstånd
                    %li Bistå eller arbeta tillsammans med en medlem ur motståndarlaget
                %li
                    %i Följande övervägs vara hänsynslöst och är starkt avrått från (du kan bli varnad om du bryter mot följande regler):
                %ol{:type => "a"}
                    %li Att placera TNT inuti den egna basen, i synnerhet att bygga torn av TNT inuti den egna basen
                    %li Att bygga oskyddad TNT nära lagkamrater eller mål
                    %li Att ta all eller nästan all ull från en Capture the Wool karta ut ur ullrummet, såvida inte det endast finns en ull kvar i det ullrummet
                %li Handlingar som inte är listade här som hindrar ert lag från att ta några framsteg mot vinst, avsiktligt eller inte, faller ändock under "lagsabotering" och kommer att bli behandlat som sådant.
                %span.label.label-warning Notering
                %small
                    Spelare är
                    %b ALDRIG
                    tillåtna att sabotera för sitt lag, inte ens som vedergällning till en annan lagsabotör.

    .page-header
        %h2 H. Särskilda Regler för Kartor
    .row
        .span12
            %ol
                %li Spelare är ansvariga att hålla sig uppdaterade med alla regler för kartor. Regler för kartor hittas på anslagstavlan för kartregler på kartans startplats, eller via /map kommandot.
                %li Reglerna i /map tar övertag över regeltavlan i fall som rör samma ämne.

    .page-header
        %h2 I. Påföljder
    .row
        .span12
            %ol
                %li Spelare kan erhålla en varning i spelet eller en påföljd för att ha brutit mot någon av reglerna ovan, beroende på hur allvarlig brottet var.
                %li Efter att ha fått en påföljd kan spelare antingen bli utsparkade, tillfälligt avstängda, eller permanent avstängda, beroende på antalet tidigare påföljder, med undantag för varningar.
                %li Särskilt allvarliga eller uppenbara regelbrott, inkluderat men inte begränsat till användning av en hackad klient på servrarna, eller varaktigt lagsabotering trots moderatorers ingripande, kommer att leda till en omedelbar permanent avstängning, utan varning.
                %li Spelare med många varningar för samma regel kan bli tillfälligt avstängda utan besked.
                %li Undvikande av avstängning är inte tillåtet, och kommer resultera i en permanent avstängning för alla alternativa konton associerade med den undvikande spelaren. Avstängningar för de alternativa kontona kommer inte bli hävda efter att den ursprungliga avstängningen gått ut, och den ursprungliga avstängningen kan bli förlängd upp till tre gånger längden av den ursprungliga avstängningen. (t.ex. 1 veckas avstängning blir upp till en 3 veckors avstängning).
                %li Beständigt undvikande av avstängning resulterar i en permanent avstängning för alla konton.
                %li
                    Spelare som bryter mot någon forumregel kan bli avstängda från att posta inlägg på forumen. Om er avstängning återstår längre än 7 dagar var vänlig kontakta
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    för att få reda på den exakta längden på er avstängning.
                %li Spelare som bryter mot någon regel i Mumble kan bli utsparkade eller avstängda från Mumbleservern
                %li Spelare som bryter mot reglerna på någon Overcast Network tjänst, inklusive spelservrarna, forumen, och Mumble, kan bli avstängda från någon eller alla tjänster.
                %li
                    Avstängningar från spelet måste överklagas genom att sända in en överklagan via
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    Avstängningar från forumet eller Mumble måste överklagas genom att skicka in ett mejl till
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b Spelare som medvetet ger falsk information i sin överklagan kan bli permanent avstängda.
                %li Alla påföljder omfattas av moderatorernas gottvetande.
    .page-header
        %h2 J. Diverse
    .row
        .span12
            %ol
                %li Dessa regler ändras med besked.
                %li Spelare är ansvariga för att hålla sig tidsenlig med regeländringar.
                %li Det är en veckas anstånd mellan regeländringar.
                %li Overcast Network Administrationen reserverar rätten till att bannlysa eller häva bannlysning från någon spelare från någon Overcast Network tjänst för någon anledning utan besked.
