%section
    .page-header
        %h1
            กฎ
            %small แก้ไขครั้งสุดท้ายเมื่อ 7 มกราคม พ.ศ. 2559
            = render "select"
    .row
        .span12
            %span.label.label-warning หมายเหตุ
            %span
            กฎเหล่านี้ใช้กับ
            %b บริการทั้งหมด
            ของ Overcast Network

    .page-header
        %h2 ก. ข้อตกลงทั่วไป
    .row
        .span12
            %ol
                %li รู้จักการควบคุมอารมณ์ของตนเอง มีมารยาทที่ดีในการเล่นและรู้ว่าอะไรควรหรืออะไรไม่ควร พฤติกรรมหรือการแสดงความหยาบคายไม่เป็นที่ยอมรับในเซิร์ฟเวอร์นี้
                %li พยายามระมัดระวังในการสะกดคำและไวยากรณ์ภาษาอังกฤษ
                %li ห้ามทำการสแปม
                %li ห้ามใส่ลิ้งค์ในข้อความไปยังสื่อต่อไปนี้:
                %ol{:type => "a"}
                    %li รูปภาพหรือสื่อลามกอนาจาร,เว็บไซต์ที่จงใจใส่สื่อมากๆเพื่อทำให้ระบบค้างหรือมีไวรัสรวมถึงเว็บไซต์ของผู้ไม่ประสงค์ดี
                    %li เว็บไซต์หรือเซิร์ฟเวอร์ที่จงใจมีสื่อโฆษณาต่างๆ
                    %li ข้อมูลส่วนบุคคลของผู้ใช้คนอื่นๆ
                %li ห้ามเข้าร่วมหรือสนับสนุนการละเมิดกฎในทุกบริการของ Overcast Network
                %li ห้ามอ้างหรือแสดงตนว่าเป็นหนึ่งในผู้เล่นหรือเจ้าหน้าที่คนอื่นที่ไม่ใช่ตัวคุณเอง
                %li รายงานเกี่ยวกับปัญหาหรือข้อผิดพลาดได้ทางบอร์ดข่าวสารหรืออีเมล์มาที่ support@oc.tc. เท่านั้น การรายงานด้วยช่องทางหรือวิธีการอื่นจะทำให้คุณถูกลงโทษได้.
                %li เชื่อฟังคำสั่งของเจ้าหน้าที่ในเซิร์ฟเวอร์เสมอ ในกรณีที่คุณคิดว่าพวกเขาแนะนำคุณผิดให้ส่งอีเมล์มาที่ support@oc.tc.
                %span.label.label-warning หมายเหตุ
                %small ถ้าเกิดคุณไม่แน่ใจเกี่ยวกับลิ้งค์ที่จะใช้งาน กรุณาติดต่อเจ้าหน้าที่ก่อนทำการโพสต์

    .page-header
        %h2 ข. พฤติกรรมบนเว็บไซต์
    .row
        .span12
            %ol
                %li อย่าโพสต์สิ่งที่ทำร้ายบุคคลหรือกลุ่มบุคคลอื่นและ,หรือยกย่องบุคคลหรือกลุ่มบุคคลอื่นมากเกินไป
                %li ห้ามโพสต์สิ่งที่ทำให้เกิดการโต้เถียงกันเป็นวงกว้างหรือทำให้เกิดการทะเลาะเบาะแว้งระหว่างผู้ใช้
                %li อย่าตอบกลับข้อความที่ผิดกฎระเบียบเช่นมีภาพที่ผิดกฎข้างต้นหรือทำการสแปม
                %li อย่าทำการโพสต์อะไรที่ไม่เกี่ยวกับหัวข้อโพสต์ของคุณเพื่อให้มันขึ้นมาอยู่ในหน้าทีหนึ่ง
                %li อย่าคุยเรื่องส่วนตัวในบอร์ดข่าวสารเพราะถือเป็นที่สาธารณะ ข้อมูลส่วนตัวของคุณควรจะเก็บไว้ส่วนตัวเท่านั้น
                %li การละเมิดงานของผู้อื่นหรือการกระทำที่ละเมิดกฎจะทำให้คุณถูกลงโทษหรือจับตามองเป็นพิเศษ
                %li อย่าโพสต์สิ่งที่กล่าวว่าคุณกำลังจะออกจากเซิร์ฟเวอร์นี้ เว้นเสียแต่ว่ามันจะเป็นกรณีที่น่าสนใจมากเช่นคุณกำลังจะตายหรือไปล่องเรือรอบโลก
                %li การประกาศเกี่ยวกับเหตุการณ์สำคัญของคุณหรือผู้เล่นคนอื่น ๆ ต้องมีแหล่งข้อมูลที่สามารถพิสูจน์ได้ ถ้าเราไม่สามารถตรวจสอบเรื่องราวหรือหาข้อพิสูจน์ได้ หัวข้ออาจถูกลบออกและนับว่าเป็นเรื่องหลอกลวงโดยเจตนาของคุณซึ่งจะนำไปสู่การลงโทษขั้นร้ายแรงได้.
                %li อย่าตอบกลับข้อความที่ส่อเค้าไปในการละเมิดกฎอย่างร้ายแรง ควรทำการแจ้งให้เจ้าหน้าที่ทราบจะเป็นการดีที่สุดและอย่าลืมว่าการแจ้งเรื่องเท็จที่คุณสร้างขึ้นจะทำให้คุณถูกลงโทษอย่างหนักเช่นกัน.
                %li อย่าใช้โค้ด HTML ไปในทางที่ผิดเช่นการใส่ภาพหรือไฟล์ .gif มากๆเพื่อจงใจให้เว็บไซต์ค้างหรือพาดพิงทำร้ายผู้อื่น
                %span.label.label-warning หมายเหตุ
                %small มิฉะนั้นข้อมูลส่วนตัวและข้อมูลอื่นๆของคุณจะถูกลบออกจากระบบทันทีโดยไม่แจ้งให้ทราบล่วงหน้า

    .page-header
        %h2 ค. Mumble
    .row
        .span12
            %ol
                %li อย่าแสร้งว่าตนเองเป็นผู้เล่นคนอื่นระหว่างใช้โปรแกรม Mumble
                %li ชื่อในโปรแกรม Mumble ของคุณควรจะเป็น IGN ของคุณหรือชื่อของคุณเอง เพื่อความสะดวกในการระบุตัวตน
                %li ห้ามทำการสแปมข้อความไปยังผู้อื่น (เช่นจงใจหลุดออกจากโปรแกรม Mumble แล้วเชื่อมต่อใหม่หลายๆครั้ง)

    .page-header
        %h2 ง. พฤติกรรมในเซิร์ฟเวอร์
    .row
        .span12
            %ol
                %li อย่าส่งข้อความในรูปแบบที่บังคับให้ผู้เล่นที่เล่นอยู่ต้องออกจากทีมหรืออกจากเซิร์ฟเวอร์
                %li เว้นเสียแต่ว่าคุณกำลังแจ้งเหตุว่าเขาหรือเธอกำลังทำการละเมิดกฎ โดยที่คุณไม่ควรระบุตัวพวกเขา
                %li อย่าบอกว่าผู้อื่นกำลังทำการแฮ็ก ถ้าคุณมั่นใจว่าเขาหรือเธอทำเรื่องนี้จริงๆให้ใช้คำสั่ง /report
                %li อย่าเรียงร้องสิ่งใดที่ไม่ดีมิเช่นนั้นคุณอาจถูกระงับบัญชีโดยไม่มีการเตือนล่วงหน้า
                %li คุณไม่ควรเรียกร้องหรือบังคับผู้เล่นคนอื่นๆให้เข้าร่วมหรือเล่นเซิร์ฟเวอร์ที่ไม่ใช่ Overcast Network (ถ้าต้องการคุยกับผู้เล่นคนอื่นให้ใช้คำสั่ง /msg ตามด้วยชื่อและข้อความเพื่อคุยเป็นการส่วนตัว).
                %li ชื่อ IGN ของคุณควรที่จะเป็นชื่อที่เหมาะสมมิฉะนั้นคุณจะถูกแนะนำใหเปลี่ยนชื่อ IGN ของคุณในกรณีที่มันไม่เหมาะสม (คุณจะไม่ถูกลงโทษโดยการระงับบัญชี)
                %li ถ้าคุณเข้าถึงคำสั่ง /nick ได้ควรตั้งชื่อเล่นของคุณให้เหมาะสมและห้ามใช้ /nick ในการลอกเลียนแบบหรือกลั่นแกล้งผู้เล่นคนอื่นและห้ามใช้ชื่อเล่นที่ไม่เหมาะสมโดยเด็ดขาด
                %span.label.label-warning หมายเหตุ
                %small การแชท,พูดคุยและคำสั่ง (command) ทั้งหมดจะถูกบันทึกไว้ในระบบ
                %br
                %span.label.label-warning หมายเหตุ
                %small คุณจะถูกเชื่อมต่อไปยังเครือข่าย Live stream ของ Overcast network ตราบใดที่คุณไม่ทำการสแปม

    .page-header
        %h2 จ. กฎในการเล่นทั่วไป
    .row
        .span12
            %ol
                %li ผู้เล่นไม่ควรละเมิดกฎโดยการใช้ข้อบกพร่องของเซิร์ฟเวอร์ให้เป็นประโยชน์เช่นกาารวางบล็อกในพื้นที่ที่ปลั๊ก-อินครอบคลุมไปไม่ถึงใช้เพื่อใช้เดินหรือสร้างปรากฏการ x-ray ขึ้นเพื่อทำให้ตัวคุณหายไป
                %li ในรูปแบบการเล่นแบบ Blitz และ Ghost Squadron ห้ามคุณซ่อนตัวในที่ๆเข้าถึงยากหรือจงใจไม่ให้เกมจบ
                %li ผู้เล่นที่เฝ้าดูการเล่นห้ามให้ข้อมูลใดๆที่เป็นประโยชน์ต่อฝ่ายใดฝ่ายหนึ่งหรือจงใจรบกวนเกมนั้นๆโดยเด็ดขาด เช่น
                %ol{:type => "a"}
                    %li เปิดเผยตำแหน่งของผู้เล่น
                    %li บอกตำแหน่งของผู้ที่ถือ Wool ในเกมส์ CTW
                %li โปรดใช้สกินให้เหมาะสม ผู้เล่นที่ใช้สกินไม่เหมาะสมจะถูกลงโทษได้ (เช่นการใช้สกินที่อำพรางตนเองหรือดูเหมือนใส่ชุดเกราะ)

    .page-header
        %h2 ฉ. Client Modifications
    .row
        .span12
            %ol
                %li Mod ทุกชนิดที่ดูไม่มีความยุติธรรมในการเล่นหรือช่วยให้คุณโกงถือว่าผิดกฎในการเล่น
                %li เครื่องมือภายนอกต่างๆที่ช่วยให้ผู้เล่นโกงหรือปรับเปลี่ยนการเล่นให้ผู้เล่นคนอื่นเสียเปรียบถือว่าผิดกฎในการเล่น
                %li Mod ทั้งหมดต่อไปนี้ถือว่าไม่ผิดกฎในการเล่นและใช้งานได้
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        LabyMod (v2.6 and above)
                    %li
                        %i.fa.fa-check
                        Toggle-crouch ที่ไม่ทำให้ผู้เล่นหมอบหรือมองเข้าไปในช่อง inventory ระหว่างพิมพ์
                    %li
                        %i.fa.fa-check
                        Resource packs ที่ไม่อยู่ในหมวดผิดกฎ
                    %li
                        %i.fa.fa-check
                        Minimaps ที่ไม่ผิดกฎด้านล่าง
                %li Mod ทั้งหมดต่อไปนี้ถือว่าผิดกฎและห้ามใช้งานโดยเด็ดขาด
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory Sorters
                    %li
                        %i.fa.fa-times
                        Mods ที่เปลี่ยนขนาดชื่อเหนือหัวของผู้เล่น (name-tags)
                    %li
                        %i.fa.fa-times
                        Automatic tool selectors
                    %li
                        %i.fa.fa-times
                        Minimaps ที่บอกตำแหน่งศัตรูหรือสิ่งต่างๆใต้ดินเช่นถ้ำหรืออุโมงค์ลับ
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Mod ที่ช่วยให้บินได้
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li สำหรับ mod อื่นๆ โปรดอีเมล์มาที่ support@oc.tc. เพื่อทำการยืนยันก่อนทำการใช้งาน
                %span.label.label-warning หมายเหตุ
                %small ผู้ชมไม่จำเป็นต้องผูกมัดตามกฎนี้
                %br
                %span.label.label-warning หมายเหตุ
                %small ผู้เล่นที่อยู่ในล็อบบี้นั้นไม่ได้รับอนุญาตให้ใช้ Mod ที่ทำให้บินได้โดยเด็ดขาด

    .page-header
        %h2 ช. การก่อความวุ่นวายในทีม
    .row
        .span12
            %ol
                %li การกลั่นแกล้งถือเป็นเรื่องร้ายแรงมากและเป็นเรื่องต้องห้ามซึ่งก็คือการกระทำที่ทำร้ายหรือแกล้งทีมฝ่ายของคุณเองในทุกกรณี
                %li การกระทำทั้งหมดนี้ถือเป็นการก่อความวุ่นวายในทีมอย่างร้ายแรง
                %ol{:type => "a"}
                    %li วางหรือจุดระเบิด TNT ไกล้เพื่อนร่วมทีมของคุณหรือใกล้สื่งสำคัญ (เช่นหีบหรือจุดเกิด)
                    %li ทำลายหีบและโต๊ะคราฟของทีม
                    %li ฆ่าเพื่อนร่วมทีมเช่นจงใจทำลายบล็อกเพื่อให้เขาหรือเธอตกลงไป (หรือผลักเพื่อนร่วมทีมให้ตกจากโลก)
                    %li ใช้หรือแต่งเติมปืนยิงระเบิด TNT ของผู้เล่นคนอื่นโดยไม่ได้รับอนุญาต
                    %li ร่วมมือกับฝ่ายศัตรู
                %li การกระทำต่อไปนี้ถือเป็นการก่อความวุ่นวายที่ไม่รุนแรงนัก (คุณจะถูกลงโทษโดยการเตือนจากการกระทำเหล่านี้)
                %ol{:type => "a"}
                    %li วางหรือสร้างหอคอยระเบิด TNT ในฐานของทีมตนเอง (ไม่ได้จุดระเบิด)
                    %li วางระเบิด TNT โดยไม่ป้องกันไว้ ไกล้เพื่อนร่วมทีมหรืจุดต่างๆที่สำคัญในฐานของทีมตนเอง
                    %li นำ Wool ทั้งหมดหรือเกือบหมดออกไปจากห้อง Wool ในเกมส์ CTW
                %li การกระทำอื่น.fที่ไม่ได้ระบุไว้ในที่นี้แต่ส่อเค้าไปในทางที่ไม่ดีหรือทำให้ทีมไม่ได้รับชัยชนะถือเป็นการก่อความวุ่นวายทั้งหมด
                %span.label.label-warning หมายเหตุ
                %small
                    ห้าม
                    %b ไม่ให้
                    คุณก่อความวุ่นวายในทีมโดยเด็ดขาดแม้ว่าจะเป็นการกระทำเพื่อหยุดผู้เล่นที่ก่อความวุ่นวายอีกคนก็ตาม.

    .page-header
        %h2 ซ. กฎประจำแมพ
    .row
        .span12
            %ol
                %li ผู้เล่นทุกคนจะต้องเชื่อฟังกฎประจำแมพและเช็คกฎล่าสุดของแมพนั้นๆโดยดูที่ป้ายที่จุดเกิดก่อนเล่นหรือใช้คำสั่ง /map
                %li ผู้เล่นทุกคนต้องเชื่อฟังกฎในคำสั่ง /map มากกว่าในป้ายในกรณีที่พูดถึงเรื่องเดียวกัน

    .page-header
        %h2 ฌ. ผลที่ตามมาจากการละเมิดกฎ
    .row
        .span12
            %ol
                %li ผู้เล่นจะถูกเตือนในเกมส์หรือถูกทำโทษถ้าเกิดละเมิดกฎด้านบน ซึ่งขึ้นอยู่กับว่าพวกเขาละเมิดกฎร้ายแรงแค่ไหน
                %li การทำโทษครั้งล่าสุดจะพิจารณาจากบทลงโทษก่อนๆถ้าผู้เล่นนั้นมี
                %li การกระทำที่ละเมิดกฎข้างต้นอย่างร้ายแรงและถึงแม้จะไม่ใช่การแฮ็กหรือก่อความวุ่นวายร้ายแรงจะทำให้คุณถูกระงับบัญชีถาวรโดยไม่มีการเตือนล่วงหน้า
                %li ผู้เล่นที่ละเมิดกฎเล็กๆน้อยๆหลายครั้งมีสิทธิ์ที่จะถูกระงับบัญชีถาวรโดยไม่มีการเตือนล่วงหน้า
                %li การระงับบัญชีปกติอาจจะหรือไม่คงอยู่ถาวรแต่มีผลกับบัญชีทั้งหมดของผู้เล่น บัญชีอื่นๆของผู้เล่น (Alternate account หรือ Alt account) จะถูกยกเลิกการระงับบัญชีก็ต่อเมื่อบัญชีดั้งเดิมถูกยกเลิกการระงับบัญชีแล้วเท่านั้น นอกจากนั้นยังมีสิทธิ์ในการเพิ่มเวลาในการระงับบัญชีได้ด้วย (เช่นจากการระงับบัญชี 1 สัปดาห์เพิ่มเป็น 3 สัปดาห์).
                %li การหลีกเลี่ยงการระงับบัญชีจะมีผลให้คุณถูกระงับบัญชีถาวรกับทุกบัญชีของคุณ
                %li ผู้เล่นคนใดก็ตามที่ละเมิดกฎของการใช้ฟอรั่ม อาจถูกระงับบัญชีไม่ให้โพสต์บนฟอรั่มได้อีกเลย
                %li ผู้เล่นที่ละเมิดกฎอย่างรุนแรงในโปรแกรม Mumble จะทำให้คุณถูกเตะออกหรือถูกระงับบัญชี
                %li ผู้เล่นที่ละเมิดกฎอย่างรุนแรงจากบริการต่างๆของ Overcast network มีสิทธิ์ถูกระงับบัญชีถาวรจากทุกบริการของ Overcast network
                %li การลงโทษทั้งหมดสามารถอุทธรณ์ได้โดยการกรอกข้อมูลอุทธรณ์เท่านั้น
                %li
                    %b ผู้เล่นคนใดที่มีเจตนาให้ข้อมูลเท็จในการขออุทธรณ์จะทำให้ถูกระงับบัญชีถาวรทันที.
                %span.label.label-warning หมายเหตุ
                %small การลงโทษทุกอย่างจะถูกส่งให้เจ้าหน้าที่ได้รับทราบ

    .page-header
        %h2 ญ. อื่นๆ
    .row
        .span12
            %ol
                %li กฎทั้งหมดนี้อาจมีการเปลี่ยนแปลงได้โดยที่เราจะแจ้งให้ทราบล่วงหน้า
                %li เล่นจะเข้าถึงการเปลี่ยนแปลงต่างๆของกฎเสมอ
                %li เรามีเวลาให้ 1 สัปดาห์ในการเตรียมตัวหลังการเปลี่ยนกฎ
                %li เจ้าหน้าที่สูงสุดของ Overcast network มีสิทธิ์ในการระงับบัญชีหรือยกเลิกการระงับบัญชีของผู้เล่นใดๆในทุกบริการของ Overcast network โดยไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า
