%section
    .page-header
        %h1
            Rule
            %small อัพเดทครั้งล่าสุดเมื่อวันที่ 25 มกราคม 2015
            = render "select"
    .row
        .span12
            %span.label.label-warning Note
            %span
            กฎทั้งหมดนี้ใช้กับการบริการ
            %b ทั้งหมด
            ของ Overcast network

    .page-header
        %h2
            A. กฎและมารยาททั่วไป
    .row
        .span12
            %ol
                %li รู้จักการควบคุมอารมณ์ของตนเองมีมารยาทที่ดีในการเล่นและรู้ว่าอะไรควรหรืออะไรไม่ควร พฤติกรรมหรือการแสดงความหยาบคายไม่เป็นที่ยอมรับในเซิฟเวอร์นี้
                %li ในกรณีที่สื่อสารโดยใช้ภาษาอังกฤษพยายามใช้คำที่ดีและสะกดให้ผู้อ่านเข้าใจ
                %li ห้ามทำการสแปม
                %li ห้ามใส่ลิ้งค์ในข้อความไปยังสิ่งต่อไปนี้:
                %ol{:type => "a"}
                    %li รูปภาพหรือสื่อลามกอนาจาร,เว็บไซต์ที่จงใจใส่สื่อเยอะเพื่อทำให้ระบบค้างหรือมีไวรัสรวมถึงเว็บไซต์ของผู้ไม่ประสงค์ดี
                    %li เว็บไซต์,เซิฟเวอร์หรือสื่อโฆษณาต่างๆ
                    %li
                        %a{:href => "https://en.wikipedia.org/wiki/Personally_identifiable_information#Examples"} ข้อมูลส่วนบุคคลของผู้อื่น
                %li ห้ามละเมิดกฎทุกข้อที่ได้กล่าวมา
                %li ห้ามบอกว่าตนเองเหมาะสมที่จะได้เป็นหนึ่งในเจ้าหน้าที่ของเซิฟเวอร์
                %li รายงานเกี่ยวกับปัญหาหรือข้อผิดพลาดได้ที่บอร์ดพูดคุย (http://oc.tc/forums) หรืออีเมล์มาที่ support@oc.tc การรายงานด้วยช่องทางหรือวิธีการอื่นจะทำให้คุณถูกลงโทษได้
                %li เชื่อฟังคำสั่งของเจ้าหน้าที่ในกรณีที่คุณคิดว่าพวกเขาแนะนำคุณผิดให้ส่งอีเมล์มาที่ support@oc.tc.
                %span.label.label-warning Note
                %small ถ้าเกิดคุณไม่แน่ใจเกี่ยวกับลิ้งค์ที่จะใช้กรุณาติดต่อเจ้าหน้าที่ก่อนทำการโพสต์

    .page-header
        %h2 B. พฤติกรรมในเว็บไซต์
    .row
        .span12
            %ol
                %li
                    อย่าโพสต์สิ่งที่ทำร้ายบุคคลหรือกลุ่มบุคคลและยกย่องบุคคลหรือกลุ่มบุคคลมากเกินไป
                %li ห้ามโพสต์สิ่งที่ทำให้เกิดการโต้เถียงกันเป็นวงกว้าง
                %li อย่าตอบกลับข้อความที่ผิดกฎระเบียบ
                %li อย่าทำการโพสต์อะไรที่ไม่เกี่ยวกับโพสต์ของคุณเพื่อให้มันขึ้นมาอยู่ในหน้าหนึ่ง
                %li อย่าคุยเรื่องส่วนตัวในบอร์ดข่าวสารเพราะถือเป็นที่สาธารณะ
                %li การกระทำที่ละเมิดกฎจะทำให้คุณถูกลงโทษหรือจับตามองเป็นพิเศษ
                %li
                    อย่าโพสต์สิ่งที่กล่าวว่าคุณกำลังจะออกจาดเซิฟเวอร์นี้
                    เว้นเสียแต่ว่ามันจะเป็นกรณีที่น่าสนใจมากเช่นคุณกำลังจะตายหรือไปล่องเรือรอบโลก
                %li
                    การสร้างเรื่องเกี่ยวกับผู้เล่นคนอื่นและเรื่องเท็จหรือหาความจริงไม่ได้จะทำให้คุณถูกลงโทษอย่างหนัก
                %li
                    อย่าตอบกลับข้อความที่ส่อเค้าไปในการละเมิดกฎอย่างร้ายแรง
                    %a{:href => "/report"}ทำการแจ้ง
                    ให้เจ้าหน้าที่ทราบดีที่สุดอย่าลืมว่าการแจ้งข่าวที่คุณกุขึ้นจะทำให้คุณถูกลงโทษอย่างหนักเช่นกัน
                %li อย่าใช้โค้ด HTML ไปในทางที่ไม่ดีเช่นการใส่ภาพหรือไฟล์ .gif มากๆเพื่อจงใจให้เว็บไซต์ค้างหรือพาดพิงทำร้ายผู้อื่นมิเช่นนั้น
                %small ข้อมูลส่วนตัวและข้อมูลอื่นๆของคุณจะถูกลบออกจากระบบทันที
    .page-header
        %h2 C. Mumble 
    .row
        .span12
            %ol
                %li อย่าปลอมแปลงตนเองไปเป็นผู้อื่น
                %li ชื่อในโปรแกรม Mumble ของคุณควรจะเป็น IGN ของคุณหรือชื่อของคุณเพื่อความสะดวกในการระบุตัวตน
                %li ห้ามทำการสแปมหรือจงใจหลุดออกจากโปรแกรม Mumble แล้วต่อใหม่หลายๆครั้ง

    .page-header
        %h2 D. พฤติกรรมในเซิฟเวอร์
    .row
        .span12
            %ol
                %li อย่าส่งข้อความในรูปแบบที่ให้คนที่เล่นอยู่ออกจากทีมหรืออกจากเซิฟเวอร์
                %li เว้นเสียแต่ว่าคุณกำลังแจ้งเหตุว่าเขาหรือเธอกำลังทำการละเมิดกฎโดยที่คุณไม่ควรระบุตัวพวกเขา
                %li อย่าบอกว่าผู้อื่นทำการแฮ็กถ้าคุณคิดว่าเขาหรือเธอทำเรื่องนี้จริงๆให้ใช้คำสั่ง /report
                %li อย่าเรียงร้องสิ่งใดที่ไม่ดีมิเช่นนั้นคุณอาจถูกระงับบัญชีโดยไม่มีการเตือนล่วงหน้า
                %li คุณไม่ควรเรียกร้องผู้เล่นคนใดคนหนึ่งให้เข้าร่วมทีมถ้าต้องการคุยกับเขาหรือเธอใช้คำสั่ง /msg ตามด้วยชื่อและข้อความ
                %li ชื่อ IGN ของคุณควรที่จะเป็นชื่อที่เหมาะสมและคุณจะถูกแนะนำใหเปลี่ยนชื่อ IGN ของคุณในกรณีที่มันไม่เหมาะสม
                %span.label.label-warning Note
                %small การแชทและคำสั่งทั้งหมด(command)จะถูกบันทึกไว้
                %br
                %span.label.label-warning Note
                %small คุณจะถูกเชื่อมต่อไปยังเครือข่าย Live stream ขอ Overcast network ตราบใดที่คุณไม่ได้ทำการสแปม
    .page-header
        %h2 E. กฎในการเล่นทั่วไป
    .row
        .span12
            %ol
                %li ผู้เล่นไม่ควรละเมิดกฎโดยการใช้ข้อบกพร่องให้เป็นประโยชน์เช่นกาารวางบล็อกในพื้นที่ที่ปลั๊ก-อินครอบคลุมไปไม่ถึงใช้เพื่อใช้เดินหรือสร้างปรากฏการ x-ray ขึ้นเพื่อทำให้ตัวคุณหายไป
                %li ในรูปแบบการเล่นแบบ Blitz และ Ghost Squadron ห้ามคุณซ่อนตัวในที่ๆเข้าถึงยากหรือจงใจไม่ให้เกมส์จบ
                %li ผู้เล่นที่เฝ้าดูการเล่นห้ามให้ข้อมูลใดๆที่เป็นประโยชน์ต่อการเล่นโดยเด็ดขาด เช่น
                %ol{:type => "a"}
                    %li บอกตำแหน่งของผู้เล่น
                    %li บอกตำแหน่งของผู้ที่ถือ Wool ในเกมส์ CTW
                %li โปรดใช้สกินให้เหมาะสม ผู้เล่นที่ใช้สกินไม่เหมาะสมจะถูกลงโทษได้ (เช่นการใช้สกินที่อำพรางตนเองหรือดูเหมือนใส่ชุดเกราะ)
                %li ห้ามทำการรอหรือดักฆ่าในบริเวณจุดเกิด
                %ol{:type => "a"}
                    %li ห้ามทำการดักฆ่าผู้เล่นที่เพิ่งเกิดใหม่ในจุดเกิด
                    %li ห้ามโจมตีผู้คนในจุดเกิดโดยตรงเช่นวิ่งเข้าไปตีหรือยิงธนูใส่
                    %li ห้ามยิงระเบิด TNT ใส่จุดเกิด
                    %li อย่าทำให้จุดเกิดไม่สามารถใช้งานได้
                %span.label.label-warning Note
                %small กฎห้ามการดักฆ่าในบริเวณจุดเกิดจะไม่ใช้ในเกมส์ Team Death Match และ Blitz

    .page-header
        %h2 F. Client Modifications
    .row
        .span12
            %ol
                %li Mod ทุกชนิดที่ดูไม่มีความยุติธรรมหรือทำให้โกงถือว่าผิดกฎในการเล่น
                %li เครื่องมือต่างๆที่ช่วยให้ผู้เล่นโกงถือว่าผิดกฎในการเล่น
                %li Mod ทั้งหมดต่อไปนี้ถือว่าไม่ผิดกฎในการเล่นและใช้งานได้
                %ul.unstyled
                    %li
                        %i.fa.fa-check
                        Optifine
                    %li
                        %i.fa.fa-check
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.fa.fa-check
                        Toggle-crouch ที่ไม่ทำให้ผู้เล่นหมอบหรือมองเข้าไปในช่อง inventory ระหว่างพิมพ์
                    %li
                        %i.fa.fa-check
                        Texture packs ที่ไม่อยู่ในหมวดผิดกฎ
                    %li
                        %i.fa.fa-check
                    
                        Minimaps ที่ไม่ผิดกฎด้านล่าง
                %li Mod ทั้งหมดต่อไปนี้ถือว่าผิดกฎและห้ามใช้งานโดยเด็ดขาด
                %ul.unstyled
                    %li
                        %i.fa.fa-times
                        Inventory Sorters
                    %li
                        %i.fa.fa-times
                        Mods ที่เปลี่ยนขนาดชื่อเหนือหัวของผู้เล่น
                    %li
                        %i.fa.fa-times
                        Automatic tool selectors
                    %li
                        %i.fa.fa-times
                        Minimaps ที่บอกตำแหน่งศัตรูหรือสิ่งต่างๆใต้ดิน
                    %li
                        %i.fa.fa-times
                        X-rays
                    %li
                        %i.fa.fa-times
                        Auto-hitters
                    %li
                        %i.fa.fa-times
                        Aimbots
                    %li
                        %i.fa.fa-times
                        Fly mods
                    %li
                        %i.fa.fa-times
                        Damage/Health Indicator
                    %li
                        %i.fa.fa-times
                        SmartMoving
                    %li
                        %i.fa.fa-times
                        Better Sprinting
                %li สำหรับ Mod อื่นๆให้คุณอีเมล์มาที่ support@oc.tc ก่อนการใช้งาน
                %li ผู้เล่นที่เฝ้ามองการเล่นไม่ต้องปฏิบัติตามกฎนี้
                %span.label.label-warning Note
                %small ผู้เล่นในโหมด Creative ไม่ต้องปฏิบัติตามกฎนี้
                %br
                %span.label.label-warning Note
                %small ผู้เล่นที่อยู่ในล็อบบี้ไม่อนุยาตให้ใช้ Mod ที่ทำให้บินได้โดยเด็ดขาด

    .page-header
        %h2 G. การก่อความวุ่นวายในทีม
    .row
        .span12
            %ol
                %li การก่อความวุ่นวายในทีมถือเป็นเรื่องร้ายแรงมาก การกระทำใดๆที่ส่อเค้าไปในทางที่ทำร้ายทีมของคุณถือเป็นการก่อความวุ่นวายทั้งสิ้น
                %li การกระทำทั้งหมดนี้ถือเป็นการก่อความวุ่นวายในทีมอย่างร้ายแรง
                %ol{:type => "a"}
                    %li วางหรือจุดระเบิด TNT ไกล้เพื่อนร่วมทีมของคุณหรือใกล้สื่งสำคัญเช่นหีบหรือจุดเกิด
                    %li ทำลายหีบและโต๊ะคราฟของทีม
                    %li ฆ่าเพื่อนร่วมทีมเช่นจงใจทำลายบล็อกเพื่อให้เขาหรือเธอตกลงไป
                    %li ใช้หรือแต่งเติมปืนยิงระเบิด TNT ของผู้เล่นคนอื่นโดยไม่ได้รับอนุญาต
                    %li ร่วมมือกับฝ่ายศัตรู
                %li  การกระทำต่อไปนี้ถือเป็นการก่อความวุ่นวายที่ไม่รุนแรงนักคุณจะถูกลงโทษโดยการเตือนจากการกระทำเหล่านี้
                %ol{:type => "a"}
                    %li วางหรือสร้างหอคอยระเบิด TNT ในฐานของทีมตนเอง
                    %li วางระเบิด TNT โดยไม่ป้องกันไว้ไกล้เพื่อนร่วมทีมหรืจุดต่างๆที่สำคัญในฐานของทีมตนเอง
                    %li นำ Wool ทั้งหมดหรือเกือบหมดออกไปจากห้อง Wool ในเกมส์ CTW
                %li การกระทำใดอื่นที่ไม่ได้ระบุไว้ในที่นี้แต่ส่อเค้าไปในทางที่ไม่ดีหรือทำให้ทีมไม่ได้รับชัยชนะถือเป็นการก่อความวุ่นวายทั้งหมด
                %span.label.label-warning Note
                %small
                    ห้าม
                    %b ไม่ให้
                    ผู้เล่นก่อความวุ่นวายในทีมโดยเด็ดขาดแม้ว่าจะเป็นการกระทำเพื่อหยุดผู้เล่นที่ก่อความวุ่นวายอีกคนก้ตาม

    .page-header
        %h2 H. กฎประจำแมพ
    .row
        .span12
            %ol
                %li ผู้เล่นทุกคนจะต้องเชื่อฟังกฎประจำแมพและเช็คกฎล่าสุดของแมพนั้นๆโดยดูที่ป้ายที่จุดเกิดก่อนเล่นหรือใช้คำสั่ง /map
                %li ผู้เล่นทุกคนต้องเชื่อฟังกฎในคำสั่ง /map มากกว่าในป้ายในกรณีที่พูดถึงเรื่องเดียวกัน

    .page-header
        %h2 I. ผลที่ตามมาจากการละเมิดกฎ
    .row
        .span12
            %ol
                %li ผู้เล่นจะถูกเตือนในเกมส์หรือถูกทำโทษถ้าเกิดละเมิดกฎด้านบน
                %li การทำโทษครั้งล่าสุดจะพิจารณาจากบทลงโทษก่อนๆถ้าผู้เล่นนั้นมี
                %li การกระทำที่ละเมิดกฎข้างต้นอย่างร้ายแรงและถึงแม้จะไม่ใช่การแฮ็กหรือก่อความวุ่นวายจะทำให้คุณถูกแบนถาวรโดยไม่มีการเตือนล่วงหน้า
                %li ผู้เล่นที่ละเมิดกฎเล็กๆน้อยๆหลายครั้งมีสิทธิ์ที่จะถูกแบนถาวรโดยไม่มีการเตือนล่วงหน้า
                %li การแบนปกติจะไม่คงอยู่ถาวรแต่มีผลกับบัญชีทั้งหมดของผู้เล่นและยังมีสิทธิ์ในการเพิ่มเวลาในการแบนได้ด้วยเช่นจากการแบน 1 สัปดาห์เป็น 3 สัปดาห์
                %li การหลีกเลี่ยงการแบนจะมีผลให้คุณถูกแบนถาวร
                %li
                    การกระทำที่ละเมิดกฎอย่างรุนแรงในบอร์ดข่าวสารจะทำให้คุณถูกแบนจากการโพสต์ซึ่งทำให้คุณโพสต์อะไรไม่ได้อีกเป็นเวลา 7 วัน ในกรณีที่เลย 7 วันไปแล้วคุณยังโพสต์อะไรไม่ได้โปรดอีเมล์มาที่
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    เพื่อแก้ไขข้อผิดพลาดจากการแบนของคุณ
                %li ผู้เล่นที่ละเมิดกฎอย่างรุนแรงในโปรแกรม Mumble จะทำให้คุณถูกเตะออกหรือถูกแบน
                %li ผู้เล่นที่ละเมิดกฎอย่างรุนแรงจากบริการต่างๆของ Overcast network มีสิทธิ์ถูกแบนจากทุกบริการของ Overcast network
                %li
                    การแบนในระหว่างเล่นเกมส์ในเซิฟเวอร์สามารถขอยกเลิกการแบนได้ที่
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    การแบนในโปรแกรม Mumble และในบอร์ดข่าวสารสามารถขอเยิกการแบนโดยอีเมล์มาที่
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b ผู้เล่นคนใดที่มีเจตนาให้ข้อมูลเท็จในการยกเลิกการแบนจะทำให้เขาหรือเธอถูกแบนถาวร
                %span.label.label-warning Note
                %small การลงโทษทุกอย่างจะถูกส่งให้เจ้าหน้าที่
    .page-header
        %h2 J. อื่นๆ
    .row
        .span12
            %ol
                %li กฎทั้งหมดนี้อาจมีการเปลี่ยนแปลงโดยที่เราจะแจ้งให้ทราบล่วงหน้า
                %li ผู้เล่นจะเข้าถึงการเปลี่ยนแปลงต่างๆของกฎ
                %li เรามีเวลาให้ 1 สัปดาห์ในการเตรียมตัวหลังการเปลี่ยนกฎ
                %li เจ้าหน้าที่สูงสุดของ Overcast network มีสิทธิ์ในการยกเลิกการแบนของผู้เล่นใดๆในทุกบริการของ Overcast network
