%section
    .page-header
        %h1
            กฎ
            %small อัปเดตล่าสุดเมื่อวันที่ 19 กรกฎาคม พ.ศ. 2556
    .row
        .span12
            %span.label.label-warning หมายเหตุ
            %span
            กฎเหล่านี้ได้นำไปใช้ใน
            %b all
            บริการของ Overcast Network

    .page-header
        %h2
            ก. ความสงบทั่วไป
    .row
        .span12
            %ol
                %li รักษาความสงบ ควรเคารพและใช้สามัญสำนึก คำสบถ คำหยาบคาย และการล่วงละเมิดที่มากเกินไปจะไม่ได้รับการยอมรับ
                %li พยายามใช้การสะกดและไวยากรณ์ที่ถูกต้อง
                %li อย่าสแปม
                %li ห้ามเชื่อมโยงไปยัง:
                %ul
                    %li สิ่งที่น่ารังเกียจซึ่งรวมถึงแต่ไม่จำกัดเฉพาะสื่อลามก, "เว็บไซต์ช็อค", ไวรัส, ฟิชชิ่ง และกลุ่มเกลียด
                    %li เว็บไซต์อื่นๆ หรือเซิร์ฟเวอร์ในลักษณะที่ถือเป็นการโฆษณา
                %li ห้ามสนับสนุนหรือเข้าร่วมในการทำลายกฎของบริการของ Overcast Network
                %li อย่าปลอมตัวเป็นสมาชิกของพนักงานใดๆของ Overcast Network หรือเรียกร้องให้เป็นสมาชิกของพนักงาน
                รายงานปัญหาหรือข้อผิดพลาดของบริการของ Overcast Network ที่ฟอรั่ม (http://oc.tc/forums) หรือส่งอีเมลไปที่ support@oc.tc การแสวงหาผลประโยชน์จากข้อผิดพลาดด้วยเหตุผลใดๆ อื่นๆ กว่าที่จะแสดงให้เห็นถึงตามคำร้องขอของพนักงานจะมีผลในการลงโทษ
                %li ทำตามคำแนะนำใดๆ ที่กำหนดโดยพนักงานของ Overcast Network หากคุณเชื่อว่าพนักงานได้กำกับคุณอย่างผิดพลาด โปรดส่งอีเมลไปที่ support@oc.tc
                %span.label.label-warning หมายเหตุ
                %small หากคุณมีความกังวลเกี่ยวกับการเชื่อมโยงที่อาจเป็นการโฆษณา โปรดชี้แจงกับพนักงานก่อนที่จะโพสต์

    .page-header
        %h2 ข. พฤติกรรมในฟอรั่ม
    .row
        .span12
            %ol
                %li อย่าโพสต์สิ่งที่ทำให้คนอื่นโกรธ ซึ่งรวมถึงการโพสต์ที่มุ่งถึงการดูถูกผู้อื่น ยั่วยุให้อีกคนหนึ่งโพสต์สิ่งที่ทำให้คนอื่นโกรธและคำพูดที่แสดงถึงความเกลียด
                %li โพสต์ควรจะเกี่ยวข้องกับหัวข้อ โพสต์ที่ไม่เกี่ยวข้องจะถูกลบออก
                %li ถ้าคุณคิดว่าหัวข้อควรจะถูกล็อค กรุณาส่งรายงานผ่านทาง https://oc.tc/report แทนการแสดงความคิดเห็นในหัวข้อ
                %li ภาพใดๆ หรือโพสต์ที่ไม่เกี่ยวข้องกับหัวข้ออาจมีการกำจัด ภาพสแปมที่ไม่เกี่ยวข้องจะถูกลบออก
                %li ห้าม "ขุด" หัวข้อโดยการโพสต์สิ่งที่ไม่ได้มีส่วนร่วมอย่างสร้างสรรค์ไปยังหัวข้อ
                %li ปัญหาส่วนตัวทั้งหมดจะต้องจัดการอย่างเป็นส่วนตัว ฟอรั่มสาธารณะไม่ได้เป็นสถานที่สำหรับความขัดแย้งส่วนตัว

    .page-header
        %h2 ค. Mumble
    .row
        .span12
            %ol
                %li อย่าปลอมตัวผู้เล่นอื่นๆใน Mumble
                %li ชื่อใน Mumble ของคุณจะต้องเป็นชื่อในเกมหรือชื่อที่สามารถระบุได้อย่างง่ายดาย
                %li ห้ามสแปมกระทำที่ส่งข้อความไปยังคนอื่นๆ (เช่นสแปมปุ่มปิดไมค์ ลำโพง หรือตัดการเชื่อมต่อและเชื่อมต่อใหม่ซ้ำแล้วซ้ำอีก)

    .page-header
        %h2 ง. ในเกม
    .row
        .span12
            %ol
                %li อย่าส่งข้อความที่ส่งเสริมให้ผู้เล่นคนอื่นออกจากทีมหรือตัดการเชื่อมต่อจากเซิร์ฟเวอร์
                %li นอกจากคุณจะอธิบายขั้นตอนการรายงาน คุณอาจไม่ส่งเสริมให้ผู้อื่นรายงานผู้เล่นที่เฉพาะเจาะจง
                %li อย่ากล่าวหาผู้เล่นใดๆว่าแฮ็คอย่างสาธารณะ หากคุณเชื่อว่าผู้เล่นสามารถแฮ็คหรือการทำลายกฎใดๆ ให้รายงานโดยใช้คำสั่ง /report (/report <ชื่อผู้เล่น> <ข้อความ>)
                %li คุณไม่สามารถใช้รูปแบบของการสนทนาใด ๆ ในเกมเพื่อการชักชวน บัญชีที่กำหนดเพื่อใช้สำหรับการชักชวนเพียงอย่างเดียวจะถูกแบนอย่างถาวรโดยไม่มีการเตือน
                %li คุณไม่สามารถเชื่อมโยงไปยังหรือขอให้ผู้เล่นเข้าร่วมเซิร์ฟเวอร์สาธารณะหรือส่วนตัวใดๆที่ไม่ได้เป็นส่วนหนึ่งของ Overcast Network ในแชทสาธารณะ (คุณอาจจะใช้ /msg <ชื่อผู้เล่น> <ข้อความ> เพื่อแจ้งให้ผู้เล่นที่ร้องขอ)
                %li ชื่อผู้ใช้ของคุณจะต้องมีความเหมาะสมและคุณอาจถูกขอให้ใช้บัญชีอื่นที่แตกต่างกันถ้าชื่อผู้ใช้ของคุณจะพบว่ามีความไม่เหมาะสม
                %span.label.label-warning หมายเหตุ
                %small ข้อความทั้งหมดและคำสั่งจะถูกบันทึกไว้
                %br
                %span.label.label-warning หมายเหตุ
                %small คุณอาจเชื่อมโยงไปยังไลฟ์สตรีมของคุณที่เกี่ยวข้องกับ Overcast Network ตราบเท่าที่คุณไม่สแปมมัน

    .page-header
        %h2 จ. การเล่นเกมทั่วๆไป
    .row
        .span12
            %ol
                %li ผู้เล่นอาจไม่:
                %ul
                    %li ออกกลางคัน ซึ่งถูกกำหนดให้เป็นการออกจากทีมหรือเซิร์ฟเวอร์โดยทันทีก่อนที่คุณจะตายโดยสมาชิกของทีมฝ่ายตรงข้าม (คุณสามารถออกกลางคันเพื่อหลีกเลี่ยงจากการทำลายทีมตัวเอง)
                    %li ใช้ข้อบกพร่องของ Minecraft อย่างผิดวิธีเพื่อให้ได้เปรียบสำหรับตัวคุณเองหรือทีมของคุณ หรือในลักษณะที่อาจก่อให้เกิดความล่าช้าสำหรับผู้เล่นอื่นๆ สิ่งเหล่านี้รวมถึงแต่ไม่จำกัดในการวางบล็อกในพื้นที่ที่ถูกห้ามโดยปลั๊กอินเพื่อเดินบนมัน สร้างสภาพ "เอ็กซเรย์" และทำให้ตัวเองไม่สามารถถูกตีให้เข้าได้
                %li ในการแข่งขันแบบ Blitz หรือ Ghost Squadron ผู้เล่นอาจไม่:
                %ul
                    %li ยืดเยื้อการแข่งขันโดยการหลีกเลี่ยงการต่อสู้และ/หรือซ่อนตัวอยู่ในสถานที่ที่ไม่สามารถเข้าถึงได้หรือยากที่จะเข้าถึง
                %li ผู้สังเกตการณ์ไม่อาจให้ข้อมูลทางยุทธวิธีให้แก่ผู้เล่นหรือจงใจทำลายการเล่นเกม ข้อมูลยุทธวิธีรวมถึงแต่ไม่จำกัดเพียง:
                %ul
                    %li เผยให้เห็นตำแหน่งของผู้เล่น
                    %li เผยให้เห็นถึงความเป็นเจ้าของของขนแกะในแมพ Capture the Wool
                %li กรุณาใช้สกินที่เหมาะสม คุณอาจถูกลงโทษสำหรับการใช้สกินไม่เหมาะสม
                %li อย่าโจมตีไปที่จุดเกิดใดๆที่ไม่ได้อยู่ถัดจากเป้าหมายโดยตรง (จุดเกิดถูกกำหนดให้เป็นพื้นที่ที่ผู้เล่นเข้ามาในพื้นที่การเล่นของแมพ)
                %ul
                    %li การกระทำที่ถูกห้ามตามกฎนี้รวมถึงแต่ไม่จำกัดเพียงการกระทำใดๆ ต่อไปนี้:
                    %ul
                        %li ยุยงให้เกิดการต่อสู้โดยตรงหรือโดยธนูภายในหรือเข้าไปทางจุดเกิดของทีมตรงกันข้าม
                        %li เล็งปืนใหญ่ทีเอ็นทีไปที่จุดเกิดของทีมตรงกันข้ามในทางที่ฆ่าผู้เล่น (คุณจำเป็นต้องปรับเปลี่ยนปืนใหญ่ของคุณถ้ามันเล็งไปที่จุดเกิดของทีมตรงกันข้าม)
                        %li การกระทำที่ทำให้พื้นที่จุดเกิดไม่สามารถผ่านเข้าไปและออกมาได้
                        %li จุดทีเอ็นทีจากข้างบนลงมายังจุดเกิดโดยตรง
                        %li "ตั้งค่าย" ที่จุดเกิดโดยการรอผู้เล่นที่เกิดใหม่ตรงข้างหน้าหรือในจุดเกิด
                    %li ตัวอย่างของการกระทำที่ไม่เป็นโทษตามกฎนี้รวมถึงแต่ไม่จำกัด:
                    %ul
                        %li การยิงปืนใหญ่โดยอุบัติเหตุ (ที่ได้รับการแก้ไขโดยผู้เล่นที่ยิงทันทีที่พวกเขาได้รับทราบ)
                        %li การต่อสู้กับผู้เล่นที่รีบเร่งไปยังผู้โจมตีโดยไม่ต้องใส่ชุดเกราะ
                        %li การต่อสู้กับผู้เล่นที่อยู่ใน/มาจากจุดเกิดที่ใกล้เคียงกับเป้าหมาย
                %span.label.label-warning หมายเหตุ
                %small Spawn กฎการฆ่าไม่ได้บังคับใช้ในแมพ TDM และ ฺฺBlitz คุณจะต้องป้องกันเอง

    .page-header
        %h2 ฉ. การเปลี่ยนแปลงไคลเอนต์
    .row
        .span12
            %ol
                %li การเปลี่ยนแปลงไคลเอนต์ใด ๆ ที่ให้ความได้เปรียบต่อผู้ที่เล่น Minecraft แบบปกติจะผิดกฎในขณะที่เล่น
                %li
                    %i มอดต่อไปนี้จะได้รับอนุญาตอย่างชัดเจนในระหว่างการเล่นเกม:
                %ul.unstyled
                    %li
                        %i.icon-ok
                        Optifine
                    %li
                        %i.icon-ok
                        ArmorStatusHUD/StatusEffectHUD
                    %li
                        %i.icon-ok
                        หมอบแบบกดสลับได้ จะยอมรับเมื่อมันไม่ได้ช่วยให้หมอบในขณะที่พิมพ์ มองผ่านรายการของหรือในเมนูใด ๆ
                    %li
                        %i.icon-ok
                        เท็คเจอร์แพคที่ไม่ได้ตกอยู่ภายใต้หมวดหมู่ "ต้องห้ามอย่างชัดเจน"
                    %li
                        %i.icon-ok
                        มินิแมพ ยกเว้นตามที่ระบุไว้ด้านล่าง
                %li
                    %i มอดต่อไปนี้จะถูกต้องห้ามอย่างชัดเจนในระหว่างการเล่นเกม:
                %ul.unstyled
                    %li
                        %i.icon-remove
                        ตัวจัดเรียงรายการของ
                    %li
                        %i.icon-remove
                        วิ่งอัตโนมัติ รวมถึงการกำหนดปุ่มวิ่งแทนการใช้การกดปุ่มเดินสองครั้ง
                    %li
                        %i.icon-remove
                        มอดที่เปิดเผยหรือขยายขนาดแถบชื่อของผู้เล่น
                    %li
                        %i.icon-remove
                        มินิแมพที่แสดงตำแหน่งของวัตถุ ถ้ำ หรือสิ่งก่อสร้างใต้ดิน
                    %li
                        %i.icon-remove
                        เอ็กซเรย์
                    %li
                        %i.icon-remove
                        ตัวตีอัตโนมัติ
                    %li
                        %i.icon-remove
                        ตัวเล็งอัตโนมัติ
                    %li
                        %i.icon-remove
                        มอดบิน
                %li
                    %i สำหรับมอดอื่นๆ ให้ขอการยืนยันจากพนักงานก่อนที่จะใช้
                %li ผู้สังเกตการณ์จะไม่ผูกพันกับข้อจำกัดเหล่านี้
                %span.label.label-warning หมายเหตุ
                %small ในส่วนนี้จะมีการปรับปรุงเป็นระยะๆ โปรดติดตามมันด้วย

    .page-header
        %h2 ช. การทำลายทีมตัวเอง
    .row
        .span12
            %ol
                %li การทำลายทีมตัวเอง เป็นสิ่งต้องห้ามและถูกกำหนดให้เป็นกระทำโดยประมาทใดๆ ที่เป็นอันตรายต่อทีมของคุณเองหรือการกระทำที่จงใจทำร้ายทีมของตัวเอง
                %li
                    %i การกระทำต่อไปนี้เป็นการทำลายทีมตัวเองอย่างชัดเจน
                %ol{:type => "a"}
                    %li การวางและ/หรือการจุดทีเอ็นทีใกล้เพื่อนร่วมทีมหรือโครงสร้างพื้นฐานสำคัญของทีมที่อยู่ใกล้เคียง (เช่น หีบ สิ่งป้องกัน หรือแร่) ภายในฐานของตัวเอง
                    %li ทำลายหีบหรือโต๊ะทำงานของทีมของตัวเอง
                    %li การฆ่าเพื่อนร่วมทีม (ทั้งโดยการทำลายบล็อกจากใต้เพื่อนร่วมทีมที่จะทำให้เขาตกลงมาหรือผลักเพื่อนร่วมทีมออกจากโลก)
                    %li การใช้/แก้ไขปืนใหญ่ทีเอ็นทีที่สร้างขึ้นโดยผู้เล่นคนอื่นโดยไม่ได้รับความยินยอม
                    %li การช่วยเหลือหรือทำงานร่วมกันกับสมาชิกในทีมอื่นๆ
                %li
                    %i สิ่งต่อไปนี้จะถือว่าเสี่ยงและทำให้หมดกำลังใจเป็นอย่างมาก (คุณอาจจะเตือนสำหรับการทำลายกฎต่อไปนี้):
                %ol{:type => "a"}
                    %li วางทีเอ็นทีในฐานของตัวเองโดยเฉพาะอย่างยิ่งการสร้างเสาทีเอ็นทีในฐานของตัวเอง
                    %li วางทีเอ็นทีที่ไม่มีการป้องกันใกล้เพื่อนร่วมทีมหรือเป้าหมาย
                    %li การเอาขนแกะไปทั้งหมดหรือเกือบทั้งหมดออกจากห้องเก็บขนแกะในแมพ Capture the Wool เว้นแต่จะมีเพียงบล็อกเดียวที่เหลืออยู่ในห้องเก็บขนแกะ
                %li การกระทำใดๆ ที่ไม่ได้ระบุไว้ที่นี่ที่ขัดขวางความคืบหน้าในการชนะการแข่งขันของทีมของคุณโดยเจตนาหรือไม่ยังคงตกอยู่ภายใต้การทำลายทีมตัวเอง และอาจจะจัดการเหมือนที่เป็นเช่นนี้
                %span.label.label-warning หมายเหตุ
                %small
                    ผู้เล่นจะ
                    %b ไม่ได้
                    รับอนุญาตให้ทำลายทีมตัวเองแม้ในการตอบโต้

    .page-header
        %h2 ซ. กฎของแมพ
    .row
        .span12
            %ol
                %li ผู้เล่นทุกคนมีความรับผิดชอบในการติดตามกฎทั้งหมดของแมพ กฎของแมพจะพบบนป้ายที่จุดเกิดของแมพนั้นและผ่านทางคำสั่ง /map
                %li กฎระเบียบใน /map จะมีความสำคัญกว่ากฎบนป้ายในกรณีที่เกี่ยวข้องกับเรื่องเดียวกัน

    .page-header
        %h2 ฌ. การละเมิดกฎ
    .row
        .span12
            %ol
                %li ผู้เล่นอาจได้รับคำเตือนในเกมหรือการกระทำผิดกฎในข้อหาละเมิดกฎใดๆ ของกฎดังกล่าวข้างต้นขึ้นอยู่กับความรุนแรงของการละเมิด
                %li เมื่อได้รับการละเมิด ผู้เล่นจะถูกเตะ แบนชั่วคราว หรือแบนถาวรขึ้นอยู่กับจำนวนของการละเมิดครั้งก่อนโดยไม่รวมคำเตือน
                %li โดยเฉพาะอย่างยิ่งในกรณีร้ายแรงหรือที่เห็นได้ชัดของการละเมิดกฎรวมถึงแต่ไม่จำกัดเฉพาะการใช้ไคลเอนต์แฮคบนเซิร์ฟเวอร์หรือการทำลายทีมตัวเองอย่างต่อเนื่องถึงแม้ว่าจะมีการแทรกแซงของผู้ดูแล จะส่งผลในการแบนถาวรทันทีโดยไม่มีการเตือน
                %li ผู้เล่นที่มีคำเตือนหลายคำเตือนเกี่ยวกับกฎเดียวกันอาจถูกแบนชั่วคราวโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
                %li การหลีกเลี่ยงการแบนจะไม่ได้รับอนุญาตและจะมีผลในการแบนอย่างถาวรสำหรับบัญชีอื่นทั้งหมดที่เกี่ยวข้องกับผู้เล่น บัญชีอื่นจะไม่ถูกยกเลิกการแบนจนกว่าการแบนเดิมจะหมดอายุ และการแบนเดิมอาจยืดเวลาได้ถึงสามเท่า
                %li การหลีกเลี่ยงการแบนโดยต่อเนื่องจะมีผลในการแบนอย่างถาวรสำหรับบัญชีทั้งหมด
                %li
                    ผู้เล่นที่ละเมิดกฎของฟอรั่มใด ๆ อาจจะถูกห้ามจากการโพสต์ ถ้าการแบนของคุณอยู่นานกว่า 7 วันโปรดติดต่อ
                    %a{:href => "mailto:support@oc.tc"} support@oc.tc
                    สำหรับระยะเวลาที่แน่นอนของการแบนของคุณ
                %li ผู้เล่นที่ละเมิดกฎของ Mumble ใดๆ อาจจะถูกเตะหรือแบนจากเซิฟเวอร์ Mumble
                %li ผู้เล่นที่ละเมิดกฎของบริการของ Overcast Network ใดๆ รวมถึงเซิฟเวอร์เกม ฟอรั่ม และ Mumble อาจจะถูกแบนจากบริการใดบริการหนึ่งหรือทั้งหมด
                %li
                    การแบนในเกมต้องร้องเรียนโดยการร้องเรียนที่
                    = succeed '.' do
                        %a{:href => "/appeal"} https://oc.tc/appeal
                    การแบนบนฟอรั่มและ Mumble ต้องร้องเรียนผ่านทางอีเมลไปยัง
                    = succeed '.' do
                        %a{:href => "mailto:support@oc.tc"} support@oc.tc
                %li
                    %b ผู้เล่นที่ให้ข้อมูลเท็จอย่างรู้เท่าทันในการร้องเรียนของเขาหรือเธออาจถูกแบนอย่างถาวร
                %li การละเมิดทั้งหมดขึ้นอยู่กับดุลยพินิจผู้ดูแล
    .page-header
        %h2 ญ. อื่นๆ
    .row
        .span12
            %ol
                %li กฎอาจมีการแปลี่ยนแปลงโดยมีการแจ้งให้ทราบล่วงหน้า
                %li ผู้เล่นมีความรับผิดชอบในการติดตามการเปลี่ยนแปลงของกฎ
                %li มีระยะเวลาผ่อนผันหนึ่งสัปดาห์สำหรับการเปลี่ยนแปลงของกฎ
                %li ฝ่ายบริหารของ Overcast Network ขอสงวนสิทธ์ในการห้ามหรือยกเลิกการห้ามผู้เล่นใดๆจากบริการใดๆของ Overcast Network ด้วยเหตุผลใดก็ใด้โดยไม่ต้องแจ้งให้ทราบโดยล่วงหน้า
